<h2 class="slds-text-heading_small"><system-label label="LBL_EXCHANGE_SETTINGS"></system-label></h2>
<system-collapsable-tab tabtitle="LBL_MODULES" [collapsible]="false">
    <table width="100%" class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped slds-size--1-of-1">
        <thead>
            <tr class="slds-line-height_reset">
                <th class="" scope="col">
                    <div class="slds-truncate"><system-label label="LBL_MODULE"></system-label></div>
                </th>
                <th class="" scope="col">
                    <div class="slds-truncate"><system-label label="LBL_ACTIVE"></system-label></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let module of modules" class="slds-hint-parent">
                <td>
                    <div class="slds-truncate"><system-label-modulename [module]="getModuleNameById(module.sysmodule_id)"></system-label-modulename></div>
                </td>
                <td>
                    <div class="slds-grid">
                        <system-checkbox-toggle #checkbox [ngModel]="isActive(module.sysmodule_id)" (ngModelChange)="toggleActive(module.sysmodule_id, $event, checkbox)"></system-checkbox-toggle>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</system-collapsable-tab>
<system-collapsable-tab tabtitle="LBL_SUBSCRIPTIONS" [collapsible]="false">
    <table width="100%" class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped slds-size--1-of-1">
        <thead>
            <tr class="slds-line-height_reset">
                <th class="" scope="col">
                    <div class="slds-truncate"><system-label label="LBL_FOLDER"></system-label></div>
                </th>
                <th class="" scope="col">
                    <div class="slds-truncate"><system-label label="LBL_LAST_ACTIVE_GMT"></system-label></div>
                </th>
                <th class="" scope="col">
                    <div class="slds-truncate"><system-label label="LBL_SUBSCRIPTION_ID"></system-label></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let subscription of subscriptions" class="slds-hint-parent">
                <td>
                    <div class="slds-truncate">{{subscription.folder_id}}</div>
                </td>
                <td>
                    <div class="slds-truncate slds-badge" [ngClass]="{'slds-theme--error': timedout(subscription.last_active)}">{{subscription.last_active}}</div>
                    <button [disabled]="isLoading == subscription.subscriptionid" (click)="refreshSubscription(subscription)" class="slds-button slds-button_icon slds-button--icon-border slds-m-left--xx-small">
                        <system-button-icon icon="refresh"></system-button-icon>
                    </button>
                </td>
                <td>
                    <div class="slds-truncate">{{subscription.subscriptionid}}</div>
                </td>
            </tr>
        </tbody>
    </table>
</system-collapsable-tab>
