<system-modal size="large">
    <system-modal-header (close)="closeModal()">{{language.getLabel('LBL_QUERY_ANALYZER')}}</system-modal-header>
    <system-modal-content [grow]="true">
        <div class="slds-height_full slds-size--1-of-1 slds-scrollable--y" [overlayLoadingSpinner]="loading" [innerHTML]="queryformatted"></div>
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="copy2clipboard()">{{language.getLabel('LBL_COPY_TO_CLIPBOARD')}}</button>
        <button class="slds-button slds-button--brand" (click)="closeModal()">{{language.getLabel('LBL_CLOSE')}}</button>
    </system-modal-footer>
</system-modal>
