<system-modal size="large">
    <system-modal-header (close)="closeModal()">{{language.getLabel('LBL_QUERY_ANALYZER')}}</system-modal-header>
    <system-modal-content>
        <div class="slds-form-element">
            <div class="slds-form-element__control">
                <textarea readonly class="slds-textarea" style="min-height: 400px;" [(ngModel)]="mainquery"></textarea>
            </div>
        </div>
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--brand" (click)="closeModal()">{{language.getLabel('LBL_CLOSE')}}</button>
    </system-modal-footer>
</system-modal>
