<system-modal>
    <system-modal-header (close)="close()">{{language.getLabel('LBL_NOTE')}}</system-modal-header>
    <system-modal-content>
        <textarea class="slds-textarea slds-scrollable--y slds-m-vertical--xx-small" style="min-height: 300px" [(ngModel)]="nodeInfo.notice"></textarea>
    </system-modal-content>
    <system-modal-footer>
        <div class="slds-button-group">
            <button class="slds-button-group-item slds-button slds-button--neutral" (click)="close()">{{language.getLabel('LBL_CANCEL')}}</button>
            <button class="slds-button-group-item slds-button slds-button--neutral" (click)="clear()">{{language.getLabel('LBL_CLEARALL')}}</button>
            <button class="slds-button-group-item slds-button slds-button--brand" (click)="save()">{{language.getLabel('LBL_SAVE')}}</button>
        </div>
    </system-modal-footer>
</system-modal>
