<system-modal size="large">
    <system-modal-header (close)="closeModal()"><system-label label="LBL_MERGE_RECORD"></system-label><span *ngIf="model.id">&nbsp;-&nbsp;{{model.data.summary_text}}</span></system-modal-header>
    <system-modal-content margin="none" [grow]="true">
        <object-merge-modal-records  [hidden]="getCurrentStep() != 'records'"></object-merge-modal-records>
        <object-merge-modal-data  [hidden]="getCurrentStep() != 'fields'"></object-merge-modal-data>
        <object-merge-modal-execute [hidden]="getCurrentStep() != 'execute'"></object-merge-modal-execute>
    </system-modal-content>
    <system-modal-footer>
        <div class="slds-grid slds-grid--align-spread slds-grid--vertical-align-center">
            <button class="slds-button slds-button--neutral slds-order--1" (click)="prevStep()" [disabled]="prevDisabled"><system-label label="LBL_PREVIOUS"></system-label></button>
            <system-progress-list class="slds-grow slds-order--2" system-progress-list-shade [steps]="mergeSteps" [step]="currentMergeStep"></system-progress-list>
            <button class="slds-button slds-button--brand slds-order--3" (click)="nextStep()" [disabled]="nextDisabled"><system-label label="LBL_NEXT"></system-label></button>
        </div>
    </system-modal-footer>
</system-modal>
