<system-modal>
    <system-modal-header (close)="cancel()">
        <system-label label="LBL_SELECT_QUEUE"></system-label>
    </system-modal-header>
    <system-modal-content>
        <div *ngIf="loading; else queuelist" class="slds-align--absolute-center slds-p-around--medium">
            <system-spinner></system-spinner>
        </div>
        <ng-template #queuelist>
            <div class=" slds-scrollable--y">
                <div class="slds-p-around--xx-small slds-grid slds-grid--vertical-align-center slds-border--bottom">
                    <system-utility-icon icon="filterList" size="x-small"></system-utility-icon>
                    <system-input-text placeholder="LBL_SEARCH" class="slds-grow slds-p-horizontal--xx-small" [(ngModel)]="searchTerm"></system-input-text>
                </div>
                <fieldset class="slds-form-element">
                    <div class="slds-grid slds-grid--vertical">
                        <legend class="slds-form-element__legend slds-form-element__label"><system-label label="LBL_AVAILABLE_QUEUES"></system-label></legend>
                        <system-input-radio *ngFor="let queue of queueList; trackBy: trackByFn" [disabled]="(queue.id === parentqueue_id)" [value]="queue.id" name="queue" [(ngModel)]="selectedqueueid">{{queue.name}}</system-input-radio>
                    </div>
                </fieldset>
                <div *ngIf="displaynote" class="slds-form-element slds-p-top--small">
                    <label class="slds-form-element__label"><system-label label="LBL_NOTE"></system-label></label>
                    <div class="slds-form-element__control">
                        <textarea class="slds-textarea" [(ngModel)]="note"></textarea>
                    </div>
                </div>
            </div>
        </ng-template>
    </system-modal-content>
    <system-modal-footer>
        <div class="slds-grid slds-grid--align-spread">
            <system-checkbox [(ngModel)]="returntoqueue">
                <system-label label="LBL_RETURN_TO_QUEUE"></system-label>
            </system-checkbox>
            <div>
                <button class="slds-button slds-button--neutral" (click)="cancel()">
                    <system-label label="LBL_CANCEL"></system-label>
                </button>
                <button class="slds-button slds-button--brand" (click)="save()">
                    <system-label label="LBL_SAVE"></system-label>
                </button>
            </div>
        </div>

    </system-modal-footer>
</system-modal>