<system-modal>
    <system-modal-header (close)="close()"><system-label label="LBL_SELECT"></system-label></system-modal-header>
    <system-modal-content margin="none">
        <div class="slds-grid">
            <div class="slds-size--1-of-2 slds-p-around--x-small slds-form-element">
                <label class="slds-form-element__label"><system-label label="LBL_SERVICELOCATION"></system-label></label>
                <div class="slds-form-element__control">
                    <select class="slds-select" [(ngModel)]="servicelocation" size="5">
                        <option *ngFor="let servicelocation of servicelocations" [value]="servicelocation.id">{{servicelocation.name}}</option>
                    </select>
                </div>
            </div>
            <div class="slds-size--1-of-2 slds-p-around--x-small slds-form-element">
                <label class="slds-form-element__label"><system-label label="LBL_SERVICEEQUIPMENT"></system-label></label>
                <div class="slds-form-element__control">
                    <select class="slds-select" [(ngModel)]="serviceequipment_id" [disabled]="serviceequipments.length == 0" size="5">
                        <option *ngIf="serviceequipments.length == 0"><system-label label="MSG_NO_RECORDS_FOUND"></system-label></option>
                        <option *ngFor="let serviceequipment of serviceequipments" [value]="serviceequipment.id">{{serviceequipment.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="close()"><system-label label="LBL_CLOSE"></system-label></button>
        <button class="slds-button slds-button--brand" (click)="createServiceTicket()"><system-label label="LBL_CREATE"></system-label></button>
    </system-modal-footer>
</system-modal>
