<div class="slds-tree__item" [ngClass]="{'slds-is-selected': epic.id == scrum.selectedObject.id}" style="align-items: center">
    <button  [disabled]="!has_stories" [ngClass]="{'slds-hidden': !has_stories}" class="slds-button slds-button-icon slds-m-right_x-small" (click)="toggleExpand()">
        <system-button-icon [icon]="userstories.isloading ? 'spinner' : 'chevronright'"></system-button-icon>
    </button>
    <span class="slds-has-flexi-truncate"><span class="slds-tree__item-label slds-truncate">{{epic.name}}</span></span>
    <scrum-tree-additem [title]="title" (newitem)="loadChanges($event)" module="ScrumUserStories"></scrum-tree-additem>
</div>
<system-spinner class="slds-p-around--xx-small" *ngIf="userstories.isloading && has_stories"></system-spinner>
<ul role="group" class="scrum-tree-epic-drop-list"  cdkDropList [cdkDropListData]="userstories.items" cdkDropListLockAxis="y" (cdkDropListDropped)="this.scrum.onDrop($event, 'ScrumUserStories', userstories)" *ngIf="userstories.items.length > 0">
    <li *ngFor="let userstory of userstories.items" cdkDrag cdkDragBoundary=".scrum-tree-epic-drop-list" class="slds-drag--preview" style="list-style: none" scrum-tree-userstory [userstory]="userstory" aria-level="3" role="treeitem"></li>
</ul>

