<div class="slds-m-top--small slds-m-horizontal--small">
    <div class="slds-tabs--path" role="application">
        <ul class="slds-tabs--path__nav" role="tablist">
            <ng-container *ngFor="let stage of stages">
                <li class="slds-tabs--path__item slds-is-incomplete" role="presentation">
                    <a class="slds-tabs--path__link" aria-selected="false" role="tab" href="javascript:void(0);" aria-live="assertive">
                        <span class="slds-tabs--path__stage">
                      <system-utility-icon icon="check" size="x-small"></system-utility-icon>
                    </span>
                        <span class="slds-tabs--path__title"><system-label [label]="getStageLabel(stage.stagedata)"></system-label> ({{getStageCount(stage.stagedata)}})</span>
                    </a>
                </li>
            </ng-container>
        </ul>
    </div>
    <div *ngIf="this.componentconfig.sumfield" class="slds-grid slds-border--bottom">
        <div *ngFor="let stage of stages" class="slds-col slds-p-horizontal--xx-small slds-m-top--x-small" [ngClass]="sizeClass">
            <div class="slds-text-heading--medium slds-p-vertical--x-small" [ngClass]="{'slds-text-color--inverse-weak': modellist.isLoading}">
                <ul class="slds-list_horizontal slds-has-dividers_right slds-align_absolute-center">
                    <li *ngFor="let sumfield of sumfields" class="slds-item">
                        <spice-kanban-sumfield [symbol]="getCurrencySymbol(sumfield)" [title]="getTitle(sumfield)" [value]="getStageSum(stage.stagedata, sumfield)"></spice-kanban-sumfield>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div (system-to-bottom)="loadmore()" class="slds-scrollable--y kanbancontainer" cdkDropListGroup [ngStyle]="containerStyle">
        <div class="slds-grid">
            <div *ngFor="let stage of stages" (cdkDropListDropped)="handleDrop($event)" cdkDropList [cdkDropListData]="stage" [cdkDropListEnterPredicate]="dropEnterAllowed(stage)" [ngClass]="sizeClass" class="slds-col slds-p-horizontal--xx-small slds-m-top--x-small">
                <div *ngFor="let item of this.modellist.listData.list|spicekanbanstagepipe:stage.stage;trackBy:trackbyfn" cdkDrag [cdkDragDisabled]="!allowDrag(item)" [cdkDragData]="item" class=" slds-m-vertical--xx-small slds-kanban-drag--preview ">
                    <spice-kanban-tile [item]="item"></spice-kanban-tile>
                </div>
            </div>
        </div>
        <div class="slds-p-around--small">
            <system-spinner *ngIf="modellist.isLoading"></system-spinner>
        </div>
        <div *ngIf="!modellist.isLoading && !hasVisibleItems" class="slds-height_full slds-align--absolute-center">
            <system-illustration-no-records><system-label label="MSG_NO_RECORDS_FOUND"></system-label></system-illustration-no-records>
        </div>
        <div *ngIf="hiddenstages.length > 0" class="slds-utility-bar_container" aria-label="Utility Bar">
            <div #kanbanUtilityBar class="slds-utility-bar" style="height: 3rem;">
                <div class="slds-grid slds-size--1-of-1 slds-grid--align-spread">
                    <div class="slds-grid slds-grid_vertical-align-center slds-p-left--x-small">
                        <div class="slds-form-element__control slds-col">
                        <div class="slds-select_container">
                            <select class="slds-select" [(ngModel)]="sortField" (ngModelChange)= "modellist.reLoadList()">
                                <option value="select" [selected]="isDisabled" [hidden]="sortField != ''">
                                    <system-label label="LBL_SELECT"></system-label>
                                </option>
                                <option *ngFor="let field of sortfields" [value]="field"><system-label-fieldname [module] = "modellist.module" [field]="field"></system-label-fieldname></option>
                            </select>
                        </div>
                    </div>
                            <div class="slds-form-element__control slds-col slds-p-left--x-small">
                                <div class="slds-select_container">
                                    <select class="slds-select" [disabled]="isDisabled" [(ngModel)]="sortDirection" (ngModelChange)= "modellist.reLoadList()">
                                        <option value="ASC"><system-label label="LBL_ASCENDING"></system-label></option>
                                        <option value="DESC"><system-label label="LBL_DESCENDING"></system-label></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    <div class="slds-utility-bar__item slds-p-horizontal--x-small ">
                        <div *ngFor="let stage of hiddenstages" (cdkDropListDropped)="handleHiddenDrop($event)" cdkDropList [cdkDropListData]="stage" [cdkDropListEnterPredicate]="dropEnterAllowed(stage)" class="slds-box--border slds-m-around--xxx-small slds-align--absolute-center slds-theme--info">
                            <div class="slds-p-horizontal--medium slds-p-vertical--small slds-grid">
                                <div class="slds-p-right--xx-small" [ngClass]="{'slds-has-divider--right': sumfields.length > 0}"><system-label [label]="getStageLabel(stage.stagedata)"></system-label> ({{getStageCount(stage.stagedata)}})</div>
                                <ul class="slds-list_horizontal slds-has-dividers_right slds-align_absolute-center">
                                    <li *ngFor="let sumfield of sumfields" class="slds-item">
                                        <spice-kanban-sumfield [symbol]="getCurrencySymbol(sumfield)" [title]="getTitle(sumfield)" [value]="getStageSum(stage.stagedata, sumfield)"></spice-kanban-sumfield>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

