<div class="slds-grid slds-grid--vertical slds-height_full">
    <workbench-header titlelabel="LBL_KANBAN_MANAGER">
        <workbench-header-controls>
            <div class="slds-grid">
                <label class="slds-form-element__label"><system-label label="LBL_MODULE"></system-label></label>
                <system-input-module [(ngModel)]="moduleName">{{moduleName}}</system-input-module>
                <div class="slds-form-element__control slds-m-left--xx-small" style="min-width:250px;">
                    <div class="slds-select_container">
                        <select class="slds-select" [disabled]="true">
                            <option value="*">*</option>
                            <option value='test'>test</option>
                        </select>
                    </div>
                </div>
                <button [disabled]="moduleName == ''" (click)="openAddModal()" type="button" class="slds-button slds-button_icon slds-button_icon-border-filled slds-m-left--xx-small">
                    <system-utility-icon [icon]="'add'" [size]="'x-small'"></system-utility-icon>
                </button>
                <button (click)="togglePreview()" class="slds-button slds-button--neutral">
                    <system-label label="LBL_PREVIEW"></system-label>
                </button>
                <button class="slds-button slds-button--brand">
                    <system-label label="LBL_SAVE"></system-label>
                </button>
            </div>
        </workbench-header-controls>
    </workbench-header>
    <div *ngIf="preview" class="slds-m-around_large">
        <spice-kanban-manager-preview></spice-kanban-manager-preview>
    </div>
    <div class="slds-grow slds-grid">
        <ng-container *ngIf="!!kanbanManagerService.selectedBeanGuide; else noSelection">
            <div class="slds-size--1-of-5 slds-height_full slds-scrollable--y">
                <spice-kanban-manager-list></spice-kanban-manager-list>
            </div>
            <div class="slds-size--4-of-5 slds-height_full slds-scrollable--y slds-p-around--xx-small">
                <spice-kanban-manager-details></spice-kanban-manager-details>
                <spice-kanban-manager-checks></spice-kanban-manager-checks>
            </div>
        </ng-container>
        <ng-template #noSelection>
            <div>
                <system-illustration-no-records></system-illustration-no-records>
            </div>
        </ng-template>
    </div>
</div>
