<div class="slds-grid slds-grid--vertical slds-height_full">
    <workbench-header titlelabel="LBL_KANBAN_MANAGER">
        <workbench-header-controls>
            <div class="slds-grid">
                <system-input-module></system-input-module>
                <button class="slds-button slds-button--neutral">
                    <system-label label="LBL_PREVIEW"></system-label>
                </button>
                <button class="slds-button slds-button--brand">
                    <system-label label="LBL_SAVE"></system-label>
                </button>
            </div>
        </workbench-header-controls>
    </workbench-header>
    <div class="slds-grow slds-grid">
        <div class="slds-size--1-of-5 slds-height_full slds-scrollable--y">
            <spice-kanban-manager-list></spice-kanban-manager-list>
        </div>
        <div class="slds-size--4-of-5 slds-height_full slds-scrollable--y slds-p-around--xx-small">
            <spice-kanban-manager-details></spice-kanban-manager-details>
            <spice-kanban-manager-checks></spice-kanban-manager-checks>
        </div>

    </div>
</div>