# Dependency directories
node_modules
.idea
src/**/*.js.map
src/**/*.js
environments/*.js.map
environments/*.js
config.json
package-lock.json
/config/sites
/dist
documentation
docs
.angular
dev_server.url
/**/.DS_store
