# Dependency directories
node_modules
.idea
src/**/*.js.map
src/**/*.js
environments/*.js.map
environments/*.js
config.json
package-lock.json
/config/sites_xxx
/dist
documentation
docs
.angular
dev_server.url
/**/.DS_store
vendor/bpmn-js/spice/node_modules
/socket/src/combined.log
/socket/src/error.log
/socket/combined.log
/socket/error.log
/socket/src/*.js
/socket/src/*.js.map
