# hide heasders
<IfModule mod_headers.c>
  Header unset X-Powered-By
  Header always unset X-Powered-By
</IfModule>

# no directory listing access
Options -Indexes

# enable rewrite
RewriteEngine On

# Redirection to HTTPS:
# RewriteCond %{HTTPS} !on
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteRule ^.*\.git.* - [R=404]
RewriteRule ^.*.json - [R=404]
RewriteRule ^.*\src.* - [R=404]
RedirectMatch 404 /\..*$

# Excluded directories:
RewriteRule ^src/?(.*) %{REQUEST_URI} [L,R=301]
RewriteRule ^license/?(.*) %{REQUEST_URI} [L,R=301]
RewriteRule ^gulp-plugins/?(.*) %{REQUEST_URI} [L,R=301]
RewriteRule ^node_modules/?(.*) %{REQUEST_URI} [L,R=301]
RewriteRule ^sldassets/?(.*) %{REQUEST_URI} [L,R=301]

# Redirection of requests to index.html
# RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
# RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
# RewriteRule ^.*$ - [NC,L]
# RewriteRule ^(?!.*\.).*$ index.html [NC,L]

# Remove server signature
ServerSignature Off

# enforce no cache
<FilesMatch "^(?!.*\.([0-9a-z]{20})\.).*$">
  <IfModule mod_headers.c>
    FileETag None
    Header unset ETag
    Header unset Pragma
    Header unset Cache-Control
    Header unset Last-Modified
    Header set Pragma "no-cache"
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Expires "Mon, 1 Jan 1900 00:00:00 GMT"
  </IfModule>
</FilesMatch>