<div [ngStyle]="getBoxStyle()" class="slds-box--border slds-theme--default spice-scrollbar-thin" [ngClass]="containerClass" (mousedown)="onMousedown('content', $event)">
    <div style="width: 100%; height: 100%" [style.overflow]="view.isEditMode() ? 'hidden': 'initial'">
        <div *ngIf="isAuthorized" #containerelement></div>
        <div *ngIf="!isAuthorized" class="slds-align_absolute-center" style="height: 100%">
            <system-illustration-no-access></system-illustration-no-access>
        </div>
    </div>
    <div *ngIf="view.isEditMode()" style="width: 100%; height: 100%; position: absolute;top: 0; left: 0;"></div>
    <ng-container *ngIf="isEditing()">
        <div *ngIf="isEditing()" class="slds-is-absolute slds-m-around--x-small slds-align_absolute-center" style="top:0;right:0">
            <system-utility-icon style="cursor:pointer" [icon]="'close'" [size]="'xx-small'" (click)="dashboardlayout.deleteDashlet(item.id)"></system-utility-icon>
        </div>
        <div [ngStyle]="getBoundingBoxStyle('top')" (mousedown)="onMousedown('top', $event)"></div>
        <div [ngStyle]="getBoundingBoxStyle('right')" (mousedown)="onMousedown('right', $event)"></div>
        <div [ngStyle]="getBoundingBoxStyle('bottom')" (mousedown)="onMousedown('bottom', $event)"></div>
        <div [ngStyle]="getBoundingBoxStyle('left')" (mousedown)="onMousedown('left', $event)"></div>
    </ng-container>
</div>
