<div *ngIf="sortedDays && sortedDays[0]" style="height: 100%">
    <div class="slds-p-around--x-small">
        <h2 *ngIf="cityName" class="slds-text-heading--medium">Weather in {{cityName}}</h2>
        <div *ngIf="dayHourToShow" [ngClass]="todayOnly ? 'slds-border--bottom slds-p-bottom--xxx-small' : ''">
            <div  class="slds-text-body--regular">
                <span>
                    {{getDayName(dayHourToShow.dt)}}
                    <span *ngIf="todayOnly">, {{description}}</span>
                </span>
                <span *ngIf="!todayOnly" class="slds-p-left--x-small">{{getHour(dayHourToShow.dt)}}</span>
            </div>
            <div *ngIf="!todayOnly" class="slds-text-body--regular">{{description}}</div>
        </div>
    </div>
    <div *ngIf="dayHourToShow" class="slds-grid slds-p-horizontal--x-small">
        <div class="slds-grid slds-size--1-2 slds-grid--vertical-align-center">
            <img width="50px" height="50px" [src]="getWeatherIconUrl(dayHourToShow.weather[0].icon)">
            <div class="slds-text-heading--large slds-grid slds-grid--vertical-align-center">{{getTemperature(dayHourToShow.main.temp)}}°C</div>
        </div>
        <div class="slds-size--2-of-2  slds-p-left--medium">
            <div class="slds-text-body--regular">Clouds: {{dayHourToShow.clouds.all}}%</div>
            <div class="slds-text-body--regular">Humidity: {{dayHourToShow.main.humidity}}%</div>
            <div class="slds-text-body--regular">Wind: {{getWind(dayHourToShow.wind)}}km/h</div>
        </div>
    </div>
    <ng-container *ngIf="!todayOnly">
        <div class="slds-grid slds-m-top--small slds-m-bottom--xx-small slds-p-horizontal--x-small slds-p-vertical--small slds-border--top slds-border--bottom">
            <div *ngFor="let dayHour of dayToShow; trackBy: trackByFn"
                 class="slds-size--1-of-5 slds-text-body--small"
                 [ngClass]="(dayHour.dt == dayHourToShow.dt) ? 'slds-text-color--error': ''"
                 style="cursor: pointer; max-width: 2.2rem"
                 (click)="setDayHourToShow(dayHour)">
                {{getHour(dayHour.dt)}}
            </div>
        </div>
        <div class="slds-grid slds-m-horizontal--xx-small">
            <div *ngFor="let day of sortedDays; let first = first; trackBy: trackByFn"
                 class="slds-size--1-of-5 slds-p-vertical--xx-small"
                 style="cursor: pointer; max-width: 4.3rem"
                 [ngStyle]="(getDayName(first ? day[0].dt : day[4].dt) == getDayName(dayHourToShow.dt)) ? {'background-color': '#faf7f7', 'border': '1px solid #e0dfdf'}: {}"
                 (click)="setDayToShow(day)">
                <div class="slds-text-body--regular slds-text-align--center">{{getDayName(day[0].dt, true)}}</div>
                <div class="slds-text-align--center">
                    <img [src]="getWeatherIconUrl(first ? day[0].weather[0].icon : day[4].weather[0].icon)">
                </div>
                <div class="slds-text-body--regular slds-text-align--center">
                    <span>{{getTemperature(first ? day[0].main.temp_max : day[4].main.temp_max)}}°</span>
                    <span c></span>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<div *ngIf="isLoading && !sortedDays" class="slds-align--absolute-center" style="height: 100%">
    <system-spinner ></system-spinner>
</div>
<div *ngIf="!sortedDays && !isLoading" class="slds-align--absolute-center slds-text-heading--small" style="height: 100%">
    Weather forecast is currently unavailable
</div>