<div [ngStyle]="getBoxStyle()" class="slds-box--border slds-theme--default" [ngClass]="{'slds-scrollable--y': !isEditing(), 'slds-is-absolute': !compactView, 'slds-m-vertical_xx-small': compactView}" (mousedown)="onMousedown('content', $event)">
    <div style="width: 100%; height: 100%" [ngStyle]="isEditing() ? {overflow: 'hidden'}: {}">
        <div *ngIf="isAuthorized" #containerelement></div>
        <div *ngIf="!isAuthorized" class="slds-align_absolute-center" style="height: 100%">
            <system-illustration-no-access></system-illustration-no-access>
        </div>
    </div>
    <ng-container *ngIf="isEditing()">
        <div *ngIf="isEditing()" class="slds-is-absolute slds-m-around--x-small slds-align_absolute-center" style="top:0px;right:0px;">
            <system-utility-icon style="cursor:pointer" [icon]="'close'" [size]="'xx-small'" (click)="dashboardlayout.deleteDashlet(item.id)"></system-utility-icon>
        </div>
        <div [ngStyle]="getBoundingBoxStyle('top')" (mousedown)="onMousedown('top', $event)"></div>
        <div [ngStyle]="getBoundingBoxStyle('right')" (mousedown)="onMousedown('right', $event)"></div>
        <div [ngStyle]="getBoundingBoxStyle('bottom')" (mousedown)="onMousedown('bottom', $event)"></div>
        <div [ngStyle]="getBoundingBoxStyle('left')" (mousedown)="onMousedown('left', $event)"></div>
    </ng-container>
</div>