<div #headercontainer class="slds-grid slds-grid--vertical-align-center slds-border--bottom slds-p-around--x-small">
    <system-icon [module]="dashletModule" [size]="'small'"></system-icon>
    <h2 class="slds-text-heading--medium slds-p-bottom--xx-small">{{dashletTitle}} ({{recordcount}})</h2>
</div>
<!-- the table - hidden if no records have been found and the dashlet is not loading-->
<div class="slds-size--1-of-1" [ngClass]="{'slds-table--header-fixed_container': islarge}">
    <div #tablecontainer class="slds-scrollable--y" style="width: 100%;height:100%" (scroll)="onScroll()">
        <table  class="slds-table slds-table_bordered slds-table_cell-buffer slds-max-medium-table--stacked-horizontal" [ngClass]="{'slds-table_header-fixed': islarge}">
            <thead *ngIf="islarge">
                <tr class="slds-text-title_caps">
                    <th scope="col" *ngFor="let field of dashletFields; let isFirst = first">
                        <div class="slds-truncate slds-cell-fixed slds-grid slds-grid_vertical-align-center slds-p-horizontal--x-small"
                             [style.padding-left]="isFirst ? 0 : false">
                            <field-label *ngIf="!field.fieldconfig.hidelabel" [fieldname]="field.field" [fieldconfig]="field.fieldconfig"></field-label>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let record of records">
                    <div class="slds-grid slds-grid--vertical-align-center slds-p-around--xx-small slds-hide--medium slds-text-title_bold">
                        {{record.summary_text}}
                    </div>
                    <tr dashboard-generic-dashlet-row  [module]="dashletModule" [fieldset]="dashletFieldSet" [data]="record"></tr>
                </ng-container>
            </tbody>
            <tbody system-table-stencils [columns]="dashletFields?.length" [select]="false" [tools]="false" [rows]="5" *ngIf="loading"></tbody>
        </table>
        <!-- if no records are found dispaly a no record message-->
        <div *ngIf="!loading && records.length == 0" class="slds-align_absolute-center" style="height: calc(100% - 5px);">
            <system-illustration-no-records>{{language.getLabel('MSG_NO_RECORDS_FOUND')}}</system-illustration-no-records>
        </div>
    </div>
</div>
