.spice-page-builder-panel-drop-list .cdk-drag-placeholder {
    opacity: 1;
}
.spice-page-builder-renderer-drop-list .cdk-drag-placeholder {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    opacity: .6;
    height: 200px !important;
}

.spice-page-builder-text-editor .slds-rich-text-editor {
    height: 100%;
}
.spice-page-builder-text-editor .slds-rich-text-editor__textarea {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.spice-page-builder-text-editor .slds-rich-text-area__content {
    height: 100%;
    resize: none;
}
