<div class="slds-form-element">
    <label class="slds-form-element__label">Bean</label>
    <div class="slds-form-element__control">
        <div class="slds-combobox_container">
            <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                <div class="slds-form-element__control slds-box--border">
                    <div *ngIf="selectedItem" class="slds-form-element__control">
                        <div class="slds-pill_container">
                          <span class="slds-pill slds-size--1-of-1">
                            <span class="slds-icon_container slds-icon-standard-account slds-pill__icon_container">
                              <system-icon [module]="module" [size]="'small'"></system-icon>
                            </span>
                            <span class="slds-pill__label">{{selectedItem.summary_text}}</span>
                            <button class="slds-button slds-button--icon slds-pill__remove" (click)="clearField()">
                              <system-button-icon [icon]="'close'"></system-button-icon>
                            </button>
                          </span>
                        </div>
                    </div>
                    <div *ngIf="!selectedItem" class="slds-input-has-icon slds-input-has-icon--right slds-grow">
                        <input [disabled]="module"  type="text" class="slds-lookup__search-input slds-input--bare" (focus)="searchWithModal()" [placeholder]="placeholder"  role="combobox"/>
                        <button (click)="searchWithModal()" class="slds-button slds-button_icon slds-input__icon slds-input__icon_right"><system-button-icon [icon]="'search'"></system-button-icon></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
