<div class="slds-grid slds-grid--vertical-align-center slds-p-around--x-small">
    <label for="searchField" class="slds-item_label"><system-label label="LBL_SEARCH"></system-label></label>
    <div class="slds-col slds-form-element slds-m-left--x-small">
        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
            <system-utility-icon icon="search" addclasses="slds-input__icon slds-input__icon--right"></system-utility-icon>
            <input id="searchField" type="text" class="slds-input" placeholder="search by" [(ngModel)]="searchTerm">
        </div>
    </div>
    <label for="languageFilter" class="slds-item_label slds-m-left--small slds-m-right--xx-small"><system-label label="LBL_FILTER"></system-label></label>
    <div class="slds-form-element slds-m-right--small">
        <div class="slds-form-element__control">
            <div class="slds-select_container">
                <select id="languageFilter" class="slds-select" [(ngModel)]="languageFilter" [disabled]="sysLanguages?.length == 0">
                    <option value="all"><system-label label="LBL_ALL"></system-label></option>
                    <option *ngFor="let sysLanguage of sysLanguages; trackBy: trackByFn" [value]="sysLanguage.language">
                        {{language.getLabel(sysLanguage?.text)}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <spice-texts-add-button [parent]="model" [spiceTexts]="relatedModels.items"></spice-texts-add-button>
</div>
<div *ngIf="relatedModels.isloading" class="slds-align--absolute-center slds-m-top--large">
    <system-spinner></system-spinner>
</div>
<div class="slds-m-vertical--small" *ngFor="let moduleText of moduleTexts; trackBy: trackByFn">
    <div class="slds-box--border" style="padding: 0 .50rem;" [system-model-provider]="{module: 'SpiceTexts', id: moduleText.id, data: moduleText}">
        <object-record-details ></object-record-details>
    </div>
</div>
<div *ngIf="!relatedModels.isloading && relatedModels.items?.length == 0" class="slds-align--absolute-center slds-m-top--large">
    <system-label label="MSG_NO_RECORDS_FOUND"></system-label>
</div>
