<div *ngIf="selectedContact" class="slds-theme--shade slds-p-around--small slds-border--bottom slds-grid" [system-view-provider]="{displayLabels: false, editable: false}">
    <div *ngIf="selectedContact" class="slds-col_bump-left slds-grid slds-grid--vertical-align-center">
        <div class="slds-m-right--x-small"><system-label label="LBL_CONTACT"></system-label></div>
        <div class="slds-pill">
          <span class="slds-icon_container slds-icon-standard-account slds-pill__icon_container">
            <system-icon [module]="model.module"></system-icon>
          </span><a href="javascript:void(0);" class="slds-pill__label"><field-container fielddisplayclass="slds-truncate" fieldname="full_name"></field-container></a>
            <button class="slds-button slds-button--icon slds-pill__remove" title="Remove">
                <system-button-icon [icon]="'clear'" (click)="unlinkContact()"></system-button-icon>
            </button>
        </div>
    </div>
</div>
<div class="slds-grid slds-gutters_direct-x-small slds-p-horizontal--x-small">
    <div class="slds-col slds-grow">
        <div #detailcontainer></div>
    </div>
    <div *ngIf="view.isEditable" class="slds-col slds-size--1-of-3 slds-border--left slds-theme--shade" system-to-bottom [system-overlay-loading-spinner]="model.duplicateChecking">
        <h2 class="slds-text-heading_small slds-p-around--small"><system-label label="LBL_DUPLICATES"></system-label></h2>
        <lead-convert-item-duplicate class="slds-size--1-of-1" *ngFor="let duplicate of model.duplicates" [system-model-provider]="{module:model.module, data:duplicate}" (itemselected)="selectContact($event)"></lead-convert-item-duplicate>
        <!-- display no recordsillustration if we did not find a record -->
        <div *ngIf="!model.duplicateChecking && model.duplicates.length == 0" class="slds-height_full slds-align--absolute-center">
            <system-illustration-no-records><system-label label="LBL_NO_DUPLICATES_FOUND"></system-label></system-illustration-no-records>
        </div>
    </div>
</div>

