<div>
    <table class="slds-table slds-table--bordered slds-table--cell-buffer">
        <thead>
        <tr class="slds-text-title--caps">
            <th *ngFor="let item of listfields" scope="col">
                <div class="slds-truncate"><system-label-fieldname [module]="model.module" [field]="item.field"></system-label-fieldname></div>
            </th>
            <th class="slds-cell-shrink" scope="col"></th>
        </tr>
        </thead>
        <tbody>
            <tr lead-convert-account-list-item *ngFor="let matchedaccount of matchedaccounts" [listfields]="listfields" [matchedaccount]="matchedaccount" (selectitem)="selectitem($event)"></tr>
        </tbody>
    </table>
</div>