<system-card>
    <system-card-header icon="list_email" cardtitel="Clever Reach Mail"></system-card-header>
    <system-card-body class="slds-scrollable" style="display: block">
        <system-spinner *ngIf="isLoading"></system-spinner>
        <table *ngIf="!isLoading" class="slds-table slds-max-medium-table_stacked-horizontal slds-table--bordered slds-no-row-hover">
            <thead>
            <tr class="slds-text-title--caps">
                <th scope="col">
                    <span class="slds-truncate">{{language.getLabel('LBL_SUBJECT')}}</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mailLogItem of CRList" class="slds-hint-parent">


            </tr>
            </tbody>
        </table>
    </system-card-body>
</system-card>
