<div class="slds-grid slds-grid--vertical slds-height_full slds-tabs_default">
    <ul class="slds-tabs_default__nav slds-theme--default" role="tablist" style="position: sticky; top: 0; z-index: 1">
        <li class="slds-tabs_default__item " [ngClass]="{'slds-is-active': activeTab=='tasks'}" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" (click)="activeTab='tasks'">
            <system-label label="LBL_TASKS"></system-label>
        </a></li>
        <li class="slds-tabs_default__item " [ngClass]="{'slds-is-active': activeTab=='conditions'}" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" (click)="activeTab='conditions'">
            <system-label label="LBL_CONDITIONS"></system-label>
        </a></li>
    </ul>
    <div class="slds-tabs_default__content slds-grow" [ngClass]="{'slds-show' : activeTab=='tasks', 'slds-hide': activeTab!='tasks'}" role="tabpanel" style="min-height: 0">
        <workflow-manager-detail-tasks [tasks]="modelData.tasks" class="slds-height_full slds-grid slds-grid--vertical"></workflow-manager-detail-tasks>
    </div>
    <div class="slds-tabs_default__content slds-grow" [ngClass]="{'slds-show' : activeTab=='conditions', 'slds-hide': activeTab!='conditions'}" role="tabpanel" style="min-height: 0">
        <workflow-manager-detail-conditions></workflow-manager-detail-conditions>
    </div>
</div>
