<div>
    <div class="slds-grid">
        <div class="slds-size--1-of-6">
            <field-label [fieldname]="'sendemail'"
                         [fieldconfig]="{label: 'LBL_SENDEMAIL'}"></field-label>
            <field-container [field]="'sendemail'"></field-container>
        </div>
        <div class="slds-grow slds-m-left--xx-small">
            <field-label [fieldname]="'mailbox'" [fieldconfig]="{label: 'LBL_mailbox'}"></field-label>
            <field-container [field]="'mailbox'"></field-container>
        </div>
    </div>
    <div class="slds-grid">
        <div class="slds-size--1-of-6">
            <field-label [fieldname]="'emailtype'"
                         [fieldconfig]="{label: 'LBL_TYPE'}"></field-label>
            <field-container [field]="'emailtype'"></field-container>
        </div>
        <div *ngIf="model.data.emailtype == '6'" class="slds-grow slds-m-left--xx-small">
            <field-label [fieldname]="'emailto'" [fieldconfig]="{label: 'LBL_TO'}"></field-label>
            <field-container [field]="'emailto'"></field-container>
        </div>
        <div *ngIf="model.data.emailtype == '7'" class="slds-grow slds-m-left--x-small" style="line-height: 1.4rem;">
            <field-label [fieldname]="'emailclass'" [fieldconfig]="{label: 'LBL_CLASS'}"></field-label>
            <field-container [field]="'emailclass'"></field-container>
        </div>
    </div>
    <div class="slds-grid">
        <div class="slds-size--1-of-6">
            <label class="slds-truncate  slds-form-element__label" for="workflow-manager-details-tasks-email-panel-content-option">{{language.getLabel('LBL_CONTENT_OPTION')}}</label>
            <select id="workflow-manager-details-tasks-email-panel-content-option" class="slds-select" [(ngModel)]="contentOption">
                <option value="email_template">{{language.getLabel('LBL_EMAILTEMPLATE')}}</option>
                <option value="method">{{language.getLabel('LBL_METHOD_CONTENT')}}</option>
            </select>
        </div>
        <div *ngIf="contentOption == 'email_template'" class="slds-grow slds-m-left--xx-small">
            <field-label [fieldname]="'emailtemplate_name'" [fieldconfig]="{label: 'LBL_EMAILTEMPLATE'}"></field-label>
            <field-container [field]="'emailtemplate_name'"></field-container>
        </div>
        <div *ngIf="contentOption == 'method'" class="slds-grow slds-m-left--x-small" style="line-height: 1.45rem;">
            <field-label [fieldname]="'emailcontclass'" [fieldconfig]="{label: 'LBL_METHOD_CONTENT'}"></field-label>
            <field-container [field]="'emailcontclass'"></field-container>
        </div>
    </div>
    <div *ngIf="contentOption == 'method' || model.data.emailtype == '7'" class="slds-grid">
        <div class="slds-col">
            <field-label [fieldname]="'emailparams'" [fieldconfig]="{label: 'LBL_PARAMS'}"></field-label>
            <field-container [field]="'emailparams'"></field-container>
        </div>
    </div>
</div>
