<div class="slds-m-vertical--small slds-border--top slds-border--bottom">
    <h3 class="slds-theme--shade slds-text-heading--small slds-p-around--small slds-border--bottom">
        {{workflowtask.name}}
    </h3>
    <div *ngIf="workflowtask.description" class="slds-p-around--x-small">
        {{workflowtask.description}}
    </div>
    <div *ngIf="showComment" class="slds-form-element slds-p-around--x-small">
        <label class="slds-form-element__label"><system-label label="LBL_COMMENT"></system-label></label>
        <div class="slds-form-element__control">
            <textarea class="slds-textarea" [disabled]="posting" [(ngModel)]="comment"></textarea>
        </div>
    </div>
    <div class="slds-p-around--small slds-grid">
        <div>
            <button *ngIf="showComment" class="slds-button slds-button_neutral" [disabled]="posting" (click)="addComment()">
                <system-label label="LBL_ADD_COMMENT"></system-label>
            </button>
        </div>
    </div>
    <div #typeComponentContainer></div>
</div>
