<td>
    <!--field-container [fieldname]="'field_name'" [fielddisplayclass]="'slds-truncate slds-p-horizontal--x-small'"></field-container-->
    <workflow-manager-fieldsdropdown [module]="module" [field]="'field_name'"></workflow-manager-fieldsdropdown>
</td>
<td>
    <field-container [fieldname]="'field_value'" [fielddisplayclass]="'slds-truncate slds-p-horizontal--x-small'"></field-container>
</td>
<td>
    <field-container [fieldname]="'workflowtask_status'" [fielddisplayclass]="'slds-truncate slds-p-horizontal--x-small'"></field-container>
</td>
<td role="gridcell" class="slds-cell-shrink">
    <button class="slds-button slds-button_icon" (click)="removeDecision()">
        <system-button-icon [icon]="'delete'"></system-button-icon>
    </button>
</td>