<div class="slds-p-vertical--x-small">
    <table class="slds-table slds-table_bordered slds-table_cell-buffer">
        <thead>
        <tr class="slds-text-title_caps">
            <th class="slds-cell-shrink"></th>
            <th width="45%" scope="col">
                <div class="slds-truncate">name</div>
            </th>
            <th width="45%" scope="col">
                <div class="slds-truncate">username</div>
            </th>
            <th class="slds-cell-shrink"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let workflowtask of workflowtasks">
            <td>
                <system-utility-icon [icon]="getStatusIcon(workflowtask.status)" [size]="'x-small'"></system-utility-icon>
            </td>
            <td>
                <div class="slds-truncate">{{workflowtask.name}}</div>
            </td>
            <td>
                <div class="slds-truncate">{{workflowtask.assigned_user_name}}</div>
            </td>
            <td>
                <workflow-panel-task-comments [comments]="workflowtask.comments"></workflow-panel-task-comments>
            </td>
        </tr>
        </tbody>
    </table>
</div>