<system-collapsable-tab tabtitle="LBL_CONFIGURATIONS" class="slds-m-top--large spice-display-block">
    <workflow-manager-task-next-tasks></workflow-manager-task-next-tasks>
    <system-collapsable-tab title="LBL_CONDITION" >
        <div class="slds-p-around--x-small">
            <h3 class="slds-text-heading--small"><system-label label="LBL_FILTER"></system-label></h3>
            <div class="slds-expression">
                <ul>
                    <system-filter-builder [(ngModel)]="model.data.type_config.conditions" [module]="workflowManagerService.currentModule.name"></system-filter-builder>
                </ul>
            </div>
        </div>
        <div class="slds-p-around--x-small">
            <h3 class="slds-text-heading--small"><system-label label="LBL_SYSTEM_CONDITION"></system-label></h3>
            <div>
                <label class="slds-truncate">
                    <system-label label="LBL_CLASS"></system-label>
                </label>
                <system-input-backend-method [(ngModel)]="model.data.type_config.sysclass"></system-input-backend-method>
            </div>
            <div>
                <label class="slds-truncate">
                    <system-label label="LBL_PARAMS"></system-label>
                </label>
                <div class="slds-form-element__control">
                    <textarea [(ngModel)]="model.data.type_config.sysparams" class="slds-textarea"></textarea>
                </div>
            </div>
        </div>
    </system-collapsable-tab>
</system-collapsable-tab>

