<system-modal>
    <system-modal-header (close)="cancel()"><system-label label="LBL_WORKFLOW"></system-label></system-modal-header>
    <system-modal-content>
        <object-record-fieldset [fieldset]="fieldset" [direction]="'vertical'"></object-record-fieldset>
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="cancel()"><system-label label="LBL_CANCEL"></system-label></button>
        <button class="slds-button slds-button--brand" (click)="confirm()"><system-label label="LBL_CONFIRM"></system-label></button>
    </system-modal-footer>
</system-modal>
