<div class="slds-grid">
    <div class="slds-size--1-of-2 slds-p-right--xx-small">
        <field-label [fieldname]="'name'"></field-label>
        <field-container [field]="'name'"></field-container>
    </div>
    <div class="slds-size--1-of-2 slds-p-left--xx-small">
        <field-label [fieldname]="'sequence'" [fieldconfig]="{label:'LBL_SEQUENCE'}"></field-label>
        <field-container [field]="'sequence'"></field-container>
    </div>
</div>
<div>
    <field-label [fieldname]="'description'"></field-label>
    <field-container [field]="'description'"></field-container>
</div>
<div class="slds-grid slds-gutters_direct-xx-small">
    <div class="slds-grid slds-col slds-size--1-of-4 slds-p-right--xx-small">
        <div class="slds-grow">
            <field-label [fieldname]="'timetostart'"></field-label>
            <field-container [field]="'timetostart'"></field-container>
        </div>
        <span class="slds-m-top_xxx-small slds-p-left--small slds-p-right_x-small slds-p-top--x-large">OR</span>
    </div>
    <div class="slds-col slds-size--3-of-4 slds-p-right--xx-small">
        <field-label [fieldname]="'method_get_timetostart'"></field-label>
        <field-container [field]="'method_get_timetostart'"></field-container>
    </div>
</div>
<div class="slds-gutters_direct-xx-small">
    <system-label label="…takes into account the service calendar"></system-label>
    <field-container [field]="'servicecalendar_name'"></field-container>
</div>
<div class="slds-grid slds-gutters_direct-xx-small">
    <div class="slds-col slds-size--1-of-3 slds-p-right--xx-small">
        <field-label [fieldname]="'timetocomplete'"></field-label>
        <field-container [field]="'timetocomplete'"></field-container>
    </div>
    <div class="slds-col slds-size--1-of-3 slds-p-right--xx-small">
        <field-label [fieldname]="'timetoalert'"></field-label>
        <field-container [field]="'timetoalert'"></field-container>
    </div>
    <div class="slds-col slds-size--1-of-3 slds-p-right--xx-small">
        <field-label [fieldname]="'timetoescalate'"></field-label>
        <field-container [field]="'timetoescalate'"></field-container>
    </div>
</div>
<div class="slds-grid">
    <div class="slds-size--1-of-2 slds-p-right--xx-small">
        <field-label [fieldname]="'tasktype'" [fieldconfig]="{label:'LBL_TYPE'}"></field-label>
        <field-container [field]="'tasktype'"></field-container>
    </div>
    <div class="slds-size--1-of-8 slds-p-left--xx-small">
        <field-label [fieldname]="'primarytask'" [fieldconfig]="{label:'LBL_PRIMARY'}"></field-label>
        <field-container [field]="'primarytask'"></field-container>
    </div>
    <div class="slds-size--1-of-8 slds-p-left--xx-small">
        <field-label [fieldname]="'closetask'" [fieldconfig]="{label:'LBL_CLOSE_W_WORKFLOW'}"></field-label>
        <field-container [field]="'closetask'"></field-container>
    </div>
    <div class="slds-size--1-of-8 slds-p-left--xx-small">
        <field-label [fieldname]="'ishidden'" [fieldconfig]="{label:'LBL_HIDDEN'}"></field-label>
        <field-container [field]="'ishidden'"></field-container>
    </div>
    <div class="slds-size--1-of-8 slds-p-left--xx-small">
        <field-label [fieldname]="'allowcomment'" [fieldconfig]="{label:'LBL_ALLOW_COMMENT'}"></field-label>
        <field-container [field]="'allowcomment'"></field-container>
    </div>
</div>
<div class="slds-grid">
    <div class="slds-size--3-of-8 slds-p-right--xx-small">
        <field-label [fieldname]="'previoustask'" [fieldconfig]="{label:'LBL_PREVIOUSTASK'}"></field-label>
        <workflow-manager-taskdropdown [tasks]="tasks" [field]="'previoustask'" [disabled]="previousTaskDisabled"></workflow-manager-taskdropdown>
    </div>
    <div class="slds-size--1-of-8 slds-p-left--xx-small">
        <field-label [fieldname]="'prevclosedreq'" [fieldconfig]="{label:'LBL_CLOSED_REQ'}"></field-label>
        <field-container [field]="'prevclosedreq'"></field-container>
    </div>
    <div class="slds-size--1-of-2 slds-p-left--xx-small">
        <field-label [fieldname]="'nexttask'" [fieldconfig]="{label:'LBL_NEXTTASK'}"></field-label>
        <workflow-manager-taskdropdown [tasks]="tasks" [field]="'nexttask'" [disabled]="nextTaskDisabled"></workflow-manager-taskdropdown>
    </div>
</div>
<workflow-manager-detail-taskdecisions *ngIf="model.data.tasktype == 'decision'" [tasks]="tasks"></workflow-manager-detail-taskdecisions>
