<div class="slds-p-vertical--x-small">
    <div class="slds-text-title--caps slds-p-bottom--small">
        <system-label label="LBL_NEXT_TASKS"></system-label>
    </div>
    <table class="slds-table slds-table_bordered slds-table_cell-buffer slds-border--right slds-border--left">
        <thead>
        <tr class="slds-text-title_caps">
            <th>
                <div class="slds-truncate">
                    <system-label label="LBL_NAME"></system-label>
                </div>
            </th>
            <th>
                <div class="slds-truncate">
                    <system-label label="LBL_TYPE"></system-label>
                </div>
            </th>
            <th class="slds-cell-shrink"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td *ngIf="model.data.type_config.next_tasks?.length == 0" colspan="3">
                <div class="slds-align--absolute-center">
                    <system-label label="MSG_NO_RECORDS_FOUND"></system-label>
                </div>
            </td>
        </tr>
        <tr *ngFor="let nextTask of model.data.type_config.next_tasks; trackBy: trackByFn; let index = index">
            <ng-container *ngFor="let task of workflowManagerService.tasks; trackBy: trackByFn">
                <ng-container *ngIf="nextTask == task.id">
                    <td>
                        <div class="slds-truncate">
                            {{task.name}}
                        </div>
                    </td>
                    <td>
                        <div class="slds-truncate">
                            {{task.tasktype}}
                        </div>
                    </td>
                </ng-container>
            </ng-container>
            <td role="gridcell" class="slds-cell-shrink">
                <button class="slds-button slds-button_icon" (click)="removeTask(nextTask)">
                    <system-button-icon [icon]="'delete'"></system-button-icon>
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot class="slds-border--top slds-theme--shade">
        <tr>
            <td colspan="3">
                <div class="slds-align--absolute-center slds-p-around--xx-small">
                    <button class="slds-button slds-button_icon" (click)="addTask()" [disabled]="model.data.type_config.next_tasks.length + 1 == workflowManagerService.tasks.length">
                        <system-button-icon icon="add"></system-button-icon>
                    </button>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
