<workflow-manager-task-next-tasks *ngIf="!workflowManagerService.displayDiagram"></workflow-manager-task-next-tasks>
<system-collapsable-tab [collapsible]="false" tabtitle="LBL_WORKFLOWTASK_CONDITION" [tabhelptext] ="language.getLabel('LBL_HELP_WORKFLOWTASK_CONDITION')">
    <div class="slds-p-around--x-small">
        <div class="slds-expression">
            <ul>
                <system-filter-builder [(ngModel)]="model.data.type_config.conditions" [showToggleDisplayAllField]="true" [module]="workflowManagerService.currentModule.name"></system-filter-builder>
            </ul>
        </div>
    </div>
</system-collapsable-tab>
<system-collapsable-tab [collapsible]="false" tabtitle="LBL_SYSTEM_CONDITION" tabhelptext ="{{language.getLabel('LBL_HELP_WORKFLOWTASK_SYSTEM_CONDITION')}}">
    <div class="slds-p-around--x-small">
        <div>
            <label class="slds-truncate">
                <system-label label="LBL_CLASS"></system-label>
            </label>
            <system-input-backend-method [(ngModel)]="model.data.type_config.sysclass"></system-input-backend-method>
        </div>
        <div>
            <label class="slds-truncate">
                <system-label label="LBL_PARAMS"></system-label>
                <system-icon-help-text [helpText]="language.getLabel('LBL_HELP_WORKFLOWTASK_PARAMETERS')"></system-icon-help-text>
            </label>
            <div class="slds-form-element__control">
                <textarea [(ngModel)]="model.data.type_config.sysparams" class="slds-textarea"></textarea>
            </div>
        </div>
    </div>
</system-collapsable-tab>