<div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-p-horizontal--xxx-small" [ngClass]="{'slds-is-open': isOpen}">
    <system-utility-icon icon="filterList" size="x-small" (click)="toggleOpen($event)" [colorclass]="filterColorClass" [title]="language.getLabel('LBL_FILTER')"></system-utility-icon>
    <div class="slds-is-absolute slds-dropdown slds-dropdown_right slds-nubbin_top-right" style="right:-10px;top:25px;">
        <div class="slds-grid">
            <div class="slds-p-horizontal--small slds-border--right" style="min-width: 180px">
                <div class="slds-p-vertical--x-small"><system-label label="LBL_TYPE"></system-label></div>
                <div class="slds-form-element slds-p-vertical--xx-small">
                    <div class="slds-form-element__control" (click)="setFilter($event, 'all')">
                        <span class="slds-checkbox">
                          <input type="checkbox" id="alltypes" [checked]="getChecked('all')"/>
                          <label class="slds-checkbox__label" for="alltypes">
                            <span class="slds-checkbox_faux"></span>
                            <span class="slds-form-element__label"><system-label label="LBL_ALL"></system-label></span>
                          </label>
                        </span>
                    </div>
                </div>
                <div class="slds-form-element slds-p-vertical--xx-small" *ngFor="let activityType of activityTypes">
                    <div class="slds-form-element__control" (click)="setFilter($event, activityType.type)">
                        <span class="slds-checkbox">
                          <input type="checkbox" [id]="activityType.type" [checked]="getChecked(activityType.type)"/>
                          <label class="slds-checkbox__label" [attr.for]="activityType.type">
                            <span class="slds-checkbox_faux"></span>
                            <span class="slds-form-element__label">{{activityType.name}}</span>
                          </label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="slds-p-horizontal--small" style="min-width: 180px">
                <div class="slds-p-vertical--x-small"><system-label label="LBL_FILTER"></system-label></div>
                <fieldset class="slds-form-element">
                    <div class="slds-form-element__control">
                        <span class="slds-radio">
                          <input type="radio" id="ownerall" name="filters" value="" [(ngModel)]="ownerfilter"/>
                          <label class="slds-radio__label" for="ownerall">
                            <span class="slds-radio_faux"></span>
                            <span class="slds-form-element__label"><system-label label="LBL_ALL"></system-label></span>
                          </label>
                        </span>
                        <span class="slds-radio">
                          <input type="radio" id="ownerassignedtome" name="filters" value="assigned" [(ngModel)]="ownerfilter" />
                          <label class="slds-radio__label" for="ownerassignedtome">
                            <span class="slds-radio_faux"></span>
                            <span class="slds-form-element__label slds-truncate"><system-label label="LBL_ASSIGNEDTOME"></system-label></span>
                          </label>
                        </span>
                        <span class="slds-radio">
                          <input type="radio" id="ownercreatedbyme" name="filters" value="created" [(ngModel)]="ownerfilter" />
                          <label class="slds-radio__label" for="ownercreatedbyme">
                            <span class="slds-radio_faux"></span>
                            <span class="slds-form-element__label slds-truncate"><system-label label="LBL_CREATEDBYME"></system-label></span>
                          </label>
                        </span>
                    </div>
                </fieldset>
            </div>
        </div>
        <footer class="slds-popover__footer">
           <div class="slds-grid">
               <button class="slds-col--bump-left slds-button slds-button_neutral" (click)="closeDialog(false)"><system-label label="LBL_CANCEL"></system-label></button>
               <button class="slds-button slds-button--brand" (click)="closeDialog(true)"><system-label label="LBL_APPLY"></system-label></button>
           </div>
        </footer>
    </div>
</div>