<system-modal size="large">
    <system-modal-header (close)="closeModal()">
        <system-label label="LBL_CLOSE"></system-label>
    </system-modal-header>
    <system-modal-content margin="none" #modalContent>
        <div class="slds-grid">
            <div class="slds-grid--vertical slds-grow">
                <object-edit-modal-dialog-container [componentSet]="componentSet" ></object-edit-modal-dialog-container>
            </div>
        </div>
    </system-modal-content>
    <system-modal-footer>
        <div class="slds-grid slds-grid--vertical-align-center slds-grid--align-spread">
            <div class="slds-col">
                <!--<object-record-messages-badge></object-record-messages-badge>-->
            </div>
            <div class="slds-col">
                <object-action-container [actionset]="actionSet" (actionemitter)="emitaction($event)"></object-action-container>
            </div>
        </div>
    </system-modal-footer>
</system-modal>
