<div class="slds-show" role="tabpanel">
    <div class="slds-tabs_default slds-sub-tabs">
        <ul class="slds-tabs_default__nav" role="tablist">
            <li #maintabs *ngFor="let dashboard of dashboardsList" [attr.data-dashboard]="dashboard.name" [class.slds-active]="dashboard.id == dashboardid" (click)="setActiveDashboard(dashboard.id)"
                class="slds-tabs_default__item slds-sub-tabs__item slds-grid slds-grid_vertical-align-center" role="presentation">
                <a class="slds-tabs_default__link slds-p-horizontal_xx-small" href="javascript:void(0);" role="tab" tabindex="0" [title]="dashboard.name">
                    <span class="slds-truncate">{{dashboard.name}}</span>
                </a>
            </li>
            <li #moretab class="slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger--hover slds-hidden" aria-haspopup="true">
                <a href="javascript:void(0);" class="slds-context-bar__label-action slds-tabs--default__link">
                    <span class="slds-truncate">{{language.getLabel('LBL_MORE')}}</span>
                    <button class="slds-button slds-button--icon slds-context-bar__button">
                        <system-utility-icon class="slds-p-horizontal--xx-small" icon="down" size="x-small"></system-utility-icon>
                    </button>
                </a>
                <div class="slds-dropdown slds-dropdown--right">
                    <ul class="slds-dropdown__list" role="menu">
                        <li #moretabs *ngFor="let dashboard of dashboardsList" [attr.data-dashboard]="dashboard.name" [class.slds-active]="dashboard.id == dashboardid" (click)="setActiveDashboard(dashboard.id)" [title]="dashboard.name" class="slds-tabs_default__item slds-sub-tabs__item" role="presentation">
                            <a href="javascript:void(0);" class="slds-tabs_default__link slds-p-horizontal_xx-small" role="menuitem" [title]="dashboard.name">
                                <span class="slds-truncate">{{dashboard.name}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="slds-tabs_default__content slds-p-around--none" role="tabpanel">
            <div #allDashboardsContainer></div>
        </div>
    </div>
</div>




