<system-modal size="large">
    <system-modal-header (close)="closePopup()">{{language.getModuleCombinedLabel('LBL_SEARCH', modellist.module)}}</system-modal-header>
    <system-modal-content margin="none" [grow]="true">
        <div class="slds-height_full">
            <object-modal-module-lookup-header></object-modal-module-lookup-header>
            <div class="slds-is-relative" [ngStyle]="contentStyle()">
                <div class="slds-grid slds-wrap" [ngStyle]="containerStyle">
                    <media-files-tile *ngFor="let listItem of modellist.listData.list" [data]="listItem" [selectbox]="true" (click)="pick(listItem.id)"></media-files-tile>
                </div>
                <div *ngIf="!modellist.isLoading && modellist.listData.totalcount == 0" class="slds-align--absolute-center" style="height: calc(100% - 35px)">
                    <system-illustration-no-records><system-label label="MSG_NO_RECORDS_FOUND"></system-label></system-illustration-no-records>
                </div>
                <object-modal-module-lookup-aggregates></object-modal-module-lookup-aggregates>
            </div>
        </div>
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="closePopup()">
            <system-label label="LBL_CANCEL"></system-label>
        </button>
        <button class="slds-button slds-button--brand" (click)="upload()" [disabled]="!metadata.checkModuleAcl('MediaFiles','create')"><system-label label="LBL_UPLOAD_NEW_FILE"></system-label> …</button>
    </system-modal-footer>
</system-modal>
