<div (system-to-bottom)="onScroll()" style="min-height: 250px">
    @if(modellist.isLoading){
        <div class="slds-grid slds-wrap" [ngStyle]="containerStyle">
            <media-files-stencil *ngFor="let s of [].constructor(stencilCount)"/>
        </div>
    } @else {
        @if (modellist.listData.totalcount == 0){
            <div  class="slds-align--absolute-center" style="height: calc(100% - 35px)">
                <system-illustration-no-records><system-label label="MSG_NO_RECORDS_FOUND"></system-label></system-illustration-no-records>
            </div>
        } @else {
            <div class="slds-grid slds-wrap" [ngStyle]="containerStyle">
                <media-files-tile *ngFor="let listItem of modellist.listData.list" [data]="listItem"></media-files-tile>
            </div>
        }
    }
</div>
