<system-modal size="large">
    <system-modal-header (close)="cancel()">
        {{lang.getLabel('LBL_NEW_IMAGE')}}
    </system-modal-header>
    <system-modal-content style="height:100%">

        <div class="slds-p-around--medium slds-grid" style="height:100%">
            <div class="slds-box slds-box_x-small slds-size--5-of-12">
                <system-input-media acceptMedia="{image:true}" allowResizing="true" allowCropping="true" allowMirroring="true" allowRotating="true" (added)="mediaAdded($event)" style="height:100%"></system-input-media>
            </div>

            <div *ngIf="!noMetaData" class="slds-p-left--medium slds-size--7-of-12">

                <div class="slds-grid">
                    <div class="slds-size--1-of-2 slds-p-right--x-small">
                        <field-container field="name"></field-container>
                    </div>
                    <div class="slds-size--1-of-2 slds-p-left--x-small">
                        <field-container field="mediacategory_name"></field-container>
                    </div>
                </div>

                <div class="slds-m-vertical--x-small">
                    <field-container field="alttext"></field-container>
                </div>

                <div class="slds-grid slds-m-vertical--x-small">
                    <div class="slds-size--1-of-2 slds-p-right--x-small">
                        <field-container field="copyright_owner"></field-container>
                    </div>
                    <div class="slds-size--1-of-2 slds-p-left--x-small">
                        <field-container field="copyright_license"></field-container>
                    </div>
                </div>

                <div>
                    <field-container field="description"></field-container>
                </div>

                <label class="slds-form-element__label slds-truncate" for="tags">{{lang.getLabel('LBL_TAGS')}}</label>
                <div class="slds-grid slds-grid--vertical-align-center slds-grid--align-spread ng-star-inserted">
                    <system-input-tags-2 [(ngModel)]="tags" maxNumber="10" id="tags" [isEditing]="isEditing" ></system-input-tags-2>
                </div>

            </div>

        </div>

    </system-modal-content>

    <system-modal-footer>
        <div *ngIf="!isSaving">
            <button class="slds-button slds-button--brand" (click)="save()" [disabled]="!canSave">{{lang.getLabel('LBL_SAVE')}}</button>
            <button class="slds-button slds-button--neutral" (click)="cancel()">{{lang.getLabel('LBL_CANCEL')}}</button>
        </div>
        <div *ngIf="isSaving">
            <system-progress-bar [progress]="theProgress">{{lang.getLabel('LBL_UPLOADING_MEDIA_FILE')}} &hellip;</system-progress-bar>
        </div>
    </system-modal-footer>

</system-modal>
