<span class="slds-checkbox">
    <input type="checkbox" id="checkbox-{{id}}" [attr.aria-labelledby]="'checkbox-button-label-'+id+' check-group-header'" (click)="click()" [disabled]="disabled" [checked]="checked" [value]="value" [(ngModel)]="model_value" />
    <label class="slds-checkbox__label" for="checkbox-{{id}}" id="checkbox-button-label-{{id}}">
        <span class="slds-checkbox_faux"></span>
        <span class="slds-form-element__label"><ng-content></ng-content></span>
    </label>
</span>