<div [system-view-provider]="{editable: editable}">
    <system-componentset *ngIf="componentset" [componentset]="componentset"></system-componentset>
    <div class="slds-text-align--center slds-p-bottom--small" *ngIf="view.isEditMode()">
        <button class="slds-button slds-button--neutral" (click)="cancel()"><system-label label="LBL_CANCEL"></system-label></button>
        <button class="slds-button slds-button--brand slds-button-space-left" (click)="save()"><system-label label="LBL_SAVE"></system-label></button>
    </div>
</div>
