<div class="slds-height_full slds-grid slds-grid--vertical">
    <div *ngIf="!hideText"  class="slds-grid slds-grid_align-spread slds-p-bottom_x-small">
        <span class="slds-m-left--xx-small"><ng-content></ng-content></span>
        <strong class="slds-m-right--x-small">{{progressText}} {{lang.getLabel('LBL_COMPLETED')}}</strong>
    </div>
    <div class="slds-progress-bar slds-progress-bar_circular slds-grow" [style.border-radius.px]="borderRadius()" [ngClass]="sizeClass">
        <span class="slds-progress-bar__value" [ngStyle]="{'width.%':progressWidth, 'background':color, 'border': borderStyle()}" [style.border-radius]="borderRadius()"></span>
    </div>
</div>
