<ng-content select="system-split-container-left"></ng-content>
<div class="slds-is-relative">
    <div [style.left.px]="childLeft.expanded ? -16 : childRight.expanded ? 0 : -8" class="slds-grid slds-is-absolute__top slds-grid--vertical slds-theme--default spice-split-container-splitter">
        <button *ngIf="!childRight.expanded" (click)="expand('right')" class="slds-button slds-button--icon-bare slds-button--icon">
            <system-button-icon icon="arrow_left" size="small"></system-button-icon>
        </button>
        <button *ngIf="!childLeft.expanded" (click)="expand('left')" class="slds-button slds-button--icon-bare slds-button--icon">
            <system-button-icon icon="arrow_right" size="small"></system-button-icon>
        </button>
    </div>
</div>
<ng-content select="system-split-container-right"></ng-content>
