<div class="slds-card slds-card_boundary slds-m-bottom--medium">
    <div class="slds-card__header slds-grid">
        <header class="slds-media slds-media_center slds-has-flexi-truncate">
            <div class="slds-media__figure">
                <system-icon ></system-icon>
            </div>
            <div class="slds-media__body">
                <h2 class="slds-card__header-title">
                    <div class="slds-card__header-link slds-truncate">
                        <span><system-stencil></system-stencil></span>
                    </div>
                </h2>
            </div>
        </header>
    </div>
    <div class="slds-card__body">
        <table class="slds-table slds-table_cell-buffer slds-no-row-hover slds-table_bordered slds-table_fixed-layout" role="grid" >
            <thead>
            <tr class="slds-line-height_reset">
                <th class="" scope="col">
                    <system-stencil></system-stencil>
                </th>
                <th class="" scope="col">
                    <system-stencil></system-stencil>
                </th>
                <th class="" scope="col">
                    <system-stencil></system-stencil>
                </th>
                <th class="" scope="col">
                    <system-stencil></system-stencil>
                </th>
            </tr>
            </thead>
            <tbody system-table-stencils rows="3" columns="4"></tbody>
        </table>
    </div>
</div>