<system-modal size="large">
    <system-modal-header (close)="closeModal()">{{imgname}}</system-modal-header>
    <system-modal-content margin="none">
        <system-image-preview [data]="imgsrc"></system-image-preview>
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--icon slds-button--icon-border" (click)="download()">
            <system-button-icon icon="download" size="small"></system-button-icon>
        </button>
    </system-modal-footer>
</system-modal>
