<div class="slds-form-element slds-p-bottom--x-small" *ngIf="availableLanguages.length > 1">
    <label *ngIf="displaylabel" class="slds-form-element__label" for="{{compId}}-select-lang">
        <system-label label="LBL_SELECT_LANGUAGE"></system-label>
    </label>
    <div class="slds-grid slds-grid--vertical-align-center">
        <div class="slds-form-element__control slds-grow">
            <div class="slds-select_container">
                <select class="slds-select" [disabled]="availableLanguages.length <= 1" [(ngModel)]="currentlanguage" id="{{compId}}-select-lang">
                    <option *ngFor="let language of availableLanguages" [value]="language.language">
                        {{language.text}}
                    </option>
                </select>
            </div>
        </div>
        <!--button class="slds-button slds-button--icon slds-button--icon-border slds-m-left--x-small" (click)="reloadCurrentLanguage()">
            <system-button-icon icon="refresh"></system-button-icon>
        </button-->
    </div>
</div>
