<system-modal size="large" >
    <system-modal-header (close)="close()"><system-label label="LBL_SOURCE_EDITOR"></system-label></system-modal-header>
    <system-modal-content>
        <div class="slds-grid" style="height: 70vh;">
            <div class="slds-size--1-of-2 slds-p-right--xx-small" >
                <div class="slds-box slds-theme--default slds-scrollable_y slds-rich-text-editor__output" [innerHtml]="sanitizedHtml" style="height: 100%;"></div>
            </div>
            <div class="slds-size--1-of-2 slds-p-left--x-small">
                <div class="slds-p-bottom--xx-small slds-grid">
                    <div class="slds-grow slds-combobox__form-element slds-input-has-icon slds-input-has-icon_left-right slds-global-search__form-element" role="none">
                        <system-utility-icon icon="search" addclasses="slds-input__icon slds-input__icon--left"></system-utility-icon>
                        <input (keyup)="keyUp($event)" type="text" class="slds-input" [placeholder]="language.getLabel('LBL_SEARCH')" [(ngModel)]="searchText">
                        <div *ngIf="foundIndices.length > 1" class="slds-grid slds-grid--align-spread slds-input__icon_right slds-is-absolute__top" style="height: 100%">
                            <button (click)="nextResult()" [disabled]="nextDisabled" class="slds-button slds-button_icon slds-input__icon" style="position:relative;" [title]="language.getLabel('LBL_NEXT')">
                                <system-button-icon icon="arrowdown"></system-button-icon>
                            </button>
                            <button (click)="previewResult()" [disabled]="previewDisabled" class="slds-button slds-button_icon slds-input__icon" style="position:relative;" [title]="language.getLabel('LBL_PREVIEW')">
                                <system-button-icon icon="arrowup"></system-button-icon>
                            </button>
                        </div>
                    </div>
                    <button *ngIf="useTemplateVariableHelper" [disabled]="!isUserInsideEditor" class="slds-m-left--xx-small slds-button slds-button--icon-border slds-button--neutral" [title]="language.getLabel('LBL_TEMPLATE_VARIABLE_HELPER')" (click)="openTemplateVariableHelper()">
                        <system-button-icon icon="variable"></system-button-icon>
                    </button>
                    <button [disabled]="!beautifyenabled" class="slds-m-left--xx-small slds-button slds-button--icon-border slds-button--neutral" (click)="beautify()">
                        <system-button-icon icon="right_align_text"></system-button-icon>
                    </button>
                </div>
                <pre #sourceeditor [attr.contenteditable]="true" (input)="onContentChange($event.target['innerText'])" style="height: calc(100% - 36px);"  class="slds-box slds-m-around--none slds-theme--default slds-scrollable_y" [id]="editorId"></pre>
            </div>
        </div>
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="close()">
            <system-label label="LBL_CLOSE"></system-label>
        </button>
    </system-modal-footer>
</system-modal>
