<section role="alertdialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_prompt">
    <div class="slds-modal__container">
        <header class="slds-modal__header slds-theme_{{theme}}" [style.height]="headertext ? 'auto':'1rem'">
            <h2 *ngIf="headertext" class="slds-text-heading_medium slds-hyphenate"><system-label [label]="headertext"></system-label></h2>
        </header>
        <div *ngIf="text || type.startsWith('input')" class="slds-modal__content slds-text-align_center ">
            <div *ngIf="text" class="slds-m-vertical_medium">
                <div *ngFor="let line of splitText">{{line}}</div>
            </div>
            <div *ngIf="type.startsWith('input')" class="slds-form-element slds-m-vertical_medium">
                <div class="slds-form-element__control">
                    <div *ngIf="!options" class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                        <ng-container [ngSwitch]="type">
                            <system-input-date *ngSwitchCase="'input_date'" [(ngModel)]="value"></system-input-date>
                            <div *ngSwitchCase="'input_text'" class="slds-form-element">
                                <div class="slds-form-element__control">
                                    <textarea class="slds-textarea" style="height: 200px" [(ngModel)]="value"></textarea>
                                </div>
                            </div>
                            <ng-container *ngSwitchDefault>
                                <input #inputField class="slds-input" type="text" [(ngModel)]="value" tabindex="1"/>
                                <button class="slds-input__icon slds-input__icon_right slds-button slds-button--icon" [disabled]="!value" (click)="value=''">
                                    <system-button-icon icon="clear"></system-button-icon>
                                </button>
                            </ng-container>
                        </ng-container>
                    </div>
                    <ng-container *ngIf="options">
                        <div *ngIf="!optionsAsRadio; else radioGroupContainer" class="slds-select_container">
                            <select #selectField class="slds-select" [(ngModel)]="value" tabindex="1">
                                <option *ngFor="let option of options" [value]="option.value">
                                    {{option.display}}
                                </option>
                            </select>
                        </div>
                        <ng-template #radioGroupContainer>
                            <system-input-radio *ngFor="let option of options" [name]="radioGroupName" [value]="option.value" [(ngModel)]="value" style="display: block">
                                {{option.display}}
                            </system-input-radio>
                        </ng-template>
                    </ng-container>
                </div>
            </div>
        </div>
        <footer class="slds-modal__footer">
            <button *ngIf="type !== 'info'" #cancelButton class="slds-button slds-button--neutral" (click)="clickCancel()"><system-label label="LBL_CANCEL"></system-label></button>
            <button #okButton [disabled]="!canSubmit" class="slds-button slds-button--brand" (click)="clickOK()">OK</button>
        </footer>
    </div>
</section>


