<system-modal class="slds-m-horizontal--none" size="large">
    <system-modal-header (close)="close()">
        <system-label label="LBL_SOURCE_EDITOR"></system-label>
    </system-modal-header>
    <system-modal-content [grow]="true" margin="xx-small">
        <div class="slds-grid--vertical slds-grid slds-height_full">
            <div class="slds-grid slds-grow">
                <div class="slds-p-right--xx-small slds-height_full slds-grid slds-grid--vertical" [ngClass]="{'slds-hide': splitMode == 'right', 'slds-size--1-of-2': splitMode == 'split', 'slds-size--1-of-1': splitMode == 'left'}">
                    <div class="slds-grid slds-grid--align-end" style="min-height: 36px;">
                        @if (showPreview && splitMode == 'left') {
                            <system-input-radio-button-group [(ngModel)]="splitMode" [inputOptions]="[{value: 'left', icon: 'toggle_panel_left'}, {value: 'split', icon: 'full_width_view'}, {value: 'right', icon: 'toggle_panel_right'}]" containerClass=""/>
                        }
                    </div>
                    <div class="slds-grow slds-box slds-theme--default slds-scrollable_y slds-rich-text-editor__output"
                         [innerHtml]="sanitizedCode" style="height: 100%;"></div>
                </div>
                <div class="slds-height_full slds-p-left--x-small" [ngClass]="{'slds-hide': splitMode == 'left', 'slds-size--1-of-2': splitMode == 'split', 'slds-size--1-of-1': splitMode == 'right'}">
                    <system-source-editor [(ngModel)]="sourceCode" [language]="codeLanguage" [canOpenInModal]="false" class="slds-height_full">
                        @if (showPreview && splitMode != 'left') {
                            <div class="slds-grid slds-grid--align-end">
                                <system-input-radio-button-group [(ngModel)]="splitMode" [inputOptions]="[{value: 'left', icon: 'toggle_panel_left'}, {value: 'split', icon: 'full_width_view'}, {value: 'right', icon: 'toggle_panel_right'}]"/>
                            </div>
                        }
                        @if (useTemplateVariableHelper) {
                            <button (click)="openTemplateVariableHelper()" system-title="LBL_TEMPLATE_VARIABLE_HELPER"
                                    class="slds-m-left--xx-small slds-button slds-button--icon-border slds-button--neutral">
                                <system-button-icon icon="variable"></system-button-icon>
                            </button>
                        }
                    </system-source-editor>
                </div>
            </div>
        </div>
    </system-modal-content>
    <system-modal-footer>
        <div class="slds-grid slds-grid_vertical-align-center">
            <div class="slds-col--bump-left">
                <button class="slds-button slds-button--neutral" (click)="close()">
                    <system-label label="LBL_OK"></system-label>
                </button>
            </div>
        </div>
    </system-modal-footer>
</system-modal>
