<div class="slds-form-element">
    <label class="slds-form-element__label" for="combobox-id-14">{{language.getAppLanglabel(label)}}</label>
    <div class="slds-form-element__control">
        <div class="slds-combobox_container">
            <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open"
                 aria-expanded="true" aria-haspopup="listbox" role="combobox">
                <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                    <input (focus)="onFocus()" type="text" [attr.disabled]="disabled ? 'disabled' : null"
                           class="slds-input slds-combobox__input slds-combobox__input-value"
                           id="combobox-id-14" aria-autocomplete="list" aria-controls="listbox-id-11" autoComplete="off"
                           role="textbox" placeholder="{{language.getAppLanglabel('LBL_SEARCH')}}"
                           value="{{inputValue}}"
                           (keyup)="onKeydown($event)"
                    />
                    <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
            <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
            </svg>
          </span>
                </div>
                <div *ngIf="show_list" class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid" role="listbox">
                    <ul class="slds-listbox slds-listbox_vertical" role="presentation">

                        <!--<ng-container *ngFor="let selectItem of searchList">-->

                        <li *ngFor="let selectItem of searchList" role="presentation" class="slds-listbox__item"
                            (click)="itemClicked(selectItem)">


                            <div id="{{selectItem.id}}" [ngClass]="{'slds-has-focus':  selectedItemId == selectItem.id}"
                                 class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
                                 role="option">

                                <span class="slds-media__body">
                                  <span class="slds-truncate" title="" value="selectItem.id">
                                      <p [innerHTML]="selectItem.name"> </p>
                                  </span>
                                </span>

                            </div>
                        </li>

                        <!--</ng-container>-->


                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>





<!--<div class="slds-form-element">-->
    <!--<label class="slds-form-element__label" for="combobox-id-14">{{language.getAppLanglabel(label)}}</label>-->
    <!--<div class="slds-form-element__control">-->
        <!--<div class="slds-combobox_container">-->
            <!--<div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open"-->
                 <!--aria-expanded="true" aria-haspopup="listbox" role="combobox">-->
                <!--<div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">-->
                    <!--<input (focus)="onFocus()" type="text" [attr.disabled]="disabled ? 'disabled' : null"-->
                           <!--class="slds-input slds-combobox__input slds-combobox__input-value"-->
                           <!--id="combobox-id-14" aria-autocomplete="list" aria-controls="listbox-id-11" autoComplete="off"-->
                           <!--role="textbox" placeholder="{{language.getAppLanglabel('LBL_SEARCH')}}"-->
                           <!--value="{{inputValue}}"-->
                           <!--(keyup)="onKeydown($event)"-->
                    <!--/>-->
                    <!--<span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">-->
            <!--<svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">-->
              <!--<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>-->
            <!--</svg>-->
          <!--</span>-->
                <!--</div>-->
                <!--<div *ngIf="show_list" class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid" role="listbox">-->
                    <!--<ul class="slds-listbox slds-listbox_vertical" role="presentation">-->


                        <!--<li *ngFor="let selectItem of searchList" role="presentation" class="slds-listbox__item"-->
                            <!--(click)="itemClicked(selectItem)">-->


                            <!--<div id="{{selectItem.id}}" [ngClass]="{'slds-has-focus':  selectedItemId == selectItem.id}"-->
                                 <!--class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"-->
                                 <!--role="option">-->

                                <!--<span class="slds-media__body">-->
                                  <!--<span class="slds-truncate" title="" value="selectItem.id">-->
                                      <!--<p [innerHTML]="selectItem.name"> </p>-->
                                  <!--</span>-->
                                <!--</span>-->

                            <!--</div>-->


                        <!--</li>-->



                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
