<div *ngIf="!readOnly; else readOnlyContainer" class="slds-grid" >
    <div class="slds-form-element slds-grid slds-grid--vertical-align-center slds-grow">
        <label class="slds-form-element__label">
            <system-label label="LBL_REPEAT"></system-label>
        </label>
        <div class="slds-form-element__control slds-grow">
            <div class="slds-select_container">
                <select [(ngModel)]="expression.recurrence" (ngModelChange)="onRecurrenceSet()" class="slds-select">
                    <option value=""></option>
                    <option value="daily">
                        <system-label label="LBL_DAILY"></system-label>
                    </option>
                    <option value="weekly">
                        <system-label label="LBL_WEEKLY"></system-label>
                    </option>
                    <option value="monthly">
                        <system-label label="LBL_MONTHLY"></system-label>
                    </option>
                    <option value="annually">
                        <system-label label="LBL_ANNUALLY"></system-label>
                    </option>
                    <option value="everyWeekday">
                        <system-label label="LBL_EVERY_WEEKDAY"></system-label>
                    </option>
                    <option value="custom">
                        <system-label label="LBL_CUSTOM"></system-label>
                    </option>
                    <option value="cron">
                        <system-label label="LBL_CRON_EXPRESSION"></system-label>
                    </option>
                </select>
            </div>
        </div>
    </div>
    <label *ngIf="expression.recurrence != 'custom' && expression.recurrence != 'cron' && expression.recurrence != 'everyWeekday'" class="slds-form-element__label slds-align-middle slds-m-left--small">
        <system-label *ngIf="expression.recurrence =='daily'" label="LBL_AT_HOUR" length="short"></system-label>
        <system-label *ngIf="expression.recurrence !='daily'" label="LBL_ON_DATE" length="short"></system-label>
    </label>
    <ng-container *ngIf="expression.recurrence != 'cron'">
        <div *ngIf="expression.every != 'weekdays' && expression.recurrence == 'custom'" class="slds-form-element slds-grid slds-grid--vertical-align-center slds-m-left--xx-small slds-grow">
            <label class="slds-form-element__label">
                <system-label label="LBL_EVERY" ></system-label>
            </label>
            <div class="slds-form-element__control slds-grow">
                <input type="text" [(ngModel)]="expression.everyQuantity" (ngModelChange)="setFieldValue()" size="3" maxlength="3" class="slds-input">
            </div>
        </div>
        <div *ngIf="expression.recurrence == 'custom'" class="slds-form-element slds-grid slds-m-left--xx-small slds-grow">
            <div class="slds-form-element__control slds-grow">
                <div class="slds-select_container">
                    <select [(ngModel)]="expression.every" (ngModelChange)="onEverySet()" class="slds-select">
                        <option value="minutes">
                            <system-label [label]="expression.everyQuantity > 1 ? 'LBL_MINUTES' : 'LBL_MINUTE'"></system-label>
                        </option>
                        <option value="hours">
                            <system-label [label]="expression.everyQuantity > 1 ? 'LBL_HOURS' : 'LBL_HOUR'"></system-label>
                        </option>
                        <option value="days">
                            <system-label [label]="expression.everyQuantity > 1 ? 'LBL_DAYS' : 'LBL_DAY'"></system-label>
                        </option>
                        <option value="daysAt">
                            <system-label [label]="expression.everyQuantity > 1 ? 'LBL_DAYS_AT' : 'LBL_DAY_AT'"></system-label>
                        </option>
                        <option value="months">
                            <system-label [label]="expression.everyQuantity > 1 ? 'LBL_MONTHS' : 'LBL_MONTH'"></system-label>
                        </option>
                        <option value="monthsAt">
                            <system-label [label]="expression.everyQuantity > 1 ? 'LBL_MONTHS_AT' : 'LBL_MONTH_AT'"></system-label>
                        </option>
                        <option value="weekdays">
                            <system-label label="LBL_WEEK_ON"></system-label>
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div *ngIf="expression.every == 'daysAt' || expression.recurrence == 'daily'" class="slds-form-element slds-m-left--xx-small slds-grow">
            <div class="slds-form-element__control slds-input-has-fixed-addon slds-grow">
                <system-input-time [(ngModel)]="expression.everyAtValue" (ngModelChange)="setFieldValue()" class="slds-grow slds-p-left--xxx-small"></system-input-time>
                <span class="slds-form-element__addon" style="white-space: nowrap;"> <system-label label="LBL_O_CLOCK"></system-label> </span>
            </div>
        </div>
        <div *ngIf="expression.every == 'monthsAt' || expression.recurrence == 'monthly'" class="slds-form-element slds-m-left--xx-small slds-grow">
            <div class="slds-form-element__control slds-input-has-fixed-addon slds-grow">
                <input type="text" [(ngModel)]="expression.everyAtValue" (ngModelChange)="setFieldValue()" size="3" maxlength="6" class="slds-input">
                <span class="slds-form-element__addon" style="white-space: nowrap;">
                    <ng-container *ngIf="!!expression.everyAtValue" [ngSwitch]="expression.everyAtValue">
                        <system-label *ngSwitchCase="(expression.everyAtValue == 1 || expression.everyAtValue == 21 || expression.everyAtValue == 31) ? expression.everyAtValue : '1'" label="LBL_ST_DAY"></system-label>
                        <system-label *ngSwitchCase="(expression.everyAtValue == 2 || expression.everyAtValue == 22) ? expression.everyAtValue : '2'" label="LBL_ND_DAY"></system-label>
                        <system-label *ngSwitchCase="(expression.everyAtValue == 3 || expression.everyAtValue == 23) ? expression.everyAtValue : '3'" label="LBL_RD_DAY"></system-label>
                        <system-label *ngSwitchDefault label="LBL_TH_DAY"></system-label>
                    </ng-container>
                </span>
            </div>
        </div>
        <div *ngIf="expression.every == 'weekdays'" class="slds-form-element slds-m-left--xx-small slds-grid slds-grid--vertical-align-center slds-grow">
            <div class="slds-form-element__control slds-grow">
                <system-multiple-select [showPills]="false" [(ngModel)]="expression.everyAtValue" (ngModelChange)="setFieldValue()" [listItems]="{
                '0': weekdays[0],
                '1': weekdays[1],
                '2': weekdays[2],
                '3': weekdays[3],
                '4': weekdays[4],
                '5': weekdays[5],
                '6': weekdays[6]
                }"></system-multiple-select>
            </div>
        </div>
        <div *ngIf="expression.recurrence == 'weekly'" class="slds-form-element slds-m-left--xx-small slds-grid slds-grid--vertical-align-center slds-grow">
            <div class="slds-form-element__control slds-grow">
                <div class="slds-select_container">
                    <select [(ngModel)]="expression.everyAtValue" (ngModelChange)="setFieldValue()" class="slds-select">
                        <option *ngFor="let weekDay of weekdays; let index = index" [value]="index">
                            {{weekDay}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div *ngIf="expression.recurrence == 'annually'" class="slds-form-element slds-m-left--xx-small slds-grid slds-grid--vertical-align-center slds-grow">
            <div class="slds-form-element__control slds-grow">
                <div class="slds-select_container">
                    <select [(ngModel)]="expression.everyAtValue" (ngModelChange)="setFieldValue()" class="slds-select">
                        <option *ngFor="let month of months; let index = index" [value]="index + 1">
                            {{month}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="expression.recurrence == 'cron'">
        <div class="slds-m-left--xx-small slds-grid slds-grid--vertical-align-center slds-grow">
            <div class="slds-form-element slds-grow">
                <div class="slds-form-element__control slds-grow">
                    <input type="text" system-placeholder="LBL_MINUTES" [(ngModel)]="expression.minutes" (ngModelChange)="setFieldValue()" size="3" maxlength="6" class="slds-input">
                </div>
            </div>
            <div class="slds-m-horizontal--xx-small">::</div>
            <div class="slds-form-element slds-grow">
                <div class="slds-form-element__control slds-grow">
                    <input type="text" system-placeholder="LBL_HOURS" [(ngModel)]="expression.hours" (ngModelChange)="setFieldValue()" size="3" maxlength="6" class="slds-input">
                </div>
            </div>
            <div class="slds-m-horizontal--xx-small">::</div>
            <div class="slds-form-element slds-grow">
                <div class="slds-form-element__control slds-grow">
                    <input type="text" system-placeholder="LBL_MONTH_DAY" [(ngModel)]="expression.monthDay" (ngModelChange)="setFieldValue()" size="3" maxlength="6" class="slds-input">
                </div>
            </div>
            <div class="slds-m-horizontal--xx-small">::</div>
            <div class="slds-form-element slds-grow">
                <div class="slds-form-element__control slds-grow">
                    <input type="text" system-placeholder="LBL_MONTH" [(ngModel)]="expression.month" (ngModelChange)="setFieldValue()" size="3" maxlength="6" class="slds-input">
                </div>
            </div>
            <div class="slds-m-horizontal--xx-small">::</div>
            <div class="slds-form-element slds-grow">
                <div class="slds-form-element__control slds-grow">
                    <input type="text" system-placeholder="LBL_WEEK_DAY" [(ngModel)]="expression.weekDay" (ngModelChange)="setFieldValue()" size="3" maxlength="6" class="slds-input">
                </div>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #readOnlyContainer>
    <span *ngIf="expression?.displayValue">
        {{expression.displayValue}}
    </span>
</ng-template>