<div class="slds-form-element">
    <label class="slds-checkbox_toggle slds-grid">
        <span class="slds-form-element__label slds-m-bottom_none slds-grow">
            <system-label [label]="label"></system-label>
        </span>
        <input type="checkbox" [(ngModel)]="localValue" [disabled]="disabled" (ngModelChange)="onChange($event)">
        <span class="slds-checkbox_faux_container" aria-live="assertive">
            <span class="slds-checkbox_faux"></span>
        </span>
    </label>
</div>
