<div class="slds-form-element">
    <label class="slds-form-element__label">{{language.getAppLanglabel(label)}}</label>
    <div class="slds-form-element__control">
        <div class="slds-combobox_container">
            <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" role="combobox">
                <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                    <input (focus)="onFocus()" type="text" [disabled]="disabled" class="slds-input slds-combobox__input slds-combobox__input-value" role="textbox" placeholder="{{language.getAppLanglabel('LBL_SEARCH')}}" value="{{inputValue}}" (keyup)="onKeydown($event)"/>
                    <system-icon icon="search" sprite="utility" addclasses="slds-input__icon slds-input__icon_right"></system-icon>
                </div>
                <div *ngIf="show_list" class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid" role="listbox">
                    <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                        <li *ngFor="let selectItem of searchList" role="presentation" class="slds-listbox__item" (click)="itemClicked(selectItem)">
                            <div id="{{selectItem.id}}" [ngClass]="{'slds-has-focus':  selectedItemId == selectItem.id}" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                                <span class="slds-media__body">
                                  <span class="slds-truncate" title="" value="selectItem.id">
                                      <p [innerHTML]="selectItem.name"> </p>
                                  </span>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
