<div class="slds-radio_button-group slds-m-right--x-small">
    <span *ngFor="let inputOption of inputOptions; trackBy: trackByFn" class="slds-button slds-radio_button">
        <input type="radio" [(ngModel)]="modelValue" [value]="inputOption.value" [disabled]="disabled || inputOption.disabled" [name]="groupName" [id]="inputOption.id">
        <label class="slds-radio_button__label slds-height_full" [for]="inputOption.id">
            <span class="slds-radio_faux slds-align--absolute-center" style="padding: 0 .5rem; display: initial">
                <system-label *ngIf="!!inputOption.label; else iconContainer" [label]="inputOption.label" class="slds-truncate"></system-label>
                <ng-template #iconContainer>
                    <system-utility-icon [icon]="inputOption.icon || 'choice'" size="x-small"></system-utility-icon>
                </ng-template>
            </span>
        </label>
    </span>
</div>
