<div class="slds-form-element">
    <div *ngIf="strict; else countryinput" class="slds-select_container">
        <select #focus class="slds-select " [(ngModel)]="value">
            <option value=""></option>
            <option *ngFor="let c of countrycodes" [value]="'+'+c">+{{c}}</option>
        </select>
    </div>
    <ng-template #countryinput>
        <div class="slds-form-element__control">
            <input type="text" class="slds-input" [(ngModel)]="value"/>
        </div>
    </ng-template>
</div>
