<div class="slds-combobox_container">
    <div class="slds-form-element slds-lookup">
        <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click " role="combobox">
            <div *ngIf="_relatedid" class="slds-form-element__control">
                <div class="slds-pill_container">
                  <span class="slds-pill slds-size--1-of-1">
                    <span class="slds-icon_container slds-icon-standard-account slds-pill__icon_container">
                      <system-icon [module]="module" size="small"></system-icon>
                    </span>
                    <span class="slds-pill__label">{{_relatedname}}</span>
                    <button class="slds-button slds-button--icon slds-pill__remove" (click)="clearField()">
                      <system-button-icon [icon]="'close'"></system-button-icon>
                    </button>
                  </span>
                </div>
            </div>
            <div *ngIf="!_relatedid" class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right">
                <input  type="text" class="slds-input slds-combobox__input"  (focus)="searchWithModal()" [placeholder]="language.getModuleCombinedLabel('LBL_SEARCH', module)" autocomplete="none" role="combobox"/>
                <button (click)="searchWithModal()" class="slds-button slds-button_icon slds-input__icon slds-input__icon_right"><system-button-icon [icon]="'search'"></system-button-icon></button>
            </div>
        </div>
    </div>
</div>
