<section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open">
    <div class="slds-modal__container">
        <div class="slds-modal__header slds-modal__header_empty"></div>
        <div class="slds-modal__content slds-p-around_medium">
            <div class="slds-align--absolute-center">
                <div class="slds-grid slds-grid--vertical-align-center">
                    <system-spinner size="16"></system-spinner>
                    <div class="slds-p-left--small"><system-label [label]="this.messagelabel"></system-label></div>
                </div>
            </div>
        </div>
    </div>
</section>