<div class="slds-form-element" [ngClass]="{'slds-has-error': !isValid}">
    <div class="slds-form-element__control">
        <div class="slds-combobox_container">
            <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-combobox-picklist slds-timepicker" system-dropdown-trigger [stickyOnMobile]="true" role="combobox">
                <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                    <input [disabled]="isDisabled" class="slds-input slds-combobox__input" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" type="text" placeholder=" " [(ngModel)]="display" [ngClass]="{'slds-is-edited':isDirty}" [id]="id" (blur)="emitBlur()">
                    <div *ngIf="!isDisabled" class="slds-input__icon-group slds-input__icon-group_right slds-height_full slds-grid" style="top: 0; margin: 0; height: 100%">
                        <button *ngIf="canclear" class="slds-input__icon slds-input__icon_right slds-button slds-button_icon" style="position: relative;" (click)="clear()">
                            <system-button-icon icon="clear"></system-button-icon>
                        </button>
                        <button class="slds-input__icon slds-input__icon_right slds-button slds-button_icon" system-dropdown-trigger-button style="position: relative;">
                            <system-button-icon icon="event"></system-button-icon>
                        </button>
                    </div>
                </div>
                <div *ngIf="!isDisabled" aria-hidden="false" class="slds-datepicker slds-dropdown slds-dropdown--large" [ngClass]="dropdownside" role="dialog">
                    <system-input-date-picker [setDate]="_date.moment" (datePicked)="datePicked($event)"></system-input-date-picker>
                    <div *ngIf="showCalendarButton" class="slds-grid slds-grid--align-center">
                        <button class="slds-button slds-text-link slds-p-around--xx-small" (click)="openCalendar()"><system-label label="LBL_CALENDAR"></system-label></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!isValid && !hideErrorMessage" class="slds-form-element__help"><system-label label="LBL_INPUT_INVALID"></system-label></div>
</div>
