<span class="slds-checkbox slds-truncate">
    <input #inputCheckbox type="checkbox" id="checkbox-{{id}}" [attr.aria-labelledby]="'checkbox-button-label-'+id+' check-group-header'" (click)="click($event)" [disabled]="disabled" [value]="value" [(ngModel)]="model_value" />
    <label class="slds-checkbox__label" for="checkbox-{{id}}" id="checkbox-button-label-{{id}}">
        <span class="slds-checkbox_faux"></span>
        <span *ngIf="!hidelabel" class="slds-form-element__label slds-p-horizontal--xx-small"><ng-content></ng-content></span>
    </label>
</span>
