<div class="slds-size_1-of-1 slds-height_full">
    <div *ngIf="!calldata.start; else callconnected" class="slds-height_full slds-align_absolute-center">
        <div class="slds-text-align_center slds-align-middle">
            <div class="slds-avatar slds-avatar_large">
                <img [src]="calldata.relateddata && calldata.relateddata.salutation == 'Mr.' ? 'vendor/sldassets/images/avatar1.jpg' : 'vendor/sldassets/images/avatar2.jpg'"/>
            </div>
            <telephony-call-panel-related *ngIf="calldata.relatedid" [module]="calldata.relatedmodule" [id]="calldata.relatedid" [data]="calldata.relateddata"></telephony-call-panel-related>
            <p class="slds-text-heading_medium slds-m-top_medium">{{msisdnFormatted}}</p>
        </div>
    </div>
    <ng-template #callconnected>
        <div class="slds-docked-composer__lead">
            <div class="slds-media">
                <div class="slds-media__figure">
                    <div class="slds-avatar slds-avatar_medium">
                      <img [src]="calldata.relateddata && calldata.relateddata.salutation == 'Mr.' ? 'vendor/sldassets/images/avatar1.jpg' : 'vendor/sldassets/images/avatar2.jpg'"/>
                    </div>
                </div>
                <div class="slds-media__body">
                    <ng-container *ngIf="calldata.relateddata; else  nocalldata">
                        <telephony-call-panel-related-compact *ngIf="calldata.relatedid" [module]="calldata.relatedmodule" [id]="calldata.relatedid" [data]="calldata.relateddata"></telephony-call-panel-related-compact>
                    </ng-container>
                    <ng-template #nocalldata>
                        <p  class="slds-text-heading_medium">{{msisdnFormatted}}</p>
                        <ul class="slds-list_horizontal slds-has-dividers_right slds-text-body_small">
                            <li class="slds-item ">create contact</li>
                            <li class="slds-item ">create lead</li>
                        </ul>
                    </ng-template>
                </div>
            </div>
            <p class="slds-col_bump-left slds-text-heading_large"><telephony-call-duration [calldata]="calldata"></telephony-call-duration></p>
        </div>
        <div class="slds-docked-composer__toolbar">
            <telephony-call-panel-save-button [calldata]="calldata" [note]="callnotes"></telephony-call-panel-save-button>
        </div>
        <textarea style="height: 270px" class="slds-docked-composer__input slds-input_bare slds-text-longform slds-grow slds-size--1-of-1" [(ngModel)]="callnotes" [placeholder]="language.getLabel('LBL_CALL_NOTES')"></textarea>
    </ng-template>
</div>

