div#content{
    margin-left: 0px!important;
}
.loginBox {
	background: #fff;
	border: none;

}
.password{
	border: none;
	border-top: 1px solid white;
}

.button{
	border: none;
	padding: 2px;
	background-color: transparent;
	margin-right: 3px;
	border-bottom: 1px solid #607d8b;
	margin-bottom: 1px;
	font-size: 12px;
	text-decoration: none !important;
	vertical-alig: middle;
	color: black;
}
.button:hover{
	color: black;
	background-color: transparent;
	border-bottom: 2px solid #E47B00;
	margin-bottom: 0px;
}

.login input[type="text"], .login input[type="password"]{
	border: 1px dotted #999;
	background: transparent;
	padding: 5px;
	margin: 5px 0px;
	background-color: #fff !important;
	border-radius: 2px;
}

.login input:focus[type="text"], .login input:focus[type="password"]{
	border-color: #b71c1c;
	outline: none;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset !important;
}

#login_button, #generate_pwd_button {
	float: right;
	margin-right: -2px;
}