<field-label *ngIf="displayLabel" [fieldname]="fieldname" [fieldconfig]="fieldconfig"></field-label>
<field-generic-display *ngIf="!isEditMode()" [fielddisplayclass]="fielddisplayclass" [fieldconfig]="fieldconfig" [editable]="isEditable()">
    {{getCurrencySymbol()}}
</field-generic-display>
<div *ngIf="isEditable() && isEditMode()" class="slds-form-element__control" [ngClass]="getFieldClass()">
    <div class="slds-select_container slds-m-vertical--xx-small">
        <select class="slds-select" [(ngModel)]="value">
            <option *ngFor="let currency of currencies" [value]="currency.id">{{currency.iso}}
                ({{currency.symbol}})
            </option>
        </select>
    </div>
    <field-messages [fieldname]="fieldname"></field-messages>
</div>
