<field-label *ngIf="displayLabel" [fieldname]="fieldname" [fieldconfig]="fieldconfig"></field-label>
<field-generic-display *ngIf="!isEditMode()" [fielddisplayclass]="fielddisplayclass" [editable]="isEditable()" [fieldconfig]="fieldconfig">
    <span *ngIf="!displayCheckboxes">{{getValue()}}</span>
    <div *ngIf="displayCheckboxes" class="slds-grid slds-grid--align-spread slds-wrap">
        <field-multienum-checkbox [disabled]="true" class="slds-checkbox slds-size--1-of-2 slds-medium-size--1-of-3 slds-large-size--1-of-4" *ngFor="let option of options" [fieldname]="fieldname" [option]="option"></field-multienum-checkbox>
    </div>
</field-generic-display>
<div *ngIf="isEditMode()" class="slds-form-element">
    <div class="slds-grid slds-wrap">
        <!--div class="slds-form-element__control" *ngFor="let row of options" [ngClass]="getFieldClass()" -->
            <field-multienum-checkbox class="slds-checkbox slds-size--1-of-2 slds-medium-size--1-of-3 slds-large-size--1-of-4" *ngFor="let option of options" [fieldname]="fieldname" [option]="option"></field-multienum-checkbox>
        <!--/div-->
    </div>
    <field-messages [fieldname]="fieldname"></field-messages>
</div>