<field-generic-display *ngIf="!isEditMode()" [fielddisplayclass]="fielddisplayclass" [editable]="isEditable()" [fieldconfig]="fieldconfig">
    {{formattedStartDate}}&nbsp;-&nbsp;{{formattedEndDate}}
</field-generic-display>
<div *ngIf="isEditable() && isEditMode()" class="slds-form-element__control slds-p-around--xx-small" [ngClass]="css_classes">
    <fieldset class="slds-form--compound">
        <div class="slds-form-element__group">
            <div class="slds-form-element__row">
                <div class="slds-form-element slds-size--1-of-2">
                    <label class="slds-form-element__label">{{language.getLabel('LBL_DATE_START')}}</label>
                    <system-input-date [(ngModel)]="startDate"></system-input-date>
                </div>
                <div class="slds-form-element slds-size--1-of-2 slds-m-top--none">
                    <label class="slds-form-element__label">{{language.getLabel('LBL_TIME_START')}}</label>
                    <system-input-time [(ngModel)]="startDate"></system-input-time>
                </div>
            </div>
        </div>
        <div class="slds-form-element__group">
            <div class="slds-form-element__row">
                <div class="slds-form-element slds-size--1-of-2">
                    <label class="slds-form-element__label">{{language.getLabel('LBL_DATE_END')}}</label>
                    <system-input-date [(ngModel)]="endDate"></system-input-date>
                </div>
                <div class="slds-form-element slds-size--1-of-2 slds-m-top--none">
                    <label class="slds-form-element__label">{{language.getLabel('LBL_TIME_END')}}</label>
                    <system-input-time [(ngModel)]="endDate"></system-input-time>
                </div>
            </div>
        </div>
    </fieldset>
    <field-messages [fieldname]="fieldname"></field-messages>
</div>