<div class="slds-lookup__item--label slds-text-body--small slds-grid slds-grid--vertical-align-center slds-grid--align-spread">
    {{language.getModuleCombinedLabel('LBL_RECENTLYVIEWED', module)}}
    <button *ngIf="module == 'Users'" system-title="LBL_SET_CURRENT_USER" class="slds-button slds-button--icon" size="xx-small" (mousedown)="setCurrentUser($event)"><system-button-icon icon="user"></system-button-icon></button>
</div>
<ul class="slds-lookup__list" role="listbox">
    <li *ngFor="let recentItem of recentItems" role="presentation" (mousedown)="setParent($event, recentItem)">
        <field-lookup-recent-item [item]="recentItem"></field-lookup-recent-item>
    </li>
</ul>