<field-label *ngIf="displayLabel" [fieldname]="fieldname" [fieldconfig]="fieldconfig"></field-label>
<field-generic-display *ngIf="!isEditMode()" [fielddisplayclass]="fielddisplayclass" [editable]="isEditable()" [fieldconfig]="fieldconfig">
    <div [ngClass]="{'slds-text-align_right' : !fieldconfig.leftalign}">
        {{value}}
    </div>
</field-generic-display>
<div *ngIf="isEditable() && isEditMode()" class="slds-form-element__control slds-grid slds-p-around--xx-small" [ngClass]="getFieldClass()">
    <input class="slds-input" [ngClass]="{'slds-text-align_right' : !fieldconfig.leftalign}" type="number"[(ngModel)]="value" />
    <field-messages [fieldname]="fieldname"></field-messages>
</div>
