<field-label *ngIf="displayLabel" [fieldname]="fieldname" [fieldconfig]="fieldconfig"></field-label>
<field-generic-display *ngIf="!isEditMode()" [fielddisplayclass]="fielddisplayclass" [editable]="isEditable()" [fieldconfig]="fieldconfig">
    <div *ngIf="!displayLink()" class="slds-truncate">
        <span class="slds-p-left--x-small" style="font-style: italic">{{displayTime}}</span>
    </div>
</field-generic-display>
<div *ngIf="isEditable() && isEditMode()">
    <div class="slds-col slds-form-element__control slds-input-has-icon slds-input-has-icon--right" #timefield [ngClass]="getFieldClass()">
        <!--system-utility-icon icon="clock" addclasses="slds-input__icon slds-icon-text-default" (click)="toggleTimePicker()"></system-utility-icon>
        <input class="slds-input" type="text" [ngModelOptions]="modelOptions" [(ngModel)]="editTime" (keyup.arrowup)="editTime = getNextDropdownTime()" (keyup.arrowdown)="editTime = getBeforeDropdownTime()" />
        <div *ngIf="showTimePicker" class="slds-dropdown slds-dropdown--left slds-is-fixed" [ngStyle]="timefieldStyle">
            <ul class="slds-dropdown__list slds-dropdown--length-7" role="menu">
                <li *ngFor="let dropdownTime of dropdownTimes" class="slds-dropdown__item" role="presentation" (click)="setTime(dropdownTime)">
                    <a href="javascript:void(0);" role="menuitem" tabindex="0">
                        <span class="slds-truncate">{{dropdownTime}}</span>
                    </a>
                </li>
            </ul>
        </div-->
        <system-input-time [(ngModel)]="value"></system-input-time>
    </div>
    <field-messages fieldname="{{fieldname}}"></field-messages>
</div>