<field-label *ngIf="displayLabel" [fieldname]="fieldname" [fieldconfig]="fieldconfig"></field-label>
<field-generic-display *ngIf="!isEditMode()" [fielddisplayclass]="fielddisplayclass" [fieldconfig]="fieldconfig" [editable]="isEditable()">
    <div class="slds-grid slds-grid_vertical-align-center slds-text-align_right">
        <div class="slds-form-element slds-size--1-of-2">
            <system-display-number [number]="value" [precision]="precision"></system-display-number>
        </div>
        <system-select-uom [disabled]="true" class="slds-size--1-of-2 slds-p-left--x-small" [(ngModel)]="uomid"></system-select-uom>
    </div>
</field-generic-display>
<div *ngIf="isEditable() && isEditMode()" class="slds-form-element__control" [ngClass]="getFieldClass()">
    <div class="slds-grid slds-grid--align-spread slds-grid--vertical-align-center">
        <div class="slds-form-element slds-size--2-of-3">
            <system-input-number [(ngModel)]="value" [asNumber]="true" [precision]="precision"></system-input-number>
        </div>
        <system-select-uom class="slds-size--1-of-3 slds-p-left--x-small" [(ngModel)]="uomid"></system-select-uom>
    </div>
    <field-messages [fieldname]="fieldname"></field-messages>
</div>
