<ul class="slds-lookup__list" role="listbox">
    <li role="presentation">
        <div class="slds-lookup__item-action slds-media" role="option" (click)="openModal()">
            <div class="slds-grid slds-grid--vertical-align-center">
              <system-icon [icon]="'search'" [sprite]="'utility'" [size]="'x-small'" [addclasses]="'slds-m-vertical--xxx-small slds-m-horizontal--xx-small'"></system-icon>
              <div class="slds-media__body">
                <div class="slds-lookup__result-text">"{{searchTerm}}" in {{language.getModuleName('SpiceACLTerritories')}}</div>
              </div>
            </div>
        </div>
    </li>
    <li *ngFor="let searchterritory of searchterritories" role="presentation" (click)="setTerritory(searchterritory)">
        <span class="slds-lookup__item-action slds-media" role="option">
              <system-icon module="SpiceACLTerritories" [size]="'small'"></system-icon>
              <div class="slds-media__body">
                <div class="slds-lookup__result-text">{{searchterritory.name}}</div>
              </div>
        </span>
    </li>
</ul>