<field-label *ngIf="displayLabel" [fieldname]="fieldname" [fieldconfig]="fieldconfig"></field-label>
<field-generic-display *ngIf="!isEditMode()" [fielddisplayclass]="fielddisplayclass" [editable]="isEditable()" [fieldconfig]="fieldconfig">
    <system-input-cron-expression [readOnly]="true" [ngModel]="value"></system-input-cron-expression>
</field-generic-display>
<div *ngIf="isEditMode()" [ngClass]="css_classes">
    <system-input-cron-expression [(ngModel)]="value"></system-input-cron-expression>
    <field-messages [fieldname]="fieldname"></field-messages>
</div>
