<field-label *ngIf="displayLabel" [fieldname]="fieldname" [fieldconfig]="fieldconfig"></field-label>
<div *ngIf="!isEditMode()" class="slds-text-body--regular slds-truncate slds-m-vertical--small spice-fieldbody">
    <system-stencil *ngIf="model.isLoading; else displaycontent"></system-stencil>
    <ng-template #displaycontent>
        <span>{{getValue()}}</span>
        <button *ngIf="view.isEditable" style="float: right" class="slds-button slds-button--icon" (click)="setEditMode()">
            <system-button-icon [icon]="'edit'"></system-button-icon>
        </button>
    </ng-template>
</div>
<div *ngIf="isEditMode()" class="slds-form-element">
    <div class="slds-form-element__control">
        <div class="slds-grid--vertical">
            <system-input-radio [name]="fieldid" [value]="o.value" *ngFor="let o of options" [(ngModel)]="value" >{{o.display}}</system-input-radio>
        </div>
    </div>
</div>
