<field-label *ngIf="displayLabel" [fieldname]="fieldname" [fieldconfig]="fieldconfig"></field-label>
<field-generic-display *ngIf="!isEditMode()" [fielddisplayclass]="fielddisplayclass" [editable]="isEditable()" [fieldconfig]="fieldconfig">
    <span>{{viewModeValueText}}</span>
</field-generic-display>
<system-multiple-select *ngIf="isEditMode()" [ngModel]="valueArray" (ngModelChange)="setFieldValue($event)" [listItems]="listItems" [groupSeparator]="fieldconfig.groupSeparator" [grouped]="fieldconfig.grouped" [showPills]="fieldconfig.showPills" [listHeight]="fieldconfig.listHeight"></system-multiple-select>
