<field-label *ngIf="displayLabel" [fieldname]="fieldname" [fieldconfig]="fieldconfig"></field-label>
<field-generic-display field-generic-display-notruncate *ngIf="!isEditMode()" [fielddisplayclass]="fielddisplayclass" [editable]="isEditable()" [fieldconfig]="fieldconfig" [fieldid]="fieldid">
    <div class="slds-size--1-of-1 slds-grid slds-grid--vertical-align-center slds-grid--align-spread">
        <div class="slds-grow slds-truncate"><span>{{value}}</span></div>
        <system-tooltip class="slds-m-left--x-small" *ngIf="isvalid" [tooltiptext]="vatInfo"></system-tooltip>
    </div>
</field-generic-display>
<div *ngIf="isEditable() && isEditMode()" class="slds-form-element__control slds-grid slds-grid--align-spread"
     [ngClass]="getFieldClass()">
    <div class="slds-grid slds-size--1-of-1">
        <ng-container *ngIf="!isvalidating; else validating">
            <input #focus class="slds-input" type="text" [(ngModel)]="value"/>
            <div class="slds-col_bump-left slds-grid slds-grid--vertical-align-center">
                <system-tooltip class="slds-m-left--x-small" *ngIf="isvalid" [tooltiptext]="vatInfo"></system-tooltip>
                <button class="slds-button slds-button--neutral slds-m-left--x-small" [disabled]="!cancheck" (click)="validate()"><system-label label="LBL_CHECK"></system-label></button>
            </div>
        </ng-container>
        <ng-template #validating>
            <input #focus class="slds-input slds-size--1-of-1" type="text" value="{{language.getLabel('LBL_VALIDATING')}}" disabled>
        </ng-template>
    </div>
    <field-messages [fieldname]="fieldname"></field-messages>
</div>
