<div class="slds-grid slds-grid--vertical-align-center slds-p-horizontal--small slds-p-vertical--xx-small slds-border--top" role="option" (mousedown)="addParent()">
    <system-icon [icon]="'add'" [sprite]="'utility'" [size]="'x-small'" [addclasses]="'slds-m-vertical--xxx-small slds-m-horizontal--xx-small'"></system-icon>
    <div class="slds-media__body">
        <div class="slds-lookup__result-text"><system-label label="LBL_CREATE"></system-label>: <system-label-modulename [module]="module" [singular]="true"></system-label-modulename></div>
    </div>
</div>

