<div *ngIf="!searchTerm && !searchFavorites" style="overflow: hidden">
    <div class="slds-grid" [@treeanimation]="shifttree" [ngStyle]="boxStyle">
        <div class="slds-col slds-size--1-of-3 slds-border--right slds-height_full slds-scrollable--y">
            <div *ngFor="let cat of levelCategories(0); trackBy: trackByFn" [ngClass]="{'slds-theme--shade': isCategorySelected(0, cat)}">
                <div class="slds-truncate slds-p-around--xx-small" [title]="cat.node_description ?? cat.node_name" (mouseenter)="select(0, cat)" (click)="choose(0, cat)">
                    <span [ngStyle]="nodeStyle(cat)"><system-label [label]="cat.node_name"></system-label></span>
                </div>
            </div>
        </div>
        <div class="slds-col slds-size--1-of-3 slds-border--right slds-height_full slds-scrollable--y">
            <div *ngFor="let cat of levelCategories(1); trackBy: trackByFn" [ngClass]="{'slds-theme--shade': isCategorySelected(1, cat)}">
                <div class="slds-truncate slds-p-around--xx-small" [title]="cat.node_description ?? cat.node_name" (mouseenter)="select(1, cat)" (click)="choose(1, cat)">
                    <span [ngStyle]="nodeStyle(cat)"><system-label [label]="cat.node_name"></system-label></span>
                </div>
            </div>
        </div>
        <div class="slds-col slds-size--1-of-3 slds-border--right slds-height_full slds-scrollable--y">
            <div *ngFor="let cat of levelCategories(2); trackBy: trackByFn" [ngClass]="{'slds-theme--shade': isCategorySelected(2, cat)}">
                <div class="slds-truncate slds-p-around--xx-small" [title]="cat.node_description ?? cat.node_name" (mouseenter)="select(2, cat)" (click)="choose(2, cat)">
                    <span [ngStyle]="nodeStyle(cat)"><system-label [label]="cat.node_name"></system-label></span>
                </div>
            </div>
        </div>
        <div class="slds-col slds-size--1-of-3  slds-height_full slds-scrollable--y">
            <div *ngFor="let cat of levelCategories(3); trackBy: trackByFn" [ngClass]="{'slds-theme--shade': isCategorySelected(3, cat)}">
                <div class="slds-truncate slds-p-around--xx-small" [title]="cat.node_description ?? cat.node_name" (mouseenter)="select(3, cat)" (click)="choose(3, cat)">
                    <span [ngStyle]="nodeStyle(cat)"><system-label [label]="cat.node_name"></system-label></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="searchTerm && !searchFavorites" class="slds-dropdown_length-10">
    <div *ngFor="let node of getMatchedNodes(); trackBy: trackByCatId" class="slds-truncate slds-p-around--xx-small" style="cursor: pointer">
        <ul class="slds-list_horizontal slds-has-dividers_left slds-has-block-links" (click)="selectNode(node)">
            <li *ngFor="let cat of node.levels" class="slds-item" [title]="cat.node_description ?? cat.node_name"><system-label [label]="cat.node_name"></system-label></li>
        </ul>
    </div>
    <div *ngIf="getMatchedNodes().length == 0" class="slds-height_full slds-align--absolute-center slds-p-around--x-large">
        <system-illustration-no-records>
            <system-label label="LBL_NO_RECORDS_FOUND"></system-label>
        </system-illustration-no-records>
    </div>
</div>
<div *ngIf="searchFavorites" class="slds-dropdown_length-10">
    <div *ngFor="let node of getFavoriteNodes(); trackBy: trackByCatId" class="slds-truncate slds-p-around--xx-small" style="cursor: pointer">
        <ul class="slds-list_horizontal slds-has-dividers_left slds-has-block-links"  (click)="selectNode(node)">
            <li *ngFor="let cat of node.levels" class="slds-item" [title]="cat.node_description ?? cat.node_name"><system-label [label]="cat.node_name"></system-label></li>
        </ul>
    </div>
    <div *ngIf="getFavoriteNodes().length == 0" class="slds-height_full slds-align--absolute-center slds-p-around--x-large">
        <system-illustration-no-records>
            <system-label label="LBL_NO_RECORDS_FOUND"></system-label>
        </system-illustration-no-records>
    </div>
</div>
