<field-label *ngIf="displayLabel" [fieldname]="fieldname" [fieldconfig]="fieldconfig"></field-label>
<field-generic-display *ngIf="!isEditMode()" [fielddisplayclass]="fielddisplayclass" [fieldconfig]="fieldconfig" [editable]="isEditable()">
    <div class="slds-grid slds-grid--align-end">
        <system-display-number [number]="value" [currency_id]="currencyId"></system-display-number>
    </div>
</field-generic-display>
<div *ngIf="isEditable() && isEditMode()" class="slds-form-element__control" [ngClass]="getFieldClass()">
    <div class="slds-grid slds-m-vertical--xx-small">
        <div *ngIf="currencyidfield" class="slds-form-element slds-p-right--x-small" [ngClass]="{'slds-size--1-of-4':!fieldconfig.currencyReadonly}">
            <div *ngIf="fieldconfig.currencyReadonly" class="slds-height_full slds-align--absolute-center slds-p-around--none" style="border-color:transparent">
                    {{getCurrencySymbol()}}&nbsp;
            </div>
            <div *ngIf="!fieldconfig.currencyReadonly" class="slds-form-element__control">
                <div class="slds-select_container">
                    <select class="slds-select" [(ngModel)]="currencyId">
                        <option *ngFor="let currency of currencies" [value]="currency.id">{{currency.iso}}
                            ({{currency.symbol}})
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="slds-form-element slds-grow">
            <input #floatinput class="slds-input slds-text-align--right" (keydown)="checkInput($event)" (keyup)="changed()" [(ngModel)]="textvalue"/>
        </div>
    </div>
    <field-messages [fieldname]="fieldname"></field-messages>
</div>
