<system-modal>
    <system-modal-header (close)="closeModal()"><system-label label="LBL_UNACCEPTED_REVISIONS"></system-label></system-modal-header>
    <system-modal-content margin="none" [system-modal-content-grow]="false" class="slds-scrollable_none">
        <div class="slds-scrollable--y" >
                <div class="slds-scrollable--y slds-height_full">
                    <div *ngFor="let relatedRevision of relatedRevisions" class="slds-cell slds-grid">
                        <div (click)="preview(relatedRevision.id)" class="slds-box_link slds-media  slds-size_11-of-12">
                            <div class="slds-media__body">
                                <div class="slds-welcome-mat__tile-body">
                                    <h3 class="slds-welcome-mat__tile-title">
                                        <system-label label="LBL_DOCUMENT_NAME"></system-label>:
                                        {{ relatedRevision.document_name }}
                                    </h3>
                                    <p class="slds-welcome-mat__tile-description">
                                        <system-label label="LBL_REVISION_NAME"></system-label>:
                                        {{ relatedRevision.name }} / {{ relatedRevision.revision }}
                                    </p>
                                    <p class="slds-welcome-mat__tile-description">
                                        <system-label label="LBL_RELEASE_DATE"></system-label>:
                                        <system-display-datetime [date]="relatedRevision.date_entered"></system-display-datetime>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div (click)="accept(relatedRevision.id)" class="slds-box_link slds-media slds-size_1-of-12" >
                            <system-utility-icon class="slds-align--absolute-center" icon="check"></system-utility-icon>
                        </div>
                    </div>
                </div>
        </div>
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="closeModal()"><system-label label="LBL_CLOSE"></system-label></button>
    </system-modal-footer>
</system-modal>
