<system-modal>
    <system-modal-header (close)="closeModal()"><system-label label="LBL_UNAPPROVED_REVISIONS"></system-label></system-modal-header>
    <system-modal-content [system-modal-content-grow]="false" class="slds-scrollable_none">
        <div class="slds-scrollable--y" >
                <div class="slds-scrollable--y slds-height_full">
                    <div *ngFor="let relatedRevision of relatedRevisions" class="slds-cell-buffer--left">
<!--                        <object-record-fieldset direction="horizontal" [fieldset]="fieldset"></object-record-fieldset>-->
                        <a (click)="process(relatedRevision.id)" class="slds-box_link slds-media" href="javascript:void(0);">
                            <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center">
                            </div>
                            <div class="slds-media__body">
                                <div class="slds-welcome-mat__tile-body">
                                    <h3 class="slds-welcome-mat__tile-title">
                                        <system-label [label]="relatedRevision.document_name"></system-label>
                                    </h3>
                                    <p class="slds-welcome-mat__tile-description">
                                        <system-label label="LBL_REVISION_NUMBER"></system-label>:
                                        <system-label [label]="relatedRevision.revision"></system-label>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
        </div>
    </system-modal-content>
</system-modal>
