<system-modal size="large">
    <system-modal-header (close)="close()">
        <system-label label="LBL_SHARE"/>
    </system-modal-header>
    <system-modal-content [grow]="true" margin="none">
        <div class="slds-grid slds-height_full slds-size--1-of-1">
            <div class="slds-size--1-of-2 slds-border--right slds-p-around--small">
                <div class="slds-form-element slds-size--1-of-1 slds-m-bottom--medium slds-box">
                    <label class="slds-form-element__label slds-m-bottom--small">
                        <abbr class="slds-required">*</abbr><system-label label="LBL_CHANNELS"></system-label>
                    </label>
                    <div class="slds-form-element__control">
                        <system-checkbox-group [(ngModel)]="selectedChannels">
                            @for (channel of availableChannels; track $index) {
                                <system-checkbox-group-checkbox [value]="channel.id">
                                    {{channel.name}}
                                </system-checkbox-group-checkbox>
                            }
                        </system-checkbox-group>
                    </div>
                </div>
                <div class="slds-form-element slds-size--1-of-1 slds-m-bottom--medium">
                    <label class="slds-form-element__label">
                        <abbr class="slds-required">*</abbr><system-label label="LBL_MEDIA_ARTICLE_PART"></system-label>
                    </label>
                    <div class="slds-form-element__control">
                        <system-select [(ngModel)]="textField" [idOnly]="true" (ngModelChange)="setTextFieldDisplay($event)">
                            <system-select-option value="text_default" [display]="'LBL_TEXT_DEFAULT' | systemtranslate"/>
                            <system-select-option value="text_short" [display]="'LBL_TEXT_SHORT' | systemtranslate"/>
                            <system-select-option value="text_long" [display]="'LBL_TEXT_LONG' | systemtranslate"/>
                        </system-select>
                    </div>
                </div>
                <div class="slds-size--1-of-1 slds-m-bottom--medium">
                    <system-checkbox [(ngModel)]="publishNow" (ngModelChange)="plannedPublishDate = null">
                        <system-label label="LBL_PUBLISH_NOW"/>
                    </system-checkbox>
                </div>
                @if (!publishNow) {
                    <div class="slds-form-element slds-size--1-of-1 slds-m-bottom--medium">
                        <label class="slds-form-element__label">
                            <system-label label="LBL_PLANNED_PUBLISH_DATE"></system-label>
                        </label>
                        <div class="slds-form-element__control">
                            <div class="slds-grid">
                                <system-input-date [(ngModel)]="plannedPublishDate" class="slds-size--1-of-2 slds-p-right--xxx-small"></system-input-date>
                                <system-input-time [(ngModel)]="plannedPublishDate" class="slds-size--1-of-2 slds-p-left--xxx-small"></system-input-time>
                            </div>
                        </div>
                    </div>
                }
                <div [system-overlay-loading-spinner]="relatedModels.isloading" class="slds-size--1-of-1">
                    <label class="slds-form-element__label slds-m-bottom--small">
                        <system-label label="LBL_MEDIAFILES"></system-label>
                    </label>
                    @for (mediaFile of mediaFiles; track $index) {
                        <div [system-model-provider]="{module: 'MediaFiles', id: mediaFile.id, data: mediaFile}" class="slds-grid slds-box slds-m-bottom--xx-small">
                            <system-checkbox [(ngModel)]="mediaFile.selected"></system-checkbox>
                            <div class="slds-m-right--small slds-align-middle">
                                <img [src]="mediaFile.thumbnail_file" alt="thumbnail image" style="width: 120px"/>
                            </div>
                            <field-container field="name" class="slds-m-right--small"/>
                            <field-container field="file_size_readable" [fieldconfig]="{label: 'LBL_SIZE'}" class="slds-m-right--small"/>
                            <field-container field="media_article_image_size"/>
                        </div>
                    }
                </div>
            </div>
            <div class="slds-size--1-of-2 slds-p-around--small">
                <div class="slds-m-bottom--medium">
                    {{textFieldDisplay}}
                </div>
                <div class="slds-grid slds-wrap">
                    @for (mediaFile of mediaFiles; track $index) {
                        @if (mediaFile.selected) {
                            <img [src]="mediaFile.thumbnail_file" alt="thumbnail image" style="width: 250px" class="slds-m-around--xx-small"/>
                        }
                    }
                </div>
            </div>
        </div>
    </system-modal-content>
    <system-modal-footer>
        <button (click)="close()" class="slds-button slds-button--neutral"><system-label label="LBL_CANCEL"/></button>
        <button (click)="share()" [disabled]="selectedChannels.length == 0 || !textField" class="slds-button slds-button--brand"><system-label label="LBL_SHARE"/></button>
    </system-modal-footer>
</system-modal>