<div class="slds-is-fixed slds-box--border slds-dropdown slds-dropdown--right slds-m-right--small slds-m-top--medium">
    <div class="slds-grid slds-p-around--small slds-grid--vertical-align-center">
        <global-user-panel-icon/>
        <div class="slds-m-left--small">
            <h1 class="slds-text-heading--medium" [ngClass]="{'slds-text-link--reset': canOpenUser}" [title]="userName" (click)="goDetails()">{{displayName}}</h1>
        </div>
    </div>
    <div class="slds-theme--shade slds-p-around--small slds-border--top slds-border--bottom slds-grid slds-grid--vertical-align-center">
        <ul class="slds-list--horizontal slds-has-dividers--left slds-col--bump-right">
            <li class="slds-item">
                <button class="slds-button slds-button--icon" (click)="openPreferences()" system-title="LBL_PREFERENCES">
                    <system-button-icon icon="user_role"></system-button-icon>
                </button>
            </li>
            <li class="slds-item">
                <button class="slds-button slds-button--icon" (click)="editSignature()" system-title="LBL_SIGNATURE">
                    <system-button-icon icon="signature"></system-button-icon>
                </button>
            </li>
            <li *ngIf="canChangePassword" class="slds-item">
                <button class="slds-button slds-button--icon" (click)="changePassword()" system-title="LBL_CHANGE_PASSWORD">
                    <system-button-icon icon="password"></system-button-icon>
                </button>
            </li>
            <li *ngIf="canChange2fa" class="slds-item">
                <button class="slds-button slds-button--icon" (click)="set2FA()" system-title="LBL_2FA">
                    <!--system-button-icon  icon="key"></system-button-icon-->
                    <system-utility-icon icon="key" size="xx-small" [colorclass]="!session.authData.user.user_2fa_method ? 'slds-icon-text-light' : 'slds-icon-text-success'"></system-utility-icon>
                </button>
            </li>
        </ul>
        <ul *ngIf="displayDeveloperMode" class="slds-list--horizontal slds-has-dividers--left">
            <li class="slds-item">
                <button class="slds-button slds-button--icon" (click)="clearCache()" system-title="LBL_RESET_AND_RELOAD">
                    <system-button-icon icon="refresh"></system-button-icon>
                </button>
            </li>
            <li class="slds-item">
                <button class="slds-button slds-button--icon" (click)="goAdmin()" system-title="LBL_WORKBENCH">
                    <system-button-icon icon="settings"></system-button-icon>
                </button>
            </li>
        </ul>
    </div>
    <!--div class="OptionsSeparator"><system-label label="LBL_OPTIONS"></system-label></div-->
    <div class="slds-p-around--small slds-form--stacked">
        <system-language-selector (selected)="close()"/>
        <div class="slds-form-element">
            <label class="slds-form-element__label"><system-label label="LBL_SELECT_TIMEZONE"/></label>
            <system-input-timezone [(ngModel)]="currentTz" denyEmpty="true"/>
        </div>
    </div>
    <div class="slds-theme--shade slds-p-around--x-small slds-grid">
        <div class="slds-grid slds-grid--vertical-align-center">
            <system-utility-icon class="slds-p-right--xx-small" *ngIf="socket.connected" size="xx-small" system-title="LBL_SOCKET_CONNECTED" icon="omni_channel"/>
        </div>
        <div class="slds-col--bump-left">
            <button class="slds-button slds-button--icon" system-title="LBL_LOGOFF" (click)="logoff()">
                <system-button-icon icon="logout"/>
            </button>
        </div>
    </div>
</div>
