<li class="slds-tabs_default__item slds-sub-tabs__item slds-grid slds-grid_vertical-align-center" [ngClass]="{'slds-active': isActive, 'slds-border--left': !ismain}" role="presentation">
    <a class="slds-tabs_default__link slds-p-horizontal_xx-small" href="javascript:void(0);" role="tab" (click)="setActive()" >
        <div class="slds-truncate slds-grid slds-grid--vertical-align-center">
            <ng-container *ngIf="tabname; else tabloading">
                <system-utility-icon *ngIf="tabicon" [icon]="tabicon" size="x-small" class="slds-p-right--x-small"></system-utility-icon>
                <system-icon *ngIf="tabmodule" [module]="tabmodule" size="x-small" divClass="slds-p-right--x-small"></system-icon>
                <div class="slds-truncate" style="white-space: nowrap;"><system-label [label]="tabname"></system-label></div>
            </ng-container>
            <ng-template #tabloading>
                <system-spinner size="10" class="slds-p-right--x-small"></system-spinner>
                <div><system-label label="LBL_LOADING"></system-label></div>
            </ng-template>
        </div>
    </a>
    <div *ngIf="!ismain" class="slds-col_bump-left slds-p-left_none slds-p-right_none slds-grid">
        <button class="slds-button slds-button_icon slds-button_icon-container slds-button_icon-x-small slds-m-around--none" (click)="pintab()" system-title="LBL_PIN_TAB">
            <system-button-icon [icon]="pinned ? 'pinned' : 'pin'"></system-button-icon>
        </button>
        <button class="slds-button slds-button_icon slds-button_icon-container slds-button_icon-x-small" tabindex="0" (click)="closeSubTab()" system-title="LBL_CLOSE_TAB">
            <system-button-icon icon="close"></system-button-icon>
        </button>
    </div>
</li>
