<div class="slds-context-bar__item">
    <a href="javascript:void(0);" class="slds-context-bar__label-action slds-scrollable--none" (click)="setActive()" (contextmenu)="openContextMenu($event, contextMenu);">
        <div class="slds-grid slds-grid--vertical-align-center">
            <ng-container *ngIf="tabname; else tabloading">
                <system-utility-icon *ngIf="tabicon" [icon]="tabicon" size="x-small" class="slds-p-right--x-small"></system-utility-icon>
                <system-icon *ngIf="tabmodule" [module]="tabmodule" size="x-small" divClass="slds-p-right--x-small"></system-icon>
                <div class="slds-truncate" style="white-space: nowrap;"><system-label [label]="tabname"></system-label></div>
            </ng-container>
            <ng-template #tabloading>
                <system-spinner size="10" class="slds-p-right--x-small"></system-spinner>
                <div><system-label label="LBL_LOADING"></system-label></div>
            </ng-template>
        </div>
    </a>
    <div class="slds-context-bar__icon-action">
        <button class="slds-button slds-button_icon slds-button_icon-container slds-button_icon-x-small slds-m-around--none" (click)="pintab()" system-title="LBL_PIN_TAB">
            <system-button-icon [icon]="pinned ? 'pinned' : 'pin'"></system-button-icon>
        </button>
        <button class="slds-button slds-button_icon slds-button_icon-container slds-button_icon-x-small slds-m-around--none" aria-haspopup="true" (click)="closetab()" system-title="LBL_CLOSE_TAB">
            <system-button-icon icon="close"></system-button-icon>
        </button>
    </div>
    <div #contextMenu [class.slds-hide]="!showContextMenu" class="slds-popover slds-text-color--default slds-box_small slds-theme_shade slds-popover_tooltip slds-nubbin--top-left slds-rise-from-ground slds-is-absolute" role="tooltip" style="top: 36px; left: 10px; width: 200px; height: auto;">
        <button (click)="closetab()" class="slds-p-left--small slds-button" system-title="LBL_CLOSE_TAB"><system-label label="LBL_CLOSE_TAB"/></button><br>
        <button [disabled]="buttonCloseOtherTabsDisabled" (click)="closeOtherTabs()" class="slds-p-top_xx-small slds-p-left--small slds-button" system-title="LBL_CLOSE_OTHER_TABS"><system-label label="LBL_CLOSE_OTHER_TABS"/></button><br>
        <button [disabled]="buttonCloseTabsToRightDisabled" (click)="closeTabsRight()" class="slds-p-top_xx-small slds-p-left--small slds-button" system-title="LBL_CLOSE_TABS_TO_THE_RIGHT"><system-label label="LBL_CLOSE_TABS_TO_THE_RIGHT"/></button>
    </div>
</div>