<td class="slds-hide--medium">
    <div class="slds-grid slds-grid--vertical-align-center slds-p-around--xx-small">
        <system-icon [module]="model.module" size="xx-small" divClass="slds-p-right--xx-small"></system-icon>
        <div class="slds-text-align--left slds-truncate slds-grow" (click)="navigateDetail($event)">{{model.data.summary_text}}</div>
        <system-utility-icon [icon]="expandicon" size="xx-small" (click)="toggleexpanded()"></system-utility-icon>
    </div>
</td>
<ng-container *ngIf="isexpanded">
    <td *ngFor="let item of listfields" scope="row" (click)="navigateDetail($event)" [attr.data-label]="language.getFieldDisplayName(module, item.field)">
        <field-container [field]="item.field" [fieldconfig]="item.fieldconfig" [fielddisplayclass]="'slds-truncate'"></field-container>
    </td>
</ng-container>