<ul role="listbox">
    <li role="presentation" (click)="goRecent()">
           <span class="slds-lookup__item-action slds-media slds-media--center" role="option">
               <system-icon icon="breadcrumbs" size="small" sprite="utility"></system-icon>
               <div class="slds-media__body">
                    <div class="slds-lookup__result-text"><system-label label="LBL_RECENTLYVIEWED"></system-label></div>
               </div>
           </span>
    </li>
    <li class="slds-p-bottom--small" *ngIf="!recent.isInitialized">
        <system-spinner size="16" ></system-spinner>
    </li>
    <li global-header-search-recent-item *ngFor="let item of recent.recentItems.slice(0, 10)" [item]="item" (selected)="selected.emit(true)"></li>
</ul>
