<div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-p-horizontal--xxx-small"
     [ngClass]="{'slds-is-open': isOpen}">
    <button class="slds-button slds-global-header__button--icon slds-p-vertical--xxx-small" (click)="toggleOpen()">
        <system-utility-icon [icon]="'add'" [size]="'x-small'"></system-utility-icon>
    </button>
    <div class="slds-is-absolute slds-dropdown slds-dropdown_right slds-nubbin_top-right" style="right:-10px;top:25px;">
        <ul class="slds-dropdown__list" role="menu">
            <li #actioncontainerheader class="slds-dropdown__header" role="separator">
                <span class="slds-text-title_caps">{{language.getLabel('LBL_CREATE')}}</span>
            </li>
        </ul>
    </div>
</div>