<div class="slds-is-fixed slds-box--border slds-dropdown slds-dropdown--right slds-m-right--small slds-m-top--medium">
    <div class="slds-grid slds-p-around--small slds-grid--vertical-align-center">
        <global-user-panel-icon></global-user-panel-icon>
        <div class="slds-m-left--small">
            <h1 class="slds-text-heading--medium" [title]="userName">{{displayName}}</h1>
        </div>
    </div>
    <div class="slds-theme--shade slds-p-around--small slds-border--top slds-border--bottom">
        <ul class="slds-list--horizontal slds-has-dividers--left">
            <li class="slds-item">
                <a href="javascript:void(0);" class="slds-text-link--reset" (click)="goDetails()"><system-label label="LBL_DETAILS"></system-label></a>
            </li>
            <li *ngIf="canChangePassword" class="slds-item">
                <a href="javascript:void(0);" class="slds-text-link--reset" (click)="changePassword()"><system-label label="LBL_CHANGE_PASSWORD"></system-label></a>
            </li>
        </ul>
    </div>
    <!--div class="OptionsSeparator"><system-label label="LBL_OPTIONS"></system-label></div-->
    <div class="slds-p-around--small slds-form--stacked">
        <system-language-selector></system-language-selector>
        <div class="slds-form-element">
            <label class="slds-form-element__label"><system-label label="LBL_SELECT_TIMEZONE"></system-label></label>
            <system-input-timezone [(ngModel)]="currentTz" ></system-input-timezone>
        </div>
    </div>
    <div class="slds-theme--shade slds-p-around--x-small slds-grid">
        <div class="slds-grid slds-grid--vertical-align-center">
            <system-utility-icon class="slds-p-right--xx-small" *ngIf="socket.connected" size="xx-small" icon="omni_channel"></system-utility-icon>
            <system-label label="LBL_LOGGED_ON_SYSTEM"></system-label>: {{systemName}}
        </div>
        <div class="slds-col--bump-left">
            <system-utility-icon icon="logout" size="x-small" system-title="LBL_LOGOFF" (click)="logoff()"></system-utility-icon>
        </div>
    </div>
</div>
