<div class="slds-context-bar__item" >
    <a href="javascript:void(0);" class="slds-context-bar__label-action slds-scrollable--none" (click)="setActive()" >
        <div class="slds-grid slds-grid--vertical-align-center">
            <ng-container *ngIf="tabname; else tabloading">
                <system-utility-icon *ngIf="tabicon" [icon]="tabicon" size="x-small" class="slds-p-right--x-small"></system-utility-icon>
                <system-icon *ngIf="tabmodule" [module]="tabmodule" size="x-small" divClass="slds-p-right--x-small"></system-icon>
                <div class="slds-truncate" style="white-space: nowrap;">{{tabname}}</div>
            </ng-container>
            <ng-template #tabloading>
                <system-spinner size="10" class="slds-p-right--x-small"></system-spinner>
                <div><system-label label="LBL_LOADING"></system-label></div>
            </ng-template>
        </div>
    </a>
    <div class="slds-context-bar__icon-action">
        <button class="slds-button slds-button_icon slds-button_icon-container slds-button_icon-x-small slds-m-around--none" (click)="pintab()" system-title="LBL_PIN_TAB">
            <system-button-icon [icon]="pinned ? 'pinned' : 'pin'"></system-button-icon>
        </button>
        <button class="slds-button slds-button_icon slds-button_icon-container slds-button_icon-x-small slds-m-around--none" aria-haspopup="true" (click)="closetab()" system-title="LBL_CLOSE_TAB">
            <system-button-icon icon="close"></system-button-icon>
        </button>
    </div>
</div>
