<div *ngIf="showContextMenu" [class.slds-hide]="!showContextMenu" class="slds-popover slds-p-vertical--xx-small slds-nubbin--top-left slds-is-absolute" role="tooltip" style="top: 41px; left: 10px;">
    <ul class="slds-dropdown__list" role="menu">
        <li [class.slds-hide]="buttonCloneDisabled" class="slds-dropdown__item" role="presentation">
            <a href="javascript:void(0);" role="menuitem" (click)="clonetab()">
                <span class="slds-truncate" system-title="LBL_CLONE_TAB"><system-label label="LBL_CLONE_TAB"/></span>
            </a>
        </li>
        <li class="slds-dropdown__item" role="presentation">
            <a href="javascript:void(0);" role="menuitem" (click)="closetab()">
                <span class="slds-truncate" system-title="LBL_CLOSE_TAB"><system-label label="LBL_CLOSE_TAB"/></span>
            </a>
        </li>
        <li *ngIf="buttonCloseOtherTabsDisabled" class="slds-dropdown__item" role="presentation">
            <a href="javascript:void(0);" role="menuitem" (click)="closeTabs('other', this.object.id)">
                <span class="slds-truncate" system-title="LBL_CLOSE_OTHER_TABS"><system-label label="LBL_CLOSE_OTHER_TABS"/></span>
            </a>
        </li>
        <li *ngIf="buttonCloseTabsToLeftDisabled" class="slds-dropdown__item" role="presentation">
            <a href="javascript:void(0);" role="menuitem" (click)="closeTabs('left', this.object.id)">
                <span class="slds-truncate" system-title="LBL_CLOSE_TABS_TO_THE_LEFT"><system-label label="LBL_CLOSE_TABS_TO_THE_LEFT"/></span>
            </a>
        </li>
        <li *ngIf="buttonCloseTabsToRightDisabled" class="slds-dropdown__item" role="presentation">
            <a href="javascript:void(0);" role="menuitem" (click)="closeTabs('right', this.object.id)">
                <span class="slds-truncate" system-title="LBL_CLOSE_TABS_TO_THE_RIGHT"><system-label label="LBL_CLOSE_TABS_TO_THE_RIGHT"/></span>
            </a>
        </li>
        <li [class.slds-hide]="buttonMoveTabToMainTabsHidden" class="slds-dropdown__item" role="presentation">
            <a href="javascript:void(0);" role="menuitem" (click)="moveSubTabToMainTabs()">
                <span class="slds-truncate" system-title="LBL_MOVE_TO_MAINTABS"><system-label label="LBL_MOVE_TO_MAINTABS"/></span>
            </a>
        </li>
    </ul>
</div>