<div class="slds-show--medium slds-dropdown-trigger slds-dropdown-trigger_click slds-p-horizontal--xxx-small"
     [ngClass]="{'slds-is-open': isOpen}">
    <div class="slds-p-around--xx-small" (click)="toggleOpen()">
        <system-utility-icon [icon]="'add'" [size]="'x-small'"></system-utility-icon>
    </div>
    <div class="slds-is-absolute slds-dropdown--medium slds-dropdown slds-dropdown_right slds-nubbin_top-right" style="right:-11px;top:29px;">
        <ul class="slds-dropdown__list" role="menu">
            <li #actioncontainerheader class="slds-dropdown__header" role="separator">
                <span class="slds-text-title_caps"><system-label label="LBL_CREATE"></system-label></span>
            </li>
        </ul>
    </div>
</div>
