<div class="slds-grid slds-wrap slds-is-absolute slds-size--1-of-1" style="height:100vh; top: 0px;">
    <div class="slds-align--absolute-center slds-size--1-of-1 slds-large-size--1-of-2">
        <div class="slds-size--1-of-1 slds-medium-size--2-of-3 slds-p-around--medium">
            <!--div class="spiceLoginLogo"-->
            <div class="slds-align--absolute-center slds-p-vertical--medium">
                <img src="./config/loginimage"/>
            </div>
            <div class="slds-box--border" *ngIf="!loginService.session.authData.sessionId && promptUser">
                <div class="slds-p-around--medium">
                    <form *ngIf="!showForgotPass" (submit)="login($event)">
                        <div class="slds-form-element slds-m-vertical--small">
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--left">
                                <system-utility-icon [icon]="'user'" [addclasses]="'slds-input__icon slds-icon-text-default'"></system-utility-icon>
                                <input type="text" name="username" autocomplete  [(ngModel)]="username" class="slds-input slds-p-horizontal--large slds-p-vertical--small" tabindex="1"/>
                            </div>
                        </div>
                        <div class="slds-form-element slds-m-vertical--small">
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--left">
                                <system-utility-icon [icon]="'lock'" [addclasses]="'slds-input__icon slds-icon-text-default'"></system-utility-icon>
                                <input type="password" name="password" autocomplete  [(ngModel)]="password" class="slds-input slds-p-horizontal--large slds-p-vertical--small" tabindex="2"/>
                            </div>
                        </div>
                        <div *ngIf="sites.length > 1" class="slds-form-element slds-m-vertical--small">
                            <div class="slds-form-element__control">
                                <div class="slds-select_container slds-m-vertical--xx-small">
                                    <select name="currentsite" class="slds-select slds-p-horizontal--large" [ngModel]="currentSiteId" (change)="setSite($event)">
                                        <option *ngFor="let site of sites" [value]="site.id">
                                            {{site.display}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="getLanguages().length > 1" class="slds-form-element slds-m-vertical--small">
                            <div class="slds-form-element__control">
                                <div class="slds-select_container slds-m-vertical--xx-small">
                                    <select class="slds-select slds-p-horizontal--large" name="selectLang" [(ngModel)]="selectedlanguage">
                                        <option *ngFor="let lang of getLanguages()" [value]="lang.language">
                                            {{lang.text}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="submit" value="Submit" class="slds-button slds-button--brand slds-button_stretch" tabindex="0">Login</button>
                        <global-login-google (googletoken)="doLogin()"></global-login-google>
                    </form>
                    <div class="slds-p-vertical--x-small slds-grid slds-grid--align-spread slds-grid_vertical-align-center"
                         *ngIf="configuration.getData('allowForgotPass')">
                        <div class="slds-truncate slds-text-body_small" title="Forgot password">Forgot password</div>
                        <button class="slds-button" (click)="showForgotPassword()">
                            <system-button-icon *ngIf="!showForgotPass" [icon]="'chevrondown'" [size]="'xx-small'"></system-button-icon>
                            <system-button-icon *ngIf="showForgotPass" [icon]="'chevronup'" [size]="'xx-small'"></system-button-icon>
                        </button>
                    </div>
                    <global-login-forgot-password class="slds-col" *ngIf="showForgotPass" (hasNewPassword)="showForgotPass = $event"></global-login-forgot-password>
                </div>
            </div>
            <global-login-reset-password *ngIf="loginService.session.authData.renewPass" [oldpassword]="password"></global-login-reset-password>
            <ng-container *ngIf="loginService.session.authData.sessionId && !loginService.session.authData.renewPass">
                <system-loader-progress></system-loader-progress>
            </ng-container>
        </div>
        <div class="slds-is-absolute" style="bottom: 10px;">
            © 2015 - 2019 aac services k.s. All rights reserved.
        </div>
    </div>
    <div *ngIf="promptUser && showSidebar" class="slds-size--1-of-1 slds-large-size--1-of-2 slds-height_full" [class.slds-scrollable--y]="!showExternalSidebar">
        <iframe *ngIf="showExternalSidebar" [src]="externalSidebarUrl" style="border:none;width:100%;height:100%"></iframe>
        <ng-container *ngIf="showNewsfeed">
            <global-newsfeed></global-newsfeed>
        </ng-container>
    </div>
</div>