<div class="slds-page-header">
    <div class="slds-page-header__row">
        <div class="slds-page-header__col-title">
            <div class="slds-media">
                <div class="slds-media__body">
                    <div class="slds-page-header__name">
                        <div class="slds-page-header__name-title">
                            <h1>
                                <span class="slds-page-header__title slds-truncate">{{language.getLabel('LBL_RECENT_ITEMS')}}</span>
                            </h1>
                        </div>
                    </div>
                    <p class="slds-page-header__name-meta">{{recent.items.length}} {{language.getLabel('LBL_ITEMS')}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div tobottom>
    <table class="slds-table slds-table--bordered slds-table--fixed-layout slds-table--header-fixed" role="grid" >
        <thead>
            <tr class="slds-text-title--caps">
                <th class="slds-cell-shrink" scope="col">
                </th>
                <th class="slds-is-sortable slds-is-resizable " scope="col">
                    <span class="slds-truncate slds-th__action">{{language.getLabel('LBL_NAME')}}</span>
                </th>
                <th class="slds-is-sortable slds-is-resizable " scope="col">
                    <span class="slds-truncate slds-th__action">{{language.getLabel('LBL_MODULE')}}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let recentItem of recent.items" class="slds-hint-parent">
                <td role="gridcell" class="slds-cell-shrink">
                    <system-icon [module]="recentItem.module_name" size="small" divClass=""></system-icon>
                </td>
                <td scope="row">
                    <a href="javascript:void(0);" class=" slds-text-link--reset" (click)="goRecent(recentItem.module_name, recentItem.item_id)">
                        <div class="slds-truncate" modelPopOver [module]="recentItem.module_name" [id]="recentItem.item_id">{{recentItem.item_summary}}</div>
                    </a>
                </td>
                <td scope="row">
                    <div class="slds-truncate">{{language.getModuleName(recentItem.module_name, true)}}</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>