<div class="slds-grid">
    <div system-to-bottom class="slds-show--large slds-size--1-of-5 slds-grid slds-grid--vertical slds-navigation-list--vertical slds-navigation-list--vertical-inverse">
        <h2 class="slds-text-title--caps slds-p-around--medium"><system-label label="LBL_SEARCHRESULTS"></system-label></h2>
        <ul>
            <li [ngClass]="getScopeClass('*')">
                <a href="javascript:void(0);" class="slds-navigation-list--vertical__action slds-text-link--reset"
                   (click)="setSearchScope('*')"><system-label label="LBL_TOPRESULTS"></system-label></a>
            </li>
            <li *ngFor="let module of fts.searchModules" [ngClass]="getScopeClass(module)">
                <a href="javascript:void(0);" class="slds-navigation-list--vertical__action slds-text-link--reset"
                   (click)="setSearchScope(module)"><system-label-modulename [module]="module"></system-label-modulename></a>
            </li>
        </ul>
    </div>
    <div class="slds-size--1-of-1 slds-large-size--4-of-5 slds-border--left">
        <div class="slds-p-around--medium slds-theme--shade slds-border--bottom">
            <div class="slds-page-header__row">
                <div class="slds-page-header__col-title">
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <system-icon icon="search" (click)="setSearchScope('*')"></system-icon>
                        </div>
                        <div class="slds-media__body">
                            <h1 class="slds-grid slds-grid--vertical-align-center">
                                <div class="slds-form-element slds-size--1-of-1">
                                    <div class="slds-form-element__control">
                                        <input system-autofocus class="slds-input" type="text" [(ngModel)]="searchTerm" (keyup)="search($event)" spellcheck="false"/>
                                    </div>
                                </div>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="searchScope == '*'" system-to-bottom>
            <table *ngIf="fts.runningmodulesearch" class="slds-table slds-table--bordered slds-table--fixed-layout" role="grid">
                <tbody system-table-stencils [columns]="7" [select]="false" [tools]="false" [rows]="15"></tbody>
            </table>
            <global-search-module class="slds-m-bottom--medium" *ngFor="let result of fts.moduleSearchresults" [module]="result.module" (scope)="setSearchScope($event)"></global-search-module>
            <div *ngIf="!fts.runningmodulesearch && totalcount == 0" class="slds-align--absolute-center slds-height_full">
                <system-illustration-no-records><system-label label="MSG_NO_RECORDS_FOUND"></system-label></system-illustration-no-records>
            </div>
        </div>
        <div *ngIf="searchScope != '*'">
            <global-search-module-only [module]="searchScope"></global-search-module-only>
        </div>

    </div>
</div>
