<div class="userProfilePanel">
    <div class="slds-grid slds-p-around--small slds-grid--vertical-align-center">
        <global-user-panel-icon></global-user-panel-icon>
        <div class="slds-m-left--small">
            <h1 class="slds-text-heading--medium" [title]="userName">{{displayName}}</h1>
        </div>
    </div>
    <div class="slds-theme--shade slds-p-around--small slds-border--top slds-border--bottom">
        <ul class="slds-list--horizontal slds-has-dividers--left">
            <li class="slds-item"><a href="javascript:void(0);" class="slds-text-link--reset" (click)="goDetails()">{{language.getLabel('LBL_DETAILS')}}</a>
            </li>
            <li class="slds-item"><a href="javascript:void(0);" class="slds-text-link--reset" (click)="changePassword()">{{language.getLabel('LBL_CHANGE_PASSWORD')}}</a>
            </li>
        </ul>
    </div>
    <!--div class="OptionsSeparator">{{language.getLabel('LBL_OPTIONS')}}</div-->
    <div class="slds-p-around--small slds-form--stacked">
        <div class="slds-form-element">
            <label class="slds-form-element__label">{{language.getLabel('LBL_SELECT_LANGUAGE')}}</label>
            <div class="slds-form-element__control">
                <div class="slds-select_container">
                    <select [disabled]="getAvialableLanguages().length <= 1" class="slds-select" [(ngModel)]="currentlanguage">
                        <option *ngFor="let language of getAvialableLanguages()" [value]="language.language">
                            {{language.text}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="slds-p-top--x-small">
            <ng-container *ngIf="isEditingTz">
                <div class="slds-form-element">
                    <label class="slds-form-element__label">{{language.getLabel('LBL_SELECT_TIMEZONE')}}</label>
                    <div class="slds-form-element__control">
                        <div class="slds-select_container">
                            <select [disabled]="!timezones" class="slds-select" [(ngModel)]="currentTz">
                                <option *ngFor="let key of timezoneKeys" [value]="key">{{timezones[key]}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="!isEditingTz">
                <div style="display:flow-root">
                    <label class="slds-form-element__label">{{language.getLabel('LBL_TIMEZONE')}}</label>
                </div >
                <div class="slds-has-divider--bottom slds-p-vertical--x-small slds-p-top--none">
                    <div class="slds-grid slds-grid--vertical-align-center slds-grid--align-spread ng-star-inserted" x-style="min-height: 19px;">
                        <div class="slds-truncate" style="width:100%">{{currentTz}}</div>
                        <button style="float:right" class="slds-button slds-button--icon slds-m-left--xx-small" (click)="setEditingTz($event)">
                            <system-button-icon [icon]="'edit'"></system-button-icon>
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
        <!--div (click)="goAdmin()">admin</div-->
    </div>
    <div class="slds-theme--shade slds-p-around--x-small slds-grid">
        <div>
            {{language.getLabel('LBL_LOGGED_ON_SYSTEM')}}: {{config.data.display}}
        </div>
        <div class="slds-col--bump-left">
            <system-utility-icon icon="logout" size="x-small" [title]="language.getLabel('LBL_LOGOFF')" (click)="logoff()"></system-utility-icon>
        </div>
    </div>
</div>
