<div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger--click slds-no-hover">
    <div class="slds-context-bar__icon-action slds-m-top_small" (click)="showAppLauncher()">
        <a href="javascript:void(0);" class="slds-icon-waffle_container slds-context-bar__button">
            <div class="slds-icon-waffle">
                <div class="slds-r1"></div>
                <div class="slds-r2"></div>
                <div class="slds-r3"></div>
                <div class="slds-r4"></div>
                <div class="slds-r5"></div>
                <div class="slds-r6"></div>
                <div class="slds-r7"></div>
                <div class="slds-r8"></div>
                <div class="slds-r9"></div>
            </div>
        </a>
    </div>
    <span *ngIf="!userPreferences.toUse.globalHeaderCollapsed" class="slds-context-bar__label-action slds-context-bar__app-name">
            <span class="slds-truncate slds-text-link--reset" (click)="navigateHome()">{{roleName}}</span>
    </span>
</div>
