
/* sticky headers */
.spice-table_header-fixed thead th {
    position: sticky;
    top: 0px;
    z-index: 1;
    border-bottom: 1px solid var(--color-grey-5);
}

.spice-table_header-fixed tbody tr:first-child td,
.spice-table_header-fixed tbody tr:first-child th {
    border: 0;
}

/* sticky headers */
.spice-table_footer-fixed tfoot,
.spice-table_footer-fixed tfoot td {
    position: sticky;
    bottom: 0px;
    z-index: 1;
    border-top: 1px solid var(--color-grey-5);
}
