.spice-calendar-event {
    padding-bottom: .125rem;
    position: absolute;
    display: block;
}

.spice-calendar-event-has-dark-color {
    color: #fff;
}

.spice-calendar-event-has-dark-color:hover {
    color: #eee;
}

.spice-calendar-drop-target {
    display: block;
    width: 100%;
    height: 50%;
}

.spice-calendar-drop-target div {
    cursor: initial;
    visibility: hidden;
    opacity: 0
}
.spice-calendar-drop-target:hover div {
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    background-color: #f3f2f2;
    text-align: center;
}
