<system-modal>
    <system-modal-header (close)="cancel()"><system-label label="LBL_INDEX"></system-label></system-modal-header>
    <system-modal-content>
        <div class="slds-p-bottom--xx-small">
            <system-label label="LBL_RESET_INDEX_DATE" length="long"></system-label>
        </div>
        <div class="slds-m-bottom--medium">
            <system-checkbox [(ngModel)]="settings.resetIndexDates"><system-label label="LBL_RESET_INDEX_DATE"></system-label></system-checkbox>
        </div>
        <div class="slds-p-bottom--xx-small">
            <system-label label="LBL_BULK_INDEX"></system-label>
        </div>
        <div>
            <system-input-radio style="display: block" name="ftsmanagerbulk" value="0" [ngModel]="settings.bulkAmount" (ngModelChange)="settings.bulkAmount = 0">
                <system-label label="LBL_NONE"></system-label>
            </system-input-radio>
            <system-input-radio style="display: block" name="ftsmanagerbulk" value="100" [ngModel]="settings.bulkAmount" (ngModelChange)="settings.bulkAmount = 100">
                100 <system-label label="LBL_RECORDS"></system-label>
            </system-input-radio>
            <system-input-radio style="display: block" name="ftsmanagerbulk" value="1000" [ngModel]="settings.bulkAmount" (ngModelChange)="settings.bulkAmount = 1000">
                1000 <system-label label="LBL_RECORDS"></system-label>
            </system-input-radio>
            <system-input-radio style="display: block" name="ftsmanagerbulk" value="-1" [ngModel]="settings.bulkAmount" (ngModelChange)="settings.bulkAmount = -1">
                <system-label label="LBL_SYSTEM_DEFAULT"></system-label>
            </system-input-radio>
        </div>
    </system-modal-content>
    <system-modal-footer>
        <button type="button" class="slds-button slds-button--neutral" (click)="cancel()"><system-label label="LBL_CANCEL"></system-label></button>
        <button type="button" class="slds-button slds-button--brand" (click)="start()"><system-label label="LBL_START"></system-label></button>
    </system-modal-footer>
</system-modal>
