<div class="slds-box slds-box_xx-small slds-m-bottom--xx-small">
    <div class="slds-grid slds-grid--vertical-align-center slds-grid--align-spread">
        <div class="slds-text-heading--small">
            <system-label class="slds-p-horizontal--x-small" [label]="itemlabel"></system-label>
        </div>
        <button class="slds-button slds-button--icon slds-button--icon-border" (click)="execute.emit(true)">
            <system-button-icon icon="custom_apps"></system-button-icon>
        </button>
    </div>
    <div class="slds-p-around--x-small">
        <system-label class="slds-grow" [label]="itemlabel" length="long"></system-label>
    </div>
</div>
