<div class="slds-p-around--medium" [system-overlay-loading-spinner]="isLoading">
    <div class="slds-grid slds-grid--align-spread slds-grid--vertical-align-center">
        <div class="slds-text-heading_small"><system-label label="LBL_PASSWORD_CONFIGURATION"></system-label></div>
        <div class="slds-p-bottom--x-small" style="white-space:nowrap">
            <button class="slds-button slds-button--icon slds-button_neutral slds-button--icon-border" [disabled]="isLoading" (click)="cancel()">
                <system-button-icon icon="close"></system-button-icon>
            </button>
            <button class="slds-button slds-button--icon slds-button_brand slds-button--icon-border slds-m-left--small" [disabled]="isLoading" (click)="save()">
                <system-button-icon icon="check"></system-button-icon>
            </button>
        </div>
    </div>

    <div class="slds-grid slds-grid--vertical-align-start">
        <div class="slds-form-element">
            <label class="slds-form-element__label" for="password-config-minpwdlength">
                <system-label label="LBL_MIN_LENGTH"></system-label>
            </label>
            <div class="slds-form-element__control">
                <system-input-number [(ngModel)]="config.minpwdlength" [onlyField]="true" id="password-config-minpwdlength" [precision]="0" [asNumber]="true" size="3"></system-input-number>
            </div>
        </div>
        <div class="slds-form-element slds-p-left--medium">
            <label class="slds-form-element__label" for="password-config-pwdvaliditydays">
                <system-label label="LBL_EXPIRATION"></system-label> (<system-label label="LBL_DAYS" style="display:inline-block"></system-label>, 0=<system-label label="LBL_OFF" style="display:inline-block"></system-label>)
            </label>
            <div class="slds-form-element__control">
                <system-input-number [(ngModel)]="config.pwdvaliditydays" [onlyField]="true" id="password-config-pwdvaliditydays" [precision]="0" [asNumber]="true" size="4"></system-input-number>
            </div>
        </div>
        <div class="slds-p-left--medium" system-multi-select-checkboxes>
            <div><system-checkbox [(ngModel)]="config.oneupper"><system-label label="LBL_ONE_UPPERCASE"></system-label></system-checkbox></div>
            <div><system-checkbox [(ngModel)]="config.onelower"><system-label label="LBL_ONE_LOWERCASE"></system-label></system-checkbox></div>
            <div><system-checkbox [(ngModel)]="config.onenumber"><system-label label="LBL_ONE_DIGIT"></system-label></system-checkbox></div>
            <div><system-checkbox [(ngModel)]="config.onespecial"><system-label label="LBL_ONE_SPECIALCHAR"></system-label></system-checkbox></div>
        </div>
    </div>

</div>
