<system-section [titlelabel]="language.getLabel('LBL_JOB_TASK')">

    <div *ngIf="!view.isEditMode()" class="slds-p-around--xx-small">
        <system-stencil *ngIf="model.isLoading"></system-stencil>
        <div *ngIf="!model.isLoading" class="slds-has-divider--bottom slds-p-vertical--x-small spice-fieldminheight">
            <div class="slds-grid slds-grid--vertical-align-center slds-grid--align-spread" style="min-height:19px;">
                <div class="slds-truncate" style="width:100%">
                    {{job}}<ng-container *ngIf="job==='url::'">{{url}}</ng-container>
                </div>
                <button style="float: right" class="slds-button slds-button--icon slds-m-left--xx-small" (click)="view.setEditMode()">
                    <system-button-icon [icon]="'edit'"></system-button-icon>
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="view.isEditMode()">
        <div class="slds-grid slds-grid--align-spread slds-p-around--xx-small">
            <div class="slds-form-element slds-p-horizontal--xx-small slds-size--1-of-2">
                <label class="slds-form-element__label">
                    <abbr class="slds-required ng-star-inserted">*</abbr>
                    <system-label label="LBL_JOB_TASK"></system-label>
                </label>
                <div class="slds-form-element__control slds-m-vertical--xx-small ">
                    <div class="slds-select_container">
                        <select id="moduleselect1" class="slds-select" [(ngModel)]="job">
                            <option *ngIf="!job" value=""><system-label label="LBL_SELECT"></system-label> &hellip;</option>
                            <option *ngFor="let job of jobsList; trackBy: trackByFn" [value]="job.key">{{job.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="slds-form-element slds-p-horizontal--xx-small slds-size--1-of-2">
                <label class="slds-form-element__label" for="text-input-id-1">
                    <abbr *ngIf="job==='url::'" class="slds-required ng-star-inserted">*</abbr>
                    <system-label label="LBL_URL"></system-label>
                </label>
                <div class="slds-form-element__control slds-m-vertical--xx-small ">
                    <input type="text" id="text-input-id-1" class="slds-input" [(ngModel)]="url" [disabled]="job!=='url::'"/>
                </div>
            </div>
        </div>
    </div>

</system-section>
