<div class="slds-grid slds-height_full">
    <div class="slds-height_full slds-size--1-of-2 slds-border--right slds-p-around--medium">
        <div class="slds-p-bottom--small slds-grid slds-grid--vertical" style="max-height: 50%">
            <administration-job-running-list [hasBoxClass]="true" class="slds-grid slds-grid--vertical slds-grow" style="min-height: 0"></administration-job-running-list>
        </div>
        <div class="slds-p-top--small slds-grid slds-grid--vertical" style="max-height: 50%">
            <administration-job-failed-list [hasBoxClass]="true" class="slds-grid slds-grid--vertical slds-grow" style="min-height: 0"></administration-job-failed-list>
        </div>
    </div>
    <div class="slds-size--1-of-2 slds-height_full slds-grid slds-grid--vertical">
        <div style="display: block; width: 100%; min-height: 0;" class="slds-grow slds-is-relative">
            <object-list class="slds-grow slds-height_full slds-size--1-of-1" style="display: block"></object-list>
            <div @animatepanel *ngIf="modelList.displayAggregates" class="slds-is-absolute slds-panel slds-panel--filters slds-filters__body slds-nowrap  slds-scrollable--y" style="width: 320px; height: 100%; top:0; right: 0;z-index: 99;" [system-model-provider]="{module: modelList.module}">
                <div class="slds-filters__body slds-grid_vertical">
                    <div class="slds-m-vertical--xx-small" *ngFor="let aggregate of modelList.moduleAggregates">
                        <object-listview-aggregate [aggregate]="aggregate"></object-listview-aggregate>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
