<a class="slds-text-link_reset" href="javascript:void(0);" (click)="openContent()">
    <article class="slds-tile slds-media slds-card__tile slds-hint-parent">
        <div class="slds-media__figure">
            <system-icon [icon]="icon" size="large">
            </system-icon>
        </div>
        <div class="slds-media__body">
            <div class="slds-grid slds-grid_align-spread">
                <h3 class="slds-tile__title slds-text-heading_small">
                    <p><system-label [label]="adminNavigationItem.admin_label"></system-label></p>
                    <p class="slds-text-body_small "><system-label [label]="adminNavigationItem.admin_label" length="long"></system-label></p>
                </h3>
            </div>
        </div>
    </article>
</a>
