<div class="slds-p-around--medium" [system-overlay-loading-spinner]="isLoading">
    <div class="slds-grid slds-grid--align-spread">
        <div class="slds-text-heading_small"><system-label label="LBL_LOGIN_METHODS"></system-label></div>
        <div class="slds-p-bottom--x-small" style="white-space:nowrap">
            <button class="slds-button slds-button--icon slds-button_neutral slds-button--icon-border" [disabled]="isLoading" (click)="cancel()">
                <system-button-icon icon="close"></system-button-icon>
            </button><button class="slds-button slds-button--icon slds-button_brand slds-button--icon-border slds-m-left--small" [disabled]="isLoading" (click)="save()">
                <system-button-icon icon="check"></system-button-icon>
            </button>
        </div>
    </div>

    <div class="slds-grid slds-grid--vertical-align-start">
        <div><system-checkbox [(ngModel)]="config.totpAuthenticationRequired"><system-label label="LBL_TOTP_AUTHENTICATION_REQUIRED"></system-label></system-checkbox></div>
    </div>

</div>
