<tr style="vertical-align: middle" class="slds-align-top">
    <td>
        <system-utility-icon icon="custom_apps" size="x-small"></system-utility-icon>
    </td>
    <td>
        <system-label label="LBL_REPAIR_DATABASE"></system-label>
    </td>
    <td>Repairs and rebuilds the database</td>
    <td>
        <button class="slds-button slds-button--brand slds-button--small" (click)="executeDB()">
            <system-label label="LBL_EXECUTE"></system-label>
        </button>
    </td>
</tr>


<tr style="vertical-align: middle" class="slds-align-top">
    <td>
        <system-utility-icon icon="custom_apps" size="x-small"></system-utility-icon>
    </td>
    <td>
        <system-label label="LBL_REPAIR_LANGUAGE"></system-label>
    </td>
    <td>Repairs and rebuilds language extensions</td>
    <td>
        <button class="slds-button slds-button--brand slds-button--small" (click)="executeLG()">
            <system-label label="LBL_EXECUTE"></system-label>
        </button>
    </td>
</tr>
