<div class="slds-p-around--medium slds-theme--shade">
    <div class="slds-page-header__row">
        <div class="slds-page-header__col-title">
            <div class="slds-media">
                <system-icon icon="custom94" sprite="custom"></system-icon>
                <div class="slds-media__body">
                    <div class="slds-page-header__name">
                        <div class="slds-page-header__name-title">
                            <h1>
                                <span class="slds-page-header__title slds-truncate"><system-label label="LBL_REPAIR_DATABASE_DEPRECATED"></system-label></span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="slds-grid--vertical">
    <div>
        <system-icon addclasses="slds-icon slds-icon-text-warning" divClass="" icon="warning" sprite="utility" size="large"></system-icon>
        <div>
            <span class="slds-page-header__title slds-truncate"><system-label label="LBL_REPAIR_DATABASE_DEPRECATED" length="long"></system-label></span>
        </div>
    </div>
    <div></div>
</div>
<div  class="slds-grid--vertical">
    <div></div>
    <div>
        <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped slds-size--1-of-1">
            <thead>
                <tr>
                    <th><system-label label="LBL_DEPRECATED"></system-label></th>
                    <th><system-label label="LBL_NEW"></system-label></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><system-label label="LBL_REPAIR_DATABASE"></system-label></td>
                    <td><system-label label="LBL_DICTIONARY_MANAGER"></system-label></td>
                    <td>></td>
                    <td>"<system-label label="LBL_REPAIR_DATABASE"></system-label>"</td>
                </tr>
                <tr>
                    <td><system-label label="LBL_REPAIR_CACHE"></system-label></td>
                    <td><system-label label="LBL_DICTIONARY_MANAGER"></system-label></td>
                    <td>></td>
                    <td>"<system-label label="LBL_REPAIR_CACHE"></system-label>"</td>
                </tr>
                <tr>
                    <td><system-label label="LBL_REPAIR_CUSTOM_CACHE"></system-label></td>
                    <td><system-label label="LBL_DOMAIN_MANAGER"></system-label></td>
                    <td>></td>
                    <td>"<system-label label="LBL_REPAIR_CUSTOM_CACHE"></system-label>"</td>
                </tr>
                <tr>
                    <td><system-label label="LBL_RESET_CACHE"></system-label></td>
                    <td><system-label label="LBL_CACHE_VIEWER"></system-label></td>
                    <td>></td>
                    <td>"<system-label label="LBL_RESET_CACHE"></system-label>"</td>
                </tr>
                <tr>
                    <td><system-label label="LBL_CONVERT_DB_CHARSET"></system-label></td>
                    <td><system-label label="LBL_DICTIONARY_MANAGER"></system-label></td>
                    <td>></td>
                    <td>"<system-label label="LBL_CONVERT_DB_CHARSET"></system-label>"</td>
                </tr>
                <tr>
                    <td><system-label label="LBL_CLEAN_DB_COLUMNS"></system-label></td>
                    <td><system-label label="LBL_DICTIONARY_MANAGER"></system-label></td>
                    <td>></td>
                    <td>"<system-label label="LBL_CLEAN_DB_COLUMNS"></system-label>"</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

