<div>
    <div class="slds-tree">
        <div class="slds-tree-container">
            <h3 class="slds-tree__group-header">Routes Tree</h3>
            <ul class="slds-tree" role="tree">
                <li class="slds-tree__item">
                    <div class="slds-tree__item">
                        <button class="slds-button slds-button--icon slds-m-right--x-small">
                            <system-button-icon icon="chevrondown" size="medium"></system-button-icon>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>