<div class="slds-p-top--x-small slds-p-horizontal--x-small" tobottom>
    <fieldset class="slds-form-element slds-form-element_compound slds-p-vertical--x-small">
        <legend class="slds-form-element__legend slds-form-element__label">Index Parameters</legend>
        <div class="slds-form-element__control">
            <div class="slds-form-element">
                <label class="slds-form-element__label">Index Priority</label>
                <div class="slds-form-element__control">
                    <input type="text" class="slds-input" [(ngModel)]="ftsconfiguration.moduleFtsSettings.index_priority"/>
                </div>
            </div>
            <!--div class="slds-form-element">
                <label class="slds-form-element__label">fuzziness</label>
                <div class="slds-form-element__control">
                    <input type="text" class="slds-input" [(ngModel)]="ftsconfiguration.moduleFtsSettings.fuzziness"/>
                </div>
            </div-->

            <!--div class="slds-form-element">
                <label class="slds-form-element__label">Minimum Should Match</label>
                <div class="slds-form-element__control">
                    <input type="text" class="slds-input"
                           [(ngModel)]="ftsconfiguration.moduleFtsSettings.minimum_should_match"/>
                </div>
            </div-->
            <div class="slds-form-element">
                <label class="slds-form-element__label">Multimatch Type</label>
                <div class="slds-form-element__control">
                    <div class="slds-select_container">
                        <select class="slds-select" [(ngModel)]="ftsconfiguration.moduleFtsSettings.multimatch_type">
                            <option value=''>default</option>
                            <option value='best_fields'>Best Fields</option>
                            <option value='most_fields'>Most Fields</option>
                            <option value='phrase'>Phrase</option>
                            <option value='phrase_prefix'>Phrase Prefix</option>
                            <option value='cross_fields'>Cross Fields</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="slds-form-element slds-p-vertical--x-small">
                <system-checkbox [(ngModel)]="ftsconfiguration.moduleFtsSettings.waitfor">{{language.getLabel('LBL_SYNCRONOUS')}}</system-checkbox>
            </div>
        </div>
    </fieldset>
    <fieldset class="slds-form-element slds-form-element_compound slds-p-vertical--x-small">
        <legend class="slds-form-element__legend slds-form-element__label">Search Parameters</legend>
        <div class="slds-form-element__control">
            <div class="slds-form-element">
                <label class="slds-form-element__label">Search Operator</label>
                <div class="slds-form-element__control">
                    <div class="slds-select_container">
                        <select class="slds-select" [(ngModel)]="ftsconfiguration.moduleFtsSettings.operator">
                            <option value='and'>and</option>
                            <option value='or'>or</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="slds-grid slds-p-vertical--x-small">
                <system-checkbox [(ngModel)]="ftsconfiguration.moduleFtsSettings.globalsearch">{{language.getLabel('LBL_GLOBAL_SEARCH')}}</system-checkbox>
                <system-checkbox [(ngModel)]="ftsconfiguration.moduleFtsSettings.emailsearch">{{language.getLabel('LBL_EMAIL_SEARCH')}}</system-checkbox>
            </div>
        </div>
    </fieldset>
    <fieldset class="slds-form-element slds-form-element_compound slds-p-vertical--x-small">
        <legend class="slds-form-element__legend slds-form-element__label">Activity/History/Calendar Params</legend>
        <div class="slds-form-element__control">
            <div class="slds-form-element slds-grid slds-grid--vertical-align-center slds-gutters_direct-small">
                <div class="slds-form-element__control slds-col slds-size--1-of-3">
                    <span class="slds-checkbox">
                      <input type="checkbox" name="options" id="activitiessearch"
                             [(ngModel)]="ftsconfiguration.moduleFtsSettings.activitiessearch"/>
                      <label class="slds-checkbox__label" for="activitiessearch">
                        <span class="slds-checkbox--faux"></span>
                        <span class="slds-form-element__label">include in Activities</span>
                      </label>
                    </span>
                </div>
                <div class="slds-col slds-size--2-of-3 slds-grid slds-grid--vertical-align-center">
                    <label class="slds-form-element__label">Filter</label>
                    <system-input-module-filter class="slds-grow" [(ngModel)]="ftsconfiguration.moduleFtsSettings.activitiesfilter"></system-input-module-filter>
                </div>
            </div>
            <div class="slds-form-element slds-grid slds-grid--vertical-align-center slds-gutters_direct-small">
                <div class="slds-form-element__control slds-col slds-size--1-of-3">
                    <span class="slds-checkbox">
                      <input type="checkbox" name="options" id="historysearch"
                             [(ngModel)]="ftsconfiguration.moduleFtsSettings.historysearch"/>
                      <label class="slds-checkbox__label" for="historysearch">
                        <span class="slds-checkbox--faux"></span>
                        <span class="slds-form-element__label">include in History</span>
                      </label>
                    </span>
                </div>
                <div class="slds-col slds-size--2-of-3 slds-grid slds-grid--vertical-align-center">
                    <label class="slds-form-element__label">Filter</label>
                    <system-input-module-filter class="slds-grow" [(ngModel)]="ftsconfiguration.moduleFtsSettings.historyfilter"></system-input-module-filter>
                </div>
            </div>
            <div class="slds-form-element slds-grid slds-grid--vertical-align-center slds-gutters_direct-small">
                <div class="slds-form-element__control slds-col slds-size--1-of-3">
                    <span class="slds-checkbox">
                      <input type="checkbox" name="options" id="calendarsearch" [(ngModel)]="ftsconfiguration.moduleFtsSettings.calendarsearch"/>
                      <label class="slds-checkbox__label" for="calendarsearch">
                        <span class="slds-checkbox--faux"></span>
                        <span class="slds-form-element__label">include in Calendar</span>
                      </label>
                    </span>
                </div>
                <div class="slds-col slds-size--2-of-3 slds-grid slds-grid--vertical-align-center">
                    <label class="slds-form-element__label">Filter</label>
                    <system-input-module-filter class="slds-grow" [(ngModel)]="ftsconfiguration.moduleFtsSettings.calendarfilter"></system-input-module-filter>
                </div>
            </div>
        </div>
    </fieldset>
</div>