<system-modal>
    <system-modal-header (close)="close()">
        {{apiMethod.route}}
        <system-modal-header-right>
            <div class="slds-badge" [ngStyle]="apiInspector.getMethodStyle(apiMethod.method)">
                <div class="slds-size--1-of-1 slds-text-align--center">{{apiMethod.method}}</div>
            </div>
        </system-modal-header-right>
    </system-modal-header>
    <system-modal-content [grow]="true" #modalcontent margin="none">
        <div class="slds-tabs_default" >
            <ul class="slds-tabs_default__nav" role="tablist">
                <li class="slds-tabs_default__item" [ngClass]="{'slds-is-active': activetab == 'parameters'}" role="presentation">
                    <a class="slds-tabs_default__link" role="tab" (click)="activetab = 'parameters'"><system-label label="LBL_PARAMETERS"/></a>
                </li>
                @if (useRawBody) {
                    <li class="slds-tabs_default__item" [ngClass]="{'slds-is-active': activetab == 'request'}" role="presentation">
                        <a class="slds-tabs_default__link" role="tab" (click)="activetab = 'request'"><system-label label="LBL_REQUEST"/></a>
                    </li>
                }
                <li class="slds-tabs_default__item" title="Item Three" [ngClass]="{'slds-is-active': activetab == 'response'}" role="presentation">
                    <a class="slds-tabs_default__link" role="tab" (click)="activetab = 'response'"><system-label label="LBL_RESPONSE"/></a>
                </li>
            </ul>
            <div #tabcontent [ngStyle]="tabStyle" class="slds-scrollable">
                <div class="slds-tabs_default__content" [ngClass]="{'slds-hide': activetab != 'parameters'}" role="tabpanel">
                    <administration-api-inspector-method-parameters [apimethod]="apiMethod" [parameterCollector]="parameterCollector" in="path"/>
                    <administration-api-inspector-method-parameters [apimethod]="apiMethod" [parameterCollector]="parameterCollector" in="query"/>
                    <administration-api-inspector-method-parameters [disabled]="useRawBody" [apimethod]="apiMethod" [parameterCollector]="parameterCollector" in="body"/>
                </div>
                @if (useRawBody) {
                <div class="slds-tabs_default__content slds-height_full slds-p-horizontal--x-small" [ngClass]="{'slds-hide': activetab != 'request'}" role="tabpanel">
                    <system-source-editor class="slds-height_full" language="json" [canOpenInModal]="false" [(ngModel)]="body"> </system-source-editor>
                </div>
                }
                <div class="slds-tabs_default__content slds-height_full" [ngClass]="{'slds-hide': activetab != 'response'}" role="tabpanel">
                    @if (response){
                        <pre class="slds-p-horizontal--x-small" style="white-space: pre-wrap">{{response}}</pre>
                    } @else if (executing) {
                        <system-spinner class="slds-height_full slds-align--absolute-center"/>
                    } @else {
                        <system-illustration-no-data class="slds-height_full slds-align--absolute-center"/>
                    }
                </div>
            </div>
        </div>
    </system-modal-content>
    <system-modal-footer>
        <div class="slds-grid slds-grid--vertical-align-center">
            @if(apiMethod.method == 'post' || apiMethod.method == 'put'){
            <system-checkbox [(ngModel)]="useRawBody"><system-label label="LBL_USE_RAW_BODY"/></system-checkbox>
            }
            <button class="slds-col--bump-left slds-button slds-button--neutral" (click)="close()"><system-label label="LBL_CLOSE"></system-label></button>
            <button class="slds-button slds-button--brand" (click)="test()"><system-label label="LBL_TEST"></system-label></button>
        </div>
    </system-modal-footer>
</system-modal>
