<div class="slds-theme--default" >
    <div class="slds-p-around--x-small  slds-theme--default">
        <div *ngFor="let apimethods of detailSource.methods" class="slds-m-around--xxx-small" >
                <div class="slds-text-heading_medium slds-align_absolute-center slds-grid">
                    <span class="slds-col">
                        <span class="slds-badge slds-text-align--left slds-float--left slds-m-around--x-small">{{apimethods.method}}</span>
                        <span class="slds-text-align--right slds-float--right slds-m-right--large slds-text-heading_small slds-m-top--xx-small">{{apimethods.route}}</span>
                    </span>
                </div>
                <span *ngFor="let optionspec of apimethods.options |keyvalue">
                    <span class="slds-badge slds-float--right">{{optionspec.key}}: {{optionspec.value}}</span>
                </span>
                <span class=" slds-m-around--xx-small">
                    <div>
                        <div>
                            <span class="slds-m-left--large slds-text-heading_small"> {{apimethods.function}}</span>
                        </div>
                        <div>
                            <span class="slds-m-left--large slds-text-heading_small"> {{apimethods.extension}}</span>
                        </div>

                        <div class="slds-box--border">
                            <span class="slds-text-heading_small slds-m-left--xx-small slds-text-heading_small" >Summary:</span> <span class="slds-m-left--large">{{apimethods.summary}}</span>
                        </div>

                        <div class="slds-box--border">
                            <span class="slds-text-heading_small slds-m-left--xx-small">Parameters:</span>
                            <div *ngFor="let paramspec of apimethods.parameters |keyvalue">
                                <span class="slds-text-heading_small slds-m-left--xx-small">description param:</span><span class="slds-m-left--large"> {{paramspec.value.description}}</span>
                                <span class="slds-text-heading_small slds-m-left--xx-small">Example:</span><span class="slds-m-left--large"> {{paramspec.value.example}}</span>
                            </div>
                        </div>

                        <div class="slds-box--border">
                            <span class="slds-text-heading_small slds-m-left--xx-small">Request Body:</span>
                            <div *ngFor="let bodyspec of apimethods.requestBody |keyvalue">
                                <span class="slds-text-heading_small slds-m-left--xx-small">name param:</span><span class="slds-m-left--large"> {{bodyspec.key}}</span>
                                <span class="slds-text-heading_small slds-m-left--xx-small">description param:</span><span class="slds-m-left--large"> {{bodyspec.value}}</span>
                            </div>
                        </div>

                        <div class="slds-box--border">
                            <span class="slds-text-heading_small slds-m-left--xx-small">Responses:</span>
                            <div *ngFor="let responsespec of apimethods.responses |keyvalue">
                                <span class="slds-text-heading_small slds-m-left--xx-small">code:</span><span class="slds-m-left--large "> {{responsespec.key}}</span>
                                <span class="slds-text-heading_small slds-m-left--xx-small">Description:</span><span class="slds-m-left--large"> {{responsespec.value.description}}</span>
                            </div>
                        </div>
                    </div>
                </span>
        </div>
    </div>
</div>
