<div class="slds-grid slds-form--inline slds-p-around--small slds-border--bottom">
    <div class="slds-form-element">
        <label class="slds-form-element__label"><system-label label="LBL_MODULE"></system-label></label>
        <div class="slds-form-element__control">
            <div class="slds-select_container">
                <select class="slds-select" [(ngModel)]="module" [disabled]="modules.length == 0">
                    <option value=""></option>
                    <option *ngFor="let module of modules" [value]="module">{{module}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="slds-button-group" role="group">
        <button type="button" class="slds-button slds-button--neutral" (click)="add()"><system-label label="LBL_ADD"></system-label></button>
        <button type="button" [disabled]="!module" class="slds-button slds-button--neutral" (click)="delete()"><system-label label="LBL_DELETE"></system-label></button>
    </div>
    <div class="slds-form-element slds-col--bump-left">

        <div class="slds-button-group" role="group" *ngIf="!ftsconfiguration.indexing">
            <button type="button" class="slds-button slds-button--neutral" [disabled]="!module" (click)="save()"><system-label label="LBL_SAVE"></system-label></button>
            <button type="button" class="slds-button slds-button--neutral" [disabled]="!module" (click)="resetModule()"><system-label label="LBL_RESET"></system-label></button>
            <button type="button" class="slds-button slds-button--neutral" [disabled]="!module" (click)="indexModule()"><system-label label="LBL_INDEX"></system-label></button>
        </div>
    </div>
</div>
<div class="slds-tabs--default slds-p-top--xx-small">
    <div *ngIf="module; else selectmodule">
        <ul class="slds-tabs--default__nav" role="tablist">
            <li class="slds-tabs--default__item slds-text-title--caps" [ngClass]="{'slds-active': activeTab === 'fields'}"
                role="presentation" (click)="setActiveTab('fields')">
                <a class="slds-tabs--default__link" href="javascript:void(0);" role="tab"  aria-selected="false"><system-label label="LBL_FIELDS"></system-label></a>
            </li>
            <li class="slds-tabs--default__item slds-text-title--caps" [ngClass]="{'slds-active': activeTab === 'details'}"
                role="presentation" (click)="setActiveTab('details')">
                <a class="slds-tabs--default__link" href="javascript:void(0);" role="tab"  aria-selected="false"><system-label label="LBL_INDEX_PARAMETERS"></system-label></a>
            </li>
        </ul>
        <administration-ftsmanager-fields *ngIf="activeTab==='fields'"></administration-ftsmanager-fields>
        <administration-ftsmanager-details *ngIf="activeTab==='details'"></administration-ftsmanager-details>
    </div>
    <ng-template #selectmodule>
        <div class="slds-p-around--small slds-align--absolute-center" system-to-bottom><system-label label="LBL_SELECT_A_MODULE"></system-label></div>
    </ng-template>
</div>
