<p *ngIf="!isEditMode()" class="slds-text-body--regular slds-truncate spice-fieldbody">
    <span>{{fieldvalue}}</span>
    <button style="float: right" class="slds-button slds-button--icon"
            (click)="setEditMode()">
        <svg aria-hidden="true" class="slds-button__icon">
            <use xlink:href="./vendor/sldassets/icons/utility-sprite/svg/symbols.svg#edit"></use>
        </svg>
    </button>
</p>
<div *ngIf="isEditMode()" class="slds-form-element__control">
    <input class="slds-input" type="text" [(ngModel)]="fieldvalue"/>
</div>
