<!--div class="slds-form--inline">
    <h2 class="slds-text-heading_medium slds-p-around--small">
        <system-label label="LBL_API_INSPECTOR"></system-label>
    </h2>
    <div class="slds-grid">
        <div>
            <div>
                <div class="slds-radio">
                    <input type="radio" id="AdminOnly" value="AdminOnly" name="AdminOnly" />
                    <label class="slds-radio__label" for="AdminOnly">Admin</label>
                </div>
                <div class="slds-radio">
                    <input type="radio" id="NoAuth" value="NoAuth" name="NoAuth" />
                    <label class="slds-radio__label" for="NoAuth">Authentication</label>
                </div>
            </div>
        </div>
        <input class="slds-input">
    </div>
</div-->
<div class="slds-grid slds-grid_vertical-align-center slds-grid--align-spread slds-p-around--small">
    <h2 class="slds-text-heading_medium"><system-label label="LBL_API_INSPECTOR"></system-label></h2>
    <div class="slds-grid slds-grid--vertical-align-center">
        <input class="slds-input" system-placeholder="LBL_FILTER_BY" [(ngModel)]="apiinspector.apiFilter" [ngModelOptions]="{updateOn: 'blur'}"/>
    </div>
</div>
<div class="slds-theme--default slds-grid"  [system-overlay-loading-spinner]="apiinspector.loading">
    <div class="slds-size--1-of-3 slds-border--right" system-to-bottom>

        <system-tree *ngIf="!apiinspector.loading; else treeLoadingSpinner" [sourceList]="apiinspector.apiTree" (selectedItemChange)="selectNode($event)"></system-tree>
        <ng-template #treeLoadingSpinner>
            <div class="slds-height_full slds-align--absolute-center">
                <div class="slds-grid slds-grid--vertical">
                    <system-spinner></system-spinner>
                    <system-label class="slds-p-vertical--small" label="LBL_LOADING_ENDPOINTS"></system-label>
                </div>
            </div>
        </ng-template>
    </div>
    <div class="slds-size--2-of-3" system-to-bottom>
        <administration-api-inspector-methods *ngIf="apiinspector.apiMethods.length > 0; else noMethodsAvailable"></administration-api-inspector-methods>
        <ng-template #noMethodsAvailable>
            <div class="slds-height_full slds-align--absolute-center">
                <system-illustration-no-data><system-label label="LBL_NO_METHODS_FOR_ENDPOINT"></system-label></system-illustration-no-data>
            </div>
        </ng-template>
    </div>
</div>
