<div class="slds-form--inline">
    <h2 class="slds-text-heading_medium slds-p-around--small">
        <system-label label="LBL_API_INSPECTOR"></system-label>
    </h2>
    <div class="slds-grid">
        <div>
            <div>
                <div class="slds-radio">
                    <input type="radio" id="AdminOnly" value="AdminOnly" name="AdminOnly" />
                    <label class="slds-radio__label" for="AdminOnly">Admin</label>
                </div>
                <div class="slds-radio">
                    <input type="radio" id="NoAuth" value="NoAuth" name="NoAuth" />
                    <label class="slds-radio__label" for="NoAuth">Authentication</label>
                </div>
            </div>
        </div>
        <input class="slds-input">

    </div>
</div>
<div class="slds-theme--default slds-grid"  [system-overlay-loading-spinner]="apiinspector.loading">
    <div class="slds-size--1-of-3 slds-p-around--xx-small" system-to-bottom>
        <system-tree [sourceList]="apiinspector.flattendArray" (selectedItemChange)="selectNode($event)">
        </system-tree>
    </div>

    <div class="slds-size--2-of-3" system-to-bottom>
        <administration-api-inspector-detail *ngIf="apiinspector.selectedAPI; else nothingselected" [detailSource]="apiinspector.selectedAPI">

        </administration-api-inspector-detail>
        <ng-template #nothingselected>
            <div class="slds-height_full slds-align--absolute-center">
                <system-illustration-no-data><system-label label="LBL_NO_API_SELECTED"></system-label></system-illustration-no-data>
            </div>
        </ng-template>
    </div>
</div>
