<td *ngFor="let field of itemFields">
        <div class="slds-form-element slds-size--1-of-1 slds-truncate">
            <div class="slds-form-element__control slds-size--1-of-1" [ngStyle]="divStyle">
                @switch (field.type){
                    @case('json'){
                        @if (isEditMode(field)) {
                            <textarea class="slds-textarea slds-scrollable--y" [(ngModel)]="entry.data[field.name]"></textarea>
                        } @else {
                            <span class="slds-truncate_container_25" style="max-width: 200px;">{{entry.data[field.name]}}</span>
                        }
                    }
                    @case('text'){
                        @if (isEditMode(field)) {
                            <textarea class="slds-textarea slds-scrollable--y" [(ngModel)]="entry.data[field.name]" ></textarea>
                        }@else {
                            <span class="slds-truncate_container_25" style="max-width: 200px;">{{entry.data[field.name]}}</span>
                        }
                    }
                    @case('label'){
                        <system-input-label [disabled]="!isEditMode(field)" [(ngModel)]="entry.data[field.name]" ></system-input-label>
                    }
                    @case('date'){
                        <system-input-date [disabled]="!isEditMode(field)" [ngModel]="entry.data[field.name]" (ngModelChange)="setFormattedDate(field.name, $event)" system-input-date-formatted [showCalendarButton]="false" ></system-input-date>
                    }
                    @case('module'){
                        <system-input-module [disabled]="!isEditMode(field)" [(ngModel)]="entry.data[field.name]"></system-input-module>
                    }
                    @case('fieldname'){
                        @if(entry.data[field.modulefield] && isEditMode(field)){
                            <system-input-module-field [module]="entry.data[field.modulefield]" [(ngModel)]="entry.data[field.name]"></system-input-module-field>
                        } @else if(entry.data[field.modulefield] && !isEditMode(field)) {
                            <system-input-module-field [disabled]="true" [module]="entry.data[field.modulefield]" [(ngModel)]="entry.data[field.name]"></system-input-module-field>
                        } @else {
                            <system-input-text disabled [(ngModel)]="entry.data[field.name]"></system-input-text>
                        }
                    }
                    @case('fieldset'){
                        <system-input-fieldset [disabled]="!isEditMode(field)" [(ngModel)]="entry.data[field.name]"></system-input-fieldset>
                    }
                    @case('filter'){
                        <system-input-filter [disabled]="!isEditMode(field)" [(ngModel)]="entry.data[field.name]"></system-input-filter>
                    }
                    @case('componentset'){
                        <system-input-componentset [disabled]="!isEditMode(field)" [(ngModel)]="entry.data[field.name]"></system-input-componentset>
                    }
                    @case('companycode'){
                        <system-input-companycodes [disabled]="!isEditMode(field)" [(ngModel)]="entry.data[field.name]"></system-input-companycodes>
                    }
                    @case('bool'){
                        <system-checkbox [disabled]="!isEditMode(field)" [(ngModel)]="entry.data[field.name]"> </system-checkbox>
                    }
                    @case('boolean'){
                        <system-checkbox [disabled]="!isEditMode(field)" [(ngModel)]="entry.data[field.name]"> </system-checkbox>
                    }
                    @case('foreign'){
                        <system-select [disabled]="!isEditMode(field)" [ngModel]="entry.data[field.name] ? {id: entry.data[field.name], name: getForeignName(field.name)} : undefined" (ngModelChange)="entry.data[field.name] = $event.id">
                            <system-select-option *ngFor="let foreignKey of getForeignKeys(field.name)" [value]="foreignKey.value" [display]="foreignKey.display"/>
                        </system-select>
                    }
                    @case('role'){
                        <administration-configurator-item-role [editmode]="true" [(fieldvalue)]="entry.data[field.name]"></administration-configurator-item-role>
                    }
                    @case('dictionary'){
                        <system-input-dictionary [disabled]="!isEditMode(field)" [(ngModel)]="entry.data[field.name]"></system-input-dictionary>
                    }
                    @default{
                        <input  [disabled]="!isEditMode(field)" type="text" class="slds-input" [(ngModel)]="entry.data[field.name]"/>
                    }
                }
            </div>
        </div>
</td>
<td class="slds-theme--default" style="position: sticky; right: 0; z-index: 10">
    <div *ngIf="!isEditMode()" class="slds-button-group slds-float--right" role="group">
        <button class="slds-button slds-button--icon-border" (click)="setEditMode()">
            <system-button-icon [icon]="'edit'" [size]="'small'"></system-button-icon>
        </button>
        <button class="slds-button slds-button--icon-border" (click)="copy(entry.id)">
            <system-button-icon [icon]="'copy'" [size]="'small'"></system-button-icon>
        </button>
        <button class="slds-button slds-button--icon-border" (click)="delete()">
            <system-button-icon [icon]="'delete'" [size]="'small'"></system-button-icon>
        </button>
    </div>
    <div *ngIf="isEditMode()" class="slds-button-group slds-float--right" role="group">
        <button class="slds-button slds-button--icon-border" (click)="goDetail()">
            <system-button-icon [icon]="'expand'" [size]="'small'" ></system-button-icon>
        </button>
        <button class="slds-button slds-button--icon-border" (click)="setViewMode()">
            <system-button-icon [icon]="'close'" [size]="'small'" ></system-button-icon>
        </button>
        <button class="slds-button slds-button--icon-border" [disabled]="!canSave" (click)="save()">
            <system-button-icon [icon]="'check'" [size]="'small'"></system-button-icon>
        </button>
    </div>
</td>
