<div class="slds-grid slds-grid--align-spread slds-p-around--medium">
    <h2 class="slds-text-heading--medium ">Repair Dictionary</h2>
</div>
<div *ngIf="!loading" class="slds-p-around--small slds-theme--default">
        <div class="slds-text-align_center slds-p-vertical--x-small">
            <button class="slds-button slds-button--brand" (click)="doRepair()">Execute
            </button>
        </div>
        <div>
            <div *ngIf="dbErrors.length > 0"  class="slds-form-element">
                <label class="slds-form-element__label">Last Error</label>
                <div class="slds-form-element__control">
                <textarea *ngFor="let error of dbErrors" disabled class="slds-textarea" style="min-height: 400px;" [value]="error"></textarea>
                </div>
            </div>
        </div>
    </div>
<div *ngIf="loading" class="slds-p-around--medium">
    <system-spinner></system-spinner>
</div>
