<h3 class="slds-section-title--divider">User Signature</h3>
<div class="slds-p-around--small">
    <div class="slds-grid slds-grid--align-spread">
        <div class="slds-form-element slds-size--1-of-2 slds-p-around--x-small">
            <label class="slds-form-element__label">Export Delimiter</label>
            <div class="slds-form-element__control slds-has-divider--bottom">
                <span class="slds-form-element__static">{{preferences.export_delimiter}}</span>
            </div>
        </div>
        <div class="slds-form-element slds-size--1-of-2 slds-p-around--x-small">
            <label class="slds-form-element__label">Timezone</label>
            <div class="slds-form-element__control slds-has-divider--bottom">
                <span class="slds-form-element__static">{{preferences.timezone}}</span>
            </div>
        </div>
    </div>
    <div class="slds-grid slds-grid--align-spread">
        <div class="slds-form-element slds-size--1-of-2 slds-m-around--x-small">
            <label class="slds-form-element__label">Date Format</label>
            <div class="slds-form-element__control slds-has-divider--bottom">
                <span class="slds-form-element__static">{{preferences.datef}}</span>
            </div>
        </div>
        <div class="slds-form-element slds-size--1-of-2 slds-m-around--x-small">
            <label class="slds-form-element__label">Time Format</label>
            <div class="slds-form-element__control slds-has-divider--bottom">
                <span class="slds-form-element__static">{{preferences.timef}}</span>
            </div>
        </div>
    </div>
</div>