<section role="dialog" class="slds-modal slds-fade-in-open">
    <div class="slds-modal__container">
        <header class="slds-modal__header slds-theme_shade">
            <button class="slds-button slds-modal__close slds-button--icon-inverse" (click)="close()">
                <system-button-icon [icon]="'close'"></system-button-icon>
            </button>
            <h2 class="slds-text-heading--medium">{{language.getLabel('LBL_CHANGE_PWD')}}</h2>
        </header>
        <div class="slds-modal__content slds-p-around--medium">
            <div class="slds-form--stacked slds-text-align--left" (submit)="save()">
                <div class="slds-form-element">
                    <label class="slds-form-element__label">{{language.getLabel('LBL_OLD_PWD')}}</label>
                    <div class="slds-form-element__control">
                        <input type="password" class="slds-input" autocomplete="off" [(ngModel)]="currentPassword" />
                    </div>
                </div>
                <div *ngIf="pwdGuideline" class="slds-m-vertical--medium">
                    {{language.getLabel('LBL_PWD_GUIDELINE')}}:<br>
                    {{pwdGuideline}}
                </div>
                <div class="slds-form-element" [ngClass]="{'slds-has-error':pwderror}">
                    <label class="slds-form-element__label">{{language.getLabel('LBL_NEW_PWD')}}</label>
                    <div class="slds-form-element__control ">
                        <input type="password" class="slds-input" [(ngModel)]="newPassword" />
                    </div>
                    <div *ngIf="pwderror" class="slds-form-element__help">{{pwderror}}</div>
                </div>
                <div class="slds-form-element" [ngClass]="{'slds-has-error':repFieldVisited && pwdreperror}">
                    <label class="slds-form-element__label">{{language.getLabel('LBL_NEW_PWD_REPEATED')}}</label>
                    <div class="slds-form-element__control">
                        <input type="password" class="slds-input" [(ngModel)]="repeatPassword" (blur)="repFieldVisited=true" />
                    </div>
                </div>
                <div *ngIf="repFieldVisited && pwdreperror" class="slds-form-element__help">{{pwdreperror}}</div>
            </div>
        </div>
        <div class="slds-modal__footer">
            <button class="slds-button slds-button--neutral" (click)="close()">{{language.getLabel('LBL_CANCEL')}}</button>
            <button class="slds-button slds-button--brand" [disabled]="!canSave()" (click)="save()">{{language.getLabel('LBL_SAVE')}}</button>
        </div>
    </div>
</section>
