<system-modal>
    <system-modal-header (close)="cancel()">
        <system-label label="LBL_ASSIGN_ROLE"></system-label>
    </system-modal-header>
    <system-modal-content>
        <div class="slds-grid--pull-padded">
            <div class="slds-form-element slds-m-vertical--xxx-small slds-m-horizontal--small">
                <label class="slds-form-element__label"><system-label label="LBL_ROLES"></system-label></label>
                <div class="slds-form-element__control">
                    <div class="slds-select_container">
                        <select class="slds-select" (change)="setRole($event.srcElement.value)">
                            <option value=""><system-label label="LBL_SELECT"></system-label> &hellip;</option>
                            <ng-container *ngIf="nonUserGlobalRoles.length">
                                <option *ngFor="let role of nonUserGlobalRoles" [value]="role.id">
                                    {{ ( role.label ? language.getLabel(role.label, 'short') : (role.name.substring(0, 2) | uppercase ) +' '+ language.getLabel(role.label)) }}
                                </option>
                            </ng-container>
                            <optgroup *ngIf="nonUserCustomRoles.length" label="{{language.getLabel('LBL_CUSTOM_ROLES')}}">
                                <option *ngFor="let role of nonUserCustomRoles" [value]="role.id">
                                    {{ ( role.label ? language.getLabel(role.label, 'short') : (role.name.substring(0, 2) | uppercase ) +' '+ language.getLabel(role.label)) }} (<system-label label="LBL_CUSTOM"></system-label>)
                                </option>
                            </optgroup>

                        </select>
                    </div>
                </div>
            </div>
        </div>
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="cancel()"><system-label label="LBL_CANCEL"></system-label></button>
        <button class="slds-button slds-button--brand" (click)="add()" [disabled]="!canSubmit()"><system-label label="LBL_ASSIGN"></system-label></button>
    </system-modal-footer>
</system-modal>
