<div *ngIf="!canPrefs; else prefs" class="slds-text-align--center slds-m-top--x-large">The preferences of the user are only viewable/editable by himself.</div>

<ng-template #prefs>
    <system-section titlelabel="LBL_LOCALE_PREFERENCES">
        <div class="slds-grid slds-grid--align-spread">
            <user-preferences-item class="slds-size--1-of-2" itemlabel="LBL_TIMEZONE">
                <user-preferences-item-display>{{preferences.timezone}}</user-preferences-item-display>
                <user-preferences-item-edit>
                    <div class="slds-select_container">
                        <select class="slds-select" name="timezone" (change)="change($event,'timezone')">
                            <option value="-" [selected]="!preferences.timezone"></option>
                            <option *ngFor="let key of timezoneKeys" value="{{key}}" [selected]="preferences.timezone === key">{{timezones[key]}}</option>
                        </select>
                    </div>
                </user-preferences-item-edit>
            </user-preferences-item>
            <user-preferences-item class="slds-size--1-of-4" itemlabel="LBL_DATE_FORMAT">
                <user-preferences-item-display>{{datef}}</user-preferences-item-display>
                <user-preferences-item-edit>
                    <div class="slds-select_container">
                        <select class="slds-select" (change)="change($event,'datef')">
                            <option value="-" [selected]="!preferences.datef"></option>
                            <option *ngFor="let item of dateFormatList" [value]="item.value" [selected]="preferences.datef == item.value">
                                {{ item.name }}
                            </option>
                        </select>
                    </div>
                </user-preferences-item-edit>
            </user-preferences-item>
            <user-preferences-item class="slds-size--1-of-4" itemlabel="LBL_TIME_FORMAT">
                <user-preferences-item-display>{{timef}}</user-preferences-item-display>
                <user-preferences-item-edit>
                    <div class="slds-select_container">
                        <select class="slds-select" (change)="change($event,'timef')">
                            <option value="-" [selected]="!preferences.timef"></option>
                            <option *ngFor="let item of timeFormatList" [value]="item.value" [selected]="preferences.timef == item.value">
                                {{ item.name }}
                            </option>
                        </select>
                    </div>
                </user-preferences-item-edit>
            </user-preferences-item>
        </div>
        <div class="slds-grid slds-grid--align-spread">
            <user-preferences-item class="slds-size--2-of-5" itemlabel="LBL_CURRENCY">
                <user-preferences-item-display>
                    <span class="slds-form-element__static">
                        <ng-container *ngFor="let item of currencyList">
                            {{  item.id == preferences.currency ? item.name : '' }}
                        </ng-container>
                    </span>
                </user-preferences-item-display>
                <user-preferences-item-edit>
                    <div class="slds-select_container">
                        <select class="slds-select" (change)="change($event,'currency')">
                            <option value="-" [selected]="!preferences.currency"></option>
                            <option *ngFor="let item of currencyList" [value]="item.id" [selected]="preferences.currency == item.id">
                                {{ item.name }}
                            </option>
                        </select>
                    </div>
                </user-preferences-item-edit>
            </user-preferences-item>
            <user-preferences-item class="slds-size--1-of-5" itemlabel="LBL_DECIMAL_DIGITS">
                <user-preferences-item-display>
                    {{preferences.default_currency_significant_digits}}
                </user-preferences-item-display>
                <user-preferences-item-edit>
                    <div class="slds-select_container">
                        <select class="slds-select" (change)="change($event,'default_currency_significant_digits')">
                            <option value="-" [selected]="!preferences.default_currency_significant_digits"></option>
                            <option *ngFor="let item of currencySignificantDigitsList" [value]="item" [selected]="preferences.default_currency_significant_digits == item">
                                {{ item }}
                            </option>
                        </select>
                    </div>
                </user-preferences-item-edit>
            </user-preferences-item>
            <user-preferences-item class="slds-size--2-of-5" itemlabel="LBL_FORMATTING">
                <user-preferences-item-display>{{formattingOfNumbers}}</user-preferences-item-display>
                <user-preferences-item-edit>
                    <div class="slds-select_container">
                        <select class="slds-select" (change)="setFormattingOfNumbers( $event.srcElement.value )">
                            <option value="-"></option>
                            <option *ngFor="let item of formattingsOfNumbers; let i=index" [value]="i" [selected]="preferences.num_grp_sep === item.num_grp_sep && preferences.dec_sep === item.dec_sep">
                                {{ item.show }}
                            </option>
                        </select>
                    </div>
                </user-preferences-item-edit>
            </user-preferences-item>
        </div>
    </system-section>
    <system-section titlelabel="LBL_EXPORT_PREFERENCES">
        <div class="slds-grid slds-grid--align-spread">
            <user-preferences-item class="slds-size--1-of-2" itemlabel="LBL_EXPORT_DELIMITER">
                <user-preferences-item-display>{{ preferences.export_delimiter }}</user-preferences-item-display>
                <user-preferences-item-edit>
                    <div class="slds-select_container">
                        <select class="slds-select" (change)="change($event,'export_delimiter')">
                            <option value="-" [selected]="!preferences.export_delimiter"></option>
                            <option *ngFor="let item of exportDelimiterList" [value]="item" [selected]="preferences.export_delimiter == item">
                                {{ item }}
                            </option>
                        </select>
                    </div>
                </user-preferences-item-edit>
            </user-preferences-item>
            <user-preferences-item class="slds-size--1-of-2" itemlabel="LBL_EXPORT_CHARSET">
                <user-preferences-item-display>{{ preferences.default_export_charset }}</user-preferences-item-display>
                <user-preferences-item-edit>
                        <div class="slds-select_container">
                            <select class="slds-select" (change)="change($event,'default_export_charset')">
                                <option value="-" [selected]="!preferences.default_export_charset"></option>
                                <option *ngFor="let item of charsetlist" [selected]="item == preferences.default_export_charset" [value]="item">
                                    {{ item}}
                                </option>
                            </select>
                        </div>
                </user-preferences-item-edit>
            </user-preferences-item>
        </div>
    </system-section>

    <system-section titlelabel="LBL_OTHER_PREFERENCES">
        <div class="slds-grid slds-grid--align-spread">
            <user-preferences-item class="slds-size--1-of-2" itemlabel="LBL_NAME_FORMAT">
                <user-preferences-item-display>{{getExampleText( preferences.default_locale_name_format )}}</user-preferences-item-display>
                <user-preferences-item-edit>
                    <div class="slds-select_container">
                        <select class="slds-select" name="timezone" (change)="change($event,'default_locale_name_format')">
                            <option value="-" [selected]="!preferences.default_locale_name_format"></option>
                            <option *ngFor="let item of prefservice.formats.nameFormats" value="{{item.name}}" [selected]="item.name == preferences.default_locale_name_format">{{item.example}}</option>
                        </select>
                    </div>
                </user-preferences-item-edit>
            </user-preferences-item>
            <user-preferences-item class="slds-size--1-of-2" itemlabel="LBL_HELP_ICON">
                <user-preferences-item-display>{{preferences.help_icon}}</user-preferences-item-display>
                <user-preferences-item-edit>
                    <div class="slds-select_container">
                        <select class="slds-select" [ngModel]="preferences.help_icon" (change)="change($event,'help_icon')">
                            <option *ngFor="let option of visibilityOptions" [value]="option">{{option}}</option>
                        </select>
                    </div>
                </user-preferences-item-edit>
            </user-preferences-item>
        </div>
    </system-section>

    <system-section titlelabel="LBL_CALENDAR_PREFERENCES">
        <div class="slds-grid slds-grid--align-spread">
            <user-preferences-item class="slds-size--1-of-4" itemlabel="LBL_WEEK_START_DAY">
                <user-preferences-item-display>{{preferences.week_day_start}}</user-preferences-item-display>
                <user-preferences-item-edit>
                    <div class="slds-select_container">
                        <select class="slds-select" name="timezone" (change)="change($event,'week_day_start')">
                            <option value="-" [selected]="!preferences.week_day_start"></option>
                            <option *ngFor="let day of weekDayStartList" value="{{day}}" [selected]="day == preferences.week_day_start">{{day}}</option>
                        </select>
                    </div>
                </user-preferences-item-edit>
            </user-preferences-item>
            <user-preferences-item class="slds-size--1-of-4" itemlabel="LBL_WEEK_DAYS_COUNT">
                <user-preferences-item-display>{{preferences.week_days_count}}</user-preferences-item-display>
                <user-preferences-item-edit>
                    <div class="slds-select_container">
                        <select class="slds-select" name="timezone" (change)="change($event,'week_days_count')">
                            <option value="-" [selected]="!preferences.week_days_count"></option>
                            <option *ngFor="let count of weekDaysCountList" value="{{count}}" [selected]="count == preferences.week_days_count">{{count}} Days</option>
                        </select>
                    </div>
                </user-preferences-item-edit>
            </user-preferences-item>
            <user-preferences-item class="slds-size--1-of-4" itemlabel="LBL_DAY_START_HOUR">
                <user-preferences-item-display>{{preferences.calendar_day_start_hour}}</user-preferences-item-display>
                <user-preferences-item-edit>
                    <div class="slds-select_container">
                        <select class="slds-select" name="timezone" (change)="change($event,'calendar_day_start_hour')">
                            <option value="-" [selected]="!preferences.calendar_day_start_hour"></option>
                            <option *ngFor="let hour of dayHoursList" value="{{hour}}" [disabled]="preferences.calendar_day_end_hour <= hour" [selected]="hour == preferences.calendar_day_start_hour">{{hour}}</option>
                        </select>
                    </div>
                </user-preferences-item-edit>
            </user-preferences-item>
            <user-preferences-item class="slds-size--1-of-4" itemlabel="LBL_DAY_END_HOUR">
                <user-preferences-item-display>{{preferences.calendar_day_end_hour}}</user-preferences-item-display>
                <user-preferences-item-edit>
                    <div class="slds-select_container">
                        <select class="slds-select" name="timezone" (change)="change($event,'calendar_day_end_hour')">
                            <option value="-" [selected]="!preferences.calendar_day_end_hour"></option>
                            <option *ngFor="let hour of dayHoursList" value="{{hour}}" [disabled]="preferences.calendar_day_start_hour >= hour" [selected]="hour == preferences.calendar_day_end_hour">{{hour}}</option>
                        </select>
                    </div>
                </user-preferences-item-edit>
            </user-preferences-item>
        </div>
    </system-section>

    <system-section titlelabel="LBL_HOME_PREFERENCES">
        <div class="slds-grid">
            <user-preferences-item class="slds-size--1-of-2" itemlabel="LBL_HOME_DASHBOARD">
                <user-preferences-item-display>{{homeDashboardName}}</user-preferences-item-display>
                <user-preferences-item-edit>
                    <div class="slds-select_container">
                        <select class="slds-select" (change)="change($event,'home_dashboard')">
                            <option value="-" [selected]="!preferences.home_dashboard">-- Default Dashboard --</option>
                            <option *ngFor="let dashboard of dashboards" [value]="dashboard.id" [selected]="dashboard.id == preferences.home_dashboard">{{dashboard.name}}</option>
                        </select>
                    </div>
                </user-preferences-item-edit>
            </user-preferences-item>
            <user-preferences-item class="slds-size--1-of-2" itemlabel="LBL_HOME_ASSISTANT">
                <user-preferences-item-display>{{preferences.home_assistant}}</user-preferences-item-display>
                <user-preferences-item-edit>
                    <div class="slds-select_container">
                        <select class="slds-select" [ngModel]="preferences.home_assistant" (change)="change($event,'home_assistant')">
                            <option *ngFor="let option of visibilityOptions" [value]="option">{{option}}</option>
                        </select>
                    </div>
                </user-preferences-item-edit>
            </user-preferences-item>
        </div>
    </system-section>

    <div *ngIf="view.isEditMode()" class="slds-p-around--small slds-align--absolute-center">
        <button class="slds-button slds-button--neutral" (click)="cancel()">
            {{language.getLabel('LBL_CANCEL')}}
        </button>
        <button class="slds-button slds-button--brand slds-button-space-left" (click)="save()">
            {{language.getLabel('LBL_SAVE')}}
        </button>
    </div>

</ng-template>
