<system-modal>
    <system-modal-header (close)="close()">
        <system-label label="LBL_RESET_PASSWORD"></system-label>
    </system-modal-header>
    <system-modal-content>
        <div class="slds-form--stacked slds-text-align--left">
            <div class="slds-form--stacked slds-text-align--left">
                <div *ngIf="pwdGuideline" class="slds-m-vertical--medium">
                    <system-label label="LBL_PWD_GUIDELINE"></system-label><br>
                    {{pwdGuideline}}
                </div>
                <div class="slds-grid">
                    <div class="slds-size--10-of-12">
                        <div class="slds-form-element slds-m-vertical--small"
                             [ngClass]="getPasswordStyle(passField.touched, passField.dirty)">
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--left">
                                <system-utility-icon [icon]="'lock'" [addclasses]="'slds-input__icon slds-icon-text-default'"></system-utility-icon>
                                <input #passField="ngModel" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password"
                                       class="slds-input" placeholder="enter new password" [disabled]="autoGenerate"/>
                            </div>
                            <div *ngIf=" passField.touched && passField.dirty && passwordError" class="slds-form-element__help slds-text-color--error">{{passwordErrorMsg}}</div>
                        </div>
                        <div class="slds-form-element  slds-m-vertical--small"
                             [ngClass]="getPasswordStyle(repPassField.touched, repPassField.dirty, true)">
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--left">
                                <system-utility-icon [icon]="'lock'" [addclasses]="'slds-input__icon slds-icon-text-default'"></system-utility-icon>
                                <input [type]="showPassword ? 'text' : 'password'" #repPassField="ngModel"[(ngModel)]="repeatPassword"
                                       class="slds-input" placeholder="repeat new password" [disabled]="autoGenerate"/>
                            </div>
                            <div *ngIf=" repPassField.touched && repPassField.dirty && repeatPasswordError" class="slds-form-element__help slds-text-color--error">{{repeatPasswordErrorMsg}}</div>
                        </div>
                    </div>
                    <div class="slds-size--2-of-12 slds-p-horizontal--xx-small slds-p-vertical--small">
                        <button class="slds-button slds-button--neutral slds-p-around--x-small" (click)="toggleShowPassword()">
                            <system-button-icon [icon]="!showPassword ? 'preview': 'hide'" size="medium"></system-button-icon>
                        </button>
                        <button *ngIf="autoGenerate" class="slds-button slds-button--neutral slds-p-around--x-small" (click)="copyPassword()">
                            <system-button-icon icon="copy" size="medium"></system-button-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slds-form-element">
                <div class="slds-form-element__control slds-grid">
                    <span class="slds-checkbox slds-m-vertical--x-small slds-m-horizontal--small ">
                        <input type="checkbox" name="auto" id="autoGenerate" [(ngModel)]="autoGenerate"/>
                        <label class="slds-checkbox__label" for="autoGenerate">
                            <span class="slds-checkbox--faux"></span>
                            <span class="slds-form-element__label">Auto Generate</span>
                        </label>
                    </span>
                    <span class="slds-checkbox slds-m-vertical--x-small slds-m-horizontal--small ">
                        <input type="checkbox" name="auto" id="sendByEmail" [disabled]="!canSendByEmail" [(ngModel)]="sendByEmail"/>
                        <label class="slds-checkbox__label" for="sendByEmail">
                            <span class="slds-checkbox--faux"></span>
                            <span class="slds-form-element__label">Send By Email</span>
                        </label>
                    </span>
                </div>
            </div>
        </div>
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="close()"><system-label label="LBL_CANCEL"></system-label></button>
        <button class="slds-button slds-button--brand" [disabled]="!checkErrors()" (click)="save()"><system-label label="LBL_SAVE"></system-label></button>
    </system-modal-footer>
</system-modal>