<system-modal size="small">
    <system-modal-header (close)="close()">
        <system-label label="LBL_RESET_PASSWORD"></system-label>
    </system-modal-header>
    <system-modal-content [system-overlay-loading-spinner]="updating">
        <div class="slds-form--stacked slds-text-align--left">
            <div class="slds-form--stacked slds-text-align--left">
                <div *ngIf="pwdGuideline">
                    <system-label label="LBL_PWD_GUIDELINE" style="display:inline-block"></system-label>: {{pwdGuideline}}<br>
                </div>
                <div class="slds-grid">
                    <div class="slds-grow">
                        <div class="slds-form-element slds-m-vertical--small">
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--left">
                                <system-utility-icon [icon]="'lock'" [addclasses]="'slds-input__icon slds-icon-text-default'"></system-utility-icon>
                                <input #passField="ngModel" [autocomplete]="autocompletebreaker"  [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" class="slds-input" system-placeholder="MSG_ENTER_NEW_PASSWORD" [disabled]="autoGenerate"/>
                            </div>
                            <div *ngIf="passwordError" class="slds-form-element__help slds-text-color--error"><system-label label="LBL_PASSWORD_REQ_CHECK_ERR"></system-label></div>
                        </div>
                        <div class="slds-form-element  slds-m-vertical--small">
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--left">
                                <system-utility-icon [icon]="'lock'" [addclasses]="'slds-input__icon slds-icon-text-default'"></system-utility-icon>
                                <input [autocomplete]="autocompletebreaker"  [type]="showPassword ? 'text' : 'password'" #repPassField="ngModel" [(ngModel)]="repeatPassword" class="slds-input" system-placeholder="MSG_REPEAT_PASSWORD" [disabled]="autoGenerate"/>
                            </div>
                            <div *ngIf="repeatPasswordError" class="slds-form-element__help slds-text-color--error"><system-label label="LBL_PASSWORDS_DONT_MATCH"></system-label></div>
                        </div>
                    </div>
                    <div class="slds-p-left--xx-small slds-p-vertical--small">
                        <button class="slds-button slds-button--icon-border slds-button--neutral" (click)="toggleShowPassword()">
                            <system-button-icon [icon]="!showPassword ? 'preview': 'hide'" size="medium"></system-button-icon>
                        </button>
                        <button [disabled]="!autoGenerate" class="slds-button slds-button--icon-border slds-button--neutral" (click)="copyPassword()">
                            <system-button-icon icon="copy" size="medium"></system-button-icon>
                        </button>
                    </div>
                </div>
            </div>
            <system-checkbox [(ngModel)]="autoGenerate"><system-label label="LBL_AUTO_GENERATE"></system-label></system-checkbox>
            <system-checkbox class="slds-m-left--small" [(ngModel)]="sendByEmail"><system-label label="LBL_SEND_BY_EMAIL"></system-label></system-checkbox>
            <system-checkbox class="slds-m-left--small" [(ngModel)]="forceReset"><system-label label="LBL_FORCE_RESET"></system-label></system-checkbox>
        </div>
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="close()"><system-label label="LBL_CANCEL"></system-label></button>
        <button class="slds-button slds-button--brand" [disabled]="!canSave" (click)="setPassword()"><system-label label="LBL_SET_PASSWORD"></system-label></button>
    </system-modal-footer>
</system-modal>
