<div class="slds-m-around--small" system-to-bottom>
    @if (!userData) {
        <div class="slds-box--border slds-size--1-of-1 slds-height_full slds-align--absolute-center" [system-overlay-loading-spinner]="!initialized">
            @if (initialized){
                <button class="slds-button slds-button--neutral" (click)="addUser()">
                    <system-label label="LBL_ADD_USER"/>
                </button>
            }
        </div>
    } @else {
        <user-management-panel-user [userData]="userData"/>
    }
</div>