<article class="slds-tile slds-media slds-p-vertical--xx-small">
    <system-checkbox (ngModelChange)="onClick($event)" [ngModel]="groupware.checkAttachmentArchive(attachment)" [hidelabel]="true" class="slds-m-right--x-small">{{attachment.name}}</system-checkbox>
    <div class="slds-media__body">
        <h3 class="slds-tile__title slds-truncate slds-text-heading--label" [title]="attachment.name">
            {{attachment.name}}
        </h3>
        <div class="slds-tile__detail">
            <p class="slds-truncate slds-text-body_small" title="Attachment Type">
                {{attachment.contentType}}
            </p>
        </div>
    </div>
</article>
