<article class="slds-tile slds-media slds-p-vertical--xx-small">
    <div class="slds-p-vertical--xx-small">
        <system-icon [module]="model.module" size="small"></system-icon>
    </div>
    <div class="slds-media__body">
        <div class="slds-grid slds-has-flexi-truncate">
            <span *ngIf="!mainfieldsetfields">{{model.data.summary_text}}</span>
            <ul *ngIf="mainfieldsetfields" class="slds-list_horizontal slds-has-dividers_right slds-truncate">
                <ng-container *ngFor="let fieldsetitem of mainfieldsetfields">
                    <li *ngIf="model.getField(fieldsetitem.field)" class="slds-item slds-size--1-of-1">
                        <field-container [field]="fieldsetitem.field" [fieldconfig]="fieldsetitem.fieldconfig" fielddisplayclass="slds-truncate"></field-container>
                    </li>
                </ng-container>
            </ul>
            <div class="slds-col--bump-left slds-checkbox">
                <input type="checkbox" name="beans" [id]="'bean-'+bean.id" (click)="onClick($event)" [checked]="groupware.checkBeanArchive(bean)"/>
                <label class="slds-checkbox__label" [attr.for]="'bean-'+bean.id">
                    <span class="slds-checkbox_faux"></span>
                    <span class="slds-form-element__label slds-assistive-text">{{bean.name}}</span>
                </label>
            </div>
        </div>
        <div class="slds-truncate slds-text-body_small" title="Bean Module">
            <ul class="slds-list_horizontal slds-has-dividers_right slds-truncate">
                <li class="slds-item"><system-label-modulename [module]="model.module" [singular]="true"></system-label-modulename></li>
                <ng-container *ngFor="let fieldsetitem of subfieldsetfields">
                    <li *ngIf="model.getField(fieldsetitem.field)" class="slds-item">
                        <field-container [field]="fieldsetitem.field" [fieldconfig]="fieldsetitem.fieldconfig" fielddisplayclass="slds-truncate"></field-container>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</article>
