<div>
    <div class="slds-theme--shade slds-p-around--small slds-border--bottom slds-grid slds-grid--vertical-align-center slds-grid--align-spread">
        <div class="slds-form--inline">
            <div class="slds-form-element__control">
                <system-checkbox [(ngModel)]="linktoaccount">
                    <system-label
                            label="LBL_PROSPECTCONVERT_LINKACCOUNT"></system-label>
                </system-checkbox>
            </div>
        </div>
        <div *ngIf="selectedAccount && linktoaccount" class="slds-grid slds-grid--vertical-align-center">
            <div class="slds-m-right--x-small">
                <system-label label="LBL_ACCOUNT"></system-label>
            </div>
            <div class="slds-pill">
              <span class="slds-icon_container slds-icon-standard-account slds-pill__icon_container">
                <system-icon [module]="model.module"></system-icon>
              </span><a href="javascript:void(0);" class="slds-pill__label">{{selectedAccount.name}}
                , {{selectedAccount.billing_address_city}}</a>
                <button class="slds-button slds-button--icon slds-pill__remove" title="Remove">
                    <system-button-icon [icon]="'clear'" (click)="unlinkAccount()"></system-button-icon>
                </button>
            </div>
        </div>
    </div>
    <div [class.slds-hide]="!linktoaccount" class="slds-grid slds-gutters_direct-x-small slds-p-horizontal--x-small">
        <div class="slds-col slds-grow">
            <div #detailcontainer></div>
        </div>
    </div>
</div>
