<system-modal size="large">
    <system-modal-header (close)="close()">
        <system-label label="LBL_CONVERT_PROSPECT"></system-label>
    </system-modal-header>
    <system-modal-content [grow]="true">
        <div class="slds-page-header">
            <div class="slds-grid">
                <div class="slds-col slds-has-flexi-truncate">
                    <div class="slds-media slds-no-space slds-grow">
                        <system-icon [module]="'Prospects'"></system-icon>
                        <div class="slds-media__body">
                            <nav role="navigation" aria-label="Breadcrumbs">
                                <ol class="slds-breadcrumb slds-list--horizontal">
                                    <li class="slds-breadcrumb__item slds-text-title--caps"><a href="javascript:void(0);"><system-label-modulename [module]="model.module" [singular]="true"></system-label-modulename></a>
                                    </li>
                                    <li class="slds-breadcrumb__item slds-text-title--caps"><a href="javascript:void(0);"><system-label label="LBL_CONVERT_PROSPECT"></system-label></a></li>
                                </ol>
                            </nav>
                            <div>
                                <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate">{{model.data.summary_text}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-grid slds-grid--align-spread slds-p-around--small slds-theme--shade slds-border--bottom">
            <button class="slds-button slds-button--neutral" [disabled]="model.isLoading || currentConvertStep == 1" (click)="prevStep()"><system-label label="LBL_PREVIOUS"></system-label></button>
            <div class="slds-progress slds-progress--shade">
                <ol class="slds-progress__list">
                    <li class="slds-progress__item" [ngClass]="{'slds-is-active': currentConvertStep == 1, 'slds-is-completed': currentConvertStep > 1}">
                        <button class="slds-button slds-progress__marker" [ngClass]="{'slds-button--icon slds-progress__marker--icon': currentConvertStep > 1}">
                            <system-button-icon *ngIf="currentConvertStep > 1" [icon]="'success'"></system-button-icon>
                        </button>
                    </li>
                    <li class="slds-progress__item" [ngClass]="{'slds-is-active': currentConvertStep == 2, 'slds-is-completed': currentConvertStep > 2}">
                        <button class="slds-button slds-progress__marker" [ngClass]="{'slds-button--icon slds-progress__marker--icon': currentConvertStep > 2}">
                            <system-button-icon *ngIf="currentConvertStep > 2" [icon]="'success'"></system-button-icon>
                        </button>
                    </li>
                </ol>
                <div class="slds-progress-bar slds-progress-bar_x-small">
                    <span class="slds-progress-bar__value" [style.width.%]="this.currentConvertStep / (2) * 100"></span>
                </div>
            </div>
            <button *ngIf="currentConvertStep == 1" class="slds-button slds-button--neutral" [disabled]="model.isLoading" (click)="nextStep()"><system-label label="LBL_NEXT"></system-label></button>
            <button *ngIf="currentConvertStep == 2" class="slds-button slds-button--brand" (click)="save()"><system-label label="LBL_CONVERT"></system-label></button>
        </div>
        <div class="slds-scrollable--y" system-to-bottom [system-overlay-loading-spinner]="model.isLoading">
            <prospect-convert-account *ngIf="personModuleName == 'Contacts'" [hidden]="currentConvertStep !== 1" (account)="setAccount($event)" ></prospect-convert-account>
            <prospect-convert-contact [module]="personModuleName" [hidden]="currentConvertStep !== 2" (contact)="setContact($event)"></prospect-convert-contact>
        </div>

    </system-modal-content>
</system-modal>


