<section class="slds-docked-composer slds-grid slds-grid_vertical slds-m-horizontal--x-small" style="transition: .5s" [ngClass]="{'slds-is-closed': isClosed, 'slds-is-open': !isClosed}" role="dialog">
    <header class="slds-docked-composer__header slds-grid slds-shrink-none" aria-live="assertive">
        <div class="slds-media slds-media_center slds-no-space">
            <div class="slds-media__figure slds-m-right_x-small">
                <span class="slds-icon_container">
                    <system-icon [module]="displayLabel" [size]="'small'"></system-icon>
                </span>
            </div>
            <div class="slds-media__body">
                <div class="slds-truncate">
                    <a href="javascript:void(0);" (click)="goRecord(displayLabel)">{{parent_name}}</a>
                </div>
            </div>
        </div>
        <div class="slds-col_bump-left slds-shrink-none">
            <button class="slds-button slds-button_icon slds-button_icon" (click)="toggleClosed()"><system-button-icon [icon]="toggleIcon"></system-button-icon></button>
            <button class="slds-button slds-button_icon slds-button_icon" (click)="promptClose()"><system-button-icon [icon]="'close'"></system-button-icon></button>
        </div>
    </header>
    <div class="slds-docked-composer__body slds-theme--default slds-scrollable" style="height: 350px;"  #scrollMe [scrollTop]="scrollMe.scrollHeight">
		<div *ngIf="messages.length == 0" class="slds-align--absolute-center slds-height_full"  style="height: 100%;"><system-illustration-no-records></system-illustration-no-records></div>
        <div>
            <div class="slds-form-element" *ngFor="let msg of messages">
                <section role="log" class="slds-chat">
                    <ul class="slds-chat-list">
                        <li class="slds-chat-listitem slds-chat-listitem_inbound">
                            <div *ngIf="msg.direction == 'i'" class="slds-chat-message">
                                <div class="slds-chat-message__body">
                                    <div class="slds-chat-message__text slds-chat-message__text_inbound">
                                        <span><div [innerHTML]="msg.attachments"  [ngStyle]="{'width': msg.style=='0' ? '' : '100px'}"></div>{{msg.messages}}</span></div>
                                    <div class="slds-chat-message__meta" aria-label="inbound user and time">{{msg.in_time}}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
                <section role="log" class="slds-chat">
                    <ul class="slds-chat-list">
                        <li class="slds-chat-listitem slds-chat-listitem_outbound">
                            <div *ngIf="msg.direction == 'o'" class="slds-chat-message">
                                <div class="slds-chat-message__body">
                                    <div class="slds-chat-message__text slds-chat-message__text_outbound"><span>{{msg.messages}}</span></div>
                                    <div class="slds-chat-message__meta" aria-label="outbound user and time">{{msg.out_time}}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
    <footer style="background-color: #f3f2f2;padding: 10px;">
        <div class="slds-col_bump-left">
            <div class="slds-form-element" >
                <div class="slds-form-element__control">
                    <textarea #textarea_id id="textarea-id-01" placeholder="Type here…" class="slds-textarea" [rows]="multipleline" style="width: 84%;" [value]="description" [(ngModel)]="description"  (focus)="onFocus()"></textarea>&nbsp;&nbsp;&nbsp;<button class="slds-button slds-button_success" (click)="sendMessage(textarea_id.value,parent_id,displayLabel)" [ngStyle]="{'margin-bottom': multipleline=='1' ? '30px' : '80px'}">Send</button>
                </div>
            </div>
        </div>
    </footer>
</section>
