<!--
<div *ngIf="!hidden" class="slds-tabs--default slds-grid slds-grid--vertical">
    <ul class="slds-tabs--default__nav" role="tablist">
        <li (click)="setActiveTab('details')" [class.slds-active]="activeTab == 'details'" class="slds-tabs--default__item slds-text-title--caps" role="presentation">
            <a class="slds-tabs--default__link" href="javascript:void(0);" role="tab"  aria-selected="false">
                <system-label label="LBL_DETAILS"></system-label>
            </a>
        </li>
        <li (click)="setActiveTab('preview')" [class.slds-active]="activeTab == 'preview'" class="slds-tabs--default__item slds-text-title--caps" role="presentation">
            <a class="slds-tabs--default__link" href="javascript:void(0);" role="tab"  aria-selected="false">
                <system-label label="LBL_PREVIEW"></system-label>
            </a>
        </li>
    </ul>
    <div class="slds-grow">
        <div class="slds-p-around--x-small slds-height_full" [class.slds-hide]="activeTab != 'details'">
            <field-container field="output_template_name"></field-container>
            <field-container field="email_body" [fieldconfig]="{fieldtype: 'richtext', asiframe:true, 'simplemode': true, height: '250px'}" fielddisplayclass="slds-has-divider--bottom slds-p-vertical--x-small spice-fieldminheight"></field-container>
        </div>
        <div [class.slds-hide]="activeTab != 'preview'" class="slds-height_full">

        </div>
    </div>
</div>
-->

<system-collapsable-tab *ngIf="!hidden" title="LBL_MAILMERGE">
    <div class="slds-p-horizontal--xx-small">
        <field-container field="output_template_name" fielddisplayclass="slds-has-divider--bottom slds-p-vertical--x-small spice-fieldminheight"></field-container>

        <field-container field="email_subject" [fieldconfig]="{label: 'LBL_SUBJECT'}" fielddisplayclass="slds-has-divider&#45;&#45;bottom slds-p-vertical&#45;&#45;x-small spice-fieldminheight"></field-container>
        <field-container field="email_body" [fieldconfig]="{label: 'LBL_LETTER_CONTENT', fieldtype: 'richtext', asiframe:true, 'simplemode': true, height: '250px'}" fielddisplayclass="slds-has-divider&#45;&#45;bottom slds-p-vertical&#45;&#45;x-small spice-fieldminheight"></field-container>

    </div>
</system-collapsable-tab>
