<div class="slds-scrollable--y slds-height_full" #tablecontent (scroll)="onScroll($event)">
    <table class="slds-table slds-table--fixed-layout slds-table--bordered slds-max-medium-table--stacked-horizontal" [ngClass]="{'slds-no-row-hover':multiselect,'singleselect':!multiselect}" role="listbox">
        <thead>
        <tr object-list-header [showSelectColumn]="multiselect" [showRowActionMenu]="false"></tr>
        </thead>
        <tbody>
        <tr object-list-item *ngFor="let listItem of modellist.listData.list" [listItem]="listItem" [showActionMenu]="false" [rowselect]="multiselect" [displaylinks]="false" class="slds-hint-parent slds-p-horizontal--x-small" (click)="clickRow($event, listItem)"></tr>
        </tbody>
        <tbody system-table-stencils [columns]="modellist.listfields?.length" [select]="multiselect" [tools]="false" [rows]="10" *ngIf="modellist.isLoading"></tbody>
    </table>
</div>
