<div class="slds-tile slds-tile--board slds-m-horizontal_xx-small slds-p-around_xx-small slds-border_bottom" [ngClass]="selectedClass">
    <div class="slds-grid slds-grid--vertical-align-center slds-m-bottom--small">
        <system-icon [module]="model.module" size="x-small"></system-icon>
        <h3 class="slds-truncate slds-text-heading--small">
            <a (click)="setSelectedListItem()" href="javascript:void(0);">
                {{ model.data.name }}
            </a>
        </h3>
        <div class="slds-col--bump-left">
            <system-utility-icon *ngIf="item.related_id" icon="outbound_call" [size]="'x-small'" class="slds-m-right--xx-small"></system-utility-icon>
            <span *ngIf="item.hits > 0" class="slds-box slds-box_xx-small slds-theme--error" [ngStyle]="hitsStyle">
                {{ item.hits }}
            </span>
        </div>
    </div>
    <div class="slds-tile__detail slds-text-body--small">
        <div class="slds-grid" *ngFor="let componentField of componentFields; trackBy: trackByFn">
            <field-label class="slds-truncate" [fieldname]="componentField.field" [fieldconfig]="componentField.fieldconfig">
            </field-label>
            <field-container class="slds-col--bump-left slds-truncate" [field]="componentField.field"
                             [fieldconfig]="componentField.fieldconfig"
                             [fielddisplayclass]="'slds-truncate'"></field-container>
        </div>
        <div *ngIf="item.planned_activity_date" class="slds-grid">
            <label class="slds-truncate">{{language.getLabel('LBL_PLANNED_ACTIVITY_DATE')}}</label>
            <div class="slds-col--bump-left slds-truncate slds-text-color_error">{{ activityDate }}</div>
        </div>
    </div>
</div>