<div #listcontainer (scroll)="onScroll($event)" class="slds-p-vertical_xx-small slds-scrollable--y spice-scrollbar" [ngStyle]="listStyle">
    <div *ngIf="!isLoading && listItems.length == 0"
         class="slds-text-align_center slds-p-vertical--medium">
        <span><system-label label="LBL_NO_ENTRIES"></system-label></span>
    </div>
    <div #itemscontainer style="height: fit-content">
        <tele-sales-cockpit-list-item *ngFor="let item of listItems; trackBy: trackByFn" [item]="item"></tele-sales-cockpit-list-item>
    </div>
    <system-spinner *ngIf="isLoading"></system-spinner>
</div>
