<div class="slds-trial-header slds-theme--info slds-grid slds-grid--vertical-align-center">
    <div class="slds-grid">
        <button class="slds-button slds-m-horizontal--small" (click)="openWelcome()"><system-label label="LBL_WELCOME"/></button>
        <!--div class="slds-grid slds-dropdown-trigger slds-dropdown-trigger_click">
            <button class="slds-button" aria-haspopup="true">
                <system-button-icon icon="right"></system-button-icon>
                <system-label label="LBL_CHOOSE_YOUR_TOUR"></system-label>
            </button>
        </div-->
    </div>
    <div class="slds-col_bump-left">
        <systemtenant-header-bar-validity></systemtenant-header-bar-validity>
    </div>
</div>
