<a #popuplink href="javascript:void(0);" class="slds-text-link--reset slds-text-color--inverse">{{model.data.summary_text}}</a>
<span class="slds-text-color--inverse" *ngIf="isMulti">, {{startHour}}</span>
<div *ngIf="showPopover" (mouseenter)="mouseIn = true" (mouseleave)="this.mouseIn = false" style="z-index: 99"
     class="slds-popover slds-popover--panel slds-nubbin--left-top slds-is-absolute" role="dialog">
    <div object-popover-header></div>
    {{model.parent_type}}
    <div class="slds-popover__body">
        <dl *ngIf="model.data.parent_id" object-popover-body-item class="slds-popover__body-list" [module]="model.data.parent_type" [id]="model.data.parent_id"></dl>
    </div>
</div>