<div #calendarsheet class="slds-p-vertical--xx-small slds-scrollable" [ngStyle]="getSheetStyle()">
    <ng-container *ngIf="!isLoading">
        <div *ngFor="let day of allEvents" class="slds-grid slds-border--bottom">
            <div class="slds-border--right slds-p-around--x-small slds-size--1-of-12">
                <div>{{getShortDay(day.date)}}</div>
                <div>
                    <a style="cursor: pointer" class="slds-text-link" (click)="goToDay(day.date)">{{getMonthDayYear(day.date)}}</a>
                </div>
            </div>
            <div class="slds-size--11-of-12 slds-grid slds-grid--vertical-align-center">
                <table class="slds-table slds-max-medium-table_stacked-horizontal">
                    <tbody>
                    <tr style="cursor: pointer" *ngFor="let event of day.events">
                        <td style="width: 16px">
                            <div class="slds-truncate">
                                <div class="slds-button slds-button--icon slds-m-right--xx-small slds-p-top--xxx-small" [style.color]="event.color">
                                    <system-button-icon icon="user" size="small"></system-button-icon>
                                </div>
                            </div>
                        </td>
                        <td style="width: 100px">
                            <div class="slds-truncate" [title]="getTime(event.start, event.end, event.isMulti)">
                                {{getTime(event.start, event.end, event.isMulti)}}
                            </div>
                        </td>
                        <td [style.height]="calendar.multiEventHeight">
                            <calendar-sheet-event [event]="event" [isschedulesheet]="true" style="position: initial"></calendar-sheet-event>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="slds-grid slds-p-around--small">
            {{language.getLabel('MSG_SHOWING_EVENTS_UNTIL')}} {{getUntilDate()}}
            <a style="cursor: pointer" class="slds-text-link slds-m-left--xx-small" (click)="loadMore()">
                {{language.getLabel('LBL_MORE')}}
            </a>
        </div>
    </ng-container>
    <system-spinner *ngIf="isLoading"></system-spinner>
</div>