<div class="slds-datepicker">
    <div class="slds-datepicker__filter slds-grid">
        <div class="slds-datepicker__filter--month slds-grid slds-grid--align-spread slds-grow">
            <div class="slds-align-middle">
                <button class="slds-button slds-button--icon-container" (click)="prevMonth()">
                    <system-button-icon [icon]="'left'"></system-button-icon>
                </button>
            </div>
            <h2 id="month" class="slds-align-middle" aria-live="assertive" aria-atomic="true">{{currentMonth}}</h2>
            <div class="slds-align-middle">
                <button class="slds-button slds-button--icon-container" (click)="nextMonth()">
                    <system-button-icon [icon]="'right'"></system-button-icon>
                </button>
            </div>
        </div>
        <div class="slds-shrink-none">
            <label class="slds-assistive-text" for="select-01">Pick a Year</label>
            <div class="slds-select_container">
                <select id="select-01" class="slds-select" title="Pick a Year" [(ngModel)]="currentYear">
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                </select>
            </div>
        </div>
    </div>
    <table class="slds-datepicker__month" role="grid">
        <thead>
        <tr>
            <th *ngFor="let weekday of weekdays(); let index = index" scope="col">
                <abbr [title]="weekdayLong(index)">{{weekday}}</abbr>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let week of currentGrid" [ngClass]="{'slds-theme--shade': isCurrentWeek(week)}">
            <td *ngFor="let day of week" role="gridcell" (click)="pickDate(day.day, day.month)"
                [ngClass]="{'slds-disabled-text': notCurrentMonth(day.month), 'slds-is-today': isToday(day.day, day.month), 'slds-is-selected': isCurrent(day.day, day.month)}">
                <span class="slds-day">{{day.day}}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>