<div [style.background-color]="calendar.sheetType == 'Schedule' ? '0' : calendar.googleColor" class="slds-grid slds-m-around--xxx-small spice-free-drag-preview slds-height_full" style="border-radius: 2px;">
    <div class="slds-size--1-of-1">
        <div class="slds-grid slds-grid--align-spread slds-p-horizontal--xx-small slds-height_full">
            <div class="slds-truncate slds-size--1-of-1" style="height: inherit">
                <span (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" [class.spice-calendar-event-has-dark-color]="calendar.sheetType != 'Schedule'" class="slds-text-link--reset">
                    {{event.summary}}
                </span>
            </div>
        </div>
    </div>
</div>
