<div #headercontainer class="slds-grid slds-border--bottom">
    <div class="slds-align--absolute-center slds-m-around--none slds-p-vertical--x-small slds-text-align--center" [ngStyle]="timeColStyle">
        {{offset}}
    </div>
    <div class="slds-border--right" [ngStyle]="getDaysContainerStyle()">
        <div class="slds-grid">
            <div *ngFor="let sheetDay of sheetDays; trackBy: trackByIndexFn" class="slds-border--left" [ngStyle]="dayWidthStyle">
                <div class="slds-p-top--xx-small">
                    <div class="slds-text-body--regular slds-p-left--x-small" [ngStyle]="isTodayStyle(sheetDay.date)">{{displayDate('ddd', sheetDay.date)}}</div>
                    <div class="slds-p-left--x-small slds-p-bottom--xx-small slds-border--bottom slds-text-heading--large">
                        <a href="javascript:void(0);" class="slds-text-link--reset" (click)="gotoDay(sheetDay.day)" [ngStyle]="isTodayStyle(sheetDay.date)">{{displayDate('D',sheetDay.date)}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-is-relative">
            <ng-container *ngFor="let event of allMultiEvents; trackBy: trackByItemFn">
                <calendar-sheet-event [ngStyle]="getMultiEventStyle(event)" [event]="event"></calendar-sheet-event>
            </ng-container>
        </div>
        <div class="slds-grid">
            <div *ngFor="let sheetDay of sheetDays; trackBy: trackByIndexFn" [ngStyle]="dayWidthStyle" [style.min-height]="calendar.multiEventHeight + 'px'" class="slds-border--left">
                <div *ngFor="let item of sheetDay.items; trackBy: trackByItemFn"  [style.height]="calendar.multiEventHeight + 'px'"></div>
            </div>
        </div>
    </div>
    <div #scrollcontainer class="spicecrm-scrollbar" aria-hidden="true" style="overflow: scroll; visibility: hidden; flex: none"></div>
</div>
<div #calendarsheet [ngStyle]="getSheetStyle()" class="slds-scrollable spicecrm-scrollbar slds-is-relative">
    <ng-container>
        <div *ngFor="let sheetHour of sheetHours; let index = index; trackBy: trackByIndexFn" class="slds-grid">
            <div [ngStyle]="timeColStyle">
                <div class="slds-text-align--center slds-border--bottom" [ngStyle]="hourHeightStyle">{{sheetHour}}:00</div>
            </div>
            <div class="slds-border--left slds-border--bottom slds-grow slds-grid" [ngStyle]="hourHeightStyle">
                <div *ngFor="let sheetDay of sheetDays; trackBy: trackByIndexFn" class="slds-border--right" [ngStyle]="dayWidthStyle">
                    <div style="height: 50%" class="slds-grid slds-grid--vertical">
                        <calendar-sheet-drop-target [day]="sheetDay" [hour]="sheetHour" [hourPart]="0" style="display: block; width: 100%; height: 50%"></calendar-sheet-drop-target>
                        <calendar-sheet-drop-target [day]="sheetDay" [hour]="sheetHour" [hourPart]="1" style="display: block; width: 100%; height: 50%"></calendar-sheet-drop-target>
                    </div>
                    <div class="slds-border--top slds-grid slds-grid--vertical" style="height: 50%">
                        <calendar-sheet-drop-target [day]="sheetDay" [hour]="sheetHour" [hourPart]="2" style="display: block; width: 100%; height: 50%"></calendar-sheet-drop-target>
                        <calendar-sheet-drop-target [day]="sheetDay" [hour]="sheetHour" [hourPart]="3" style="display: block; width: 100%; height: 50%"></calendar-sheet-drop-target>
                    </div>
                </div>
            </div>
        </div>
        <ng-container *ngFor="let event of allEvents; trackBy: trackByItemFn">
            <calendar-sheet-event [ngStyle]="getEventStyle(event)" [event]="event"></calendar-sheet-event>
        </ng-container>
    </ng-container>
</div>
