<div class="slds-popover slds-popover--panel slds-is-fixed" [ngStyle]="popoverStyle" [ngClass]="nubbinClass" role="dialog" (mouseenter)="onMouseOver()" (mouseleave)="onMouseOut($event)">
    <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-small slds-float_right slds-popover__close" (click)="closePopover(true)">
        <system-button-icon icon="close"></system-button-icon>
    </button>
    <div #popoverContainer>
        <div class="slds-popover__header" style="padding: .5rem">
            <header class="slds-text-heading--small slds-m-bottom--x-small">{{shortDate}} {{'('+ events.length +')'}} <system-label label="LBL_EVENTS"></system-label></header>
            <div class="slds-scrollable--y" style="height: 120px">
                <calendar-sheet-event *ngFor="let event of events; trackBy: trackByFn" [event]="event" [ngStyle]="eventStyle" class="spice-calendar-event"></calendar-sheet-event>
            </div>
        </div>
    </div>
</div>
