<system-utility-icon [icon]="'info_alt'" [size]="'x-small'" (click)="togglePopover()"></system-utility-icon>
<div *ngIf="showPopover" class="slds-popover slds-popover--panel slds-nubbin--left-top slds-is-absolute" role="dialog">
    <div object-popover-header></div>
    {{model.parent_type}}
    <div class="slds-popover__body">
        <dl *ngIf="model.data.parent_id" object-popover-body-item class="slds-popover__body-list" [module]="model.data.parent_type" [id]="model.data.parent_id"></dl>
    </div>
</div>