<div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-m-right--x-small" [class.slds-is-open]="isOpen">
    <button  class="slds-button slds-button--icon" aria-haspopup="true" (click)="isOpen = !isOpen">
        <system-button-icon icon="palette" size="small"></system-button-icon>
    </button>
    <div class="slds-dropdown slds-dropdown--right slds-dropdown_bottom">
        <div class="slds-color-picker slds-color-picker_swatches-only">
            <div class="slds-color-picker__selector">
                <ul class="slds-color-picker__swatches" role="menu">
                    <li *ngFor="let color of calendar.colorPalette" class="slds-color-picker__swatch" role="presentation">
                        <a class="slds-color-picker__swatch-trigger slds-is-selected" role="menuitem" (click)="pickColor(color)">
                            <span class="slds-swatch" [style.background-color]="'#' + color">
                                <span class="slds-assistive-text">#{{color}}</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
