<div #calendarcontainer [ngClass]="mainContainerClass" [class.slds-text-body--small]="isMobileView" [attr.role]="!asPicker ? 'none' : 'dialog'">
    <div [class.slds-modal__container]="asPicker">
        <calendar-header (datePicked)="setDateChanged($event)"></calendar-header>
        <div #calendarcontent tobottom class="slds-grid slds-theme_default slds-border--right">
            <div *ngIf="!isMobileView" tobottom [ngStyle]="sidebarStyle" class="slds-border--right slds-p-around--xx-small spicecrm-scrollbar slds-scrollable--y slds-size--1-of-1 slds-theme--default">
                <system-input-date-picker [setDate]="calendarDate" [showTodayButton]="false" [weekStartDay]="weekStartDay" (datePicked)="setDateChanged($event)"></system-input-date-picker>
                <calendar_other_calendars_monitor (googleIsVisible$)="handleGoogleIsVisible($event)" [userscalendars]="usersCalendars" [othercalendars]="otherCalendars"></calendar_other_calendars_monitor>
            </div>
            <div [ngStyle]="sheetStyle">
                <calendar-sheet-day
                        *ngIf="sheetType === 'Day'"
                        [googleisvisible]="googleIsVisible"
                        [userscalendars]="usersCalendars"
                        [setdate]="calendarDate">
                </calendar-sheet-day>
                <calendar-sheet-three-days
                        *ngIf="sheetType === 'Three_Days'"
                        [googleisvisible]="googleIsVisible"
                        [calendarcontent]="calendarcontent"
                        [footercontainer]="footercontainer"
                        [userscalendars]="usersCalendars"
                        [setdate]="calendarDate"
                        (navigateday)="gotToDayView($event)">
                </calendar-sheet-three-days>
                <calendar-sheet-week
                        *ngIf="sheetType === 'Week'"
                        [googleisvisible]="googleIsVisible"
                        [calendarcontent]="calendarcontent"
                        [userscalendars]="usersCalendars"
                        [setdate]="calendarDate"
                        (navigateday)="gotToDayView($event)">
                </calendar-sheet-week>
                <calendar-sheet-month
                        *ngIf="sheetType === 'Month'"
                        [googleisvisible]="googleIsVisible"
                        [userscalendars]="usersCalendars"
                        [setdate]="calendarDate"
                        (navigateday)="gotToDayView($event)">
                </calendar-sheet-month>
                <calendar-sheet-schedule
                        *ngIf="sheetType === 'Schedule'"
                        [googleisvisible]="googleIsVisible"
                        [userscalendars]="usersCalendars"
                        [setdate]="calendarDate"
                        (navigateday)="gotToDayView($event)"
                        (untildate$)="handleUntiDate($event)">
                </calendar-sheet-schedule>
            </div>
        </div>
        <div #footercontainer>
            <footer *ngIf="asPicker" class="slds-modal__footer">
                <button class="slds-button slds-button--neutral" (click)="closeModal()">{{language.getLabel('LBL_CLOSE')}}</button>
            </footer>
        </div>
    </div>
</div>
