<div class="slds-height_full">
    <div class="slds-grid slds-grid--vertical-align-center slds-border--bottom slds-p-around--x-small">
        <system-icon module="Calendar" size="small"></system-icon>
        <h2 class="slds-text-heading--medium"><system-label [label]="dashletLabel"></system-label></h2>
    </div>
    <div #calendarcontent [ngStyle]="contentStyle" class="slds-size--1-of-1">
        <calendar-sheet-three-days [setdate]="calendarDate"></calendar-sheet-three-days>
    </div>
</div>
