<div #headercontainer class="slds-grid slds-border--bottom">
    <div class="slds-align--absolute-center slds-m-around--none slds-p-vertical--x-small slds-text-align--center" [ngStyle]="getTimeColStyle()">
        {{offset}}
    </div>
    <div class="slds-size--1-of-1 slds-border--left slds-p-top--xx-small" [ngStyle]="getDayColStyle()">
        <div class="slds-text-body--regular slds-p-left--x-small" [ngStyle]="isTodayStyle()">{{displayDate('ddd')}}</div>
        <h1 class="slds-p-left--x-small slds-p-bottom--xx-small slds-text-heading--large" [ngStyle]="isTodayStyle()">{{displayDate('D')}}</h1>
        <div #multieventscontainer class="slds-text-align--center slds-border--top slds-p-around--xxx-small slds-text-body--small" [ngStyle]="getMultiEventsContainerStyle()">
            <ng-container *ngFor="let event of allMultiEvents; let index = index; trackBy: trackByFn">
                <calendar-sheet-event [ngStyle]="getMultiEventStyle(index)" [event]="event"></calendar-sheet-event>
            </ng-container>
        </div>
    </div>
</div>
<div #calendarsheet [ngStyle]="sheetStyle" class="slds-scrollable--y spicecrm-scrollbar slds-is-relative">
    <ng-container *ngFor="let sheetHour of sheetHours; let index = index; trackBy: trackByFnHours">
        <div class="slds-is-absolute slds-border--top slds-size--1-of-1" [ngStyle]="getHourDividerStyle(index + 1)"></div>
        <ng-container *ngIf="notLastHour(index)">
            <div  class="slds-is-absolute slds-border--top" [ngStyle]="getHalfHourDividerStyle(index)"></div>
            <div class="slds-is-absolute slds-text-align--center" [ngStyle]="getHourLabelStyle(index)">{{sheetHour}}:00</div>
            <calendar-sheet-drop-target [hour]="sheetHour" class="slds-is-absolute"
                                        [ngStyle]="getDropTargetStyle(index)">
            </calendar-sheet-drop-target>
        </ng-container>
    </ng-container>
    <ng-container>
        <div class="slds-is-absolute slds-border--left" [ngStyle]="getDayDividerStyle()"></div>
    </ng-container>
    <ng-container *ngFor="let event of allEvents; trackBy: trackByFn">
        <calendar-sheet-event [ngStyle]="getEventStyle(event)" [event]="event"></calendar-sheet-event>
    </ng-container>
</div>