<div class="slds-m-around--xxx-small slds-p-horizontal--xx-small" style="height: 20px; border-radius: 2px;"
     [style.background-color]="event.color">
    <div class="slds-grid slds-grid--align-spread">
        <div class="slds-truncate" style="height: 100%;" (click)="goDetails(event.id, event.module)">
            <span [title]="event.data.summary_text" class="slds-text-link--reset slds-text-color--inverse">{{event.data.summary_text}}</span>
            <span class="slds-text-color--inverse" *ngIf="isMulti">, {{getStartHour(event)}}</span>
        </div>
        <object-action-menu *ngIf="canEdit(event.data.assigned_user_id)" class="slds-m-top--xxx-small" [buttonsize]="'xx-small'"></object-action-menu>
    </div>
</div>