<div #headercontainer class="slds-grid slds-border--bottom">
    <div class="slds-align--absolute-center slds-m-around--none slds-p-vertical--x-small" [ngStyle]="getTimeColStyle()">
        <system-utility-icon [icon]="'clock'" [size]="'x-small'" class="slds-m-right--xxx-small"></system-utility-icon>
        {{offset}}
    </div>
    <div class="slds-border--right" [ngStyle]="getDaysContainerStyle()">
        <div class="slds-grid">
            <div *ngFor="let sheetDay of sheetDays" class="slds-border--left" [ngStyle]="getDayColStyle()">
                <div class="slds-p-top--xx-small">
                    <div class="slds-text-body--regular slds-p-left--x-small" [ngStyle]="isTodayStyle(sheetDay.date)">{{displayDate('ddd', sheetDay.date)}}</div>
                    <div class="slds-p-left--x-small slds-p-bottom--xx-small slds-border--bottom slds-text-heading--large">
                        <a href="javascript:void(0);" class="slds-text-link--reset" (click)="gotoDay(sheetDay.date)" [ngStyle]="isTodayStyle(sheetDay.date)">{{displayDate('D',sheetDay.date)}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-is-relative">
            <ng-container *ngFor="let event of allMultiEvents">
                <calendar-sheet-event [ngStyle]="getMultiEventStyle(event)" [event]="event"></calendar-sheet-event>
            </ng-container>
        </div>
        <div class="slds-grid">
            <div *ngFor="let sheetDay of sheetDays" [ngStyle]="getDayColStyle()" [style.min-height]="calendar.multiEventHeight" class="slds-border--left">
                <div *ngFor="let item of sheetDay.items"  [style.height]="calendar.multiEventHeight"></div>
            </div>
        </div>
    </div>
    <div #scrollcontainer aria-hidden="true" style="overflow: scroll; visibility: hidden; flex: none"></div>
</div>
<div #calendarsheet [ngStyle]="getSheetStyle()" class="slds-scrollable spicecrm-scrollbar slds-is-relative">
    <ng-container *ngFor="let sheetHour of sheetHours; let index = index">
        <div class="slds-is-absolute slds-border--top slds-size--1-of-1" [ngStyle]="getHourDividerStyle(index)"></div>
        <ng-container *ngIf="notLastHour(index)">
            <div class="slds-is-absolute slds-border--top" [ngStyle]="getHalfHourDividerStyle(index)"></div>
            <div class="slds-is-absolute slds-text-align--center" [ngStyle]="getHourLabelStyle(index)">{{sheetHour}}:00</div>
            <calendar-sheet-drop-target [hour]="sheetHour" [day]="sheetDay" class="slds-is-absolute"
                                        *ngFor="let sheetDay of sheetDays" [ngStyle]="getDropTargetStyle(index, sheetDay.index)">
                {{sheetHour + ',' + sheetDay.index}}
            </calendar-sheet-drop-target>
        </ng-container>
    </ng-container>
    <ng-container *ngFor="let sheetDay of sheetDays">
        <div class="slds-is-absolute slds-border--left" [ngStyle]="getDayDividerStyle(sheetDay.index)"></div>
    </ng-container>
    <ng-container *ngFor="let event of allEvents">
        <calendar-sheet-event [ngStyle]="getEventStyle(event)" [event]="event"></calendar-sheet-event>
    </ng-container>
</div>