<div [system-overlay-loading-spinner]="loading">
    <h2 class="slds-p-around--small slds-text-heading--medium slds-p-vertical--small slds-p-horizontal--x-small">
        System Requirements
    </h2>
    <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
        <thead>
            <tr>
                <th>status</th>
                <th>extension</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let requirement of requirements | keyvalue" [ngClass]="{'slds-theme--error': !requirement.value}">
                <td><div class="slds-truncate"><system-utility-icon [size]="'x-small'" [icon]="requirement.value ? 'check' : 'error'"></system-utility-icon></div></td>
                <td><div class="slds-truncate"> {{spiceinstaller.keyToLabel(requirement.key)}}</div></td>
            </tr>
        </tbody></table>
    <div class="slds-p-around--small slds-text-align--right">
        <button class="slds-button slds-m-right--xx-small slds-button--neutral" (click)="checkSystem()">recheck</button>
        <button [disabled]="checkFailed" class="slds-button slds-button--brand" (click)="spiceinstaller.next(spiceinstaller.steps[1])">next</button>
    </div>
</div>

