<div class="slds-p-around--medium" [system-overlay-loading-spinner]="loading">
    <h2 class="slds-text-heading--medium slds-p-vertical--small slds-p-horizontal--x-small">
        Database Configuration
    </h2>
    <div class="slds-form-element slds-p-vertical--small">
        <label class="slds-form-element__label">Database Type</label>
        <div class="slds-form-element__control">
            <div class="slds-select_container">
                <select class="slds-select" [disabled]="spiceinstaller.dbdrivers.length < 2" [(ngModel)]="spiceinstaller.db_type">
                    <option *ngFor="let type of this.spiceinstaller.dbdrivers" value="{{type.extension}}">{{type.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div *ngIf="spiceinstaller.db_type == 'mysql'">
        <spice-installer-mysqli [dbNameCondition]="dbNameCondition" [hostNameCondition]="hostNameCondition" [userNameCondition]="userNameCondition"></spice-installer-mysqli>
    </div>
    <div *ngIf="spiceinstaller.db_type == 'mssql'">
        <spice-installer-mysqli [dbNameCondition]="dbNameCondition" [hostNameCondition]="hostNameCondition" [userNameCondition]="userNameCondition"></spice-installer-mysqli>
    </div>
    <div *ngIf="spiceinstaller.db_type == 'pgsql'">
        <spice-installer-pgsql [dbNameCondition]="dbNameCondition" [hostNameCondition]="hostNameCondition" [userNameCondition]="userNameCondition"></spice-installer-pgsql>
    </div>
    <div *ngIf="spiceinstaller.db_type == 'oci8'">
        <spice-installer-oci8 [dbNameCondition]="dbNameCondition" [hostNameCondition]="hostNameCondition" [userNameCondition]="userNameCondition"></spice-installer-oci8>
    </div>
    <div class="slds-p-vertical--small slds-text-align--right">
        <button class="slds-button slds-button--brand" (click)="checkDB()">next</button>
    </div>
</div>
