<div class="slds-grid slds-grid_vertical slds-p-around--medium">
    <h2 class="slds-text-heading_medium slds-p-bottom--medium">Settings Review</h2>
    <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
        <tbody>
        <tr>
            <td><h2 class="slds-text-heading_medium">Backend Configuration Settings:</h2></td>
            <td></td>
        </tr>
        <tr class="slds-hint-parent" *ngFor="let setting of spiceinstaller.configObject.backendconfig| keyvalue">
            <td>
                <div class="slds-truncate">{{spiceinstaller.keyToLabel(setting.key)}}</div>
            </td>
            <td>
                <div class="slds-truncate">{{setting.value}}</div>
            </td>
        </tr>
        <tr>
            <td><h2 class="slds-text-heading_medium">Database Configuration Settings:</h2></td>
            <td></td>
        </tr>
        <tr class="slds-hint-parent" *ngFor="let setting of spiceinstaller.configObject.database| keyvalue">
            <td>
                <div class="slds-truncate">{{spiceinstaller.keyToLabel(setting.key)}}</div>
            </td>
            <td>
                <div class="slds-truncate">{{setting.value}}</div>
            </td>
        </tr>
        <tr class="slds-hint-parent" *ngFor="let setting of spiceinstaller.configObject.dboptions| keyvalue">
            <td>
                <div class="slds-truncate">{{spiceinstaller.keyToLabel(setting.key)}}</div>
            </td>
            <td>
                <div class="slds-truncate">{{setting.value}}</div>
            </td>
        </tr>
        <tr>
            <td><h2 class="slds-text-heading_medium">FTS Configuration Settings:</h2></td>
            <td></td>
        </tr>
        <tr class="slds-hint-parent" *ngFor="let setting of spiceinstaller.configObject.fts| keyvalue">
            <td>
                <div class="slds-truncate">{{spiceinstaller.keyToLabel(setting.key)}}</div>
            </td>
            <td>
                <div class="slds-truncate">{{setting.value}}</div>
            </td>
        </tr>
        <tr>
            <td><h2 class="slds-text-heading_medium">Credentials:</h2></td>
            <td></td>
        </tr>
        <tr class="slds-hint-parent" *ngFor="let setting of spiceinstaller.configObject.credentials| keyvalue">
            <td>
                <div class="slds-truncate">{{spiceinstaller.keyToLabel(setting.key)}}</div>
            </td>
            <td>
                <div class="slds-truncate">{{setting.value}}</div>
            </td>
        </tr>
        <tr>
            <td><h2 class="slds-text-heading_medium">Language:</h2></td>
            <td></td>
        </tr>
        <tr class="slds-hint-parent" *ngFor="let setting of spiceinstaller.configObject.language| keyvalue">
            <td>
                <div class="slds-truncate">{{spiceinstaller.keyToLabel(setting.key)}}</div>
            </td>
            <td>
                <div class="slds-truncate">{{setting.value}}</div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="slds-align-bottom slds-grid slds-grid--vertical-align-center slds-p-vertical--small">
        <div class="slds-m-left--small slds-size--1-of-1">
            <button class="slds-button slds-button--brand" (click)="install()">begin installation</button>
        </div>
    </div>
</div>
<ng-container *ngIf="installing">
    <section role="dialog" aria-modal="true"  class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <div class="slds-modal__header slds-modal__header_empty"></div>
            <div class="slds-modal__content slds-p-around_medium slds-align--absolute-center">
                <div class="slds-p-horizontal--x-large slds-grid slds-grid--vertical-align-center">
                    <div class="cssload-double-torus" style="width: 16px; height: 16px;"></div>
                    <div class="slds-p-left--medium">Installing</div>
                </div>
            </div>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</ng-container>
