<div class="slds-grid slds-form--inline slds-p-around--small slds-border--bottom">
    <div class="slds-grid slds-grid--vertical-align-center">
        <div class="slds-form-element__control slds-p-right--xx-small">
            <select class="slds-select" [(ngModel)]="mailbox" style="min-width: 250px;" [disabled]="mailboxesEmails.mailboxes.length==0 || isFetching">
                <option *ngFor="let mailbox of mailboxesEmails.mailboxes" value="{{mailbox.id}}">
                    {{mailbox.name}}
                </option>
            </select>
        </div>
        <div class="slds-form-element__control slds-p-horizontal--xx-small">
            <system-checkbox [(ngModel)]="mailboxesEmails.unreadonly">{{language.getLabel('LBL_UNREAD_ONLY')}}</system-checkbox>
        </div>
        <div class="slds-form-element__control slds-p-horizontal--xx-small">
            <select class="slds-select" [(ngModel)]="emailopenness">
                <option value="all">{{language.getLabel('LBL_EMAILS_ALL')}}</option>
                <option value="open">{{language.getLabel('LBL_EMAILS_OPEN')}}</option>
                <option value="user_closed">{{language.getLabel('LBL_EMAILS_USER_CLOSED')}}</option>
                <option value="system_closed">{{language.getLabel('LBL_EMAILS_SYSTEM_CLOSED')}}</option>
            </select>
        </div>
        <div class="slds-p-horizontal--xx-small">
            <ul class="slds-list_horizontal slds-has-dividers_left slds-has-block-links_space">
                <li class="slds-item">{{mailboxesEmails.emails.length}} {{language.getLabel('LBL_OF')}} {{mailboxesEmails.totalcount}} {{language.getLabel('LBL_ITEMS')}}</li>
                <li class="slds-item"><system-utility-icon [icon]="mailboxesEmails.source == 'db' ? 'database' : 'feed'" size="xx-small"></system-utility-icon></li>
            </ul>
        </div>
    </div>
    <div class="slds-col--bump-left slds-button-group">
        <button class="slds-button slds-button--neutral" [disabled]="!buttonenabled" (click)="reloadList()">
            <system-button-icon class="slds-button__icon--left" icon="refresh"></system-button-icon>
            <span>{{language.getLabel('LBL_REFRESH')}}</span>
        </button>
        <button class="slds-button slds-button--neutral" [disabled]="!buttonenabled" (click)="fetchEmails()">
            <system-button-icon class="slds-button__icon--left" icon="email"></system-button-icon>
            <span>{{language.getLabel('LBL_FETCH_EMAILS')}}</span>
        </button>
    </div>
</div>

