<div class="slds-p-around--medium slds-theme--default slds-border--bottom">
    <div class="slds-grid">
        <div class="slds-col slds-has-flexi-truncate">
            <div class="slds-media slds-no-space slds-grow">
                <div class="slds-media__figure">
                    <system-icon module="SpiceACLObjects"></system-icon>
                </div>
                <div class="slds-media__body">
                    <p class="slds-text-title_caps slds-line-height_reset">
                        <system-label-modulename module="SpiceACLObjects"></system-label-modulename></p>
                    <h1 class="slds-page-header__title slds-p-right_x-small">
                        <div class="slds-truncate"><system-label [label]="displaylabel"></system-label></div>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>