<div *ngIf="fields.length > 0" class="slds-box">
    <table class="slds-table slds-table_bordered slds-table_cell-buffer">
        <thead>
        <tr class="slds-text-title_caps">
            <th scope="col">
                <div class="slds-truncate"><system-label label="LBL_NAME"></system-label></div>
            </th>
            <th scope="col">
                <div class="slds-truncate"><system-label label="LBL_OPERATOR"></system-label></div>
            </th>
            <th scope="col">
                <div class="slds-truncate"><system-label label="LBL_VALUE1"></system-label></div>
            </th>
            <th scope="col">
                <div class="slds-truncate"><system-label label="LBL_VALUE2"></system-label></div>
            </th>
            <th scope="col">
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let field of fields">
            <td>
                <div class="slds-truncate">{{field.name}}</div>
            </td>
            <td>
                <div class="slds-form-element__control">
                    <div class="slds-select_container">
                        <select class="slds-select" [value]="getFieldValue('operator', field.id)" (change)="setFieldValue('operator', field.id, 'change', $event)">
                            <option value="">ignore</option>
                            <option value="EQ">=</option>
                            <option value="NE">≠</option>
                            <option value="GT">></option>
                            <option value="GTE">≥</option>
                            <option value="LT"><</option>
                            <option value="LTE">≤</option>
                            <option value="LK">Like</option>
                            <option value="IN">in</option>
                            <option value="NI">not in</option>
                            <option value="ISEMPTY">is emtpy</option>
                            <option value="ISNEMPTY">is not emtpy</option>
                            <option value="SW">starts with</option>
                            <option value="SN">does not start with</option>
                            <option value="CU">Current User Field</option>
                        </select>
                    </div>
                </div>
            </td>
            <td>
                <div class="slds-form-element__control">
                    <input type="text" class="slds-input" [value]="getFieldValue('value1', field.id)" (blur)="setFieldValue('value1', field.id, 'blur', $event)"/>
                </div>
            </td>
            <td>
                <div class="slds-form-element__control">
                    <input type="text" class="slds-input" [value]="getFieldValue('value2', field.id)" (change)="setFieldValue('value2', field.id, 'change', $event)"/>
                </div>
            </td>
            <td>
                <system-utility-icon icon="clear" size="x-small" (click)="resetid(field.id)"></system-utility-icon>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="slds-p-top--small">
    <object-record-fieldset direction="vertical" [fieldset]="fieldset"></object-record-fieldset>
</div>
