<system-modal>
    <system-modal-header (close)="close()">{{language.getLabel('LBL_ADD_OBJECT')}}</system-modal-header>
    <system-modal-content margin="none">
        <object-record-fieldset [fieldset]="fieldset" direction="vertical"></object-record-fieldset>
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="close()">{{language.getLabel('LBL_CANCEL')}}</button>
        <button class="slds-button slds-button--brand" (click)="save()">{{language.getLabel('LBL_SAVE')}}</button>
    </system-modal-footer>
</system-modal>