<div class="slds-tree__item">
    <div class="slds-grid slds-grid_vertical-align-center slds-grow slds-truncate">
        <div style="min-width: 20px">
            <button *ngIf="item.systemTreeDefs.hasChildren"
                    class="slds-button slds-button_icon slds-m-right--xx-small slds-m-top--none" aria-expanded="true" aria-hidden="true" tabindex="-1"
                    (click)="expand(item, $event)">
                <system-button-icon [icon]="item.systemTreeDefs.expanded ? 'chevrondown' : 'chevronright'" size="xx-small"></system-button-icon>
            </button>
        </div>
        <div class="slds-truncate">
            <span class="slds-tree__item-label slds-truncate">{{item.name}}</span>
        </div>
        <div class="slds-col_bump-left" [ngStyle]="{'visibility':item.systemTreeDefs.isSelected?'visible':'hidden'}">
            <button  class="slds-button slds-button--icon" title="Edit Name" (click)="editFolderName()">
                <system-button-icon [icon]="'edit'"></system-button-icon>
            </button>
            <button  class="slds-button slds-button--icon" title="Add Folder" (click)="onFolderAdd.emit(item.id)">
                <system-button-icon [icon]="'new'"></system-button-icon>
            </button>
            <button  class="slds-button slds-button--icon slds-p-right--x-small" title="Delete folder" (click)="deleteFolder()" >
                <system-button-icon [icon]="'delete'"></system-button-icon>
            </button>
        </div>
    </div>
</div>
