<div class="slds-box" (click)="selectProjectElement()"
     [ngClass]="{'slds-m-bottom--x-small': index() != modellist.listData.list.length -1, 'slds-theme--shade': projectwbsHierarchy.project_id() == model.id}">
    <div class="slds-text-title_caps">{{ model.data.name }}</div>
    <div class="slds-grid">
        <ng-container *ngFor="let field of fieldsetFields; let i = index;">
            <field-container [field]="field.field" [fieldconfig]="field.fieldconfig"
                             [fielddisplayclass]="'slds-truncate'"></field-container>
            <span *ngIf="i < fieldsetFields.length - 1">&nbsp;• &nbsp;</span>
        </ng-container>
    </div>
</div>