<system-modal>
    <system-modal-header (close)="close()">
        {{language.getLabel('LBL_EXPORT_PROSPECTLIST')}} to {{language.getLabel('LBL_DMAIL')}}
    </system-modal-header>
    <system-modal-content>

        <p [hidden]="statistics.totalcount - statistics.onDialogMail == 0">We found {{statistics.onDialogMail}} contacts synced with dialogMail of {{statistics.totalcount}}, would you
            like to sync the remaining {{statistics.totalcount - statistics.onDialogMail}} contacts?</p>
        <p [hidden]="statistics.totalcount - statistics.onDialogMail > 0">All contacts are synced</p>
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="close()">{{language.getLabel('LBL_CANCEL')}}</button>
        <button [disabled]="statistics.totalcount - statistics.onDialogMail == 0" class="slds-button slds-button--brand"
                (click)="transferToDialogMail()">{{language.getLabel('LBL_EXPORT')}}</button>
    </system-modal-footer>
</system-modal>
