<div class="slds-wrap slds-height_full">
    <div class="slds-height_full">
        <table *ngIf="spiceImport.result && spiceImport.result.list && spiceImport.result.list.length > 0"
               class="slds-table slds-table--bordered slds-table--cell-buffer">
            <thead>
            <tr class="slds-text-title--caps">
                <th scope="col">
                    <div style="font-weight: 600" class="slds-truncate"><system-label label="LBL_STATUS"></system-label></div>
                </th>
                <th colspan="4" scope="col">
                    <div style="font-weight: 600" class="slds-truncate"><system-label label="LBL_DATA"></system-label></div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr  [ngStyle]="{'cursor': row.recordId ? 'pointer': 'initial'}" *ngFor="let row of spiceImport.result.list" (click)="row.recordId ? goToRecord(row.recordId): false">
                <td scope="row">
                    <div class="slds-truncate">{{row.status}}</div>
                </td>
                <td *ngFor="let recordData of row.data">
                    <div class="slds-truncate">{{recordData}}</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
