<div class="slds-grid slds-size--1-of-2 slds-grid--vertical-align-center">
    <div class="slds-form-element slds-grid slds-size--1-of-2">
        <label class="slds-form-element__label slds-grid slds-grid--vertical-align-center">
            <system-label label="LBL_NAME"></system-label>
        </label>
        <div class="slds-form-element__control slds-grow slds-col slds-has-flexi-truncate">
            <system-input-label *ngIf="whereCondition.label" class="slds-truncate" [(ngModel)]="whereCondition.label"></system-input-label>
            <system-input-label *ngIf="!whereCondition.label"class="slds-truncate" [(ngModel)]="whereCondition.name"></system-input-label>
        </div>
    </div>
    <div class="slds-form-element slds-p-horizontal--xx-small slds-grid slds-grid--vertical-align-center slds-size--1-of-2">
        <label class="slds-form-element__label slds-grid slds-grid--vertical-align-center slds-m-left--xx-small">
            <system-label label="LBL_OPERATOR"></system-label>
        </label>
        <div class="slds-form-element__control slds-grow">
            <div class="slds-select_container">
                <select class="slds-select" [(ngModel)]="whereCondition.operator" (change)="changeOperator()">
                    <option value="ignore"><system-label label="LBL_OP_IGNORE"></system-label></option>
                    <option *ngFor="let operator of getOperators(); trackBy: trackByFn" [value]="operator.value">{{operator.display}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showValue" class="slds-size--1-of-2 slds-grid">
    <label class="slds-form-element__label slds-grid slds-grid--vertical-align-center slds-m-left--xx-small">
        <system-label label="LBL_VALUE"></system-label>
    </label>
    <div class="slds-grid slds-grow">
        <div [ngSwitch]="itemType" class="slds-grow">
            <reporter-filter-item-category *ngSwitchCase="'category'" [field]="'value'" [wherecondition]="whereCondition" [isMultiSelect]="whereCondition.operator.includes('oneof')"></reporter-filter-item-category>
            <reporter-filter-item-enum *ngSwitchCase="'enum' || 'multienum' || 'radioenum'" [field]="'value'" [wherecondition]="whereCondition" [isMultiSelect]="whereCondition.operator.includes('oneof')"></reporter-filter-item-enum>
            <reporter-filter-item-date *ngSwitchCase="'date'" [field]="'valuekey'" [wherecondition]="whereCondition"></reporter-filter-item-date>
            <reporter-filter-item-text *ngSwitchCase="'text'"  [field]="'value'" [wherecondition]="whereCondition"></reporter-filter-item-text>
            <reporter-filter-item-user *ngSwitchCase="'user'" [whereCondition]="whereCondition"></reporter-filter-item-user>
            <reporter-filter-item-reference *ngSwitchCase="'reference'" [whereCondition]="whereCondition"></reporter-filter-item-reference>
            <reporter-filter-item-function *ngSwitchCase="'function'" [whereCondition]="whereCondition"></reporter-filter-item-function>
            <reporter-filter-item-parent *ngSwitchCase="'parent_assign'" [wherecondition]="whereCondition"></reporter-filter-item-parent>
        </div>
        <div *ngIf="showValueTo" class="slds-size--1-of-2 slds-p-left--xx-small" [ngSwitch]="itemType">
            <reporter-filter-item-enum *ngSwitchCase="'enum' || 'multienum' || 'radioenum'" [field]="'valueto'" [wherecondition]="whereCondition"></reporter-filter-item-enum>
            <reporter-filter-item-date *ngSwitchCase="'date'" [field]="'valuetokey'" [wherecondition]="whereCondition"></reporter-filter-item-date>
            <reporter-filter-item-text *ngSwitchCase="'text'"  [field]="'valueto'" [wherecondition]="whereCondition"></reporter-filter-item-text>
        </div>
    </div>
</div>

