<div class="slds-page-header">
    <div class="slds-grid">
        <div class="slds-col slds-has-flexi-truncate">
            <div class="slds-media slds-no-space slds-grow">
                <div class="slds-media__figure" (click)="goToModule()">
                    <system-icon [module]="model.module"></system-icon>
                </div>
                <div class="slds-media__body">
                    <a (click)="goToModule()" href="javascript:void(0);" class="slds-text-title--caps slds-line-height--reset">
                        {{language.getModuleName(model.module)}}
                    </a>
                    <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate">
                        {{model.getField('name')}}
                    </h1>
                </div>
            </div>
        </div>
        <div class="slds-align-top slds-col slds-grid slds-no-flex slds-p-top--x-small">
            <button [disabled]="model.isLoading" class="slds-button slds-m-left--x-small slds-button--neutral" (click)="cancel()">
                {{language.getLabel('LBL_CANCEL')}}
            </button>
            <button [disabled]="model.isLoading" class="slds-button slds-m-horizontal--x-small slds-button--brand" (click)="save()">
                {{language.getLabel('LBL_SAVE')}}
            </button>
        </div>
    </div>
</div>
<div class="slds-grid" tobottom>
    <div class="slds-size--1-of-3 slds-border--right slds-grid--vertical" style="height: 100%;">
        <reports-designer-tree (onUnionDelete)="handleUnionDelete($event)" (onUnionAdd)="handleUnionAdd($event)"></reports-designer-tree>
    </div>
    <div class="slds-size--2-of-3" style="height: 100%">
        <div *ngIf="!model.isLoading && reportsDesignerService.currentPath" class="slds-tabs--default">
            <ul class="slds-tabs--default__nav" role="tablist">
                <li (click)="setActiveTab('details')" [class.slds-active]="activeTab == 'details'" class="slds-tabs--default__item slds-text-title--caps" role="presentation">
                    <a class="slds-tabs--default__link" href="javascript:void(0);" role="tab"  aria-selected="false">
                         <span class="slds-tabs__left-icon">
                             <system-utility-icon icon="summarydetail" size="x-small"></system-utility-icon>
                         </span>
                        {{language.getLabel('LBL_DETAILS')}}
                    </a>
                </li>
                <li (click)="setActiveTab('filter')" [class.slds-active]="activeTab == 'filter'" class="slds-tabs--default__item slds-text-title--caps" role="presentation">
                    <a class="slds-tabs--default__link" href="javascript:void(0);" role="tab"  aria-selected="false">
                        <span class="slds-tabs__left-icon">
                            <system-utility-icon icon="filterList" size="x-small"></system-utility-icon>
                        </span>
                        {{language.getLabel('LBL_FILTER')}}
                    </a>
                </li>
                <li (click)="setActiveTab('manipulate')" [class.slds-active]="activeTab == 'manipulate'" class="slds-tabs--default__item slds-text-title--caps" role="presentation">
                    <a class="slds-tabs--default__link" href="javascript:void(0);" role="tab"  aria-selected="false">
                        {{language.getLabel('LBL_MANIPULATE')}}
                    </a>
                </li>
                <li [class.slds-active]="activeTab == 'present'" class="slds-tabs--default__item slds-text-title--caps" role="presentation">
                    <a class="slds-tabs--default__link slds-text-color--inverse-weak" href="javascript:void(0);" role="tab"  aria-selected="false">
                        <span class="slds-tabs__left-icon">
                            <system-utility-icon icon="screen" size="x-small" colorclass="slds-icon-text-light"></system-utility-icon>
                        </span>
                        {{language.getLabel('LBL_PRESENT')}}
                    </a>
                </li>
                <li [class.slds-active]="activeTab == 'visualize'" class="slds-tabs--default__item slds-text-title--caps" role="presentation">
                    <a class="slds-tabs--default__link slds-text-color--inverse-weak" href="javascript:void(0);" role="tab"  aria-selected="false">
                        <span class="slds-tabs__left-icon">
                            <system-utility-icon icon="chart" size="x-small" colorclass="slds-icon-text-light"></system-utility-icon>
                        </span>
                        {{language.getLabel('LBL_VISUALIZE')}}
                    </a>
                </li>
                <li [class.slds-active]="activeTab == 'integrate'" class="slds-tabs--default__item slds-text-title--caps" role="presentation">
                    <a class="slds-tabs--default__link slds-text-color--inverse-weak" href="javascript:void(0);" role="tab"  aria-selected="false">
                        <span class="slds-tabs__left-icon">
                            <system-utility-icon icon="settings" size="x-small" colorclass="slds-icon-text-light"></system-utility-icon>
                        </span>
                        {{language.getLabel('LBL_INTEGRATE')}}
                    </a>
                </li>
                <li class="slds-grid slds-grid--vertical-align-center slds-text-title--caps slds-col--bump-left slds-p-vertical--x-small" role="presentation">
                    <button *ngIf="activeTab == 'manipulate'" (click)="addFixed()" [disabled]="!reportsDesignerService.expertMode" class="slds-button slds-button_neutral slds-m-right--small slds-p-horizontal--x-small slds-text-title--caps" style="height: 100%; line-height: 22px">
                        {{language.getLabel('LBL_ADD_FIXED')}}
                    </button>
                    <system-checkbox [(ngModel)]="reportsDesignerService.expertMode">{{language.getLabel('LBL_EXPERT_MODE')}}</system-checkbox>
                </li>
            </ul>
            <div [ngSwitch]="activeTab" tobottom>
                <ng-container *ngIf="view.isEditMode()">
                    <reports-designer-details *ngSwitchCase="'details'"></reports-designer-details>
                    <reports-designer-filter *ngSwitchCase="'filter'" [module]="reportsDesignerService.activeModule"></reports-designer-filter>
                    <ng-container *ngSwitchCase="'manipulate'">
                        <reports-designer-manipulate [class.slds-hide]="reportsDesignerService.activeModule.unionid != 'root'"></reports-designer-manipulate>
                        <reports-designer-manipulate-union
                                [class.slds-hide]="reportsDesignerService.activeModule.unionid == 'root'"
                                [module]="reportsDesignerService.activeModule"
                                [currentUnionListFields]="currentUnionListFields">
                        </reports-designer-manipulate-union>
                    </ng-container>
                    <reports-designer-present *ngSwitchCase="'present'"></reports-designer-present>
                    <reports-designer-visualize *ngSwitchCase="'visualize'"></reports-designer-visualize>
                    <reports-designer-integrate *ngSwitchCase="'integrate'"></reports-designer-integrate>
                </ng-container>
            </div>
        </div>
        <div *ngIf="model.isLoading" class="slds-align--absolute-center" style="height: 100%">
            <system-spinner></system-spinner>
        </div>
        <div *ngIf="!model.isLoading && !reportsDesignerService.currentPath" class="slds-p-around--small slds-align--absolute-center" style="height: 100%">
            {{language.getLabel('LBL_MAKE_SELECTION')}}
        </div>
    </div>
</div>

