<div class="slds-p-around--x-small">
    <system-collapsable-tab [collapsible]="false" tabtitle="LBL_DETAILS">
        <object-record-fieldset [fieldset]="fieldset" direction="vertical"></object-record-fieldset>
    </system-collapsable-tab>
    <system-collapsable-tab [collapsible]="false" tabtitle="LBL_OPTIONS">
        <div class="slds-grid">
            <fieldset class="slds-form-element slds-m-vertical--xxx-small slds-size--1-of-2">
                <legend class="slds-form-element__legend slds-form-element__label">{{language.getLabel('LBL_SHOW_DELETED')}}</legend>
                <div class="slds-form-element__control">
                    <system-checkbox [(ngModel)]="reportOptions.showDeleted">
                        {{language.getLabel('LBL_SHOW_DELETED')}}
                    </system-checkbox>
                </div>
            </fieldset>
            <fieldset class="slds-form-element slds-m-vertical--xxx-small slds-size--1-of-2">
                <legend class="slds-form-element__legend slds-form-element__label">{{language.getLabel('LBL_AUTHORIZATION_CHECK')}}</legend>
                <div class="slds-form-element__control">
                    <system-input-radio name="reportOptionsAuthCheck" value="full" [(ngModel)]="reportOptions.authCheck">
                        {{language.getLabel('LBL_ON_ALL_NODES')}}
                    </system-input-radio>
                    <system-input-radio name="reportOptionsAuthCheck" value="top" [(ngModel)]="reportOptions.authCheck">
                        {{language.getLabel('LBL_TOP_NODE_ONLY')}}
                    </system-input-radio>
                    <system-input-radio name="reportOptionsAuthCheck" value="none" [(ngModel)]="reportOptions.authCheck">
                        {{language.getLabel('LBL_DISABLED')}}
                    </system-input-radio>
                </div>
            </fieldset>
        </div>
    </system-collapsable-tab>
    <system-dynamic-component component="ObjectRecordAdministrationTab" [componentconfig]="{name: 'LBL_ADMIN_DATA'}"></system-dynamic-component>
</div>
