<div class="slds-p-around--x-small">
    <system-collapsable-tab [collapsible]="false" tabtitle="LBL_DETAILS">
        <object-record-fieldset [fieldset]="fieldset" direction="vertical"></object-record-fieldset>
    </system-collapsable-tab>
    <system-collapsable-tab [collapsible]="false" tabtitle="LBL_OPTIONS">
        <div class="slds-grid">
            <fieldset class="slds-form-element slds-m-vertical--xxx-small slds-size--1-of-2">
                <legend class="slds-form-element__legend slds-form-element__label"><system-label label="LBL_SHOW_DELETED"></system-label></legend>
                <div class="slds-form-element__control">
                    <system-checkbox [(ngModel)]="reportOptions.showDeleted">
                        <system-label label="LBL_SHOW_DELETED"></system-label>
                    </system-checkbox>
                </div>
            </fieldset>
            <fieldset class="slds-form-element slds-m-vertical--xxx-small slds-size--1-of-2">
                <legend class="slds-form-element__legend slds-form-element__label"><system-label label="LBL_AUTHORIZATION_CHECK"></system-label></legend>
                <div class="slds-form-element__control">
                    <system-input-radio name="reportOptionsAuthCheck" value="full" [(ngModel)]="reportOptions.authCheck">
                        <system-label label="LBL_ON_ALL_NODES"></system-label>
                    </system-input-radio>
                    <system-input-radio name="reportOptionsAuthCheck" value="top" [(ngModel)]="reportOptions.authCheck">
                        <system-label label="LBL_TOP_NODE_ONLY"></system-label>
                    </system-input-radio>
                    <system-input-radio name="reportOptionsAuthCheck" value="none" [(ngModel)]="reportOptions.authCheck">
                        <system-label label="LBL_DISABLED"></system-label>
                    </system-input-radio>
                </div>
            </fieldset>
        </div>
    </system-collapsable-tab>
    <system-dynamic-component component="ObjectRecordAdministrationTab" [componentconfig]="{name: 'LBL_ADMIN_DATA'}"></system-dynamic-component>
</div>
