<div class="slds-section" [ngClass]="{'slds-is-open': requiredopen}">
    <h3 class="slds-section__title">
        <button aria-controls="expando-unique-id" aria-expanded="true" class="slds-button slds-section__title-action"
                (click)="togglerequired()">
            <system-utility-icon [icon]="'switch'" [size]="'x-small'"
                                 [addclasses]="'slds-section__title-action-icon slds-button__icon slds-button__icon_left'"></system-utility-icon>
            <span class="slds-truncate" title="Section Title">Text Generator</span>
        </button>
    </h3>

    <div class="slds-p-vertical--medium slds-p-horizontal--medium">
        <div class="slds-grid slds-p-bottom--xx-small">
            <div class="slds-form-element slds-size--1-of-2 slds-p-right--x-small">
                <div class="slds-form-element__control">
                    <label class="slds-form-element__label"><field-label [fieldname]="'name'"></field-label></label>
                    <div class="slds-select_container">
                        <select class="slds-select" [(ngModel)]="model.data.name" [disabled]="productnames.length == 0">
                            <option *ngFor="let productname of productnames" [value]="productname">{{productname}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--div class="slds-size--1-of-2 slds-align_absolute-center">
                <span class="slds-text-heading--medium" style="font-family: monospace;">{{productText}}</span>
            </div-->
            <div class="slds-form-element slds-size--1-of-2 slds-p-left--x-small">
                <label class="slds-form-element__label" >Short Text</label>
                <div class="slds-form-element__control slds-p-vertical--xx-small">
                    <input type="text" disabled class="slds-input" style="font-family: monospace;" [ngModel]="productText">
                </div>
            </div>
        </div>
        <div class="slds-form-element">
            <label class="slds-form-element__label">Longtext</label>
            <div class="slds-form-element__control">
                <textarea readonly class="slds-textarea" [(ngModel)]="longText"></textarea>
            </div>
        </div>
    </div>
    <div class="slds-form slds-p-around--x-small" [ngStyle]="getOpenStyle()">
        <table class="slds-table slds-table_bordered slds-table_cell-buffer">
            <thead>
            <tr class="slds-text-title_caps">
                <th scope="col" width="50%">
                    <div class="slds-truncate">Element</div>
                </th>
                <th scope="col" width="50%">
                    <div class="slds-truncate">Value(s)</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    Eigenschaft 1
                </td>
                <td>
                    <div class="slds-form-element">
                        <div class="slds-form-element__control">
                            <div class="slds-select_container">
                                <select class="slds-select" [(ngModel)]="textElements.E1">
                                    <option *ngFor="let e1value of getvalues('E1')" [value]="e1value.id">
                                        {{e1value.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Eigenschaft 2
                </td>
                <td>
                    <div class="slds-form-element">
                        <div class="slds-form-element__control">
                            <div class="slds-select_container">
                                <select class="slds-select" [(ngModel)]="textElements.E2">
                                    <option *ngFor="let e2value of getvalues('E2')" [value]="e2value.id">
                                        {{e2value.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Gewicht/Qualität/Folienstärke
                </td>
                <td>
                    <div class="slds-form-element">
                        <div class="slds-form-element__control">
                            <div class="slds-select_container">
                                <select class="slds-select" [(ngModel)]="textElements.Q">
                                    <option *ngFor="let qvalue of getvalues('Q')" [value]="qvalue.id">{{qvalue.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
