<div class="slds-p-around--x-small">
    <div class="slds-grid slds-p-vertical--x-small slds-grid--vertical-align-center">
        <div class="slds-p-right--small">
            <system-label label="LBL_SHOW_ATTRIBUTES"></system-label>:
        </div>
        <system-checkbox [(ngModel)]="showrequired"><system-label label="LBL_REQUIRED"></system-label></system-checkbox>
        <system-checkbox [(ngModel)]="showoptional"><system-label label="LBL_OPTIONAL"></system-label></system-checkbox>
        <system-checkbox [(ngModel)]="showreadonly"><system-label label="LBL_READONLY"></system-label></system-checkbox>
        <div class="slds-p-right--small slds-col_bump-left">
            <system-label label="LBL_FILTER"></system-label>:
        </div>
        <div class="slds-form-element">
            <div class="slds-form-element__control">
                <div class="slds-select_container">
                    <select class="slds-select" [(ngModel)]="displaygroup" [disabled]="displaygroups?.length == 0">
                        <option value="all"><system-label label="LBL_ALL"></system-label></option>
                        <option *ngFor="let displaygroup of displaygroups" [value]="displaygroup">{{displaygroup}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <table class="slds-box--border slds-table slds-table_bordered slds-table_cell-buffer slds-table--fixed-layout">
        <thead>
        <tr class="slds-text-title_caps">
            <th scope="col" width="30%"><div class="slds-truncate"><system-label label="LBL_ATTRIBUTE"></system-label></div></th>
            <th scope="col" width="70%"><div class="slds-truncate"><system-label label="LBL_VALUE"></system-label></div></th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let attribute of displayAttributes">
                <td>
                    <div class="slds-truncate">
                        <label class="slds-form-element__label"><abbr *ngIf="required(attribute)" class="slds-required">*</abbr> {{attribute.name}}</label>
                    </div>
                </td>
                <td>
                    <div class="slds-truncate" [ngSwitch]="attribute.prat_datatype?.toLowerCase()">
                        <product-variants-attribute-di *ngSwitchCase="'di'" [attribute]="attribute"></product-variants-attribute-di>
                        <product-variants-attribute-s *ngSwitchCase="'s'" [attribute]="attribute"></product-variants-attribute-s>
                        <product-variants-attribute-n *ngSwitchCase="'n'" [attribute]="attribute"></product-variants-attribute-n>
                        <product-variants-attribute-f *ngSwitchCase="'f'" [attribute]="attribute"></product-variants-attribute-f>
                        <product-variants-attribute-vc *ngSwitchDefault [attribute]="attribute"></product-variants-attribute-vc>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
