<div class="slds-grid slds-p-vertical--x-small slds-grid--vertical-align-center">
    <div class="slds-p-right--small">
        Show Attributes:
    </div>
    <div class="slds-form-element">
        <div class="slds-form-element__control">
                <span class="slds-checkbox">
                  <input type="checkbox" name="options" [id]="tableguid + 'r'" [(ngModel)]="showrequired">
                  <label class="slds-checkbox__label" [for]="tableguid + 'r'">
                    <span class="slds-checkbox_faux"></span>
                    <span class="slds-form-element__label">required</span>
                  </label>
                </span>
        </div>
    </div>
    <div class="slds-form-element">
        <div class="slds-form-element__control">
                <span class="slds-checkbox">
                  <input type="checkbox" name="options" [id]="tableguid + 'o'" [(ngModel)]="showoptional">
                  <label class="slds-checkbox__label" [for]="tableguid + 'o'">
                    <span class="slds-checkbox_faux"></span>
                    <span class="slds-form-element__label">optional</span>
                  </label>
                </span>
        </div>
    </div>
    <div class="slds-form-element">
        <div class="slds-form-element__control">
                <span class="slds-checkbox">
                  <input type="checkbox" name="options" [id]="tableguid + 'n'" [(ngModel)]="showreadonly">
                  <label class="slds-checkbox__label" [for]="tableguid + 'n'">
                    <span class="slds-checkbox_faux"></span>
                    <span class="slds-form-element__label">readonly</span>
                  </label>
                </span>
        </div>
    </div>
    <div class="slds-p-right--small slds-col_bump-left">
        Filter:
    </div>
    <div class="slds-form-element">
        <div class="slds-form-element__control">
            <div class="slds-select_container">
                <select class="slds-select" [(ngModel)]="displaygroup" [disabled]="displaygroups.length == 1">
                    <option value="all">All</option>
                    <option *ngFor="let dgp of displaygroups" [value]="dgp">{{dgp}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div>
    <table class="slds-table slds-table_bordered slds-table_cell-buffer">
        <thead>
        <tr class="slds-text-title_caps">
            <th scope="col" width="50%">
                <div class="slds-truncate">Attribute</div>
            </th>
            <th scope="col" width="50%">
                <div class="slds-truncate">Value</div>
            </th>
        </tr>
        </thead>
        <tbody *ngIf="loading" system-table-stencils [columns]="2" [rows]="3"></tbody>
        <tbody>
        <tr *ngFor="let attribute of displayattributes">
            <td>
                <!--abbr *ngIf="required(attribute)" class="slds-required" title="required">*</abbr-->
                <div class="slds-truncate">
                    <label class="slds-form-element__label">
                        <abbr *ngIf="required(attribute)" class="slds-required">*</abbr> {{attribute.name}}
                    </label>
                </div>
            </td>
            <td>
                <div class="slds-truncate" [ngSwitch]="attribute?.prat_datatype.toLowerCase()">
                    <product-variants-attribute-di *ngSwitchCase="'di'" [attribute]="attribute"></product-variants-attribute-di>
                    <product-variants-attribute-di *ngSwitchCase="'s'" [attribute]="attribute"></product-variants-attribute-di>
                    <product-variants-attribute-n *ngSwitchCase="'n'" [attribute]="attribute"></product-variants-attribute-n>
                    <product-variants-attribute-f *ngSwitchCase="'f'" [attribute]="attribute"></product-variants-attribute-f>
                    <product-variants-attribute-vc *ngSwitchDefault [attribute]="attribute"></product-variants-attribute-vc>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>