<div class="slds-grid">
    <div class="slds-form-element slds-size_2-of-4">
        <label class="slds-form-element__label"><system-label label="LBL_COMPONENT"></system-label></label>
        <div class="slds-form-element__control">
            <input disabled type="text" class="slds-input" [ngModel]="component.component"/>
        </div>
    </div>
    <div class="slds-form-element slds-size_1-of-4 slds-p-left_x-small">
        <label class="slds-form-element__label"><system-label label="LBL_PACKAGE"></system-label></label>
        <div class="slds-form-element__control">
            <field-package [package]="component.package" (packageSelected)="setPackage($event)"></field-package>
        </div>
    </div>
    <div class="slds-form-element slds-size_1-of-4 slds-p-left_x-small">
        <label class="slds-form-element__label"><system-label label="LBL_VERSION"></system-label></label>
        <div class="slds-form-element__control">
            <field-version [version]="component.version" (versionSelected)="setVersion($event)"></field-version>
        </div>
    </div>
</div>
<div class="slds-grid slds-m-top--small slds-has-divider--bottom-space">
    <div class="slds-form-element slds-size_1-of-4">
        <system-checkbox [(ngModel)]="configValues.hideOnMobile">
            <system-label label="LBL_HIDE_ON_MOBILE"/>
        </system-checkbox>
    </div>
</div>

<workbench-config [component]="configcomponent" [module]="module" [configValues]="configValues"></workbench-config>
