<div class="slds-p-around--medium">
    <div class="slds-m-around--medium">
        <button class="slds-button slds-button--brand" (click)="diagnose('incomplete')"><system-label label="LBL_INCOMPLETE_RECORDS"></system-label></button>
    </div>
    <div *ngIf="is_loading">
        <system-spinner></system-spinner>
    </div>
    <div *ngIf="results && results.total_checks > 0">
        <div class="slds-box slds-m-bottom--medium">
            <p>{{results.total_checks}} Checks are made and found {{results.total_records}} Records:</p>
        </div>
        <system-card *ngFor="let check of results.checks" class="slds-m-bottom--medium">
            <system-card-header [title]="check.table"></system-card-header>
            <system-card-body>
                <div *ngIf="!check.records" class="slds-inline_icon_text slds-grid">
                    <system-utility-icon icon="check" size="x-small"></system-utility-icon>
                    <div class="slds-col slds-align-middle slds-text-color_success">
                        <p>all fine!</p>
                    </div>
                </div>
                <div *ngIf="check.records && check.records.length > 0">
                    <p>{{check.description}}</p>
                    <table class="slds-table slds-table--bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let record of check.records">
                                <td>
                                    <system-checkbox [disabled]="true"></system-checkbox>
                                </td>
                                <td>{{record.id}}</td>
                                <td>{{record.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </system-card-body>
        </system-card>
    </div>
</div>