<system-modal size="large">
    <system-modal-header (close)="closeModal()">CRM Log Entries for API Request {{crmLogId}}</system-modal-header>
    <system-modal-content style="height:100%">
        <crm-log-viewer-list [filter]="filter" [valuesNotClickable]="true"></crm-log-viewer-list>
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="closeModal()"><system-label label="LBL_CLOSE"></system-label></button>
    </system-modal-footer>
</system-modal>
