<system-modal size="large">
    <system-modal-header (close)="closeModal()">{{entry.datetime.format( this.prefs.getDateFormat() )}} • {{entry.datetime.format( this.prefs.getTimeFormat() )}} • {{entry.pid}} • {{username}} • {{entry.lev}}</system-modal-header>
    <system-modal-content style="height:100%">
        <system-spinner *ngIf="isLoading" class="slds-m-top--medium" style="display:block"></system-spinner>
        <div *ngIf="isLoaded" class="slds-m-bottom--x-small slds-m-horizontal--x-small slds-text-font_monospace" style="overflow-wrap:break-word">{{entry.fullText}}</div>
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="closeModal()"><system-label label="LBL_CLOSE"></system-label></button>
    </system-modal-footer>
</system-modal>
