<system-modal>
    <system-modal-header (close)="close()"><system-label label="LBL_ONE_TO_MANY"></system-label></system-modal-header>
    <system-modal-content>
        <dictionary-manager-relationship-container-onetomany [relationship]="relationship"></dictionary-manager-relationship-container-onetomany>
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="close()"><system-label label="LBL_CANCEL"></system-label></button>
        <button class="slds-button slds-button--brand" (click)="add()"><system-label label="LBL_ADD"></system-label></button>
    </system-modal-footer>
</system-modal>
