<div *ngIf="dictionarymanager.currentDictionaryDefinition; else selectdefinition" system-to-bottom-noscroll>
        <table  class="slds-table slds-table--fixed-layout slds-table_bordered">
            <thead>
                <tr class="slds-line-height_reset">
                    <th style="width:3.5rem" scope="col"></th>
                    <th class="" scope="col">
                        <div class="slds-truncate"><system-label label="LBL_NAME"></system-label></div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate"><system-label label="LBL_TEMPLATE"></system-label></div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate"><system-label label="LBL_TYPE"></system-label></div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate"><system-label label="LBL_LEFT"></system-label></div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate"><system-label label="LBL_RIGHT"></system-label></div>
                    </th>
                    <th style="width:3rem" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="slds-hint-parent" *ngFor="let dictionaryrelationship of dictionarymanager.dictionaryrelationships | dictionaryFilterRelationship: dictionarymanager.currentDictionaryDefinition" (click)="setActiveId(dictionaryrelationship.id)" [ngClass]="{'slds-is-selected': dictionarymanager.currentDictionaryRelationship == dictionaryrelationship.id}">
                    <td>
                        <system-utility-icon class="slds-p-right--xx-small" size="xx-small" [icon]="dictionaryrelationship.scope == 'g' ? 'world' : 'people'"></system-utility-icon>
                        <dictionary-manager-item-status [ngModel]="dictionaryrelationship.status" (ngModelChange)="setStatus(dictionaryrelationship, $event)"></dictionary-manager-item-status>
                    </td>
                    <td data-label="NAME">
                        <div class="slds-truncate">{{dictionaryrelationship.name}} / {{dictionaryrelationship.relationship_name}}</div>
                    </td>
                    <td></td>
                    <td data-label="Type">
                        <div class="slds-truncate">
                            <span class="slds-p-horizontal--x-small">{{dictionaryrelationship.relationship_type}}</span>
                        </div>
                    </td>
                    <td data-label="Left">
                        <div class="slds-truncate">{{dictionarymanager.getDictionaryDefinitionName(dictionaryrelationship.lhs_sysdictionarydefinition_id)}}&nbsp;/&nbsp;{{dictionarymanager.getDictionaryItemName(dictionaryrelationship.lhs_sysdictionaryitem_id)}}</div>
                    </td>
                    <td data-label="Right">
                        <div class="slds-truncate">{{dictionarymanager.getDictionaryDefinitionName(dictionaryrelationship.rhs_sysdictionarydefinition_id)}}&nbsp;/&nbsp;{{dictionarymanager.getDictionaryItemName(dictionaryrelationship.rhs_sysdictionaryitem_id)}}</div>
                    </td>
                    <td class="">
                        <!--system-utility-icon *ngIf="dictionarymanager.canChange(dictionaryrelationship.scope)" size="xx-small" icon="delete" (click)="deleteDictionaryRelationship($event, dictionaryrelationship.id)"></system-utility-icon-->
                        <button class="slds-button slds-button--icon" (click)="editDictionaryRelationship($event, dictionaryrelationship)">
                            <system-button-icon size="xx-small" [icon]="dictionaryrelationship.status == 'a' ? 'preview' : 'edit'"></system-button-icon>
                        </button>
                        <button class="slds-button slds-button--icon" [disabled]="dictionaryrelationship.status == 'a' || !dictionarymanager.canChange(dictionaryrelationship.scope)" (click)="deleteDictionaryRelationship($event, dictionaryrelationship.id)">
                            <system-button-icon size="xx-small" icon="delete"></system-button-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngFor="let dictionaryRelationshipsForTemplate of dictionarymanager.dictionaryrelationships | dictionaryFilterRelationshipTemplate: dictionarymanager.currentDictionaryDefinition: dictionarymanager.dictionaryitems">
                <tr class="slds-hint-parent" *ngFor="let dictionaryrelationship of dictionaryRelationshipsForTemplate.relationships" (click)="setActiveId(dictionaryrelationship.id)" [ngClass]="{'slds-is-selected': dictionarymanager.currentDictionaryRelationship == dictionaryrelationship.id}">
                    <td>
                        <system-utility-icon class="slds-p-right--xx-small" size="xx-small" [icon]="dictionaryrelationship.scope == 'g' ? 'world' : 'people'"></system-utility-icon>
                        <dictionary-manager-item-status [ngModel]="dictionaryrelationship.status" [disabled]="true"></dictionary-manager-item-status>
                    </td>
                    <td data-label="NAME">
                        <div class="slds-truncate">{{translateRelationshipName(dictionaryrelationship.name)}} / {{translateRelationshipName(dictionaryrelationship.relationship_name)}}</div>
                    </td>
                    <td>
                        <div class="slds-truncate">{{dictionarymanager.getDictionaryDefinitionName(dictionaryRelationshipsForTemplate.relatedTemplateId)}}</div>
                    </td>
                    <td data-label="Type">
                        <div class="slds-truncate">
                            <span class="slds-p-horizontal--x-small">{{dictionaryrelationship.relationship_type}}</span>
                        </div>
                    </td>
                    <td data-label="Left">
                        <div class="slds-truncate">{{dictionarymanager.getDictionaryDefinitionName(dictionaryrelationship.lhs_sysdictionarydefinition_id)}}&nbsp;/&nbsp;{{dictionarymanager.getDictionaryItemName(dictionaryrelationship.lhs_sysdictionaryitem_id)}}</div>
                    </td>
                    <td data-label="Right">
                        <div class="slds-truncate">{{dictionarymanager.getDictionaryDefinitionName(dictionaryrelationship.rhs_sysdictionarydefinition_id)}}&nbsp;/&nbsp;{{dictionarymanager.getDictionaryItemName(dictionaryrelationship.rhs_sysdictionaryitem_id)}}</div>
                    </td>
                    <td class="">
                        <div class="slds-grid slds-grid--align-end">
                            <button class="slds-button slds-button--icon" (click)="editDictionaryRelationship($event, dictionaryrelationship)">
                                <system-button-icon size="xx-small" icon="preview"></system-button-icon>
                            </button>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="dictionarymanager.changescope != 'none'" class="slds-align--absolute-center slds-p-around--small">
            <system-utility-icon icon="new" size="x-small" (click)="addDictionaryRelationship($event)" ></system-utility-icon>
        </div>
</div>
<ng-template #selectdefinition>
    <div class="slds-size--1-of-1 slds-height_full slds-align--absolute-center" system-to-bottom-noscroll>
        <system-label label="LBL_SELECT_A_DICTIONARYDEFINITION"></system-label>
    </div>
</ng-template>
