<div class="slds-form-element slds-m-vertical--xxx-small">
    <label class="slds-form-element__label">Name</label>
    <div class="slds-form-element__control">
        <input type="text" class="slds-input" [(ngModel)]="field.name"/>
    </div>
</div>
<div class="slds-form-element slds-m-vertical--xxx-small">
    <label class="slds-form-element__label">Source</label>
    <div class="slds-form-element__control">
        <input type="text" class="slds-input" [(ngModel)]="field.source"/>
    </div>
</div>
<div class="slds-form-element slds-m-vertical--xxx-small">
    <label class="slds-form-element__label">Type</label>
    <div class="slds-form-element__control">
        <input type="text" class="slds-input" [(ngModel)]="field.field_type"/>
    </div>
</div>
<div class="slds-form-element slds-m-vertical--xxx-small">
    <label class="slds-form-element__label">DB Type</label>
    <div class="slds-form-element__control">
        <input type="text" class="slds-input" [(ngModel)]="field.db_type"/>
    </div>
</div>
<div class="slds-form-element slds-m-vertical--xxx-small">
    <label class="slds-form-element__label">Length</label>
    <div class="slds-form-element__control">
        <input type="text" class="slds-input" [(ngModel)]="field.field_len"/>
    </div>
</div>
<div class="slds-form-element slds-m-vertical--xxx-small">
    <label class="slds-form-element__label">Precision</label>
    <div class="slds-form-element__control">
        <input type="text" class="slds-input" [(ngModel)]="field.field_precision"/>
    </div>
</div>