<div class="slds-p-around--xx-small slds-grid slds-grid--vertical-align-center slds-border--bottom">
    <system-utility-icon icon="filterList" size="x-small"></system-utility-icon>
    <system-input-text placeholder="LBL_SEARCH" class="slds-grow slds-p-horizontal--xx-small" [(ngModel)]="definitionfilterterm"></system-input-text>
</div>
<div system-to-bottom>
    <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table--header-fixed">
        <thead>
        <tr class="slds-line-height_reset">
            <th style="width:2.5rem" scope="col"></th>
            <th class="" scope="col">
                <div class="slds-truncate slds-th__action slds-p-horizontal--x-small"><system-label label="LBL_DOMAIN"></system-label></div>
            </th>
            <th class="" scope="col">
                <div class="slds-truncate slds-th__action slds-p-horizontal--x-small"><system-label label="LBL_TYPE"></system-label></div>
            </th>
            <th style="width:2rem" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="slds-hint-parent" [ngClass]="{'slds-is-selected':domainmanager.currentDomainDefinition == domaindefinition.id}"  *ngFor="let domaindefinition of domaindefinitions; trackBy: trackByFn" (click)="setCurrentDomainDefintion(domaindefinition.id)">
            <td>
                <system-utility-icon class="slds-p-right--xx-small" size="xx-small" [icon]="domaindefinition.scope == 'g' ? 'world' : 'people'"></system-utility-icon>
                <dictionary-manager-item-status [(ngModel)]="domaindefinition.status"></dictionary-manager-item-status>
            </td>
            <td data-label="Domain" >
                <div class="slds-truncate">{{domaindefinition.name}}</div>
            </td>
            <td data-label="Type">
                <div class="slds-truncate">{{domaindefinition.fieldtype}}</div>
            </td>
            <td class="slds-align--absolute-center" style="width: 2rem;">
                <system-utility-icon size="xx-small" icon="delete" (click)="deleteDomainDefinition($event, domaindefinition.id)"></system-utility-icon>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="slds-align--absolute-center slds-border--top slds-p-around--small slds-theme--shade" style="position: sticky; bottom: 0;">
        <system-utility-icon (click)="addDomainDefinition($event)" icon="new" size="x-small" style="cursor: pointer"></system-utility-icon>
    </div>
</div>
