<div class="slds-tabs_scoped" *ngIf="domainmanager.currentDomainField; else selectfield">
    <ul class="slds-tabs_scoped__nav" role="tablist">
        <li class="slds-tabs_scoped__item" [ngClass]="{'slds-is-active': tabScope == 'details'}" title="Item One" role="presentation" (click)="tabScope = 'details'">
            <a class="slds-tabs_scoped__link" href="javascript:void(0);" role="tab" tabindex="0"><system-label label="LBL_DETAILS"></system-label></a>
        </li>
        <li class="slds-tabs_scoped__item" [ngClass]="{'slds-is-active': tabScope == 'validations'}" title="Item Two" role="presentation"  (click)="tabScope = 'validations'">
            <a class="slds-tabs_scoped__link" href="javascript:void(0);" role="tab" tabindex="-1"><system-label label="LBL_VALIDATION"></system-label></a>
        </li>
    </ul>
    <div class="slds-tabs_scoped__content slds-show slds-p-around--none" [ngClass]="{'slds-hide': tabScope != 'details'}" role="tabpanel" system-to-bottom-noscroll>
        <domainmanager-field-details [field]="currentField"></domainmanager-field-details>
    </div>
    <div class="slds-tabs_scoped__content slds-show slds-p-around--none" [ngClass]="{'slds-hide': tabScope != 'validations'}" role="tabpanel" system-to-bottom-noscroll>
        <domainmanager-field-validation [field]="currentField"></domainmanager-field-validation>
    </div>
</div>
<ng-template #selectfield>
    <div class="slds-size--1-of-1 slds-height_full slds-align--absolute-center">
        <system-label label="LBL_SELECT_A_FIELD"></system-label>
    </div>
</ng-template>
