<div class="slds-p-horizontal--medium slds-p-vertical--small">
    <h1>IMAP</h1>
    <div class="slds-grid">
        <div class="slds-form-element slds-size--1-of-2">
            <label class="slds-truncate slds-form-element__label">{{language.getLabel('LBL_PROTOCOL_TYPE')}}</label>
            <select type="text"
                    [(ngModel)]="model.data.settings.imap_pop3_protocol_type"
                    class="slds-select ng-pristine ng-valid">
                <option value="imap">{{language.getLabel('LBL_IMAP')}}</option>
                <option value="pop3">{{language.getLabel('LBL_POP3')}}</option>
            </select>
        </div>
        <div class="slds-form-element slds-size--1-of-2">
            <label class="slds-truncate slds-form-element__label">{{language.getLabel('LBL_HOST')}}</label>
            <input type="text" [(ngModel)]="model.data.settings.imap_pop3_host"
                   class="slds-input ng-pristine ng-valid"/>
        </div>
    </div>
    <div class="slds-grid">
        <div class="slds-form-element slds-size--1-of-2">
            <label class="slds-truncate slds-form-element__label">{{language.getLabel('LBL_PORT')}}</label>
            <input type="text" [(ngModel)]="model.data.settings.imap_pop3_port"
                   class="slds-input ng-pristine ng-valid"/>
        </div>
        <div class="slds-form-element slds-size--1-of-2">
            <label class="slds-truncate slds-form-element__label">{{language.getLabel('LBL_ENCRYPTION')}}</label>
            <select type="text"
                    [(ngModel)]="model.data.settings.imap_pop3_encryption"
                    class="slds-select ng-pristine ng-valid">
                <option value="none">{{language.getLabel('LBL_NOENCRYPTION')}}</option>
                <option value="ssl">{{language.getLabel('LBL_SSL')}}</option>
                <option value="tls">{{language.getLabel('LBL_TLS')}}</option>
            </select>
        </div>
    </div>
    <div class="slds-grid">
        <div class="slds-form-element slds-size--1-of-4">
            <label class="slds-truncate slds-form-element__label">{{language.getLabel('LBL_DISPLAY_NAME')}}</label>
            <input type="text"
                   [(ngModel)]="model.data.settings.imap_pop3_display_name"
                   class="slds-input ng-pristine ng-valid"/>
        </div>
        <div class="slds-form-element slds-size--1-of-4">
            <label class="slds-truncate slds-form-element__label">{{language.getLabel('LBL_USERNAME')}}</label>
            <input type="text"
                   [(ngModel)]="model.data.settings.imap_pop3_username"
                   class="slds-input ng-pristine ng-valid"/>
        </div>
        <div class="slds-form-element slds-size--2-of-4">
            <label class="slds-truncate slds-form-element__label">{{language.getLabel('LBL_PASSWORD')}}</label>
            <input type="password"
                   [(ngModel)]="model.data.settings.imap_pop3_password"
                   class="slds-input ng-pristine ng-valid"/>
        </div>
    </div>
</div>
<div class="slds-p-horizontal--medium slds-p-vertical--small">
    <h1>SMTP</h1>
    <div class="slds-grid">
        <div class="slds-form-element slds-size--1-of-2">
            <label class="slds-truncate slds-form-element__label">{{language.getLabel('LBL_HOST')}}</label>
            <input type="text" [(ngModel)]="model.data.settings.smtp_host"
                   class="slds-input ng-pristine ng-valid"/>
        </div>
        <div class="slds-form-element slds-size--1-of-2">
            <label class="slds-truncate slds-form-element__label">{{language.getLabel('LBL_AUTHENTICATION')}}</label>
            <input type="checkbox" [(ngModel)]="model.data.settings.smtp_auth"
                   class="ng-untouched ng-pristine ng-valid"/>
        </div>
    </div>
    <div class="slds-grid">
        <div class="slds-form-element slds-size--1-of-2">
            <label class="slds-truncate slds-form-element__label">{{language.getLabel('LBL_PORT')}}</label>
            <input type="text" [(ngModel)]="model.data.settings.smtp_port"
                   class="slds-input ng-pristine ng-valid"/>
        </div>
        <div class="slds-form-element slds-size--1-of-2">
            <label class="slds-truncate slds-form-element__label">{{language.getLabel('LBL_ENCRYPTION')}}</label>
            <select type="text"
                    [(ngModel)]="model.data.settings.smtp_encryption"
                    class="slds-select ng-pristine ng-valid">
                <option value="none">{{language.getLabel('LBL_NOENCRYPTION')}}</option>
                <option value="ssl">{{language.getLabel('LBL_SSL')}}</option>
                <option value="tls">{{language.getLabel('LBL_TLS')}}</option>
            </select>
        </div>
    </div>
    <div class="slds-grid">
        <div class="slds-form-element slds-size--1-of-3">
            <label class="slds-truncate slds-form-element__label">{{language.getLabel('LBL_SMTP_VERIFY_PEER')}}</label>
            <input type="checkbox"
                   [(ngModel)]="model.data.settings.smtp_verify_peer"
                   class="ng-untouched ng-pristine ng-valid"/>
        </div>
        <div class="slds-form-element slds-size--1-of-3">
            <label class="slds-truncate slds-form-element__label">{{language.getLabel('LBL_SMTP_VERIFY_PEER_NAME')}}</label>
            <input type="checkbox"
                   [(ngModel)]="model.data.settings.smtp_verify_peer_name"
                   class="ng-untouched ng-pristine ng-valid"/>
        </div>
        <div class="slds-form-element slds-size--1-of-3">
            <label class="slds-truncate slds-form-element__label">{{language.getLabel('LBL_SMTP_ALLOW_SELF_SIGNED')}}</label>
            <input type="checkbox"
                   [(ngModel)]="model.data.settings.smtp_allow_self_signed"
                   class="ng-untouched ng-pristine ng-valid"/>
        </div>
    </div>
    <div class="slds-grid">
        <div class="slds-form-element slds-size--1-of-1">
            <label class="slds-truncate slds-form-element__label">
                {{language.getLabel('LBL_IMAP_SMTP_ALLOW_EXTERNAL_DELETE')}}</label>
            <input type="checkbox"
                   [(ngModel)]="model.data.settings.allow_external_delete"
                   class="ng-untouched ng-pristine ng-valid"/>
        </div>
    </div>
    <div class="slds-grid">
        <div class="slds-form-element slds-size--1-of-2">
            <label class="slds-truncate slds-form-element__label">{{language.getLabel('LBL_TEST_EMAIL')}}</label>
            <input type="text" [(ngModel)]="model.data.settings.test_email"
                   class="slds-input ng-pristine ng-valid"/>
        </div>
    </div>
</div>

<div class="slds-grid">
    <button type="button"
            class="slds-col--bump-left slds-button slds-button--neutral"
            (click)="testConnection()" [disabled]="valid_connection">
        {{language.getLabel('LBL_TEST_CONNECTION')}}
    </button>
    <button [disabled]="!validConnection" type="button"
            class="slds-col--bump-left slds-button slds-button--neutral"
            (click)="displayFoldersModal()">
        {{language.getLabel('LBL_SELECT_IMAP_FOLDERS')}}
    </button>
</div>

