<workbench-header titlelabel="LBL_MAILBOX">
    <workbench-header-controls>
            <object-action-container [actionset]="headeractionset"></object-action-container>
    </workbench-header-controls>
</workbench-header>
<div  [system-overlay-loading-spinner]="listComponent.modellist.isLoading" class="slds-grid" system-to-bottom-noscroll>
    <div class="slds-size--1-of-5 slds-scrollable--y slds-theme--default slds-tabs_default__content slds-p-around--none slds-border--right">
        <ul class="slds-has-dividers_around-space slds-p-around--x-small">
            <mailboxes-manager-list #listComponent (selectedMailboxChange)="handleSelectionChange($event)"></mailboxes-manager-list>
        </ul>
    </div>
    <div class="slds-size--4-of-5 slds-scrollable--y">
        <div #viewcontainer></div>
    </div>
</div>