<div class="slds-backdrop slds-backdrop--open"></div>

<div tabindex="-1" class="slds-modal slds-fade-in-open">
    <div class="slds-modal__container slds-p-top--x-large slds-p-bottom--x-large">

        <header class="slds-modal__header">
            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                    title="Close" (click)="cancel()">
                <system-button-icon [icon]="'close'"></system-button-icon>
                <span class="slds-assistive-text">Close</span>
            </button>
            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                {{language.getModuleLabel(model.module, 'LBL_MAILBOX_FOLDERS')}}
            </h2>
        </header>

        <div class="slds-modal__content slds-p-around--medium slds-border_left slds-border_right slds-border_top slds-border_bottom">
            <div class="slds-grid slds-wrap slds-grid--pull-padded">
                <div class="slds-col">
                    <div class="slds-form-element">
                        <label class="slds-truncate slds-form-element__label">Inbox folder</label>
                        <select [disabled]="mailboxes.length == 0" [(ngModel)]="model.data.settings.imap_inbox_dir"
                                type="text" class="slds-select ng-pristine ng-valid">
                            <option *ngFor="let mailbox of mailboxes" value="{{ mailbox }}">{{ mailbox }}</option>
                        </select>
                    </div>
                    <div class="slds-form-element">
                        <label class="slds-truncate slds-form-element__label">Sent folder</label>
                        <select [disabled]="mailboxes.length == 0" [(ngModel)]="model.data.settings.imap_sent_dir"
                                type="text" class="slds-select ng-pristine ng-valid">
                            <option *ngFor="let mailbox of mailboxes" value="{{ mailbox }}">{{ mailbox }}</option>
                        </select>
                    </div>
                    <div class="slds-form-element">
                        <label class="slds-truncate slds-form-element__label">Trash folder</label>
                        <select [disabled]="mailboxes.length == 0" [(ngModel)]="model.data.settings.imap_trash_dir"
                                type="text" class="slds-select ng-pristine ng-valid">
                            <option *ngFor="let mailbox of mailboxes" value="{{ mailbox }}">{{ mailbox }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="slds-modal__footer">
            <button class="slds-button slds-button--brand" (click)="save()">
                {{language.getLabel('LBL_SAVE')}}
            </button>
            <button class="slds-button slds-button--neutral" (click)="cancel()">
                {{language.getLabel('LBL_CANCEL')}}
            </button>
        </div>

    </div>
</div>