<system-modal>
    <system-modal-header (close)="close()"></system-modal-header>
    <system-modal-content>
        <div class="slds-form-element slds-size--1-of-1">
            <label class="slds-truncate slds-form-element__label">{{language.getLabel('LBL_TEST_EMAIL')}}</label>
            <input type="text" [(ngModel)]="testemailaddress" class="slds-input"/>
        </div>
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--brand" (click)="testConnection()">{{language.getAppLanglabel('LBL_TEST')}}</button>
    </system-modal-footer>
</system-modal>