<div class="slds-m-vertical--xx-small slds-box--border">
    <div class="slds-p-around--x-small">
        <h1>{{language.getLabel('LBL_SENDGRID')}}</h1>
        <div class="slds-grid slds-p-vertical--xx-small">
            <div class="slds-form-element slds-size--1-of-2 slds-p-right--xx-small">
                <label class="slds-truncate slds-form-element__label">{{language.getLabel('LBL_DISPLAY_NAME')}}</label>
                <input type="text" [disabled]="!view.isEditMode()" [(ngModel)]="model.data.settings.imap_pop3_display_name" class="slds-input ng-pristine ng-valid"/>
            </div>
            <div class="slds-form-element slds-size--1-of-2 slds-p-left--xx-small">
                <label class="slds-truncate slds-form-element__label">{{language.getLabel('LBL_REPLY_TO')}}</label>
                <input type="text" [disabled]="!view.isEditMode()" [(ngModel)]="model.data.settings.reply_to"  class="slds-input ng-pristine ng-valid"/>
            </div>
        </div>
        <div class="slds-grid slds-p-vertical--xx-small">
            <div class="slds-form-element slds-size--1-of-2 slds-p-right--xx-small">
                <label class="slds-truncate slds-form-element__label">{{language.getLabel('LBL_USER_NAME')}}</label>
                <input type="text" [disabled]="!view.isEditMode()" [(ngModel)]="model.data.settings.imap_pop3_username" class="slds-input ng-pristine ng-valid"/>
            </div>
            <div class="slds-form-element slds-size--1-of-2 slds-p-left--xx-small">
                <label class="slds-truncate slds-form-element__label">{{language.getLabel('LBL_API_KEY')}}</label>
                <system-input-password [disabled]="!view.isEditMode()" [(ngModel)]="model.data.settings.api_key"></system-input-password>
            </div>
        </div>
        <div class="slds-grid slds-p-vertical--xx-small">
            <button type="button" class="slds-col--bump-left slds-button slds-button--neutral" (click)="testConnection()" [disabled]="!view.isEditMode()">
                {{language.getLabel('LBL_SEND_TEST_EMAIL')}}
            </button>
        </div>
    </div>
</div>