<div role="dialog" tabindex="-1" aria-labelledby="header43" class="slds-modal slds-fade-in-open">
    <div class="slds-modal__container">
        <div class="slds-modal__header slds-theme--shade">
            <button class="slds-button slds-modal__close slds-button--icon-inverse" title="Close" (click)="closeDialog()">
                <system-button-icon [icon]="'close'" [size]="'large'"></system-button-icon>
            </button>
            <h2 *ngIf="mode == 'add'" id="header43" class="slds-text-heading--medium"><system-label label="LBL_ADD_Module"></system-label></h2>
            <h2 *ngIf="mode == 'edit'" id="header44" class="slds-text-heading--medium"><system-label label="LBL_EDIT_Module"></system-label></h2>
        </div>
        <div class="slds-modal__content slds-p-around--medium">

            <div *ngIf="mode == 'add'" class="slds-form-element slds-m-top--small">
                <label class="slds-form-element__label">Scope</label>
                <div class="slds-form-element__control">
                    <div class="slds-select_container">
                        <select class="slds-select" [(ngModel)]="moduleRepo.scope">
                            <option *ngFor="let scope of scopes" [ngValue]="scope">{{scope}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="slds-form-element slds-m-top--small">
                <label class="slds-form-element__label"><system-label label="LBL_NAME"></system-label></label>
                <div class="slds-form-element__control">
                    <input type="text" class="slds-input" placeholder="" [(ngModel)]="moduleRepo.module" />
                </div>
            </div>
            <div class="slds-form-element slds-m-top--small">
                <label class="slds-form-element__label"><system-label label="LBL_PATH"></system-label></label>
                <div class="slds-form-element__control">
                    <input type="text" class="slds-input" placeholder="" [(ngModel)]="moduleRepo.path" />
                </div>
            </div>
            <!--<div class="slds-form-element slds-m-top&#45;&#45;small">-->
                <!--<label class="slds-form-element__label"><system-label label="LBL_DESCRIPTION"></system-label></label>-->
                <!--<div class="slds-form-element__control">-->
                    <!--<input type="text" class="slds-input" placeholder="" [(ngModel)]="moduleRepo.description" />-->
                <!--</div>-->
            <!--</div>-->

            <div class="slds-form-element slds-m-top--small">
                <label class="slds-form-element__label"><system-label label="LBL_DESCRIPTION"></system-label></label>
                <div class="slds-form-element__control">
                    <system-richtext-editor [(ngModel)]="moduleRepo.description"></system-richtext-editor>
                    <!--system-html-editor id="editor-id-02" [fieldid]="'234'" [(fieldvalue)]="moduleRepo.description" [fieldconfig]="'{}'" [useStylesheets]="" [useStylesheetSwitcher]="" [(stylesheetId)]="stylesheetId" (contentchange)="updateField($event)"></system-html-editor-->
                </div>
            </div>

        </div>
        <div class="slds-modal__footer">
            <button class="slds-button slds-button--neutral" (click)="closeDialog()"><system-label label="LBL_CANCEL"></system-label></button>
            <button *ngIf="mode == 'add'" class="slds-button slds-button--brand" (click)="add()"><system-label label="LBL_ADD"></system-label></button>
            <button *ngIf="mode == 'edit'" class="slds-button slds-button--brand" (click)="add()"><system-label label="LBL_SAVE"></system-label></button>
        </div>
    </div>
</div>