<div class="slds-form-element slds-m-vertical--xxx-small">
    <div *ngIf="option.description.length > 0" class="slds-float_left" style="position: relative; margin-right: 5px; margin-top: 3px;">
        <div class="slds-form-element">
            <div class="slds-form-element__icon slds-align-middle">
                <button class="slds-button slds-button_icon slds-button slds-button_icon" aria-describedby="help" title="Description" (mouseenter)="showInfo = true" (mouseleave)="showInfo = false">
                    <system-button-icon [size]="'small'" [icon]="'info'"></system-button-icon>
                </button>
            </div>
        </div>
        <div *ngIf="showInfo" class="slds-popover slds-popover_tooltip slds-nubbin_bottom-right slds-rise-from-ground" role="tooltip" id="help"
             style="position: absolute; bottom: 25px; right: -17px; width: 320px; height: auto;">
            <div class="slds-popover__body slds-scrollable_y">{{option.description}}</div>
        </div>
    </div>
    <label class="slds-form-element__label slds-float_left">{{option.option}}</label>
    <div class="slds-grid">
        <div class="slds-form-element__control slds-p-right--xxx-small slds-size--1-of-3">
            <div class="slds-select_container">
                <select [disabled]="!view.isEditMode()" class="slds-select" [(ngModel)]="module">
                    <option value="*">*</option>
                    <option *ngFor="let module of modules" [value]="module">{{module}}</option>
                </select>
            </div>
        </div>
        <div class="slds-form-element__control slds-p-left--xxx-small slds-size--2-of-3">
            <div class="slds-select_container">
                <select [disabled]="!module || !view.isEditMode()" class="slds-select" [(ngModel)]="configValues[option.option]">
                    <option></option>
                    <option *ngFor="let actionset of actionsets|componentsetmanagermodulepipe:module" [value]="actionset.id">{{actionset.name}}</option>
                </select>
            </div>
        </div>
    </div>
</div>

