<div *ngIf="!!module && module != '*'" class="slds-form-element slds-m-vertical--xxx-small">
    <workbench-config-label [option]="option.option" [description]="option.description"></workbench-config-label>
    <div class="slds-grid">
        <div class="slds-form-element__control slds-p-left--xxx-small slds-size--2-of-3">
            <div class="slds-combobox_container">
                <system-select [disabled]="!view.isEditMode() || disabled || customPrompts() === null || globalPrompts() === null" [(ngModel)]="configValues[option.option]" system-select-id-only>
                    <system-select-option *ngIf="customPrompts() === null || globalPrompts() === null" value="" [inactive]="true"></system-select-option>
                    <ng-container *ngIf="customPrompts()?.length > 0">
                        <system-select-option *ngFor="let prompt of customPrompts()" [value]="prompt.id" [display]="prompt.name" [group]="'Custom ' + language.getLabel('LBL_AIPROMPT')">
                        </system-select-option>
                    </ng-container>
                    <ng-container *ngIf="globalPrompts()?.length > 0">
                        <system-select-option *ngFor="let prompt of globalPrompts()" [value]="prompt.id" [display]="prompt.name" [group]="'Global ' + language.getLabel('LBL_AIPROMPT')">
                        </system-select-option>
                    </ng-container>
                </system-select>
            </div>
        </div>
    </div>
</div>