<div class="slds-grid slds-wrap slds-is-absolute slds-size--1-of-1" style="height:100vh; top: 0px;">
    <div class="slds-align--absolute-center slds-size--1-of-1 slds-large-size--1-of-2">
        <div class="slds-size--1-of-1 slds-medium-size--2-of-3 slds-p-around--medium">
            <div class="slds-align--absolute-center slds-p-vertical--medium">
                <img style="max-height: 150px;" src="./config/loginimage"/>
            </div>
            <div class="slds-box--border" *ngIf="!loginService.session.authData.sessionId && promptUser">
                <div class="slds-p-around--medium">
                    <form *ngIf="!showForgotPass" (submit)="login()">
                        <div class="slds-form-element slds-m-vertical--small">
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--left">
                                <input type="text" name="username" autocomplete  [(ngModel)]="username" class="slds-input slds-p-horizontal--large slds-p-vertical--small" tabindex="1"/>
                            </div>
                        </div>
                        <div class="slds-form-element slds-m-vertical--small">
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--left">
                                <input type="password" name="password" autocomplete  [(ngModel)]="password" class="slds-input slds-p-horizontal--large slds-p-vertical--small" tabindex="2"/>
                            </div>
                        </div>
                        <button type="submit" value="Submit" class="slds-button slds-button--brand slds-button_stretch" tabindex="0">Login</button>
                        <button class="slds-button slds-button_neutral slds-m-vertical--x-small slds-m-left--none" (click)="googleSignInClick($event)" style="width:100%" *ngIf="googleLoginVisible">
                            <div class="slds-align--absolute-center slds-grid slds-grid--vertical-align-center">
                                <img style="height: 18px;width:18px;margin-right: 24px;" src="https://developers.google.com/identity/images/g-logo.png"/>
                                <div>Sign in with Google</div>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
            <ng-container *ngIf="loginService.session.authData.sessionId && !loginService.session.authData.renewPass">
                <system-loader-progress></system-loader-progress>
            </ng-container>
        </div>
    </div>
    <div class="slds-is-absolute slds-size--1-of-1 slds-align--absolute-center" style="bottom: 10px;">
        <global-copyright></global-copyright>
    </div>
</div>
