<system-modal>
    <system-modal-header (close)="cancel()"><system-label label="LBL_FIND_DUNS_NUMBER"></system-label></system-modal-header>
    <system-modal-content style="padding: 0">
        <div class="slds-p-around--x-small">
            <div *ngFor="let field of fieldsetFields" class="slds-cell-buffer--left">
                <div class="slds-truncate">
                    <span class="slds-text-heading--label">{{language.getFieldDisplayName(model.module, field.field)}} : </span>
                    <span>{{model.getFieldValue(field.field)}}</span>
                </div>
            </div>
        </div>
        <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table--fixed-layout spice-table_header-fixed">
            <thead>
            <tr class="slds-line-height_reset">
                <th class="slds-text-title_caps" scope="col">
                    <div class="slds-truncate" [title]="language.getLabel('LBL_NUMBER')"><system-label label="LBL_NUMBER"></system-label></div>
                </th>
                <th class="slds-text-title_caps" scope="col">
                    <div class="slds-truncate" [title]="language.getLabel('LBL_NAME')"><system-label label="LBL_NAME"></system-label> </div>
                </th>
                <th class="slds-text-title_caps" scope="col">
                    <div class="slds-truncate" [title]="language.getLabel('LBL_STREET')"><system-label label="LBL_STREET"></system-label> </div>
                </th>
                <th class="slds-text-title_caps" scope="col">
                    <div class="slds-truncate" [title]="language.getLabel('LBL_POSTALCODE')"><system-label label="LBL_POSTALCODE"></system-label> </div>
                </th>
                <th class="slds-text-title_caps" scope="col">
                    <div class="slds-truncate" [title]="language.getLabel('LBL_CITY')"><system-label label="LBL_CITY"></system-label> </div>
                </th>
                <th class="slds-text-title_caps" scope="col">
                    <div class="slds-truncate" [title]="language.getLabel('LBL_COUNTRY')"><system-label label="LBL_COUNTRY"></system-label> </div>
                </th>
                <th class="slds-cell-shrink" scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let result of results; trackBy: trackByFn" class="slds-hint-parent" [ngClass]="rowClass(result)" (click)="selectItem(result)" style="cursor: pointer">
                <td>
                    <div class="slds-truncate" [title]="result.duns">
                        {{result.duns}}
                    </div>
                </td>
                <td>
                    <div class="slds-truncate" [title]="result.name">
                        {{result.name}}
                    </div>
                </td>
                <td>
                    <div class="slds-truncate" [title]="result.street">
                        {{result.street}}
                    </div>
                </td>
                <td>
                    <div class="slds-truncate" [title]="result.postalcode">
                        {{result.postalcode}}
                    </div>
                </td>
                <td>
                    <div class="slds-truncate" [title]="result.city">
                        {{result.city}}
                    </div>
                </td>
                <td>
                    <div class="slds-truncate" [title]="result.country">
                        {{result.country}}
                    </div>
                </td>
                <td class="slds-cell-shrink">
                    <system-utility-icon *ngIf="selectedItem == result" icon="check" size="x-small" colorclass="slds-icon-text-success"></system-utility-icon>
                </td>
            </tr>
            <tr *ngIf="!isLoading && results?.length == 0">
                <td colspan="7">
                    <div class="slds-p-around--small slds-align--absolute-center"><system-label label="LBL_NO_ENTRIES"></system-label></div>
                </td>
            </tr>
            <tr *ngIf="isLoading">
                <td colspan="7">
                    <div class="slds-p-around--small slds-align--absolute-center"><system-spinner></system-spinner></div>
                </td>
            </tr>
            </tbody>
        </table>
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="cancel()"><system-label label="LBL_CANCEL"></system-label></button>
        <button class="slds-button slds-button--neutral" (click)="notFound()"><system-label label="LBL_NOT_FOUND"></system-label></button>
        <button class="slds-button slds-button--brand" (click)="confirm()" [disabled]="!selectedItem"><system-label label="LBL_CONFIRM"></system-label></button>
    </system-modal-footer>
</system-modal>
