<div *ngIf="!isHidden" class="slds-box slds-m-around--xx-small" (system-drop-file)="fileDrop($event)">
    <div>
        <div class="slds-card__body--inner slds-grid slds-wrap slds-grid--pull-padded">
            <spice-attachment-file *ngFor="let file of modelattachments.files" [modelattachments]="modelattachments" [file]="file" [editmode]="editing" [forceModalPreview]="forceModalPreview" class="slds-media slds-size--1-of-1"></spice-attachment-file>
        </div>
        <div *ngIf="modelattachments.loading" class="slds-p-around--x-small slds-align--absolute-center">
            <div class="slds-grid slds-grid--vertical-align-center">
                <system-spinner [size]="14"></system-spinner>
                <system-label class="slds-p-left--x-small" label="LBL_INITIALIZING"></system-label>
            </div>
        </div>
    </div>
    @if(!modelattachments.loading){
        <div class="slds-grid slds-grid--align-center slds-grid--vertical-align-center" [ngClass]="{'slds-p-top--x-small': modelattachments.files.length > 0}">
            <div *ngIf="editing && !componentconfig.disableupload" class="slds-grid slds-grid--align-center slds-grid--vertical-align-center slds-gutters_direct-xx-small slds-wrap">
                @if ((modelattachments.files.length == 0 || !displaySizeInfo) && width >= 500){
                    <div class="slds-col"><system-label label="LBL_DROP_FILES"></system-label></div>
                    <div class="slds-col"><system-label label="LBL_OR"></system-label></div>
                }
                <button *ngIf="!componentconfig.disableupload" class="slds-col slds-button slds-button--icon-border slds-button--neutral" (click)="selectFile()" system-title="LBL_UPLOAD"><system-button-icon icon="upload"/></button>
                <div class="slds-col"><system-label label="LBL_OR"></system-label></div>
                <button *ngIf="!componentconfig.disableupload" class="slds-col slds-button slds-button--icon-border slds-button--neutral" (click)="addImage()" system-title="LBL_ADD_IMAGE"><system-button-icon icon="image"/></button>
                <input #fileupload style="display:none" type="file" multiple (click)="fileupload.value = null" (change)="uploadFile()"/>
                @if (hasParentAttachments){
                    <div class="slds-col"><system-label label="LBL_OR"></system-label></div>
                    <button *ngIf="!componentconfig.disableupload" [disabled]="_modelattachments.module =='Tasks'" class="slds-col slds-button slds-button--icon-border slds-button--neutral" (click)="addFromRecord()" system-title="LBL_ADD_FROM_RECORD"><system-button-icon icon="link"/></button>
                }
            </div>
            @if (displaySizeInfo){
                <div class="slds-col--bump-left slds-card__body--inner">
                    <div class="slds-text-align--right"><system-label label="LBL_TOTAL_ATTACHMENTS_SIZE"></system-label></div>
                    <div class="slds-text-align--right">{{modelattachments.totalHumanFileSize}}<span *ngIf="maxUpload">&nbsp;/&nbsp;{{maxUpload}}</span></div>
                </div>
            }
        </div>
    }
</div>
