<div style="width: 30px; height: 30px;" class="slds-m-right--x-small slds-align--absolute-center">
    <system-file-icon *ngIf="!file.thumbnail" [filename]="file.filename" divClass="" [filemimetype]="file.file_mime_type"  size="small"></system-file-icon>
    <div *ngIf="file.thumbnail">
        <img [src]="'data:image/jpg;base64,' + file.thumbnail"/>
    </div>
</div>
<div class="slds-media__body">
    <div class="slds-grid slds-grid_vertical-align-center slds-grid--align-spread slds-has-flexi-truncate">
        <h3 class="slds-truncate slds-text-heading--x-small slds-p-right--xxx-small" (click)="previewFile($event)">
            <a href="javascript:void(0);">{{file.filename}}</a>
        </h3>
        <div *ngIf="!uploading && editmode" class="slds-shrink-none">
            <button  class="slds-button slds-button--icon" (click)="deleteFile()">
                <system-button-icon icon="clear"></system-button-icon>
            </button>
            <!--object-file-action-menu [file]="file"></object-file-action-menu-->
        </div>
    </div>
    <div *ngIf="!uploading" class="slds-tile__detail slds-text-body--small">
        <ul class="slds-list--horizontal slds-has-dividers--left">
            <li class="slds-item">{{filedate}}</li>
            <li class="slds-item">{{humanFileSize}}</li>
        </ul>
    </div>
    <div *ngIf="uploading" class="slds-grid slds-grid_vertical-align-center slds-grid--align-spread slds-has-flexi-truncate">
        <div class="slds-progress-bar">
            <span class="slds-progress-bar__value" [ngStyle]="progressbarstyle">
                <span class="slds-assistive-text">Progress: 25%</span>
            </span>
        </div>
        <div class="slds-text-align--right" style="width: 50px;">
            {{file.uploadprogress}} %
        </div>
    </div>
</div>
