<div class="slds-grid slds-grid--vertical" system-to-bottom-noscroll>
    <div class="slds-border--bottom slds-p-around--x-small">
    <button (click)="addSchedule()" class="slds-button slds-button_neutral slds-m-right--small slds-p-horizontal--x-small slds-text-title--caps" style="height: 100%; line-height: 22px">
        <system-label label="LBL_ADD_SCHEDULE"></system-label>
    </button>
    </div>
    <div class="slds-grow slds-scrollable--y">
        <table class="slds-table slds-table--cell-buffer spice-table_header-fixed slds-table--fixed-layout slds-no-row-hover">
            <thead>
            <tr class="slds-text-title--caps slds-theme--shade">
                <th colspan="5" scope="col">
                    <div class="slds-truncate" system-title="LBL_INTERVAL">
                        <system-label label="LBL_INTERVAL"></system-label>
                    </div>
                </th>
                <th scope="col">
                    <div class="slds-truncate" system-title="LBL_ACTION">
                        <system-label label="LBL_ACTION"></system-label>
                    </div>
                </th>
                <th scope="col" class="slds-cell-shrink"></th>
                <th scope="col" class="slds-cell-shrink"></th>
            </tr>
            </thead>
            <tbody *ngIf="schedules">
            <ng-container *ngFor="let schedule of schedules; trackBy: trackByFn">
                <tr class="slds-border--bottom">
                    <td colspan="5">
                        <div class="slds-form-element">
                            <div class="slds-form-element__control">
                                <system-input-cron-expression [asObject]="true" (ngModelChange)="setCronExpression(schedule, $event)" [ngModel]="schedule.min + '::' + schedule.hrs + '::' + schedule.day + '::' + schedule.month + '::' + schedule.weekday"/>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="slds-form-element">
                            <div class="slds-form-element__control">
                                <div class="slds-select_container">
                                    <select class="slds-select" [(ngModel)]="schedule.scheduleraction">
                                        <option></option>
                                        <option value="TARGETLIST"><system-label label="LBL_PROSPECTLIST"></system-label></option>
                                        <option value="EXCEL"><system-label label="LBL_EXPORT_TO_EXCEL"></system-label></option>
                                        <option value="PDF"><system-label label="LBL_EXPORT_TO_PDF"></system-label></option>
                                        <option value="CSV"><system-label label="LBL_EXPORT_TO_CSV"></system-label></option>
                                        <option value="SNAPSHOT"><system-label label="LBL_TAKE_SNAPSHOT"></system-label></option>
                                        <option value="WORKFLOW"><system-label label="LBL_PROCESS_WORKFLOW"></system-label></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button class="slds-button slds-button--icon" (click)="deleteSchedule(schedule.id)">
                            <system-button-icon icon="delete"></system-button-icon>
                        </button>
                    </td>
                    <td>
                        <button (click)="toggleExpandSchedule(schedule.id)" [style.transform]="expandedId == schedule.id ? 'rotate(180deg)' : 'none'" [title]="language.getLabel('LBL_MAPPING')" class="slds-button slds-button--icon">
                            <system-button-icon icon="down"></system-button-icon>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="expandedId == schedule.id" class="slds-theme--shade" style="box-shadow: inset -1px 1px 6px 0 #aaa">
                    <td colspan="8" style="padding: .5rem;">
                        <div class="slds-grid">
                            <div class="slds-form-element slds-size--1-of-4 slds-p-horizontal--xxx-small">
                                <label class="slds-form-element__label">
                                    <system-label label="LBL_SEND_TO"></system-label>
                                </label>
                                <div class="slds-form-element__control">
                                    <input type="text" [(ngModel)]="schedule.schedulersendto" class="slds-input">
                                </div>
                            </div>
                            <div class="slds-form-element slds-size--1-of-4 slds-p-horizontal--xxx-small">
                                <label class="slds-form-element__label">
                                    <system-label label="LBL_SEND_TO_LIST"></system-label>
                                </label>
                                <div class="slds-form-element__control">
                                    <div class="slds-select_container">
                                        <select class="slds-select" [(ngModel)]="schedule.schedulersendlist">
                                            <option></option>
                                            <option *ngFor="let dList of dLists" [value]="dList.id">
                                                {{dList.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-form-element slds-size--1-of-4 slds-p-horizontal--xxx-small">
                                <label class="slds-form-element__label">
                                    <system-label label="LBL_SAVE_TO"></system-label>
                                </label>
                                <div class="slds-form-element__control">
                                    <input type="text" [(ngModel)]="schedule.schedulersaveto" class="slds-input">
                                </div>
                            </div>
                            <div class="slds-form-element slds-size--1-of-4 slds-p-horizontal--xxx-small">
                                <div class="slds-form-element__control">
                                    <label class="slds-form-element__label">
                                        <system-label label="LBL_SAVE_TO_ACTION"></system-label>
                                    </label>
                                    <div class="slds-select_container">
                                        <select class="slds-select" [(ngModel)]="schedule.schedulersavetoaction">
                                            <option value="DONOTHING"></option>
                                            <option value="ADD"><system-label label="LBL_ADD"></system-label></option>
                                            <option value="REPLACE"><system-label label="LBL_UPDATE"></system-label></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slds-form-element slds-size--1-of-4 slds-p-horizontal--xxx-small">
                                <label class="slds-form-element__label">
                                    <system-label label="LBL_MAILBOX"></system-label>
                                </label>
                                <div class="slds-form-element__control">
                                    <select class="slds-select" [disabled]="mailboxes.length == 0" [(ngModel)]="schedule.schedulermailboxid">
                                        <ng-container *ngFor="let o of mailboxes">
                                            <option [value]="o.value" >{{o.display}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </div>
</div>


