<div *ngIf="!loading">
    <div class="slds-page-header">
        <div class="slds-grid">
            <div class="slds-col slds-has-flexi-truncate">
                <div class="slds-media slds-no-space slds-grow">
                    <system-icon [module]="'Travels'"></system-icon>
                    <div class="slds-media__body">
                        <ng-container>
                            <travel-manager-button-group *ngIf="model.id; else moduleName"></travel-manager-button-group>
                        </ng-container>
                        <ng-template #moduleName>
                            <p class="slds-text-title--caps slds-line-height--reset"><system-label-modulename module="Travels"></system-label-modulename></p>
                            <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate slds-m-bottom--x-small">
                                <system-label label="LBL_TRAVEL_MANAGER"></system-label>
                            </h1>
                        </ng-template>
                    </div>
                </div>
            </div>

            <!-- remove current model Button -->
            <!-- <button *ngIf="model.data.id" class="slds-button slds-button_icon slds-button_icon-border-filled" system-title="LBL_RESET_MODEL" [disabled]="loading" (click)="resetCurrentModel()">
                <system-button-icon size="small" icon="close"></system-button-icon>
            </button>-->
        </div>
    </div>

    <!-- add new Travel or select a future Travel from dropdown -->
    <ng-container *ngIf="nowTravels.length == 0 || (nowTravels.length > 1 && !model.data.id); else showTravelItems">
        <div class="slds-button-group slds-align_absolute-center slds-m-around--medium">
            <button class="slds-button slds-button--neutral" (click)="createNewTravel()">
                <system-label label="LBL_ADD_TRAVEL"/>
            </button>
            <div *ngIf="futureTravels.length > 0 || nowTravels.length > 1" class="slds-dropdown-trigger slds-dropdown-trigger_click slds-button_last" system-dropdown-trigger>
                <button class="slds-button slds-button_icon-border-filled" [disabled]="model.isEditing" system-title="LBL_SELECT_TRAVEL">
                    <system-button-icon icon="picklist_choice"></system-button-icon>
                </button>
                <div class="slds-dropdown slds-dropdown_right slds-dropdown_actions">
                    <ul class="slds-dropdown__list" role="menu">
                        <li class="slds-dropdown__item" *ngFor="let futureTravel of futureTravels" role="presentation" (click)="selectTravel(futureTravel)">
                            <a class="slds-truncate" href="javascript:void(0);" role="menuitem">
                                <span class="slds-truncate" [title]="futureTravel.name">{{futureTravel.name}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #showTravelItems>
        <travel-manager-travel-items [selectedTravel]="model.data.id" class="slds-is-absolute"></travel-manager-travel-items>
    </ng-template>
</div>
