<field-generic-display *ngIf="!isEditMode()" [fielddisplayclass]="fielddisplayclass" [fieldconfig]="fieldconfig" [editable]="isEditable()">
    <div class="slds-size--1-of-1" [style.min-height.px]="iframeHeight">
        <iframe *ngIf="parsedHtml" [src]="parsedHtml" [style.height.px]="iframeHeight" style="border: 0; resize: vertical" class="slds-size--1-of-1" sandbox></iframe>
    </div>
</field-generic-display>
<div *ngIf="isEditable() && isEditMode()" class="slds-form-element__control slds-height_full" [ngClass]="getFieldClass()">
    <spice-page-builder [pageContent]="model.data[bodySPBFieldName]" (pageBuilderChange$)="onPageBuilderChange($event)" class="spice-display-block slds-height_full"></spice-page-builder>
    <field-messages [fieldname]="fieldname"></field-messages>
</div>
