<div *ngIf="!isEditMode; else editContainer" class="spice-drop-zone" [class.slds-is-hovered]="spicePageBuilderService.isMouseIn == 'content'" (mouseenter)="setIsMouseIn(true)" (mouseleave)="setIsMouseIn(false)" tabindex="-1">
    <div class="spice-drop-zone-label">
        <div class="slds-media slds-media_center">
            <div class="slds-media__figure">
                <system-icon icon="text" sprite="utility" size="x-small" divClass="slds-current-color"></system-icon>
            </div>
            <div class="slds-media__body">
                <h2 class="slds-truncate">
                    <system-label label="LBL_TEXT"></system-label>
                </h2>
            </div>
            <button (click)="spicePageBuilderService.saveCustomElement(element, 'item')" class="slds-button slds-button--icon slds-m-right--xx-small">
                <system-button-icon icon="save" [inverse]="true"></system-button-icon>
            </button>
        </div>
    </div>
    <article (dblclick)="edit()" class="spice-drop-zone-content">
        <div [style.background-color]="element.attributes['container-background-color']">
            <div [innerHTML]="sanitizedContent" [ngStyle]="style"></div>
        </div>
    </article>
    <div class="spice-drop-zone-actions">
        <div class="slds-button-group" role="group">
            <button cdkDragHandle class="slds-button slds-button_icon slds-button_icon-brand slds-button_icon-x-small" system-title="LBL_MOVE">
                <system-button-icon icon="move" addclasses="slds-icon"></system-button-icon>
            </button>
            <button (click)="edit()" class="slds-button slds-button_icon slds-button_icon-brand slds-button_icon-x-small" system-title="LBL_EDIT">
                <system-button-icon icon="edit" addclasses="slds-icon"></system-button-icon>
            </button>
            <button (click)="delete$.emit()" class="slds-button slds-button_icon slds-button_icon-brand slds-button_icon-x-small" system-title="LBL_DELETE">
                <system-button-icon icon="delete" addclasses="slds-icon"></system-button-icon>
            </button>
        </div>
    </div>
</div>

<ng-template #editContainer>
    <div style="height: 50%">
        <system-section titlelabel="LBL_ELEMENT_CONTENT" [alwaysExpanded]="true" class="spice-collapsible-tab-grow">
            <div [ngSwitch]="element.editorType" class="slds-grid slds-size--1-of-1 slds-scrollable--y slds-height_full slds-p-around--xx-small" style="min-height: 0">
                <system-html-editor *ngSwitchCase="'html'" [(ngModel)]="element.content" class="slds-size--1-of-1 spice-page-builder-text-editor"></system-html-editor>
                <system-richtext-editor *ngSwitchDefault [(ngModel)]="element.content" class="slds-size--1-of-1 spice-page-builder-text-editor"></system-richtext-editor>
            </div>
        </system-section>
    </div>
    <div style="height: 50%">
        <system-section titlelabel="LBL_STYLING" [alwaysExpanded]="true" class="spice-collapsible-tab-grow">
            <div class="slds-size--1-of-1 slds-height_full slds-p-horizontal--xx-small slds-p-vertical--x-small slds-scrollable--y">
                <div class="slds-size--1-of-1 slds-grid slds-wrap">
                    <div class="slds-form-element slds-grid slds-size--1-of-1">
                        <label class="slds-form-element__label"><system-label label="LBL_EDIT_WITH"></system-label></label>
                        <system-input-radio-button-group [(ngModel)]="element.editorType" [inputOptions]="[{value: 'richText', label: 'LBL_RICH_TEXT_EDITOR'}, {value: 'html', label: 'LBL_HTML'}]" class="spice-display-block"></system-input-radio-button-group>
                    </div>
                    <ng-container *ngFor="let styleAttribute of attributesList" [ngSwitch]="styleAttribute.type">
                        <spice-page-builder-input-text *ngSwitchCase="'text'" [(ngModel)]="element.attributes[styleAttribute.name]" [label]="styleAttribute.name" class="slds-p-horizontal--xxx-small slds-size--1-of-2"></spice-page-builder-input-text>
                        <spice-page-builder-input-text *ngSwitchCase="'textSuffix'" [(ngModel)]="element.attributes[styleAttribute.name]" [label]="styleAttribute.name" [suffix]="spicePageBuilderService.defaultSuffix" class="slds-p-horizontal--xxx-small slds-size--1-of-2"></spice-page-builder-input-text>
                        <spice-page-builder-input-sides *ngSwitchCase="'sides'" [(ngModel)]="element.attributes[styleAttribute.name]" [label]="styleAttribute.name" class="slds-p-horizontal--xxx-small slds-size--1-of-2"></spice-page-builder-input-sides>
                        <spice-page-builder-input-color *ngSwitchCase="'color'" [(ngModel)]="element.attributes[styleAttribute.name]" [label]="styleAttribute.name" class="slds-p-horizontal--xxx-small slds-size--1-of-2"></spice-page-builder-input-color>
                    </ng-container>
                </div>
            </div>
        </system-section>
    </div>

</ng-template>


