@if (!isEditMode) {
    <div class="spice-drop-zone"
         [class.slds-is-hovered]="spicePageBuilderService.isMouseIn == 'content'" (mouseenter)="setIsMouseIn(true)"
         (mouseleave)="setIsMouseIn(false)" tabindex="-1">
        <div class="spice-drop-zone-label">
            <div class="slds-media slds-media_center">
                <div class="slds-media__figure">
                    <system-icon icon="text" sprite="utility" size="x-small"
                                 divClass="slds-current-color"></system-icon>
                </div>
                <div class="slds-media__body">
                    <h2 class="slds-truncate">
                        <system-label label="LBL_BUTTON"></system-label>
                    </h2>
                </div>
                <button (click)="spicePageBuilderService.saveCustomElement(element, 'item')"
                        class="slds-button slds-button--icon slds-m-right--xx-small">
                    <system-button-icon icon="save" [inverse]="true"></system-button-icon>
                </button>
            </div>
        </div>
        <article (dblclick)="edit()" class="spice-drop-zone-content">
            <div [ngStyle]="{'background-color': element.attributes['container-background-color'], 'padding': element.attributes['padding']}">
                <div [ngStyle]="style" [style.padding]="element.attributes['inner-padding']">
                    {{ element.content }}
                </div>
            </div>
        </article>
        <div class="spice-drop-zone-actions">
            <div class="slds-button-group" role="group">
                <button cdkDragHandle class="slds-button slds-button_icon slds-button_icon-x-small"
                        system-title="LBL_MOVE">
                    <system-button-icon icon="move"></system-button-icon>
                </button>
                <button (click)="edit()" class="slds-button slds-button_icon slds-button_icon-x-small"
                        system-title="LBL_EDIT">
                    <system-button-icon icon="edit"></system-button-icon>
                </button>
                <button (click)="delete$.emit()" class="slds-button slds-button_icon slds-button_icon-x-small"
                        system-title="LBL_DELETE">
                    <system-button-icon icon="delete"></system-button-icon>
                </button>
            </div>
        </div>
    </div>
} @else {
        <div class="slds-grid">
            <div class="slds-form-element slds-size--1-of-4 slds-p-horizontal--xxx-small">
                <label class="slds-form-element__label">
                    <system-label label="LBL_TEXT"></system-label>
                </label>
                <div class="slds-form-element__control">
                    <input type="text" [(ngModel)]="element.content" class="slds-input">
                </div>
            </div>
            <spice-page-builder-input-horizontal-align class="slds-size--1-of-4" label="LBL_ALIGN" [(ngModel)]="element.attributes['text-align']"></spice-page-builder-input-horizontal-align>
            <spice-page-builder-input-text [(ngModel)]="element.attributes['border-radius']" class="slds-size--1-of-2" label="LBL_RADIUS" [suffix]="spicePageBuilderService.defaultSuffix" class="slds-p-horizontal--xxx-small slds-size--1-of-2"></spice-page-builder-input-text>
        </div>
        <div class="slds-grid">
             <div class="slds-form-element slds-size--1-of-2 slds-p-horizontal--xxx-small">
                 <label class="slds-form-element__label"><system-label label="LBL_CLICKS_TRACKABLE"></system-label></label>
                 <system-input-radio-button-group [ngModel]="element.trackByMethod" (ngModelChange)="setTrackByMethod($event)" [inputOptions]="[{value: 'id', label: 'LBL_BY_ID'}, {value: undefined, icon: 'topic2', label: 'LBL_NONE'}, {value: 'url', icon: 'link', label: 'LBL_BY_URL'}]" class="spice-display-block"></system-input-radio-button-group>

             </div>
            <div class="slds-form-element slds-size--1-of-2 slds-p-horizontal--xxx-small">
                <label class="slds-form-element__label">
                    <system-label label="LBL_URL"></system-label>
                </label>
                <div class="slds-form-element__control">
                    <input type="text" [(ngModel)]="element.attributes.href" class="slds-input">
                </div>
            </div>
        </div>
        <div class="slds-size--1-of-1 slds-p-horizontal--xx-small slds-p-vertical--x-small slds-scrollable--y">
            <spice-page-builder-element-attributes [attributesList]="mainAttributesList" [element]="element"/>
        </div>
        <system-section titlelabel="LBL_STYLING" [expanded]="false">
            <div class="slds-size--1-of-1 slds-p-horizontal--xx-small slds-p-vertical--x-small slds-scrollable--y">
                <spice-page-builder-element-attributes [attributesList]="attributesList" [element]="element"/>
            </div>
        </system-section>

}
