<div class="slds-grid slds-size--1-of-1 slds-height_full" [ngStyle]="style">
    <spice-page-builder-element-container *ngFor="let container of body.children; trackBy: trackByFn" [container]="container"
                                           class="slds-grid slds-height_full slds-grow"></spice-page-builder-element-container>
    <div *ngIf="body.children?.length == 0" class="slds-align--absolute-center slds-height_full slds-size--1-of-1 slds-text-title--caps">
        <system-label label="MSG_DROP_CONTAINER_HERE"></system-label>
    </div>
</div>

