<div class="slds-grid slds-wrap slds-p-top--small">
    <div class="slds-col slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--2-of-3">
        <system-componentset [componentset]="componentconfig.main"></system-componentset>
    </div>
    <div class="slds-col slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
        <system-componentset [componentset]="componentconfig.sidebar"></system-componentset>
    </div>
</div>