<a class="slds-button slds-button--neutral slds-m-horizontal--xxx-small" [ngClass]="{'slds-not-selected': !hasReminder, 'slds-is-selected': hasReminder }"><!-- [disabled]="isEditing"-->
    <span class="slds-text-not-selected" (click)="toggleDatePicker()">
        <system-button-icon [icon]="'add'"></system-button-icon>{{language.getLabel('LBL_REMINDER')}}
    </span>
    <span class="slds-text-selected">
        <system-button-icon [icon]="'check'"></system-button-icon>{{getReminderDate()}}
    </span>
    <span class="slds-text-selected-focus">
        <system-button-icon [icon]="'close'" (click)="clearReminder()"></system-button-icon> <span (click)="toggleDatePicker()">{{getReminderDate()}}</span>
    </span>
</a>
<ng-container *ngIf="showDialog">
    <field-date-picker [posclass]="'slds-dropdown--top'" [setdate]="reminderDate" (setdateChange)="setReminder($event)"></field-date-picker>
</ng-container>