<!--li class="slds-accordion__list-item">
    <section class="slds-accordion__section" [ngClass]="{'slds-is-open': expanded}">
        <div class="slds-accordion__summary">
            <h3 class="slds-accordion__summary-heading">
                <button class="slds-button slds-button_reset slds-accordion__summary-action" (click)="expanded = !expanded">
                    <system-utility-icon icon="switch" size="x-small" addclasses="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left"></system-utility-icon>
                    <span class="slds-truncate">{{model.getField('summary_text')}}</span>
                </button>
            </h3>
        </div>
        <div class="slds-accordion__content">
            <object-record-fieldset [fieldset]="fieldset" direction="vertical"></object-record-fieldset>
        </div>
    </section>
</li-->

<li class="slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_1-of-3">
    <article class="slds-tile slds-media slds-card__tile slds-hint-parent">
        <div class="slds-media__figure">
            <span class="slds-icon_container slds-icon-standard-contact">
              <system-icon [module]="model.module" size="x-small"></system-icon>
            </span>
        </div>
        <div class="slds-media__body">
            <div class="slds-grid slds-grid_align-spread slds-has-flexi-truncate">
                <h3 class="slds-tile__title slds-truncate">
                    {{model.getField('summary_text')}}
                </h3>
            </div>
            <div class="slds-tile__detail">
                <object-record-fieldset [fieldset]="fieldset" direction="vertical"></object-record-fieldset>
            </div>
        </div>
    </article>
</li>