<div class="slds-card__header slds-grid">
    <header class="slds-media slds-media--center slds-has-flexi-truncate">
        <object-icon [module]="module" [size]="'small'"></object-icon>
        <div class="slds-media__body slds-truncate slds-grid slds-grid--vertical-align-center">
            <h2>
                <a href="javascript:void(0);" class="slds-text-link--reset">
                    <span class="slds-text-heading--small">
                        {{panelTitle}}<ng-container *ngIf="!relatedmodels.isloading">&nbsp;({{relatedmodels.count}})</ng-container>
                    </span>
                </a>
            </h2>
            <system-utility-icon class="slds-m-horizontal--xx-small" *ngIf="relatedmodels.count > 0" icon="up" size="x-small" (click)="toggleOpen()" [@animateicon]="isopen? 'open' : 'closed'"></system-utility-icon>
        </div>
    </header>
    <object-action-container *ngIf="actionset" [actionset]="actionset"></object-action-container>
</div>
