<div class="slds-tile slds-box slds-media slds-card__tile  slds-p-vertical--small slds-p-horizontal--small slds-hint-parent">
    <system-icon [module]="model.module" [size]="'small'"></system-icon>
    <div class="slds-media__body">
        <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
            <h3 class="slds-truncate slds-text-heading--small slds-m-bottom--small">
                <span>{{model.data.summary_text}}</span>
            </h3>
            <button *ngIf="enableButtonLink" (click)="navigateDetails()" class="slds-button slds-button--icon-border">
                <system-button-icon icon="open"></system-button-icon>
            </button>
        </div>
        <div class="slds-tile__detail slds-text-body--small">
            <dl class="slds-dl--horizontal">
                <ng-container *ngFor="let field of getFields()">
                    <dt class="slds-dl--horizontal__label slds-truncate">
                        <span class="slds-truncate"><system-label-fieldname [module]="model.module" [field]="field.field"></system-label-fieldname></span>
                    </dt>
                    <dd class="slds-dl--horizontal__detail slds-tile__meta">
                        <field-container [field]="field.field" [fieldconfig]="field.fieldconfig" [fielddisplayclass]="'slds-truncate'"></field-container>
                    </dd>
                </ng-container>
            </dl>
        </div>
    </div>
</div>
