<ol class="slds-list--vertical slds-list--vertical-space">
    <li class="slds-item slds-hint-parent" (click)="onClick()">
        <div class="slds-filters__item slds-grid slds-grid--vertical-align-center">
            <a href="javascript:void(0);" class="slds-grow slds-has-blur-focus">
                <p class="slds-text-body--small">{{language.getLabel('LBL_DISPLAY')}}</p>
                <p>{{language.getLabel('LBL_' + filterValue.toUpperCase())}} {{language.getModuleName(modellist.module)}}</p>
            </a>
        </div>
    </li>
    <div #popover [ngStyle]="getPopoverStyle()">
        <div *ngIf="showPopover" @animatepopover class="slds-popover slds-nubbin--right" role="dialog">
            <div class="slds-popover__body">
                <fieldset class="slds-form-element">
                    <legend class="slds-form-element__legend slds-form-element__label">{{language.getLabel('LBL_DISPLAY')}}</legend>
                    <div class="slds-form-element__control">
                    <span class="slds-radio">
                      <input type="radio" id="radioall" name="scope" value="all" [(ngModel)]="filterValue"/>
                      <label class="slds-radio__label" for="radioall">
                        <span class="slds-radio--faux"></span>
                        <span class="slds-form-element__label">{{language.getLabel('LBL_ALL')}} {{language.getModuleName(modellist.module)}}</span>
                      </label>
                    </span>
                    <span class="slds-radio">
                      <input type="radio" id="radioown" name="scope" value="own" [(ngModel)]="filterValue"/>
                      <label class="slds-radio__label" for="radioown">
                        <span class="slds-radio--faux"></span>
                        <span class="slds-form-element__label">{{language.getLabel('LBL_OWN')}} {{language.getModuleName(modellist.module)}}</span>
                      </label>
                    </span>
                    <span class="slds-radio">
                      <input type="radio" id="radiocre" name="scope" value="creator" [(ngModel)]="filterValue"/>
                      <label class="slds-radio__label" for="radiocre">
                        <span class="slds-radio--faux"></span>
                        <span class="slds-form-element__label">{{language.getLabel('LBL_CREATOR')}} {{language.getModuleName(modellist.module)}}</span>
                      </label>
                    </span>
                    </div>
                </fieldset>
                <div class="spicecrm-popup-buttoncontainer">
                    <button type="button" class="slds-button slds-button--brand slds-button-space-left" (click)="closePopover()">{{language.getLabel('LBL_OK')}}</button>
                </div>
            </div>
        </div>
    </div>
</ol>

