<div>
    <table *ngIf="!loading" class="slds-table slds-table--bordered slds-table--cell-buffer">
        <thead>
        <tr>
            <td class="slds-theme--shade" colspan="3">
                <div class="slds-text-heading--label">
                    {{auditLog.user_name}} / {{auditLog.date}}
                </div>
            </td>
        </tr>
        <tr class="slds-text-title--caps">
            <th scope="col">
                <div class="slds-truncate"><system-label label="LBL_FIELD"></system-label></div>
            </th>
            <th scope="col">
                <div class="slds-truncate"><system-label label="LBL_BEFOREVALUE"></system-label></div>
            </th>
            <th scope="col">
                <div class="slds-truncate"><system-label label="LBL_AFTERVALUE"></system-label></div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let auditEntry of auditLog.data">
            <td scope="row">
                <div class="slds-truncate">{{language.getFieldDisplayName(model.module,
                    auditEntry.field_name)}}
                </div>
            </td>
            <td scope="row">
                <div class="slds-truncate">{{auditEntry.before_value_string}}</div>
            </td>
            <td scope="row">
                <div class="slds-truncate">{{auditEntry.after_value_string}}</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

