<system-modal size="medium">
    <system-modal-header (close)="close()">
        <system-label label="LBL_TRANSLATIONS"/>
    </system-modal-header>
    <system-modal-content [grow]="true" margin="none">
        <div class="slds-grid slds-grid--vertical slds-height_full">
            <div class="slds-p-around--small">
                <div class="slds-text-title--caps slds-m-bottom--x-small">
                    <system-label label="LBL_TEXT"/>
                </div>
                <div class="slds-box">
                    @switch (fieldType) {
                        @case ('richtext') {
                            <system-richtext-editor [readOnly]="true" [ngModel]="originalText()" innerheight="100"/>
                        }
                        @case ('html') {
                            <iframe [src]="safeHtmlValue()" style="resize: vertical; border: 0; height: 100%" width="100%" sandbox></iframe>
                        }
                        @default {
                            {{originalText()}}
                        }
                    }
                </div>
                <div class="slds-grid slds-text-title--caps slds-m-top--medium slds-grid--vertical-align-center">
                    <system-label label="LBL_TRANSLATIONS"/>
                    @if (isEditMode) {
                        <div class="slds-grid slds-m-top--x-small slds-m-left--small slds-grow">
                            <system-select [(ngModel)]="translationLanguageToAdd" placeholder="LBL_LANGUAGE" [disabled]="availableLanguages().length == 0" [idOnly]="true" class="slds-size--1-of-8">
                                @for (language of availableLanguages(); track language.code) {
                                    <system-select-option [value]="language.code" [display]="language.name"/>
                                }
                            </system-select>
                            <button (click)="addTranslation()" [disabled]="!translationLanguageToAdd()" class="slds-m-left--xx-small slds-button slds-button--neutral">
                                <system-label label="LBL_ADD"/>
                            </button>
                        </div>
                    }
                </div>

            </div>
            <div class="slds-scrollable--y slds-grow slds-p-around--small">
                @for (translation of translationsArray(); track $index) {
                    <div class="slds-m-bottom--medium">
                        <div>
                            {{translation.translation_language}}
                        </div>
                        <div [system-overlay-loading-spinner]="isTranslating() == translation.translation_language" class="slds-box">
                            @if (isEditMode) {
                                @switch (fieldType) {
                                    @case ('richtext') {
                                        <system-richtext-editor [(ngModel)]="translation.translation_text" (ngModelChange)="emitChange()" class="slds-grow"/>
                                    }
                                    @case ('html') {
                                        <system-html-editor [(ngModel)]="translation.translation_text" (ngModelChange)="emitChange()" class="slds-grow"/>
                                    }
                                    @default {
                                        <textarea [(ngModel)]="translation.translation_text" (ngModelChange)="emitChange()" class="slds-textarea slds-grow"></textarea>
                                    }
                                }
                            } @else {
                                <span class="slds-grow">{{translation.translation_text}}</span>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </system-modal-content>
    <system-modal-footer>
        <button (click)="close()" class="slds-button slds-button--neutral">
            <system-label label="LBL_DONE"/>
        </button>
    </system-modal-footer>
</system-modal>