<div class="slds-form--stacked">
    <!--button *ngIf="isExpanded" class="slds-button slds-button_icon slds-button_icon" (click)="expand()">
        <system-button-icon [icon]="'expand_alt'" [size]="'xx-small'"></system-button-icon>
    </button-->
    <div (click)="onHeaderClick()">
        <object-record-fieldset [fieldset]="headerFieldSet"></object-record-fieldset>
    </div>
    <ng-container *ngIf="isExpanded">
        <object-record-fieldset [fieldset]="bodyFieldSet" [direction]="'vertical'"></object-record-fieldset>
        <div class="slds-p-around--x-small slds-grid">
            <div class="slds-grid">
                <button class="slds-button slds-button--neutral" (click)="cancel()">
                    {{language.getLabel('LBL_CANCEL')}}
                </button>
                <button class="slds-button slds-button--neutral" (click)="expand()">
                    {{language.getLabel('LBL_EXPAND')}}
                </button>
                <button class="slds-button slds-button--neutral" (click)="dock()">
                    {{language.getLabel('LBL_DOCK')}}
                </button>
            </div>
            <div class="slds-col--bump-left">
                <object-action-container [actionset]="actionset" (actionemitter)="handleaction($event)" ></object-action-container>
            </div>
        </div>
    </ng-container>
</div>
