<object-related-card [componentconfig]="componentconfig">
    <div class="slds-card__body--inner slds-grid slds-wrap slds-grid--pull-padded">
        <div *ngFor="let relateditem of relatedmodels.items" class="slds-p-around--xx-small slds-small-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
            <div class="slds-box slds-box--x-small slds-media slds-card__tile" object-related-card-tile [fieldset]="componentconfig.fieldset" [data]="relateditem" [module]="module"></div>
        </div>
    </div>
</object-related-card>