<td [ngClass]="model.alert" *ngIf="rownumbers" role="gridcell" class="slds-show--medium" style="min-width: 3rem; display: table-cell;">
    <div class="slds-text-align--center slds-text-body--small slds-text-color--inverse-weak">{{rowNumber}}</div>
</td>
<td [ngClass]="model.alert" *ngIf="dragHandles" role="gridcell" class="slds-show--medium" style="display: table-cell;">
    <system-utility-icon cdkDragHandle [icon]="'drag_and_drop'" [size]="'x-small'" style="cursor:move"></system-utility-icon>
</td>
<td [ngClass]="model.alert" *ngIf="rowselect" role="gridcell" class="slds-show--medium" style="display: table-cell;">
    <system-checkbox [disabled]="rowselectdisabled" [(ngModel)]="listItem.selected"></system-checkbox>
</td>
<td [ngClass]="model.alert" style="min-width: 2rem; display: table-cell;" *ngFor="let item of listFields" scope="row" [attr.data-label]="language.getFieldDisplayName(model.module, item.field)">
    <field-container [field]="item.field" [fieldconfig]="item.fieldconfig" [fielddisplayclass]="'slds-truncate slds-p-horizontal--x-small'"></field-container>

</td>
<td [ngClass]="model.alert" *ngIf="showActionMenu" role="gridcell" style="display: table-cell;">
    <object-action-menu [buttonsize]="'small'"></object-action-menu>
</td>


