<div class="slds-dropdown-trigger slds-dropdown-trigger--click" [ngClass]="{'slds-is-open': isOpen}">
    <button class="slds-button slds-button--icon-border-filled" [ngClass]="getButtonSizeClass()" aria-haspopup="true"
            [disabled]="hasNoActions()" (click)="toggleOpen()">
        <system-button-icon [icon]="'down'"></system-button-icon>
    </button>
    <div *ngIf="isOpen" class="slds-dropdown slds-dropdown--right" [ngClass]="getDropdownLocationClass()">
        <object-actionset-menu-container [actionset]="actionset"></object-actionset-menu-container>
    </div>
</div>