<div class="slds-timeline__item_expandable slds-timeline__item_email" [ngClass]="{'slds-is-open': isopen}">
    <div class="slds-media">
        <div class="slds-media__figure">
            <button class="slds-button slds-button_icon" aria-controls="call-item-base" (click)="toggleexpand()">
                <system-button-icon icon="switch" addclasses="slds-timeline__details-action-icon"></system-button-icon>
            </button>
            <system-icon icon="email" size="small" divClass="slds-icon_container slds-icon-standard-email slds-timeline__icon"></system-icon>
        </div>
        <div class="slds-media__body">
            <div class="slds-grid slds-grid_align-spread slds-timeline__trigger">
                <div class="slds-grid slds-grid_vertical-align-center slds-truncate_container_75 slds-no-space">
                    <h3 class="slds-truncate" [title]="subject" modelPopOver>
                        <a href="javascript:void(0);">
                            <strong>{{subject}}</strong>
                        </a>
                    </h3>
                </div>
                <div class="slds-timeline__actions slds-timeline__actions_inline">
                    <p class="slds-timeline__date">{{time}} | {{date}}</p>
                    <object-action-menu class="slds-show--medium" *ngIf="showtoolset" [buttonsize]="'x-small'"></object-action-menu>
                </div>
            </div>
            <p class="slds-m-horizontal_xx-small">
                <a href="javascript:void(0);">{{model.getField('to_addrs')}}</a>
            </p>
            <article class="slds-box slds-timeline__item_details slds-theme_shade slds-m-top_x-small slds-m-horizontal_xx-small">
                <object-record-fieldset [fieldset]="formFieldSet" direction="vertical" fielddisplayclass="slds-truncate" fieldpadding="none"></object-record-fieldset>
            </article>
        </div>
    </div>
    <object-action-menu class="slds-hide--medium" *ngIf="showtoolset" [buttonsize]="'x-small'"></object-action-menu>
</div>