<system-modal size="large">
    <system-modal-header (close)="hideAuditLog()">
        {{language.getLabel('LBL_LOGGED_CHANGES')}}
    </system-modal-header>
    <system-modal-content margin="none" [grow]="true">
        <table class="slds-table slds-table--bordered slds-table--cell-buffer">
            <thead>
                <tr class="slds-text-title--caps">
                    <th scope="col">
                        <div class="slds-truncate">{{language.getLabel('LBL_DATE')}}</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate">{{language.getLabel('LBL_USER')}}</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate">{{language.getLabel('LBL_FIELD')}}</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate">{{language.getLabel('LBL_BEFOREVALUE')}}</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate">{{language.getLabel('LBL_AFTERVALUE')}}</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">
                    </td>
                    <td scope="row">
                        <div class="slds-form-element__control">
                            <input class="slds-input" type="text" [(ngModel)]="userfilter" [ngModelOptions]="{updateOn: 'blur'}"/>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="slds-form-element__control">
                            <div class="slds-select_container">
                                <select class="slds-select" [(ngModel)]="fieldfilter">
                                    <option value="">No Filter</option>
                                    <option *ngFor="let moduleField of moduleFields" [value]="moduleField.name">{{moduleField.display}}</option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td scope="row">
                    </td>
                    <td scope="row">
                    </td>
                </tr>
                <tr *ngFor="let auditEntry of auditLog">
                    <td scope="row">
                        <div class="slds-truncate">{{auditEntry.date_created}}</div>
                    </td>
                    <td scope="row">
                        <div class="slds-truncate">{{auditEntry.user_name}}</div>
                    </td>
                    <td scope="row">
                        <div class="slds-truncate">{{language.getFieldDisplayName(model.module,
                            auditEntry.field_name)}}
                        </div>
                    </td>
                    <td scope="row">
                        <div class="slds-truncate">{{auditEntry.before_value_string}}</div>
                    </td>
                    <td scope="row">
                        <div class="slds-truncate">{{auditEntry.after_value_string}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <system-spinner *ngIf="loading" class="slds-p-around--medium"></system-spinner>
        <div *ngIf="!loading && auditLog.length === 0" class="slds-text-heading--small slds-p-around--medium slds-align_absolute-center">
            {{language.getLabel('MSG_NOAUDITRECORDS_FOUND')}}.
        </div>
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--brand" (click)="hideAuditLog()">{{language.getLabel('LBL_CLOSE')}}
        </button>
    </system-modal-footer>
</system-modal>
