<div *ngIf="!isSmall; else smallformfactor" class="slds-dropdown-trigger slds-dropdown-trigger--click" system-dropdown-trigger>
    <button class="slds-button slds-button--icon-border-filled" [ngClass]="getButtonSizeClass()" aria-haspopup="true" [disabled]="hasNoActions">
        <system-button-icon [icon]="'down'"></system-button-icon>
    </button>
    <div class="slds-dropdown">
        <ul class="slds-dropdown__list" role="menu">
            <ng-container *ngIf="actionitems.length > 0">
                <li *ngFor="let actionitem of actionitems" [ngClass]="{'slds-hide': isHidden(actionitem.id)}" class="slds-dropdown__item" role="presentation" (click)="propagateclick(actionitem.id)">
                    <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                        <object-action-container-item class="slds-truncate" [ngClass]="{'slds-disabled-text': isDisabled(actionitem.id)}" [actionitem]="actionitem" (actionemitter)="emitaction($event)"></object-action-container-item>
                    </a>
                </li>
            </ng-container>
        </ul>
    </div>
</div>
<ng-template #smallformfactor>
    <div class="slds-size--1-of-1 slds-text-align--right">
        <div class=" slds-p-top--xx-small slds-p-horizontal--x-small slds-button-group" *ngIf="actionitems.length > 0">
            <button *ngFor="let actionitem of actionitems"  class="slds-button slds-button_neutral"  [ngClass]="{'slds-hide': isHidden(actionitem.id)}" (click)="propagateclick(actionitem.id)">
                <object-action-container-item [displayasicon]="true" class="slds-truncate" [ngClass]="{'slds-disabled-text': isDisabled(actionitem.id)}" [actionitem]="actionitem" (actionemitter)="emitaction($event)"></object-action-container-item>
            </button>
        </div>
    </div>
</ng-template>

