<system-modal>
    <system-modal-header (close)="close()"><system-label label="LBL_TEST_EMAIL"></system-label></system-modal-header>
    <system-modal-content margin="none">
        <div class="slds-grow slds-grid slds-p-horizontal--small">
            <div class="slds-form-element slds-size--1-of-2 slds-p-right--xx-small">
                <label class="slds-form-element__label">
                    <system-label label="LBL_MAILBOX"></system-label>
                </label>
                <div class="slds-form-element__control">
                    <select class="slds-select" [disabled]="mailboxes.length == 0" [(ngModel)]="mailbox_id">
                        <ng-container *ngFor="let o of mailboxes">
                            <option [value]="o.value" >{{o.display}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <div class="slds-form-element slds-size--1-of-2 slds-p-lect--xx-small">
                <label class="slds-form-element__label">
                    <system-label label="LBL_ADD_EMAILADDRESS"></system-label>
                </label>
               <system-input-text [(ngModel)]="recipients"></system-input-text>
            </div>
        </div>
        <div class="slds-form-element slds-size--1-of-1 slds-p-horizontal--small">
            <label class="slds-form-element__label">
                <system-label label="LBL_SUBJECT"></system-label>
            </label>
            <system-input-text [(ngModel)]="email_subject"></system-input-text>
        </div>
        <div class="slds-p-around--small">
            <div class="slds-box--border" style="height: 60vh">
                <div *ngIf="parsedHtml" class="slds-grid slds-grid--vertical slds-size--1-of-1 slds-is-relative slds-m-vertical--xx-small" style="height: calc(100% - 4px)">
                    <iframe *ngIf="parsedHtml" [src]="parsedHtml" style="border: 0; min-height: 250px" class="slds-grow" sandbox></iframe>
                </div>
            </div>
        </div>
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="close()"><system-label label="LBL_CANCEL"></system-label></button>
        <button class="slds-button slds-button--brand" (click)="sendTestEmail()"><system-label label="LBL_SEND_TEST_EMAIL"></system-label></button>
    </system-modal-footer>
</system-modal>
