<div class="slds-form-element">
    <label class="slds-form-element__label">{{language.getLabel('LBL_OPERATOR')}}</label>
    <div class="slds-form-element__control">
        <div class="slds-select_container">
            <select class="slds-select" [(ngModel)]="filter.operator" [disabled]="operatorDisabled()">
                <option *ngFor="let operator of operators" [value]="operator.operator">
                    {{language.getLabel(operator.name)}}
                </option>
            </select>
        </div>
    </div>
</div>
<div class="slds-form-element">
    <label class="slds-form-element__label">{{language.getLabel('LBL_VALUE')}}</label>
    <div class="slds-form-element__control">
        <select class="slds-select " [(ngModel)]="filter.filtervalue" [disabled]="valueDisabled()" [multiple]="multiple">
            <option *ngFor="let option of options" [value]="option.value">{{option.display}}</option>
        </select>
    </div>
</div>