<div *ngIf="displayaggregates && hasAggregates" class="slds-p-vertical--x-small slds-m-top--x-small">
    <object-activitiy-timeline-aggregates [module]="module" labellength="short"></object-activitiy-timeline-aggregates>
</div>
<ul *ngIf="hasActivities; else nocontent" class="slds-timeline slds-p-vertical--small">
    <li *ngFor="let activity of activities; trackBy:trackByFn">
        <object-activitiytimeline-item-container [activity]="activity"></object-activitiytimeline-item-container>
    </li>
</ul>
<ul class="slds-timeline" *ngIf="loading">
    <li>
        <object-activitiytimeline-stencil></object-activitiytimeline-stencil>
    </li>
    <li style="opacity: 0.6">
        <object-activitiytimeline-stencil></object-activitiytimeline-stencil>
    </li>
    <li style="opacity: 0.3">
        <object-activitiytimeline-stencil></object-activitiytimeline-stencil>
    </li>
</ul>
<ng-template #nocontent>
    <system-illustration-no-records *ngIf="!loading">{{language.getLabel('LBL_NO_ENTRIES')}}</system-illustration-no-records>
</ng-template>