<system-modal>
    <system-modal-header (close)="close()">
        <system-label label="LBL_SETFIELDS"></system-label>
    </system-modal-header>
    <system-modal-content>
        <div class="slds-grid">
            <div class="slds-form-element slds-p-horizontal--small slds-size--1-of-2">
                <span class="slds-form-element__label"><system-label label="LBL_AVAILABLE_FIELDS"></system-label></span>
                <div class="slds-picklist slds-picklist__options slds-size--1-of-1" style="height: 50vh" cdkDropList #listOne="cdkDropList" [cdkDropListData]="availableFields" [cdkDropListConnectedTo]="[listTwo]" (cdkDropListDropped)="onFieldDrop($event)">
                    <div *ngFor="let field of availableFields" cdkDrag [cdkDragData]="field" class="slds-drag--preview slds-picklist__item" [attr.aria-selected]="isSelected('available', field.id)" role="option" (click)="selectField('available', field.id)">
                        <span class="slds-truncate"><system-label-fieldname [module]="modellist.module" [field]="field.field" [fieldconfig]="field.fieldconfig"></system-label-fieldname> <span class="slds-text-color--inverse-weak">({{field.field}})</span></span>
                    </div>
                </div>
            </div>
            <div class="slds-form-element slds-p-horizontal--small slds-size--1-of-2">
                <span class="slds-form-element__label"><system-label label="LBL_SELECTED_FIELDS"></system-label></span>
                <div class="slds-picklist slds-picklist__options slds-size--1-of-1 cdk-drag" style="height: 50vh" cdkDropList #listTwo="cdkDropList" [cdkDropListData]="listFields" [cdkDropListConnectedTo]="[listOne]" (cdkDropListDropped)="onFieldDrop($event)">
                    <div *ngFor="let field of listFields" cdkDrag [cdkDragData]="field" class="slds-drag--preview slds-picklist__item" [attr.aria-selected]="isSelected('list', field.id)" role="option" (click)="selectField('list', field.id)">
                        <span class="slds-truncate"><system-label-fieldname [module]="modellist.module" [field]="field.field" [fieldconfig]="field.fieldconfig"></system-label-fieldname> <span class="slds-text-color--inverse-weak">({{field.field}})</span></span>
                    </div>
                </div>
            </div>
        </div>
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="close()">
            <system-label label="LBL_CANCEL"></system-label>
        </button>
        <button class="slds-button slds-button--neutral" [disabled]="!canSet()" (click)="saveAndSet()">
            <system-label label="LBL_SAVE_AND_SET"></system-label>
        </button>
        <button class="slds-button slds-button--brand" [disabled]="!canSet()" (click)="set()">
            <system-label label="LBL_SET"></system-label>
        </button>
    </system-modal-footer>
</system-modal>
