<div *ngIf="!timeline.smartView else smallview">
    <div class="slds-grid slds-m-right--small" style="height: 125px">
        <div style="width: calc(50% - 2px)">
        </div>
        <div class="slds-height_full slds-size--2-of-12" style="width: 4px">
            <div class="slds-color__background_gray-9 slds-height_full slds-align--absolute-center" style="width: 2px"></div>
        </div>
        <div style="width: calc(50% - 2px)">
            <div class="slds-grid slds-grid">
                <div style="width: 70px" class="slds-align--absolute-center slds-m-horizontal--none">
                    <span style="width: 30px; overflow: hidden"><system-stencil></system-stencil></span>
                </div>
                <section class="slds-m-vertical--medium slds-popover slds-height_full slds-nubbin--left" style="width: calc(100% - 70px)">
                    <div class="slds-popover__body slds-grid" style="height: 90px">
                        <div style="width: 32px" class="slds-grid slds-grid--vertical slds-grid--vertical-align-center">
                            <div style="width: 32px" class="slds-m-horizontal--xx-small">
                                <system-icon icon="generic_loading"></system-icon>
                            </div>
                        </div>
                        <div style="width: calc(100% - 32px)" class="slds-grid slds-grid--align-spread slds-size--7-of-8">
                            <div class="slds-m-horizontal--small slds-media slds-left--small slds-size--1-of-1">
                                <div class="slds-media__body slds-size--1-of-1">
                                    <header class="slds-p-left--none slds-popover__header slds-p-top--none slds-size--3-of-5" style="border: 0">
                                        <h2 class="slds-text-heading_medium"><system-stencil></system-stencil></h2>
                                    </header>
                                    <p class="slds-size--2-of-5"><system-stencil></system-stencil></p>
                                </div>
                            </div>
                            <system-icon [icon]="'down'"></system-icon>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="slds-grid slds-m-right--small" style="height: 125px; opacity: 0.8">
        <div style="width: calc(50% - 2px)">
            <div class="slds-grid slds-grid slds-grid--align-end">
                <section class="slds-m-vertical--medium slds-popover slds-height_full slds-nubbin--right" style="width: calc(100% - 70px)">
                    <div class="slds-popover__body slds-grid slds-grid--align-spread" style="height: 90px">
                        <div style="width: 32px" class="slds-grid slds-grid--vertical slds-grid--vertical-align-center">
                            <div style="width: 32px" class="slds-m-horizontal--xx-small">
                                <system-icon icon="generic_loading" ></system-icon>
                            </div>
                        </div>
                        <div style="width: calc(100% - 32px)" class="slds-grid slds-grid--align-spread slds-size--7-of-8">
                            <div class="slds-m-horizontal--small slds-media slds-left--small slds-size--1-of-1">
                                <div class="slds-media__body slds-size--1-of-1">
                                    <header class="slds-p-left--none slds-popover__header slds-p-top--none slds-size--3-of-5" style="border: 0">
                                        <h2 class="slds-text-heading_medium"><system-stencil></system-stencil></h2>
                                    </header>
                                    <p class="slds-size--2-of-5"><system-stencil></system-stencil></p>
                                </div>
                            </div>
                            <system-icon [icon]="'down'"></system-icon>
                        </div>
                    </div>
                </section>
                <div style="width: 70px" class="slds-align--absolute-center slds-m-horizontal--none">
                    <span style="width: 30px; overflow: hidden"><system-stencil></system-stencil></span>
                </div>
            </div>
        </div>
        <div class="slds-height_full" style="width: 4px">
            <div class="slds-color__background_gray-9 slds-height_full slds-align--absolute-center" style="width: 2px"></div>
        </div>
        <div style="width: calc(50% - 2px)">
        </div>
    </div>



    <div class="slds-grid slds-m-right--small" style="height: 125px; opacity: 0.6">
        <div style="width: calc(50% - 2px)">
        </div>
        <div class="slds-height_full slds-size--2-of-12" style="width: 4px">
            <div class="slds-color__background_gray-9 slds-height_full slds-align--absolute-center" style="width: 2px"></div>
        </div>
        <div style="width: calc(50% - 2px)">
            <div class="slds-grid slds-grid">
                <div style="width: 70px" class="slds-align--absolute-center slds-m-horizontal--none">
                    <span style="width: 30px; overflow: hidden"><system-stencil></system-stencil></span>
                </div>
                <section class="slds-m-vertical--medium slds-popover slds-height_full slds-nubbin--left" style="width: calc(100% - 70px)">
                    <div class="slds-popover__body slds-grid" style="height: 90px">
                        <div style="width: 32px" class="slds-grid slds-grid--vertical slds-grid--vertical-align-center">
                            <div style="width: 32px" class="slds-m-horizontal--xx-small">
                                <system-icon icon="generic_loading"></system-icon>
                            </div>
                        </div>
                        <div style="width: calc(100% - 32px)" class="slds-grid slds-grid--align-spread slds-size--7-of-8">
                            <div class="slds-m-horizontal--small slds-media slds-left--small slds-size--1-of-1">
                                <div class="slds-media__body slds-size--1-of-1">
                                    <header class="slds-p-left--none slds-popover__header slds-p-top--none slds-size--3-of-5" style="border: 0">
                                        <h2 class="slds-text-heading_medium"><system-stencil></system-stencil></h2>
                                    </header>
                                    <p class="slds-size--2-of-5"><system-stencil></system-stencil></p>
                                </div>
                            </div>
                            <system-icon icon="down"></system-icon>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="slds-grid slds-m-right--small" style="height: 125px; opacity: 0.4">
        <div style="width: calc(50% - 2px)">
            <div class="slds-grid slds-grid slds-grid--align-end">
                <section class="slds-m-vertical--medium slds-popover slds-height_full slds-nubbin--right" style="width: calc(100% - 70px)">
                    <div class="slds-popover__body slds-grid slds-grid--align-spread" style="height: 90px">
                        <div style="width: 32px" class="slds-grid slds-grid--vertical slds-grid--vertical-align-center">
                            <div style="width: 32px" class="slds-m-horizontal--xx-small">
                                <system-icon icon="generic_loading" ></system-icon>
                            </div>
                        </div>
                        <div style="width: calc(100% - 32px)" class="slds-grid slds-grid--align-spread slds-size--7-of-8">
                            <div class="slds-m-horizontal--small slds-media slds-left--small slds-size--1-of-1">
                                <div class="slds-media__body slds-size--1-of-1">
                                    <header class="slds-p-left--none slds-popover__header slds-p-top--none slds-size--3-of-5" style="border: 0">
                                        <h2 class="slds-text-heading_medium"><system-stencil></system-stencil></h2>
                                    </header>
                                    <p class="slds-size--2-of-5"><system-stencil></system-stencil></p>
                                </div>
                            </div>
                            <system-icon [icon]="'down'"></system-icon>
                        </div>
                    </div>
                </section>
                <div style="width: 70px" class="slds-align--absolute-center slds-m-horizontal--none">
                    <span style="width: 30px; overflow: hidden"><system-stencil></system-stencil></span>
                </div>
            </div>
        </div>
        <div class="slds-height_full" style="width: 4px">
            <div class="slds-color__background_gray-9 slds-height_full slds-align--absolute-center" style="width: 2px"></div>
        </div>
        <div style="width: calc(50% - 2px)">
        </div>
    </div>


    <div class="slds-grid slds-m-right--small" style="height: 125px; opacity: 0.2">
        <div style="width: calc(50% - 2px)">
        </div>
        <div class="slds-height_full slds-size--2-of-12" style="width: 4px">
            <div class="slds-color__background_gray-9 slds-height_full slds-align--absolute-center" style="width: 2px"></div>
        </div>
        <div style="width: calc(50% - 2px)">
            <div class="slds-grid slds-grid">
                <div style="width: 70px" class="slds-align--absolute-center slds-m-horizontal--none">
                    <span style="width: 30px; overflow: hidden"><system-stencil></system-stencil></span>
                </div>
                <section class="slds-m-vertical--medium slds-popover slds-height_full slds-nubbin--left" style="width: calc(100% - 70px)">
                    <div class="slds-popover__body slds-grid slds-size--1-of-1" style="height: 90px">
                        <div style="width: 32px" class="slds-grid slds-grid--vertical slds-grid--vertical-align-center">
                            <div style="width: 32px" class="slds-m-horizontal--xx-small">
                                <system-icon icon="generic_loading"></system-icon>
                            </div>
                        </div>
                        <div style="width: calc(100% - 32px)" class="slds-grid slds-grid--align-spread slds-size--7-of-8">
                            <div class="slds-m-horizontal--small slds-media slds-left--small slds-size--1-of-1">
                                <div class="slds-media__body slds-size--1-of-1">
                                    <header class="slds-p-left--none slds-popover__header slds-p-top--none slds-size--3-of-5" style="border: 0">
                                        <h2 class="slds-text-heading_medium"><system-stencil></system-stencil></h2>
                                    </header>
                                    <p class="slds-size--2-of-5"><system-stencil></system-stencil></p>
                                </div>
                            </div>
                            <button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small">
                                <system-button-icon icon="generic_loading"></system-button-icon>
                            </button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<ng-template #smallview>

    <div class="slds-grid slds-m-right--small" style="height: 125px">
        <div class="slds-height_full slds-size--2-of-12" style="width: 4px">
            <div class="slds-color__background_gray-9 slds-height_full slds-align--absolute-center" style="width: 2px"></div>
        </div>
        <div style="width: calc(100% - 2px)">
            <div class="slds-grid slds-grid">
                <div style="width: 70px" class="slds-align--absolute-center slds-m-horizontal--none">
                    <span style="width: 30px; overflow: hidden"><system-stencil></system-stencil></span>
                </div>
                <section class="slds-m-vertical--medium slds-popover slds-height_full slds-nubbin--left" style="width: calc(100% - 70px)">
                    <div class="slds-popover__body slds-grid" style="height: 90px">
                        <div style="width: 32px" class="slds-grid slds-grid--vertical slds-grid--vertical-align-center">
                            <div style="width: 32px" class="slds-m-horizontal--xx-small">
                                <system-icon icon="generic_loading"></system-icon>
                            </div>
                        </div>
                        <div style="width: calc(100% - 32px)" class="slds-grid slds-grid--align-spread slds-size--7-of-8">
                            <div class="slds-m-horizontal--small slds-media slds-left--small slds-size--1-of-1">
                                <div class="slds-media__body slds-size--1-of-1">
                                    <header class="slds-p-left--none slds-popover__header slds-p-top--none slds-size--3-of-5" style="border: 0">
                                        <h2 class="slds-text-heading_medium"><system-stencil></system-stencil></h2>
                                    </header>
                                    <p class="slds-size--2-of-5"><system-stencil></system-stencil></p>
                                </div>
                            </div>
                            <system-icon [icon]="'down'"></system-icon>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="slds-grid slds-m-right--small" style="height: 125px">
        <div class="slds-height_full slds-size--2-of-12" style="width: 4px">
            <div class="slds-color__background_gray-9 slds-height_full slds-align--absolute-center" style="width: 2px"></div>
        </div>
        <div style="width: calc(100% - 2px)">
            <div class="slds-grid slds-grid">
                <div style="width: 70px" class="slds-align--absolute-center slds-m-horizontal--none">
                    <span style="width: 30px; overflow: hidden"><system-stencil></system-stencil></span>
                </div>
                <section class="slds-m-vertical--medium slds-popover slds-height_full slds-nubbin--left" style="width: calc(100% - 70px)">
                    <div class="slds-popover__body slds-grid" style="height: 90px">
                        <div style="width: 32px" class="slds-grid slds-grid--vertical slds-grid--vertical-align-center">
                            <div style="width: 32px" class="slds-m-horizontal--xx-small">
                                <system-icon icon="generic_loading"></system-icon>
                            </div>
                        </div>
                        <div style="width: calc(100% - 32px)" class="slds-grid slds-grid--align-spread slds-size--7-of-8">
                            <div class="slds-m-horizontal--small slds-media slds-left--small slds-size--1-of-1">
                                <div class="slds-media__body slds-size--1-of-1">
                                    <header class="slds-p-left--none slds-popover__header slds-p-top--none slds-size--3-of-5" style="border: 0">
                                        <h2 class="slds-text-heading_medium"><system-stencil></system-stencil></h2>
                                    </header>
                                    <p class="slds-size--2-of-5"><system-stencil></system-stencil></p>
                                </div>
                            </div>
                            <system-icon [icon]="'down'"></system-icon>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="slds-grid slds-m-right--small" style="height: 125px">
        <div class="slds-height_full slds-size--2-of-12" style="width: 4px">
            <div class="slds-color__background_gray-9 slds-height_full slds-align--absolute-center" style="width: 2px"></div>
        </div>
        <div style="width: calc(100% - 2px)">
            <div class="slds-grid slds-grid">
                <div style="width: 70px" class="slds-align--absolute-center slds-m-horizontal--none">
                    <span style="width: 30px; overflow: hidden"><system-stencil></system-stencil></span>
                </div>
                <section class="slds-m-vertical--medium slds-popover slds-height_full slds-nubbin--left" style="width: calc(100% - 70px)">
                    <div class="slds-popover__body slds-grid" style="height: 90px">
                        <div style="width: 32px" class="slds-grid slds-grid--vertical slds-grid--vertical-align-center">
                            <div style="width: 32px" class="slds-m-horizontal--xx-small">
                                <system-icon icon="generic_loading"></system-icon>
                            </div>
                        </div>
                        <div style="width: calc(100% - 32px)" class="slds-grid slds-grid--align-spread slds-size--7-of-8">
                            <div class="slds-m-horizontal--small slds-media slds-left--small slds-size--1-of-1">
                                <div class="slds-media__body slds-size--1-of-1">
                                    <header class="slds-p-left--none slds-popover__header slds-p-top--none slds-size--3-of-5" style="border: 0">
                                        <h2 class="slds-text-heading_medium"><system-stencil></system-stencil></h2>
                                    </header>
                                    <p class="slds-size--2-of-5"><system-stencil></system-stencil></p>
                                </div>
                            </div>
                            <system-icon [icon]="'down'"></system-icon>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="slds-grid slds-m-right--small" style="height: 125px">
        <div class="slds-height_full slds-size--2-of-12" style="width: 4px">
            <div class="slds-color__background_gray-9 slds-height_full slds-align--absolute-center" style="width: 2px"></div>
        </div>
        <div style="width: calc(100% - 2px)">
            <div class="slds-grid slds-grid">
                <div style="width: 70px" class="slds-align--absolute-center slds-m-horizontal--none">
                    <span style="width: 30px; overflow: hidden"><system-stencil></system-stencil></span>
                </div>
                <section class="slds-m-vertical--medium slds-popover slds-height_full slds-nubbin--left" style="width: calc(100% - 70px)">
                    <div class="slds-popover__body slds-grid" style="height: 90px">
                        <div style="width: 32px" class="slds-grid slds-grid--vertical slds-grid--vertical-align-center">
                            <div style="width: 32px" class="slds-m-horizontal--xx-small">
                                <system-icon icon="generic_loading"></system-icon>
                            </div>
                        </div>
                        <div style="width: calc(100% - 32px)" class="slds-grid slds-grid--align-spread slds-size--7-of-8">
                            <div class="slds-m-horizontal--small slds-media slds-left--small slds-size--1-of-1">
                                <div class="slds-media__body slds-size--1-of-1">
                                    <header class="slds-p-left--none slds-popover__header slds-p-top--none slds-size--3-of-5" style="border: 0">
                                        <h2 class="slds-text-heading_medium"><system-stencil></system-stencil></h2>
                                    </header>
                                    <p class="slds-size--2-of-5"><system-stencil></system-stencil></p>
                                </div>
                            </div>
                            <system-icon [icon]="'down'"></system-icon>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="slds-grid slds-m-right--small" style="height: 125px">
        <div class="slds-height_full slds-size--2-of-12" style="width: 4px">
            <div class="slds-color__background_gray-9 slds-height_full slds-align--absolute-center" style="width: 2px"></div>
        </div>
        <div style="width: calc(100% - 2px)">
            <div class="slds-grid slds-grid">
                <div style="width: 70px" class="slds-align--absolute-center slds-m-horizontal--none">
                    <span style="width: 30px; overflow: hidden"><system-stencil></system-stencil></span>
                </div>
                <section class="slds-m-vertical--medium slds-popover slds-height_full slds-nubbin--left" style="width: calc(100% - 70px)">
                    <div class="slds-popover__body slds-grid" style="height: 90px">
                        <div style="width: 32px" class="slds-grid slds-grid--vertical slds-grid--vertical-align-center">
                            <div style="width: 32px" class="slds-m-horizontal--xx-small">
                                <system-icon icon="generic_loading"></system-icon>
                            </div>
                        </div>
                        <div style="width: calc(100% - 32px)" class="slds-grid slds-grid--align-spread slds-size--7-of-8">
                            <div class="slds-m-horizontal--small slds-media slds-left--small slds-size--1-of-1">
                                <div class="slds-media__body slds-size--1-of-1">
                                    <header class="slds-p-left--none slds-popover__header slds-p-top--none slds-size--3-of-5" style="border: 0">
                                        <h2 class="slds-text-heading_medium"><system-stencil></system-stencil></h2>
                                    </header>
                                    <p class="slds-size--2-of-5"><system-stencil></system-stencil></p>
                                </div>
                            </div>
                            <system-icon [icon]="'down'"></system-icon>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</ng-template>
