<div #tablecontent tobottom  (scroll)="onScroll($event)" style="min-height: 250px">
    <table class="slds-table slds-table--fixed-layout slds-max-medium-table--stacked-horizontal slds-table--header-fixed" [ngClass]="{'slds-table--bordered':!issmall}" role="grid">
        <thead>
            <tr class="slds-text-title--caps" object-list-header [actionset]="actionset"></tr>
        </thead>
        <tbody>
            <tr object-list-item *ngFor="let listItem of modellist.listData.list; trackBy: trackbyfn"  [listItem]="listItem" [inlineedit]="inlineedit" [rowselect]="true" class="slds-hint-parent"></tr>
        </tbody>
        <tbody system-table-stencils [columns]="modellist.listfields.length" [select]="true" [tools]="true" [rows]="20" *ngIf="isloading"></tbody>
    </table>
    <div *ngIf="!modellist.isLoading && modellist.listData.totalcount == 0" class="slds-align--absolute-center" style="height: calc(100% - 35px)">
        <system-illustration-no-records>{{language.getLabel('MSG_NO_RECORDS_FOUND')}}</system-illustration-no-records>
    </div>
</div>
