<div class="slds-card slds-card_boundary slds-m-bottom--medium" (system-drop-file)="fileDrop($event)">
    <div class="slds-card__header slds-grid">
        <header class="slds-size--1-of-1 slds-grid slds-grid--vertical-align-center">
            <system-icon [icon]="'file'" [size]="'small'"></system-icon>
            <div class="slds-media__body slds-grid slds-grid--vertical-align-center">
                <h2>
                    <span class="slds-text-heading--small slds-grid">
                        <system-label class="slds-p-right--x-small" [label]="componentconfig.label ? componentconfig.label+'' : 'LBL_FILES'"/>
                        @if (modelattachments.loading){
                            <system-spinner size="20"></system-spinner>
                        } @else {
                            ({{filteredFiles.length}}/{{modelattachments.files.length}})
                        }
                    </span>
                </h2>
                <system-utility-icon *ngIf="!modelattachments.loading && !componentconfig.alwaysExpanded" class="slds-m-horizontal--xx-small" icon="up" size="x-small" (click)="toggleOpen($event)" [@animateicon]="isopen? 'open' : 'closed'"></system-utility-icon>
            </div>
            <div class="slds-grow slds-grid">
                <button class="slds-col--bump-left slds-button slds-button--icon-border slds-m-right--xxx-small slds-button_dual-stateful" [ngClass]="{'slds-is-pressed': showFolders}" (click)="toggleFolders()" system-title="LBL_TOGGLE_FOLDERS">
                    <system-utility-icon size="x-small" icon="side_list"></system-utility-icon>
                </button>
                <div class="slds-dropdown-trigger slds-dropdown-trigger--click slds-m-horizontal--xxx-small" aria-expanded="false"
                     system-dropdown-trigger-simple>
                    <button class="slds-button slds-button--icon slds-button--icon-border slds-button--neutral" aria-haspopup="true"
                            system-title="LBL_CHANGE_VIEW">
                        <system-button-icon [icon]="changeViewIcon" size="medium"></system-button-icon>
                        <system-button-icon class="slds-p-left--xxx-small" icon="down" size="x-small"></system-button-icon>
                    </button>
                    <div class="slds-dropdown slds-dropdown_right slds-dropdown_actions slds-p-around--none" style="max-width: initial;">
                        <ul class="slds-dropdown__list" role="menu">
                            <li class="slds-dropdown__header" role="separator">
                                <span class="slds-text-title_caps slds-grid slds-grid--vertical-align-center slds-grid--align-spread"><system-label label="LBL_DISPLAYAS"/></span>
                            </li>
                            <li class="slds-dropdown__item" role="presentation" (click)="toggleView('table')">
                                <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate slds-p-right--small"><system-label label="LBL_TABLE"/></span>
                                    <system-utility-icon icon="table" size="xx-small"/>
                                </a>
                            </li>
                            <li class="slds-dropdown__item" role="presentation" (click)="toggleView('bigThumbnail')">
                                <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate slds-p-right--small"><system-label label="LBL_BIG_THUMBNAIL"/></span>
                                    <system-utility-icon icon="ad_set" size="xx-small"/>
                                </a>
                            </li>
                            <li class="slds-dropdown__item" role="presentation" (click)="toggleView('file')">
                                <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate slds-p-right--small"><system-label label="LBL_FILE"/></span>
                                    <system-utility-icon icon="file" size="xx-small"/>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                @if (!componentconfig.disableFilter && width > 550) {
                    <div class="slds-form-element slds-m-horizontal--xxx-small">
                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left-right">
                            <system-utility-icon icon="search" addclasses="slds-input__icon slds-input__icon--left"></system-utility-icon>
                            <input type="text" class="slds-input" [ngModel]="filterTerm" (ngModelChange)="setFilteredFiles('input', $event)">
                        </div>
                    </div>
                }
                @if (!componentconfig.disableCategories && categories.length > 0) {
                    <div class="slds-form-element slds-m-horizontal--xxx-small slds-grid slds-grid--vertical-align-center">
                        <div *ngIf="width > 600" system-title="LBL_CATEGORIES" class="slds-m-horizontal--xxx-small">
                            <system-utility-icon icon="tile_card_list" size="x-small"></system-utility-icon>
                        </div>
                        <div class="slds-select_container slds-m-horizontal--xxx-small">
                            <select class="slds-select" [ngModel]="selectedCategoryId" (ngModelChange)="setFilteredFiles('category', $event)" style="min-width: 70px;">
                                <option value="*">
                                    <system-label label="LBL_ALL"></system-label>
                                </option>
                                <option *ngFor="let category of categories" [value]="category.id">
                                    <system-label [label]="category.label"></system-label>
                                </option>
                            </select>
                        </div>
                    </div>
                }
                <button *ngIf="!componentconfig.disableupload" class="slds-m-left--xxx-small slds-button slds-button--icon-border" [disabled]="!canUpload" [ngClass]="{'slds-is-disabled': !canUpload}" (click)="selectFile()" system-title="LBL_UPLOAD"><system-utility-icon size="x-small" icon="upload"/></button>
                <button *ngIf="!componentconfig.disableupload" class="slds-m-left--xxx-small slds-button slds-button--icon-border" [disabled]="!canUpload" [ngClass]="{'slds-is-disabled': !canUpload}" (click)="addImage()" system-title="LBL_IMAGE"><system-utility-icon size="x-small" icon="image"/></button>
                <button class="slds-m-left--xxx-small slds-button slds-button--icon-border" (click)="loadFiles()" system-title="LBL_RELOAD"><system-utility-icon size="x-small" icon="refresh"></system-utility-icon></button>
            </div>
        </header>
        <input #fileupload style="display:none" type="file" multiple (click)="fileupload.value = null" (change)="uploadFile()"/>
    </div>
    @if (isopen) {
        <div class="slds-card__body_inner" @displaycard>
            <div class="slds-card__body--inner slds-grid">
                <div *ngIf="showFolders" class="slds-border--right slds-p-right--small slds-m-right--small">
                    <system-tree [sourceList]="modelattachments.folderTreeItems" [selectedItem]="treeFolder" [config]="{expandall: true}" (selectedItemChange)="setTreeFolder($event)"/>
                </div>
                <div class="slds-grow slds-grid slds-grid--vertical-align-start slds-wrap" #itemcontainer>
                    @if (filteredFiles.length > 0) {
                        @if(componentconfig?.displayAs == 'table') {
                            <div [system-overlay-loading-spinner]="isUploading">
                                <table class="slds-table slds-p-around--none slds-table--fixed-layout slds-table--header-fixed slds-max-medium-table_stacked slds-table--bordered">
                                    <thead>
                                    <tr class="slds-line-height_reset">
                                        <th scope="col" style="width: 2rem">
                                            <div system-dropdown-trigger class="slds-dropdown-trigger slds-dropdown-trigger_click">
                                                <system-utility-icon style="cursor: pointer" icon="down" size="xx-small" class="slds-p-left--x-small"/>
                                                <div class="slds-dropdown slds-dropdown--bottom slds-dropdown_left">
                                                    <ul class="slds-text-title--caps slds-dropdown__list" role="menu" aria-label="Show More">
                                                        <li class="slds-dropdown__item" role="presentation" *ngFor="let action of tableViewActions">
                                                            <a href="javascript:void(0);" role="menuitem" (click)="doAction(action.action)">
                                                                <span class="slds-truncate" [ngClass]="{'slds-disabled-text': actionDisabled(action.action)}">
                                                                    <system-label [label]="action.label"/>
                                                                    @if (!action.action.includes('select')) {
                                                                        ({{selectedFiles.length}})
                                                                    }
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </th>
                                        <th style="overflow: hidden; resize: horizontal" scope="col" class="slds-is-resizable">
                                            <div (click)="sort('filename')" class="slds-truncate slds-p-left--x-small" style="cursor: pointer;">
                                                <system-label label="LBL_NAME" class="slds-p-right--x-small"></system-label>
                                                @if (fileViewAndSort.field == 'filename') {
                                                    <system-utility-icon [icon]="fileViewAndSort.order == 'desc' ? 'arrowdown' : 'arrowup'" size="x-small"></system-utility-icon>
                                                }
                                            </div>
                                        </th>
                                        <th scope="col" class="slds-is-resizable">
                                            <div (click)="sort('filesize')" class="slds-truncate slds-p-left--x-small" style="cursor: pointer;">
                                                <system-label label="LBL_SIZE" class="slds-p-right--x-small"></system-label>
                                                @if (fileViewAndSort.field == 'filesize') {
                                                    <system-utility-icon [icon]="fileViewAndSort.order == 'desc' ? 'arrowdown' : 'arrowup'" size="x-small"></system-utility-icon>
                                                }
                                            </div>
                                        </th>
                                        <th scope="col" class="slds-is-resizable">
                                            <div (click)="sort('date')" class="slds-truncate slds-p-left--x-small" style="cursor: pointer;">
                                                <system-label label="LBL_DATE" class="slds-p-right--x-small"></system-label>
                                                @if (fileViewAndSort.field == 'date') {
                                                    <system-utility-icon [icon]="fileViewAndSort.order == 'desc' ? 'arrowdown' : 'arrowup'" size="x-small"></system-utility-icon>
                                                }
                                            </div>
                                        </th>
                                        <th scope="col" style="width: 3rem"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        @for (file of filteredFiles; track $index) {
                                            <tr>
                                                <td style="width: 2rem">
                                                    <system-checkbox [ngModel]="file.selected" (ngModelChange)="toggleSelectFile(file)"/>
                                                </td>
                                                <td class="slds-truncate">
                                                    <a (click)="openInTab(file)" href="javascript:void(0)">
                                                        <span [system-title]="file.filename" class="slds-grid"><system-icon size="xx-small" [icon]="file.file_mime_type == 'folder' ? 'folder' : 'file'"/>{{filename(file)}}</span>
                                                    </a>
                                                </td>
                                                <td class="slds-truncate">
                                                    <span>{{fileSize(file)}}</span>
                                                </td>
                                                <td class="slds-truncate">{{filedate(file.date)}}</td>
                                                <td><object-file-action-menu [file]="file"/></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        } @else {
                            @for (file of filteredFiles; track file.id) {
                                <object-related-card-file [file]="file" [displayAs]="componentconfig?.displayAs" class="slds-card__body slds-tile slds-card__tile slds-p-horizontal--small slds-hint-parent" [ngClass]="{'slds-size--1-of-1': containerWidth < 400, 'slds-size--1-of-2': containerWidth >= 400 && containerWidth < 800, 'slds-size--1-of-3': containerWidth >= 800}"/>
                            }
                        }
                    } @else if (!modelattachments.loading) {
                        <div class="slds-align--absolute-center">
                            <system-illustration-no-records>
                                <system-label label="LBL_NO_RECORDS"></system-label>
                            </system-illustration-no-records>
                        </div>
                    }
                </div>
            </div>
        </div>
        <footer class="slds-card__footer" @displaycard>
            <div class="slds-grid slds-grid--align-spread">
                <nav role="navigation" aria-label="Breadcrumbs">
                    <ol class="slds-breadcrumb slds-list_horizontal slds-wrap">
                        <li class="slds-breadcrumb__item">
                            <a href="javascript:void(0);" (click)="modelattachments.folderId = null">
                                <system-icon divClass="slds-p-right--xx-small" [module]="model.module" size="xx-small"/>
                            </a>
                        </li>
                        @for (folderBreadCrumb of modelattachments.folderBreadCrumbs; track folderBreadCrumb.id) {
                            <li class="slds-breadcrumb__item">
                                <a href="javascript:void(0);"
                                   (click)="modelattachments.folderId = folderBreadCrumb.id">{{ folderBreadCrumb.name }}</a>
                            </li>
                        }
                    </ol>
                </nav>
                <button class="slds-button slds-button--icon" [disabled]="!canUpload" (click)="addFolder()">
                    <system-button-icon icon="new"/>
                </button>
            </div>
        </footer>
    }
</div>
