<div class="slds-popover slds-popover_large slds-popover--panel slds-is-fixed"  style="transition: .5s; z-index: 11000;" [ngStyle]="popoverStyle" [ngClass]="getNubbinClass()" role="dialog" (mouseenter)="onMouseOver()" (mouseleave)="onMouseOut()">
    <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-small slds-float_right slds-popover__close" (click)="closePopover(true)">
        <system-button-icon icon="close"></system-button-icon>
    </button>
    <div #popover>
        <div class="slds-popover__header">
            <system-componentset *ngIf="headercomponentset" [componentset]="headercomponentset"></system-componentset>
            <object-model-popover-header *ngIf="!headercomponentset"></object-model-popover-header>
            <footer class="slds-grid slds-wrap slds-p-right--large">
                <div class="slds-p-horizontal--small slds-size--1-of-2 slds-p-bottom--x-small" [ngClass]="{'slds-size--1-of-2': fields.length > 1, 'slds-size--1-of-1': fields.length == 1}"  *ngFor="let field of fields">
                    <dl>
                        <dd>
                            <field-container [field]="field.field" [fieldconfig]="field.fieldconfig" [fielddisplayclass]="'slds-truncate'"></field-container>
                        </dd>
                    </dl>
                </div>
            </footer>
        </div>
        <div #relatedcontainer class="slds-popover__body  slds-scrollable--y spice-scrollbar" [ngStyle]="relatedStyle">
            <system-componentset [componentset]="componentset"></system-componentset>
        </div>
    </div>
</div>
