<!--div class="slds-media">
    <div class="slds-media__body" style="z-index: 0;">
        <div class="slds-media slds-media--timeline slds-timeline__media--task">
            <div class="slds-media__figure slds-timeline__icon">
                <object-icon [module]="model.module" [size]="'small'"></object-icon>
            </div>
            <div class="slds-media__body">
                <div class="slds-media">
                    <div *ngIf="canComplete()" class="slds-media__figure slds-p-top--xxx-small">
                        <label class="slds-checkbox" [attr.for]="model.id + '-complete'">
                            <input name="checkbox" type="checkbox" [id]="model.id + '-complete'" (change)="completeTask()"/>
                            <span class="slds-checkbox--faux"></span>
                        </label>
                    </div>
                    <div class="slds-media__body">
                        <h3 class="slds-truncate" modelPopOver (click)="goDetail()">
                            <a *ngIf="enableDetail" href="javascript:void(0);">{{model.data.name}}</a>
                            <span *ngIf="!enableDetail">{{model.data.name}}</span>
                        </h3>
                        <p class="slds-truncate slds-p-vertical--xxx-small" [title]="model.data.description">{{model.data.description}}</p>
                        <div>
                            <ul class="slds-list--horizontal slds-wrap">
                                <li *ngFor="let formField of formFields" class="slds-m-right--large slds-grid_vertical-align-center" style="display:inherit">
                                    <span class="slds-text-title">
                                        <field-label [fieldname]="formField.field" [addclasses]="'slds-m-bottom--none'"></field-label>
                                    </span>
                                    <span class="slds-text-body--small slds-p-left--xxx-small">
                                        <field-container [field]="formField.field" [fielddisplayclass]="'slds-text-body--small'"></field-container>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slds-media__figure slds-media__figure--reverse">
        <div class="slds-timeline__actions">
            <p class="slds-timeline__date">
                <field-container [field]="'date_due'" [fieldconfig]="{displayfromnow: true}" [fielddisplayclass]="'slds-truncate'"></field-container>
            </p>
            <object-action-menu *ngIf="showtoolset" [buttonsize]="'x-small'"></object-action-menu>
        </div>
    </div>
</div-->

<div class="slds-timeline__item_expandable slds-timeline__item_task" [ngClass]="{'slds-is-open': isopen}">
    <div class="slds-media">
        <div class="slds-media__figure">
            <button class="slds-button slds-button_icon" aria-controls="call-item-base" (click)="isopen = !isopen">
                <system-button-icon icon="switch" addclasses="slds-timeline__details-action-icon"></system-button-icon>
            </button>
            <system-icon icon="task" size="small" divClass="slds-icon_container slds-icon-standard-task slds-timeline__icon"></system-icon>
        </div>
        <div class="slds-media__body">
            <div class="slds-grid slds-grid_align-spread slds-timeline__trigger">
                <div class="slds-grid slds-grid_vertical-align-center slds-truncate_container_75 slds-no-space">
                    <div *ngIf="canComplete" class="slds-media__figure slds-p-top--xxx-small">
                        <label class="slds-checkbox" [attr.for]="model.id + '-complete'">
                            <input name="checkbox" type="checkbox" [id]="model.id + '-complete'" (change)="completeTask()"/>
                            <span class="slds-checkbox--faux"></span>
                        </label>
                    </div>
                    <h3 class="slds-truncate" [title]="subject" modelPopOver>
                        <a href="javascript:void(0);">
                            <strong><span [innerHTML]="subject"></span></strong>
                        </a>
                    </h3>
                </div>
                <div class="slds-timeline__actions slds-timeline__actions_inline">
                    <p class="slds-timeline__date">{{time}} | {{date}}</p>
                    <object-action-menu *ngIf="showtoolset" [buttonsize]="'x-small'"></object-action-menu>
                </div>
            </div>
            <p class="slds-m-horizontal_xx-small">
                <a href="javascript:void(0);" modelPopOver module="Users" [id]="model.getField('created_by')">{{model.getField('created_by_name')}}</a>
                ,&nbsp;<a href="javascript:void(0);" modelPopOver module="Users" [id]="model.getField('assigned_user_id')">{{model.getField('assigned_user_name')}}</a>
                <ng-container *ngIf="model.getField('parent_id')">
                    ,&nbsp;<a href="javascript:void(0);" modelPopOver [module]="model.getField('parent_type')" [id]="model.getField('parent_id')">{{model.getField('parent_name')}}</a>
                </ng-container>
            </p>
            <article class="slds-box slds-timeline__item_details slds-theme_shade slds-m-top_x-small slds-m-horizontal_xx-small">
                <object-record-fieldset [fieldset]="formFieldSet" direction="vertical" fielddisplayclass="slds-truncate" fieldpadding="none"></object-record-fieldset>
            </article>
        </div>
    </div>
</div>