<system-modal>
    <system-modal-header>
        {{language.getAppLanglabel('MSG_DELETE_RECORD')}}
    </system-modal-header>
    <system-modal-content>
        {{language.getAppLanglabel('MSG_DELETE_RECORD', 'long')}}
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="closePopup()">{{language.getLabel('LBL_CANCEL')}}</button>
        <button class="slds-button slds-button--brand" (click)="delete()">{{language.getLabel('LBL_DELETE')}}</button>
    </system-modal-footer>
</system-modal>