<system-modal size="large">
    <system-modal-header (close)="hideAuditLog()">
        <system-label label="LBL_LOGGED_CHANGES"></system-label>
    </system-modal-header>
    <system-modal-content margin="none">
        <system-spinner *ngIf="loading" class="slds-p-around--medium"></system-spinner>
        <table *ngIf="!loading" class="slds-table slds-table--bordered slds-table--cell-buffer">
            <thead>
                <tr class="slds-text-title--caps">
                    <th scope="col">
                        <div class="slds-truncate"><system-label label="LBL_FIELD"></system-label></div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate"><system-label label="LBL_BEFOREVALUE"></system-label></div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate"><system-label label="LBL_AFTERVALUE"></system-label></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let auditTransaction of auditLog">
                    <tr>
                        <td class="slds-theme--shade" colspan="3">
                            <div class="slds-text-heading--label">
                                {{auditTransaction.user_name}} / <system-display-datetime [date]="auditTransaction.date_created"></system-display-datetime>
                            </div>
                        </td>
                    </tr>
                    <tr *ngFor="let auditEntry of auditTransaction.audit_log">
                        <td scope="row">
                            <div class="slds-truncate">{{language.getFieldDisplayName(model.module, auditEntry.field_name)}}
                            </div>
                        </td>
                        <td scope="row" class="slds-cell-wrap">
                            <div class="slds-line-clamp" >{{auditEntry.before_value_string}}</div>
                        </td>
                        <td scope="row">
                            <div class="slds-line-clamp" >{{auditEntry.after_value_string}}</div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div *ngIf="!loading && auditLog.length === 0" class="slds-text-heading--small slds-p-around--medium">
            <system-label label="MSG_NOAUDITRECORDS_FOUND"></system-label>.
        </div>
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--brand" (click)="hideAuditLog()"><system-label label="LBL_CLOSE"></system-label></button>
    </system-modal-footer>
</system-modal>
