<div class="slds-grid slds-grid--vertical-align-center">
    <system-checkbox [disabled]="disabled" [(ngModel)]="checked" [hidelabel]="true"></system-checkbox>
    <!-- switch between the different display types-->
    <div class="slds-grow slds-truncate" [ngSwitch]="aggregate.type">
        <object-listview-aggregate-item-range *ngSwitchCase="'range'" [aggregate]="aggregate" [item]="bucketitem"></object-listview-aggregate-item-range>
        <object-listview-aggregate-item-term *ngSwitchCase="'term'" [aggregate]="aggregate" [item]="bucketitem"></object-listview-aggregate-item-term>
        <div *ngSwitchDefault>{{bucketitem.displayName}}</div>
    </div>
    <div class="slds-p-left--xx-small slds-text-align--right" style="min-width: 45px">(<system-display-number [number]="bucketitem.doc_count" [noDigits]="true"></system-display-number>)</div>
</div>
