<system-stencil *ngIf="model.isLoading; else displaycontent"></system-stencil>
<ng-template #displaycontent>
    <questionnaire-render *ngIf="showQuestionnaire()"
                          [questionnaireId]="questionnaireId"
                          [editMode]="view.getMode() === 'edit' ? 'questionnaire':'off'"
                          [showQuestionnaireTitle]="false"
                          [inModal]="false"
                          [parentType]="model.module"
                          [parentId]="model.id"
                          (answersChanged$)="answersChanged()"
                          (questionnaireParticipation$)="questionnaireParticipation=$event"
    ></questionnaire-render>
    <div *ngIf="!questionnaireId">No questionnaire selected yet.</div>
</ng-template>
