<h4>{{language.getLabel('LBL_PARAMS')}}</h4>
<div *ngIf="editing">
    <div class="slds-grid slds-grid_vertical-align-end slds-grid--align-spread">
        <div class="slds-col slds-form-element slds-p-vertical--small slds-text-align--left">
            <label class="slds-form-element__label" >{{language.getLabel('LBL_NUMBER_OF_ENTRIES')}}</label>
            <div class="slds-form-element__control">
                <div class="slds-select_container">
                    <select class="slds-select" [ngModel]="numEntries" (change)="setNumEntries($event)">
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="slds-col slds-p-vertical--small slds-text-align--right">
            <button class="slds-button slds-button_neutral" (click)="fillRange(1,numEntries)">1 … {{numEntries}}</button>
            <button class="slds-button slds-button_neutral" (click)="fillRange(numEntries,1)">{{numEntries}} … 1</button>
            <button class="slds-button slds-button_neutral" (click)="fillRange((numEntries-1)/-2,(numEntries-1)/2)">-{{(numEntries-1)/2}} … +{{(numEntries-1)/2}}</button>
        </div>
    </div>
    <table class="slds-table slds-table_bordered slds-table_cell-buffer">
        <thead>
        <tr class="slds-text-title_caps">
            <th scope="col" class="slds-text-align--right">
                <div class="slds-truncate">{{language.getLabel('LBL_VALUE')}}</div>
            </th>
            <th scope="col">
                <div class="slds-truncate">{{language.getLabel('LBL_TEXT')}}</div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let entry of entriesTable; let i = index;">
            <td>
                <div class="slds-truncate">
                    <input type="text" class="slds-input slds-text-align--right" [(ngModel)]="entriesTable[i].value" (change)="writeSettings()">
                </div>
            </td>
            <td>
                <div class="slds-truncate">
                    <input type="text" class="slds-input" [(ngModel)]="entriesTable[i].text" (change)="writeSettings()">
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div *ngIf="!editing">
    <table class="slds-table slds-table_bordered slds-table_cell-buffer">
        <thead>
        <tr class="slds-text-title_caps">
            <th scope="col">
                <div class="slds-truncate slds-text-align--right">{{language.getLabel('LBL_VALUE')}}</div>
            </th>
            <th scope="col">
                <div class="slds-truncate">{{language.getLabel('LBL_TEXT')}}</div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let entry of entriesTable; let i = index;">
            <td data-label="Close Date">
                <div class="slds-truncate slds-text-align--right">
                    {{entriesTable[i].value || "&nbsp;"}}
                </div>
            </td>
            <td data-label="Prospecting">
                <div class="slds-truncate">
                    {{entriesTable[i].text || "&nbsp;"}}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>