<section role="dialog" tabindex="-1"  class="slds-modal slds-fade-in-open slds-modal_large">
    <div class="slds-modal__container">
        <header class="slds-modal__header slds-theme_shade">
            <button class="slds-button slds-button_icon slds-modal__close slds-button--icon-inverse" title="{{language.getLabel('LBL_CLOSE')}}" (click)="cancelModal()">
                <system-button-icon [icon]="'close'" [size]="'large'"></system-button-icon>
            </button>
            <h2 *ngIf="!questionid" class="slds-text-heading_medium slds-hyphenate"><system-label label="LBL_ADD_QUESTION"></system-label></h2>
            <h2 *ngIf="questionid" class="slds-text-heading_medium slds-hyphenate"><system-label label="LBL_EDIT_QUESTION"></system-label></h2>
        </header>
        <div class="slds-modal__content slds-p-around_medium">
            <div [ngSwitch]="questionset.data.questiontype">
                <questions-manager-edit-rating *ngSwitchCase="'rating'" [questionset]="questionset" [categorypool]="categorypool"></questions-manager-edit-rating>
                <questions-manager-edit-binary *ngSwitchCase="'binary'" [questionset]="questionset" [categorypool]="categorypool"></questions-manager-edit-binary>
                <questions-manager-edit-single *ngSwitchCase="'single'" [questionset]="questionset" [categorypool]="categorypool"></questions-manager-edit-single>
                <questions-manager-edit-multi *ngSwitchCase="'multi'" [questionset]="questionset" [categorypool]="categorypool"></questions-manager-edit-multi>
                <questions-manager-edit-text *ngSwitchCase="'text'" [questionset]="questionset" [categorypool]="categorypool"></questions-manager-edit-text>
                <questions-manager-edit-ist *ngSwitchCase="'ist'" [questionset]="questionset" [categorypool]="categorypool"></questions-manager-edit-ist>
                <questions-manager-edit-nps *ngSwitchCase="'nps'" [questionset]="questionset" [categorypool]="categorypool"></questions-manager-edit-nps>
                <div *ngSwitchDefault><system-label label="MSG_NO_QUESTIONTYPE_NO_QUESTION"></system-label></div>
            </div>
        </div>
        <footer class="slds-modal__footer">
            <button class="slds-button slds-button--neutral" (click)="cancelModal()"><system-label label="LBL_CANCEL"></system-label></button>
            <button class="slds-button slds-button--brand" (click)="saveQuestion()"><system-label label="LBL_SAVE"></system-label></button>
        </footer>
    </div>
</section>

