<ng-container *ngIf="showQuestion">

    <div *ngIf="questionMeta.parameter && !questionMeta.parameter.sequenced && !questionMeta.parameter.isinput" class="slds-box question-render-question" [ngClass]="{'slds-has-error':showError}">
        <question-render-header [question]="question" [showError]="showError" addclasses="slds-m-bottom_x-small"></question-render-header>
        <div>
            <textarea *ngIf="qp.editMode === 'preview'" class="slds-scrollable_y slds-textarea"></textarea>
            <textarea *ngIf="qp.editMode !== 'preview'" class="slds-scrollable_y slds-textarea"
                  [(ngModel)]="value" [ngModelOptions]="{updateOn:'blur'}" [ngClass]="{'slds-has-error':isInputInvalid}"
                  [attr.disabled]="questionMeta.tempReadonly || qp.editMode === 'off' || qp.editMode === 'postview' ? '':null"></textarea>
            <div *ngIf="isInputInvalid" class="slds-form-element__help slds-text-color_error"><system-label [label]="'LBL_INPUT_INVALID'"></system-label></div>
        </div>
    </div>
    <div *ngIf="questionMeta && questionMeta.parameter && questionMeta.parameter.sequenced && !questionMeta.parameter.isinput" class="sequenced slds-box question-render-question slds-text-align_right slds-grid slds-grid_vertical-align-center" [ngStyle]="binaryTableStyle()" [ngClass]="{'slds-has-error':showError}">
        <div *ngFor="let item of forLoopArray(lengthLongestSequence); let j=index" class="slds-p-right_large x-lds-p-vertical_small">
            {{questionNameSplitted[j]}}
        </div>
        <div class="slds-text-align_right slds-col--bump-left">
            <input type="text" *ngIf="qp.editMode === 'preview'" size="5" class="slds-input">
            <input *ngIf="qp.editMode !== 'preview'" type="text" [(ngModel)]="value" [ngModelOptions]="{updateOn:'blur'}" class="slds-input" [ngClass]="{'slds-has-error':isInputInvalid}"
                   [attr.disabled]="questionMeta.tempReadonly || qp.editMode === 'off' || qp.editMode === 'postview' ? '':null" size="5" style="width:auto">
            <div *ngIf="isInputInvalid" class="slds-form-element__help slds-text-color_error"><system-label [label]="'LBL_INPUT_INVALID'"></system-label></div>
        </div>
    </div>
    <div *ngIf="questionMeta && questionMeta.parameter && !questionMeta.parameter.sequenced && questionMeta.parameter.isinput" class="slds-box--border slds-text-align_right" [ngClass]="{'slds-has-error':showError}">
        <div class="slds-grid slds-grid_vertical-align-center slds-p-around--x-small">
            <div class="slds-p-right_large x-lds-p-vertical_small">{{question.questiontext}}</div>
            <div class="slds-text-align_right slds-grow">
                <input type="text" *ngIf="qp.editMode === 'preview'"  class="slds-size--1-of-1 slds-input">
                <input *ngIf="qp.editMode !== 'preview'" type="text" [(ngModel)]="value" [ngModelOptions]="{updateOn:'blur'}" class="slds-size--1-of-1 slds-input" [ngClass]="{'slds-has-error':isInputInvalid}" [attr.disabled]="questionMeta.tempReadonly || qp.editMode === 'off' || qp.editMode === 'postview' ? '':null">
                <div *ngIf="isInputInvalid" class="slds-form-element__help slds-text-color_error"><system-label [label]="'LBL_INPUT_INVALID'"></system-label></div>
            </div>
        </div>
    </div>

</ng-container>
