<ng-container *ngIf="qp.isLoaded">

    <table *ngIf="!qp.hideFinishedQuestions || !allQuestionsOfQuestionsetFinished" width="100%" class="slds-table slds-table_bordered slds-table_col-bordered">
        <thead>
            <tr class="slds-text-title_caps" >
                <th width="100%" class="slds-text-align_center" scope="col"></th>
                <th *ngFor="let entry of questionset.questiontypeparameter.rating.entries" class="slds-text-align_center" scope="col">
                    <div *ngIf="ratingValuesHaveAlsoText" class="slds-border--bottom slds-p-bottom--xx-small slds-m-bottom--xx-small">
                        <ng-container *ngIf="entry.text !== ''; else nbsp">{{entry.text}}</ng-container>
                        <ng-template #nbsp>&nbsp;</ng-template>
                    </div>
                    {{entry.value}}
                </th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let question of qp.questionsArray[questionsetId]; let i=index">
                <tr *ngIf="!qp.hideFinishedQuestions || !questionsMeta[question.id].finished">
                    <td>
                        <ng-container *ngIf="question.image_id">
                            <media-file-image [media_id]="question.image_id" [variant]="'mw'" [frameWidth]="qp.imageWidthQuestion"></media-file-image>
                        </ng-container>
                        <div *ngIf="!question.image_id || questionset.showonlyimages !== '1'" class="slds-truncate" style="white-space: normal">{{question.questiontext}}</div>
                    </td>
                    <td class="slds-text-align_center" (click)="onClick(option.id,$event)"
                        *ngFor="let option of qp.questionoptionsArray[question.id]; let j = index;"><input
                            type="radio"
                            [checked]="isChecked(question.id,option.id)" name="{{question.id}}"
                            (click)="onClick(option.id,$event)"
                            [disabled]="isDisabled(question.id)"></td><!--title="{{questionset.questiontypeparameter.rating.entries[j].text}}" -->
                </tr>
            </ng-container>
        </tbody>
    </table>

</ng-container>
