<ng-container *ngIf="showQuestion">

    <table class="slds-table slds-table_bordered slds-table_col-bordered slds-no-row-hover slds-border_left slds-border_right slds-border_top" [ngClass]="{'slds-has-error':showError}">
        <thead>
            <tr class="slds-text-title_caps">
                <th style="background-color:inherit;width:100%"></th>
                <th *ngFor="let option of qp.questionoptionsArray[question.id]" class="slds-text-align_center">
                    <div *ngIf="ratingValuesHaveAlsoText" class="slds-border_bottom slds-p-bottom_xx-small slds-m-bottom_xx-small">
                        <ng-container *ngIf="altTexts[option.id] !== ''; else nbsp">{{altTexts[option.id]}}</ng-container>
                        <ng-template #nbsp>&nbsp;</ng-template>
                    </div>
                    {{option.name}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ng-container *ngIf="question.image_id">
                        <media-file-image [media_id]="question.image_id" [variant]="'mw'" [frameWidth]="qp.imageWidthQuestion"></media-file-image>
                    </ng-container>
                    <div *ngIf="!question.image_id || question.showonlyimages !== '1'" class="slds-truncate" style="white-space: normal" [ngClass]="{'slds-text-color_error':showError}">{{question.questiontext}}</div>
                </td>
                <td class="slds-text-align_center question-hover"
                    *ngFor="let option of qp.questionoptionsArray[question.id]; let j = index;" (click)="qp.clickAnswerOption(option.id,$event)">
                    <system-input-radio [value]="option.id" [(ngModel)]="value" [disabled]="isDisabled()" [canUnset]="true" name="question-{{question.id}}" system-stop-click-propagation></system-input-radio>
                </td>
            </tr>
        </tbody>
    </table>

</ng-container>
