<div *ngIf="showQuestionnaireTitle" class="slds-text-heading--medium slds-m-bottom--x-small">{{questionnaire.name}}</div>

<system-spinner *ngIf="isLoading" class="slds-m-top--large" style="display:block"></system-spinner>

<div *ngIf="!isLoading">
    <div *ngIf="questionnaire.description" [innerHTML]="questionnaire.description" class="slds-m-bottom--medium"></div>
    <div *ngIf="questionsets.length; else noQuestionsetsTemplate">
        <div *ngFor="let questionset of questionsets; last as isLast">
            <div class="slds-box" [ngClass]="{'slds-m-bottom--x-small': !isLast}">
                <questionset-render [questionsetIdOrObject]="questionset" [inModal]="inModal" [previewMode]="false"></questionset-render>
            </div>
        </div>
    </div>
    <ng-template #noQuestionsetsTemplate>
        <p><system-label label="LBL_NO_QUESTIONSETS_TO_DISPLAY"></system-label></p>
    </ng-template>
    <div *ngIf="questionnaire.textafter" [innerHTML]="questionnaire.textafter" class="slds-m-top--medium"></div>
</div>
