<ng-container [ngSwitch]="questionset.questiontype">

    <ng-container *ngSwitchCase="'binary'">
        <table *ngIf="!hideFinishedQuestions || numOfFinishedQuestions !== questions.length" class="slds-table slds-table_bordered slds-table_col-bordered" style="border-top:none" ><!--class="slds-box slds-p-top--xx-small slds-m-vertical--medium"-->
            <ng-container *ngFor="let question of questions; let i=index">
                <tr *ngIf="!hideFinishedQuestions || !questionsMeta[question.id].finished">
                    <td width="50%" class="slds-text-align_right">
                        <ng-container *ngIf="options[question.id][0].image_id">
                            <media-file-image [media_id]="options[question.id][0].image_id" [variant]="'mw'"
                                              [frameWidth]="imageWidthOption" [classOuter]="'slds-m-horizontal--x-small slds-m-vertical--small'"></media-file-image>
                        </ng-container>
                        <ng-container *ngIf="!( options[question.id][1].image_id && questionset.showonlyimages === '1' )">
                            <span *ngIf="options[question.id][0].text; else name0" style="white-space:pre-line">{{options[question.id][0].text}}</span>
                            <ng-template #name0>{{options[question.id][0].name}}</ng-template>
                        </ng-container>
                    </td>
                    <td class="slds-text-align_right binary-left-radio"><input type="radio"
                                                                               [checked]="!previewMode && answers[question.id][0].value"
                                                                               name="question-{{question.id}}"
                                                                               (click)="onClick(question.id,0,$event)"
                                                                               [disabled]="questionsMeta[question.id].readonly || no_edit">
                    </td>
                    <td class="binary-right-radio"><input type="radio"
                                                          [checked]="!previewMode && answers[question.id][1].value"
                                                          name="question-{{question.id}}"
                                                          (click)="onClick(question.id,1,$event)"
                                                          [disabled]="questionsMeta[question.id].readonly || no_edit">
                    </td>
                    <td width="50%" class="binary-right-text">
                        <ng-container *ngIf="options[question.id][1].image_id">
                            <media-file-image [media_id]="options[question.id][1].image_id" [variant]="'mw'"
                                              [frameWidth]="imageWidthOption" [classOuter]="'slds-m-horizontal--x-small slds-m-vertical--small'"></media-file-image>
                        </ng-container>
                        <ng-container *ngIf="!( options[question.id][1].image_id && questionset.showonlyimages === '1' )">
                            <span *ngIf="options[question.id][1].text; else name1" style="white-space:pre-line">{{options[question.id][1].text}}</span>
                            <ng-template #name1>{{options[question.id][1].name}}</ng-template>
                        </ng-container>
                    </td>
                </tr>
            </ng-container>
        </table>
    </ng-container>

    <ng-container *ngSwitchCase="'multi'">

        <ng-container *ngFor="let question of questions; let i = index">
            <div *ngIf="!hideFinishedQuestions || !questionsMeta[question.id].finished" class="slds-box slds-m-bottom--medium questionset-render-question">
                <h3 *ngIf="!question.image_id || questionset.showonlyimages !== '1'" class="slds-text-heading_medium slds-m-bottom--x-small">{{question.name}}</h3>
                <media-file-image *ngIf="question.image_id" [media_id]="question.image_id" [variant]="'mw'" [frameWidth]="imageWidthQuestion" [classOuter]="'slds-m-vertical--small'"></media-file-image>

                <!-- Options vertical -->
                <div *ngIf="!questionsMeta[question.id].parameter.formatOptionsHorizontal" class="slds-grid_pull-padded-x-small slds-p-top--small slds-has-divider--top slds-m-top--medium">
                    <div *ngFor="let option of options[question.id];let j=index" class="slds-grid slds-text-align--center slds-p-right--small slds-p-left--x-small" [ngClass]="{'slds-border--bottom':options[question.id].length-1>j}" style="overflow:hidden" [ngStyle]="options[question.id].length-1 === j && {'margin-bottom':'-0.25rem'}">
                        <div class="slds-p-left--none slds-p-right--small" style="width:auto;display:inline-flex" [ngClass]="{'slds-p-bottom--small':options[question.id].length-1>j,'slds-p-top--small':j>0}">
                            <input type="checkbox" [checked]="!previewMode && answers[question.id][j].value" (click)="onClick(question.id,j,$event)" [disabled]="questionsMeta[question.id].readonly || no_edit">
                        </div>
                        <div class="slds-border--left slds-text-align--left" style="width:100%;white-space:normal">
                            <div class="slds-p-top--small slds-p-left--small slds-p-right--x-small" [ngClass]="{'slds-p-bottom--small':options[question.id].length-1>j,'slds-p-top--small':j>0}">
                                <media-file-image *ngIf="option.image_id" [media_id]="option.image_id" [variant]="'mw'" [frameWidth]="imageWidthOption" [classOuter]="'slds-m-bottom--small'"></media-file-image>
                                <ng-container *ngIf="!( option.image_id && questionset.showonlyimages === '1' )">{{option.name}}</ng-container>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Options horizontal -->
                <div *ngIf="questionsMeta[question.id].parameter.formatOptionsHorizontal" class="slds-grid slds-grid_pull-padded-x-small slds-p-top--small slds-has-divider--top slds-m-top--medium">
                    <div *ngFor="let option of options[question.id];let j=index" class="slds-size--1-of-1 slds-text-align--center slds-p-horizontal--small" [ngClass]="{'slds-border--left':j>0}" [ngStyle]="{'width':100/options[question.id].length+'%'}" style="overflow:hidden">
                        <div class="slds-m-bottom--xxx-small">
                            <input type="checkbox" [checked]="!previewMode && answers[question.id][j].value" (click)="onClick(question.id,j,$event)" [disabled]="questionsMeta[question.id].readonly || no_edit">
                        </div>
                        <media-file-image *ngIf="option.image_id" [media_id]="option.image_id" [variant]="'mw'" [classOuter]="'slds-m-vertical--small'" [align]="'center'"></media-file-image>
                        <ng-container *ngIf="!( option.image_id && questionset.showonlyimages === '1' )">{{option.name}}</ng-container>
                    </div>
                </div>

            </div>
        </ng-container>

    </ng-container>

    <div *ngSwitchCase="'single'">

        <ng-container *ngFor="let question of questions; let i = index">
            <div *ngIf="!hideFinishedQuestions || !questionsMeta[question.id].finished" class="slds-box slds-m-bottom--medium questionset-render-question">

                <h3 *ngIf="!question.image_id || questionset.showonlyimages !== '1'" class="slds-text-heading_medium">{{question.name}}</h3>
                <media-file-image *ngIf="question.image_id" [media_id]="question.image_id" [variant]="'mw'" [frameWidth]="imageWidthQuestion" [classOuter]="'slds-m-top--small'"></media-file-image>

                <!-- Options vertical -->
                <div *ngIf="!questionsMeta[question.id].parameter.formatOptionsHorizontal" class="slds-grid_pull-padded-x-small slds-p-top--small slds-has-divider--top slds-m-top--medium">
                    <div *ngFor="let option of options[question.id];let j=index" class="slds-grid slds-text-align--center slds-p-right--small slds-p-left--x-small" [ngClass]="{'slds-border--bottom':options[question.id].length-1>j}" style="overflow:hidden" [ngStyle]="options[question.id].length-1 === j && {'margin-bottom':'-0.25rem'}">
                        <div class="slds-p-left--none slds-p-right--small" style="width:auto;display:inline-flex" [ngClass]="{'slds-p-bottom--small':options[question.id].length-1>j,'slds-p-top--small':j>0}">
                            <input style="margin:auto" type="radio" name="question-{{question.id}}" [checked]="!previewMode && answers[question.id][j].value" (click)="onClick(question.id,j,$event)" [disabled]="questionsMeta[question.id].readonly || no_edit">
                        </div>
                        <div class="slds-border--left slds-text-align--left" style="width:100%;white-space:normal">
                            <div class="slds-p-top--small slds-p-left--small slds-p-right--x-small" [ngClass]="{'slds-p-bottom--small':options[question.id].length-1>j,'slds-p-top--small':j>0}">
                                <media-file-image *ngIf="option.image_id" [media_id]="option.image_id" [variant]="'mw'" [frameWidth]="imageWidthOption" [classOuter]="'slds-m-bottom--small'"></media-file-image>
                                <ng-container *ngIf="!( option.image_id && questionset.showonlyimages === '1' )">{{option.name}}</ng-container>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Options horizontal -->
                <div *ngIf="questionsMeta[question.id].parameter.formatOptionsHorizontal" class="slds-grid slds-grid_pull-padded-x-small slds-p-top--small slds-has-divider--top slds-m-top--medium">
                    <div *ngFor="let option of options[question.id];let j=index" class="slds-size--1-of-1 slds-text-align--center slds-p-horizontal--small" [ngClass]="{'slds-border--left':j>0}" [ngStyle]="{'width':100/options[question.id].length+'%'}" style="overflow:hidden">
                        <div class="slds-m-bottom--xxx-small">
                            <input type="radio" name="question-{{question.id}}" [checked]="!previewMode && answers[question.id][j].value" (click)="onClick(question.id,j,$event)" [disabled]="questionsMeta[question.id].readonly || no_edit">
                        </div>
                        <media-file-image *ngIf="option.image_id" [media_id]="option.image_id" [variant]="'mw'" [classOuter]="'slds-m-vertical--small'" [align]="'center'"></media-file-image>
                        <ng-container *ngIf="!( option.image_id && questionset.showonlyimages === '1' )">{{option.name}}</ng-container>
                    </div>
                </div>

            </div>
        </ng-container>

    </div>

</ng-container>