<div class="slds-grid slds-m-bottom--large">
    <div class="slds-p-right--medium" style="width:100%">
        <label class="slds-form-element__label" >{{language.getLabel('LBL_QUESTION')}}</label>
        <input type="text" class="slds-input" [(ngModel)]="model.data.name">
    </div>
    <div style="width:4rem">
        <label class="slds-form-element__label slds-m-horizontal--none">{{language.getLabel('LBL_IMAGE')}}</label><br>
        <field-container [field]="'image_id'" [fieldconfig]="{fieldtype:'mediafileimage'}" [fielddisplayclass]="''" (change)="change()"></field-container>
    </div>
</div>
<div><questions-manager-edit-categories [option]="forCategories" [categorypool]="categorypool" (change)="writeCategories()"></questions-manager-edit-categories></div>
