<div class="slds-grid">
    <div class="slds-p-right--medium" style="width:100%">
        <label class="slds-form-element__label" >{{language.getLabel('LBL_QUESTION_TEXT')}}</label>
        <input type="text" class="slds-input" [(ngModel)]="model.data.name">
    </div>
</div>

<system-spinner *ngIf="model.isLoading"></system-spinner>

<table *ngIf="options.length" class="slds-table slds-table_bordered slds-m-vertical--medium">
    <thead>
        <tr>
            <th scope="col" width="25%">
                <div class="slds-truncate">{{language.getLabel('LBL_VALUE')}}</div>
            </th>
            <th scope="col" width="25%">
                <div class="slds-truncate">{{language.getLabel('LBL_OPTIONS')}}</div>
            </th>
            <th scope="col" width="25%">
                <div class="slds-truncate">{{language.getLabel('LBL_CATEGORIES')}}</div>
            </th>
            <th scope="col" width="25%">
                <div class="slds-truncate">{{language.getLabel('LBL_POINTS')}}</div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr questions-manager-edit-option-ist *ngFor="let option of options; let i = index;" [categorypool]="categorypool" [option]="option" [isFirstRow]="i === 0" [isLastRow]="i === options.length-1" (event)="eventHappened($event,i)"></tr>
    </tbody>
</table>

<div *ngIf="!model.isLoading" class="slds-text-align_right slds-m-top--medium">
    <button class="slds-button slds-button--neutral" (click)="addOption()">
        <system-button-icon [icon]="'add'" [position]="'left'"></system-button-icon>
        {{language.getLabel('LBL_ADD_ANSWER_OPTION')}}
    </button>
</div>

