<div class="slds-scrollable" style="height: 100%;">
    <div class="slds-p-around--small slds-border--bottom">
        <h2 class="slds-text-heading_medium"><system-label label="LBL_VALUES"></system-label></h2>
    </div>
    <div *ngIf="loading; else elementvaluesdisplay" class="slds-p-around--medium slds-align--absolute-center">
        <system-spinner></system-spinner>
    </div>
    <ng-template #elementvaluesdisplay>
        <div class="slds-p-around--medium slds-border--bottom slds-grid slds-grid--vertical-align-center"
             *ngFor="let elementvalue of elementvalues">
            <div>
                {{elementvalue.elementdescription}} ({{elementvalue.elementvalue}})
            </div>
            <system-button-icon class="slds-col--bump-left" icon="delete" (click)="deleteValue(elementvalue)"></system-button-icon>
        </div>
        <div *ngIf="activeElement" class="slds-p-around--medium slds-align--absolute-center">
            <button class="slds-button slds-button--neutral" (click)="addValue()"><system-label label="LBL_ADD"></system-label></button>
        </div>
    </ng-template>
</div>