# hide heasders
<IfModule mod_headers.c>
  Header unset X-Powered-By
  Header always unset X-Powered-By
</IfModule>
# Remove server signature
ServerSignature Off

RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /

# RewriteCond %{REQUEST_METHOD} OPTIONS
# RewriteRule ^(.*)$ $1 [R=200,L]

# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule "^(.*)KREST(.*)" "$1/$2" [R=302,L]


RewriteCond %{REQUEST_URI} ^(.*)soap(.*)$
RewriteRule ^ include/Soap/soap.php [QSA,L]
#RewriteRule ^ soap.php [QSA,L]

RewriteCond %{REQUEST_URI} ^(.*)install(.*)$ [OR]
RewriteCond %{REQUEST_URI} ^(.*)install(\.php)$
RewriteRule ^ include/SpiceInstaller/install.php [QSA,L]

# use the rewrite rule below if loaded as CLI in Apache
# CGIPassAuth shoudl not require the rewrite rule as below .. it is causing errors in latest apache builds
CGIPassAuth On
#<IfModule !mod_php.so>
#    RewriteRule ^ index.php?PHP_AUTH_DIGEST_RAW=%{HTTP:Authorization} [QSA,L]
#</IfModule>

# the default rewrite
RewriteRule ^ index.php [QSA,L]

#deny any unauthorized file access
<Files *.*>
    Order Deny,Allow
    Deny from all
</Files>
<FilesMatch "index.php|install.php|soap.php">
    Order Allow,Deny
    Allow from all
</FilesMatch>


