<div role="dialog" tabindex="-1" class="slds-modal slds-modal_large slds-fade-in-open">
    <div class="slds-modal__container">
        <div class="slds-modal__header">
            <button class="slds-button slds-modal__close slds-button--icon-inverse" title="Close" (click)="close()">
                <system-button-icon [icon]="'close'"></system-button-icon>
            </button>
            <h2 class="slds-text-heading--medium"><system-label-modulename [module]="object_module_name" [singular]="true"></system-label-modulename></h2>
        </div>
        <div class="slds-modal__content" >
            <div class="slds-grid" style="height: 80vh;">
                <div class="slds-size--1-of-2 slds-p-around--small" style="height: 100%;">
                    <email-to-object-emailtext [target_module_name]="object_module_name" [text]="email_model.data.body" [html]="email_model.data.body" [target_module_fields]="object_fields" (setfield)="setField($event)"></email-to-object-emailtext>
                </div>
                <div class="slds-size--1-of-2 slds-scrollable" style="height: 100%;">
                    <div #detailcontainer></div>
                </div>
            </div>
        </div>
        <div class="slds-modal__footer">
            <button class="slds-button slds-button--neutral" (click)="close()"><system-label label="LBL_CANCEL"></system-label></button>
            <button class="slds-button slds-button--brand" (click)="save()"><system-label label="LBL_SAVE"></system-label></button>
        </div>
    </div>
</div>
<div class="slds-backdrop slds-backdrop--open"></div>