<system-collapsable-tab *ngIf="!isHidden" tabtitle="LBL_CONTENT">
    <div class="slds-tabs_scoped slds-p-around--x-small">
        <ul class="slds-tabs_scoped__nav" role="tablist">
            <li class="slds-tabs_scoped__item" [class.slds-is-active]="selectedTab == 'editor'" system-title="LBL_EDITOR" (click)="setSelectedTab('editor')" role="presentation">
                <a class="slds-tabs_scoped__link" href="javascript:void(0);" role="tab"><system-label label="LBL_EDITOR"></system-label></a>
            </li>
            <li *ngIf="!!fieldsNames.previewForBean" class="slds-tabs_scoped__item" [ngClass]="{'slds-is-active': selectedTab == 'preview', 'slds-text-color--inverse-weak': !model.data[fieldsNames.bodyHtmlField]}" system-title="LBL_PREVIEW" (click)="setSelectedTab('preview')" role="presentation">
                <a [class.slds-text-color--inverse-weak]="!model.data[fieldsNames.bodyHtmlField]" class="slds-tabs_scoped__link" href="javascript:void(0);" role="tab"><system-label label="LBL_PREVIEW"></system-label></a>
            </li>
        </ul>
        <div class="slds-tabs_scoped__content" [ngClass]="{'slds-show': selectedTab == 'editor', 'slds-hide': selectedTab != 'editor'}" role="tabpanel">
            <div *ngIf="!view.isEditMode() && !model.data[fieldsNames.bodyHtmlField]; else contentEditingContainer" (dblclick)="setEditMode()" class="slds-grid slds-grid--vertical-align-start slds-grid--align-end" style="min-height: 250px">
                <button class="slds-button slds-button--icon spice-hover-button" (click)="setEditMode()">
                    <system-button-icon [icon]="'edit'"></system-button-icon>
                </button>
            </div>
            <ng-template #contentEditingContainer>
                <div class="slds-grid slds-m-bottom--xx-small">
                    <field-container *ngIf="!!fieldsNames.subjectField" [field]="fieldsNames.subjectField" class="slds-grow slds-m-right--x-small"  fielddisplayclass="slds-has-divider--bottom slds-p-vertical--x-small"></field-container>
                    <field-container *ngIf="!!fieldsNames.mailboxField" [field]="fieldsNames.mailboxField" [fieldconfig]="{fieldtype: 'mailboxes', scope: 'outboundmass'}" fielddisplayclass="slds-has-divider--bottom slds-p-vertical--x-small" class="slds-m-right--x-small"></field-container>
                    <div class="slds-align-bottom slds-col--bump-left slds-p-bottom--xx-small">
                        <button [disabled]="!view.isEditMode()" (click)="copyFromTemplate()" class="slds-button slds-button--neutral">
                            <system-button-icon icon="copy" position="left"></system-button-icon>
                            <system-label label="LBL_COPY_TEMPLATE"></system-label>
                        </button>
                    </div>
                </div>
                <div [ngSwitch]="activeEditor" class="slds-grid slds-grid--align-center slds-grid--vertical-align-center" style="min-height: 250px">
                    <field-container *ngSwitchCase="'richText'" [field]="fieldsNames.bodyHtmlField" [fieldconfig]="{fieldtype: 'richtext', hidelabel: true}" class="slds-size--1-of-1"></field-container>
                    <field-container *ngSwitchCase="'pageBuilder'" [field]="fieldsNames.bodyHtmlField" [fieldconfig]="{fieldtype: 'pagebuilder', hidelabel: true, bodySPBField: fieldsNames.bodySPBField}" class="slds-size--1-of-1"></field-container>
                    <field-container *ngSwitchCase="'html'" [field]="fieldsNames.bodyHtmlField" [fieldconfig]="{fieldtype: 'html', hidelabel: true}" class="slds-size--1-of-1"></field-container>
                    <div *ngSwitchDefault>
                        <system-label label="LBL_EDIT_WITH" class="slds-m-right--xx-small"></system-label>
                        <button class="slds-button slds-button--neutral spice-hover-button" (click)="updateModelEditor('richText')">
                            <system-label label="LBL_RICH_TEXT_EDITOR"></system-label>
                        </button>
                        <system-label label="LBL_OR" class="slds-m-horizontal--xx-small"></system-label>
                        <button class="slds-button slds-button--neutral spice-hover-button slds-m-lef" (click)="updateModelEditor ('pageBuilder')">
                            <system-label label="LBL_PAGE_BUILDER"></system-label>
                        </button>
                        <system-label label="LBL_OR" class="slds-m-horizontal--xx-small"></system-label>
                        <button class="slds-button slds-button--neutral spice-hover-button slds-m-lef" (click)="updateModelEditor ('html')">
                            <system-label label="LBL_HTML"></system-label>
                        </button>
                    </div>
                </div>
            </ng-template>
        </div>
        <div *ngIf="!!fieldsNames.previewForBean" class="slds-tabs_scoped__content" [ngClass]="{'slds-show': selectedTab == 'preview', 'slds-hide': selectedTab != 'preview'}" role="tabpanel">
            <email-templates-preview [previewForBean]="fieldsNames.previewForBean" [bodyHtmlField]="fieldsNames.bodyHtmlField" [iframeHeight]="iframeHeight"></email-templates-preview>
        </div>
    </div>
</system-collapsable-tab>
