<div class="slds-form-element slds-is-relative" style="height: 100%;">
    <!--div class="slds-box slds-scrollable" style="height: 100%" [innerHTML]="content" (contextmenu)="showContextMenu($event)"></div-->
    <div class="slds-input" style="height: 100%; width: 100%; resize: none;" [innerHTML]="content" (contextmenu)="showContextMenu($event)">{{striped_content}}</div>
    <div #contextMenu *ngIf="displayContextMenu" [ngStyle]="contextMenuStyle" class="slds-dropdown slds-dropdown_left slds-is-absolute">
        <ul class="slds-dropdown__list" role="menu">
            <li *ngFor="let field of target_module_fields" class="slds-dropdown__item" role="presentation">
                <a href="javascript:void(0);" role="menuitem" tabindex="0" (click)="setField(field)">
                    <span class="slds-truncate" ><system-label-fieldname [module]="target_module_name" [field]="field"></system-label-fieldname></span>
                </a>
            </li>
        </ul>
    </div>
</div>