<div class="slds-grid slds-grid--vertical-align-end slds-gutters_direct-xx-small">
    <div class="slds-col slds-grow slds-form-element">
        <label class="slds-form-element__label">
            <system-label label="LBL_RECORD"></system-label>
        </label>
        <div class="slds-form-element__control">
            <div class="slds-combobox_container">
                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                    <div class="slds-form-element__control slds-box--border">
                        <div *ngIf="selectedItem" class="slds-form-element__control">
                            <div class="slds-pill_container">
                              <span class="slds-pill slds-size--1-of-1">
                                <span class="slds-icon_container slds-icon-standard-account slds-pill__icon_container">
                                  <system-icon [module]="previewForBean" size="small"></system-icon>
                                </span>
                                <span class="slds-pill__label">
                                    {{selectedItem.text}}
                                </span>
                                <button class="slds-button slds-button--icon slds-pill__remove" (click)="clearSelectedItem()">
                                  <system-button-icon [icon]="'close'"></system-button-icon>
                                </button>
                              </span>
                            </div>
                        </div>
                        <div *ngIf="!selectedItem" class="slds-input-has-icon slds-input-has-icon--right slds-grow" (click)="searchWithModal()">
                            <input [disabled]="!previewForBean"  type="text" class="slds-lookup__search-input slds-input--bare slds-input" [placeholder]="placeholder"  role="combobox">
                            <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right" [disabled]="!previewForBean">
                                <system-button-icon icon="search"></system-button-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button (click)="compileBody()" [disabled]="!selectedItem" class="slds-button slds-button--icon-border slds-m-horizontal--xx-small">
        <system-button-icon icon="refresh"></system-button-icon>
    </button>
    <div class="slds-form-element">
        <label class="slds-form-element__label">
            <system-label label="LBL_DISPLAY"></system-label>
        </label>
        <div class="slds-form-element__control slds-p-top--xx-small">
            <system-input-radio-button-group [ngModel]="viewType.value" (ngModelChange)="setViewType($event)" [inputOptions]="viewTypeOptions"></system-input-radio-button-group>
        </div>
    </div>
</div>
<div class="slds-m-top--small slds-border--top slds-border--right slds-border--left slds-border--bottom slds-grid slds-p-around--xx-small slds-grid slds-grid--align-center slds-grow" style="min-height: 0">
    <div *ngIf="parsedHtml" [style.width.px]="viewType.width" class="slds-grid slds-grid--vertical slds-height_full">
        <div class="slds-size--1-of-1 slds-grid slds-grid--vertical-align-center slds-is-relative slds-m-vertical--xx-small" style="height: 16px; border-left: 1px solid #aaa; border-right: 1px solid #aaa;">
            <div style="height: 1px; width: 100%; background: #aaa"></div>
            <span class="slds-theme--default slds-p-horizontal--xx-small slds-is-absolute" style="left: 50%; transform: translateX(-50%);">
                {{viewType.width}}px
            </span>
        </div>
        <iframe [src]="parsedHtml" style="border: 0; min-height: 250px" class="slds-grow" sandbox></iframe>
    </div>
    <div *ngIf="!selectedItem" class="slds-align--absolute-center slds-height_full">
        <system-illustration-no-data>
            <system-label label="MSG_NO_RECORD_SELECTED"></system-label>
        </system-illustration-no-data>
    </div>
</div>
