<table class="slds-table slds-table_bordered">
  <thead>
  <tr class="slds-line-height_reset">
    <th scope="col">
      <div class="slds-truncate"><system-label label="LBL_NAME"></system-label></div>
    </th>
    <th scope="col">
      <div class="slds-truncate"><system-label label="LBL_LABEL"></system-label></div>
    </th>
    <th scope="col" style="width: 50px;">
      <div class="slds-truncate"><system-label label="LBL_EXT_ID"></system-label></div>
    </th>
    <th scope="col">
      <div class="slds-truncate"><system-label label="LBL_ATTRIBUTE"></system-label></div>
    </th>
    <th scope="col">
      <div class="slds-truncate"><system-label label="LBL_METHOD"></system-label></div>
    </th>
    <th style="width: 3em;"></th>
  </tr>
  </thead>
  <tbody>
  <tr class="slds-hint-parent" *ngFor="let determination of determinations">
    <td>
      <system-input-text autocomplete="false" [(ngModel)]="determination.name"></system-input-text>
    </td>
    <td>
      <system-input-label hideTechnicalName [(ngModel)]="determination.label"></system-input-label>
    </td>
    <td>
      <system-input-text autocomplete="false" [(ngModel)]="determination.ext_id"></system-input-text>
    </td>
    <td>
      <div class="slds-grid slds-gutters_direct-xx-small">
        <system-input-module class="slds-col slds-size--1-of-2" [ngModel]="getModule(determination.determinationattribute)" (ngModelChange)="setModule(determination, $event)"></system-input-module>
        <system-input-module-field class="slds-col slds-size--1-of-2" *ngIf="determination.determinationattribute" [ngModel]="getField(determination.determinationattribute)" (ngModelChange)="setField(determination, $event)" [module]="getModule(determination.determinationattribute)"></system-input-module-field>
        <system-input-text class="slds-col slds-size--1-of-2" disabled *ngIf="!determination.determinationattribute"></system-input-text>
      </div>
    </td>
    <td>
      <system-input-text autocomplete="false" [(ngModel)]="determination.determinationmethod"></system-input-text>
    </td>
    <td>
      <button class="slds-button slds-button--icon" (click)="elements(determination.id)">
        <system-button-icon icon="matrix"></system-button-icon>
      </button>
      <button class="slds-button slds-button--icon" [disabled]="isUsed(determination.id)" (click)="delete(determination)">
        <system-button-icon icon="delete"></system-button-icon>
      </button>
    </td>
  </tr>
  <tr>
    <td colspan="99">
      <div class="slds-align_absolute-center slds-p-around--small">
        <button class="slds-button slds-button--icon" (click)="add()"><system-button-icon icon="new"></system-button-icon></button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
