<system-modal>
    <system-modal-header (close)="close()"><system-label label="LBL_PRICER_DETERMINATION_ELEMENTS"></system-label></system-modal-header>
    <system-modal-content margin="none">
        <table class="slds-table slds-table_bordered">
            <thead>
                <tr class="slds-line-height_reset">
                    <th style="width: 3em;"></th>
                    <th scope="col">
                        <div class="slds-truncate"><system-label label="LBL_NAME"></system-label></div>
                    </th>
                    <th style="width: 3em;"></th>
                </tr>
            </thead>
            <tbody class="dragboundary" cdkDropList (cdkDropListDropped)="drop($event)">
                <tr class="slds-hint-parent" *ngFor="let determinationElement of determinationElements" cdkDrag cdkDragBoundary=".dragboundary" (cdkDragStarted)="dragStarted($event)" (cdkDragEnded)="dragEnded($event)">
                    <td >
                        <system-utility-icon cdkDragHandle [icon]="'rows'" [size]="'x-small'" style="cursor:move"></system-utility-icon>
                    </td>
                    <td >
                        <system-input-text disabled autocomplete="false" [ngModel]="translateElementId(determinationElement.priceconditionelement_id)"></system-input-text>
                    </td>
                    <td>
                        <button class="slds-button slds-button--icon" (click)="delete(determinationElement)">
                            <system-button-icon icon="delete"></system-button-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="99">
                        <div class="slds-align_absolute-center slds-p-around--small">
                            <button class="slds-button slds-button--icon" (click)="add()"><system-button-icon icon="new"></system-button-icon></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </system-modal-content>
    <system-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="close()">
            <system-label label="LBL_CLOSE"></system-label>
        </button>
    </system-modal-footer>
</system-modal>