<table class="slds-table slds-table_bordered">
  <thead>
  <tr class="slds-line-height_reset">
    <th scope="col">
      <div class="slds-truncate"><system-label label="LBL_NAME"></system-label></div>
    </th>
    <th scope="col">
      <div class="slds-truncate"><system-label label="LBL_LABEL"></system-label></div>
    </th>
    <th scope="col" style="width: 50px;">
      <div class="slds-truncate"><system-label label="LBL_EXT_ID"></system-label></div>
    </th>
    <th scope="col">
      <div class="slds-truncate"><system-label label="LBL_VALUETYPE"></system-label></div>
    </th>
    <th scope="col">
      <div class="slds-truncate"><system-label label="LBL_DETERMINATIONTYPE"></system-label></div>
    </th>
    <th style="width: 3em;"></th>
  </tr>
  </thead>
  <tbody>
  <tr class="slds-hint-parent" *ngFor="let conditionType of conditionTypes">
    <td>
      <system-input-text autocomplete="false" [(ngModel)]="conditionType.name"></system-input-text>
    </td>
    <td>
      <system-input-label hideTechnicalName="" [(ngModel)]="conditionType.label"></system-input-label>
    </td>
    <td>
      <system-input-text autocomplete="false" [(ngModel)]="conditionType.ext_id"></system-input-text>
    </td>
    <td>
        <div class="slds-form-element__control">
          <div class="slds-select_container">
            <select class="slds-select" [disabled]="isUsed(conditionType.id)" [(ngModel)]="conditionType.valuetype">
              <option value="A"><system-label label="LBL_CONDITIONTYPE_A"/></option>
              <option value="P"><system-label label="LBL_CONDITIONTYPE_P"/></option>
              <option value="T"><system-label label="LBL_CONDITIONTYPE_T"/></option>
              <option value="F"><system-label label="LBL_CONDITIONTYPE_F"/></option>
            </select>
          </div>
        </div>
    </td>
    <td>
        <div class="slds-form-element__control">
          <div class="slds-select_container">
            <select class="slds-select" [(ngModel)]="conditionType.determinationtype">
              <option value="F"><system-label label="LBL_CONDITIONDTYPE_F"/></option>
              <option value="H"><system-label label="LBL_CONDITIONDTYPE_H"/></option>
              <option value="L"><system-label label="LBL_CONDITIONDTYPE_L"/></option>
            </select>
          </div>
        </div>
    </td>
    <td>
      <button class="slds-button slds-button--icon" (click)="elements(conditionType.id)">
        <system-button-icon icon="matrix"></system-button-icon>
      </button>
      <button class="slds-button slds-button--icon" [disabled]="isUsed(conditionType.id)" (click)="delete(conditionType)">
        <system-button-icon icon="delete"></system-button-icon>
      </button>
    </td>
  </tr>
  <tr>
    <td colspan="99">
      <div class="slds-align_absolute-center slds-p-around--small">
        <button class="slds-button slds-button--icon" (click)="add()"><system-button-icon icon="new"></system-button-icon></button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
