<table class="slds-table slds-table_bordered">
    <thead>
    <tr class="slds-line-height_reset">
        <th scope="col">
            <div class="slds-truncate"><system-label label="LBL_NAME"></system-label></div>
        </th>
        <th scope="col">
            <div class="slds-truncate"><system-label label="LBL_LABEL"></system-label></div>
        </th>
        <th scope="col">
            <div class="slds-truncate"><system-label label="LBL_EXT_ID"></system-label></div>
        </th>
        <th scope="col">
            <div class="slds-truncate"><system-label label="LBL_LENGTH"></system-label></div>
        </th>
        <th scope="col">
            <div class="slds-truncate"><system-label label="LBL_DOMAIN"></system-label></div>
        </th>
        <th scope="col">
            <div class="slds-truncate"><system-label label="LBL_MODULE"></system-label></div>
        </th>
        <th scope="col">
            <div class="slds-truncate"><system-label label="LBL_FIELD"></system-label></div>
        </th>
        <th scope="col">
            <div class="slds-truncate"><system-label label="LBL_METHOD"></system-label></div>
        </th>
        <th style="width: 2em;"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="slds-hint-parent" *ngFor="let element of conditionElements">
        <td>
            <system-input-text [(ngModel)]="element.name"></system-input-text>
        </td>
        <td>
            <system-input-label hideTechnicalName [(ngModel)]="element.label"></system-input-label>
        </td>
        <td>
            <system-input-text [(ngModel)]="element.ext_id"></system-input-text>
        </td>
        <td>
            <system-input-text [disabled]="isUsed(element.id)" [(ngModel)]="element.element_length"></system-input-text>
        </td>
        <td>
            <system-input-text  [disabled]="isUsed(element.id)" [(ngModel)]="element.element_domain"></system-input-text>
        </td>
        <td>
            <system-input-module  [disabled]="isUsed(element.id)" [(ngModel)]="element.element_module" (ngModelChange)="resetField(element)"></system-input-module>
        </td>
        <td>
            <system-input-module-field [disabled]="isUsed(element.id)" *ngIf="element.element_module" [(ngModel)]="element.element_module_field" [module]="element.element_module"></system-input-module-field>
            <system-input-text disabled *ngIf="!element.element_module"></system-input-text>
        </td>
        <td>
            <system-input-text [(ngModel)]="element.element_transformation"></system-input-text>
        </td>
        <td>
            <button class="slds-button slds-button--icon" (click)="delete(element)" [disabled]="isUsed(element.id)">
                <system-button-icon icon="delete"></system-button-icon>
            </button>
        </td>
    </tr>
    <tr>
        <td colspan="99">
            <div class="slds-align_absolute-center slds-p-around--small">
                <button class="slds-button slds-button--icon" (click)="add()"><system-button-icon icon="new"></system-button-icon></button>
            </div>
        </td>
    </tr>
    </tbody>
</table>